{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# プラトン「国家」#2(哲人政治)

## 哲学者(愛知者) 
プラトンは「国家」において、民衆のいざこざや問題は決して絶えないだろうと言う。
そして、哲学者(愛知者)が統治者となるか、もしくは現在の統治者が哲学者とならない限り、決して正義というものが完全に現実のものとならないだろうと予見する。
言い換えれば、政治的権力とともに哲学は理想的な国家を建設するために不可欠だとする。

では、哲学者とはどのような人物か。
ソクラテスは愛する人の比喩を用いてそれを説明する。
つまり、誰かを愛する者は、その人の一部ではなく全てを肯定する。
これは愛する人だけのことではなく、すべてのなにかの愛好者(酒、名誉など)に当てはまる。
そして、哲学者もまた知識の愛好者であるがゆえに、一部の知識を愛するのではなくすべての知識を愛するのである。
彼の性格を現す文章をいささか長いが引用する。

<blockquote>
さて、これら少数の人たち[堕落を間逃れた知者]の一員となて、自分の所有するもの[哲学者としての資質]がいかに快く祝福されたものであるかを味わい、他方、多数者の狂気というものを余すことなく見てきた者たち、彼らはまた、次のように現実を思い知られるわけなのだ。すなわち、国の政治に関しては、およそ誰一人として、何一つ健全なことをしていないといっても過言ではないし、正義を守るために戦って身をまっとうすることのできるような、味方にすべき同士もいない。野獣の只中に入り込んだ一人の人間同様に、不正に与する気もなければ、単身で万人の共謀に抵抗するだけの力もないからには、国や友のために何か役立つことをするよりも前に身を滅ぼすことになり、かくて自己自身に対しても他人に対しても、無益な人間として終わるほかはないだろう・・・。 <br>
　すべてこうしたことをよくよく考えた上で、彼は、静かに自分の仕事だけをしてゆくという途を選ぶ。あたかも嵐のさなか、砂塵や強風が風に吹きつけられてくるのを壁のかげに避けて立つ人のように、彼は、ほかの人々の目に余る不法を見ながらも、もし何とかして自分自身が、不正と不正行為に汚されないままにこの世の生を送ることができれば、そしてこの世を生去るにあたっては、美しい希望を抱いて晴れ晴れと心安らかに去っていけるならば、それで満足するのだ。<cite>[2, p.50]</cite>
</blockquote>

ではなぜ、哲学者である彼は支配者とならねばならぬのだろうか。彼にあるのは知識欲だけで、彼には名誉欲も支配欲もない。そのため彼は自ら進んで支配者となることはないが、強制によって彼が支配者となったならば、彼が得られるものは(トラシュマコスとの対話の場面でグラウコンにほのめかした)苦労の多い支配者になるという“罰”のみである。

しかし、最も優れた人たちはどのような報酬も満足しないが、自らより劣った人間が支配者となることを避けるために自らが支配者となるのである。もしくは、上記にあるように、哲人政治を実現するには、現在の王を哲学者に教育しなければならない。
国家の中盤部分でこの哲人王の教育法が語られる。

## 哲人王に必要な教養
プラトンの信念である、すべての知識は善のイデアそのものの理解と結びついているという主張がある。彼が主張するところによると、`数学`の勉強は新の理性の獲得の練習になり、それは哲人王が将来かならず受けなければならないものである。プラトンは哲人王の知的教育の第一段階に数学を考えている。もし彼らが数学をマスターしたならば、彼らは抽象的な事柄を思考することができるようになる。そして、それだけではなく、かれらは哲学者になるためのイデアの本性を学ぶことができるという。しかし、それを可能にするには、彼らは`弁論術`を学ばなくてはならない。哲学者はすべての善の知識を学ばねばならず、弁論術で議論しなければならないからである。この理念よりプラトンは現在で言うところの一般教養課程の土台をアカデメイアにて構築しており、現在のほとんどの大学で採用されている。 




---


## 参考文献

1. <span class="cite1">{{reference.greek12}}</span>
1. <span class="cite2">{{reference.greek13}}</span>

<!--  -->

<div align="right">
    First post &nbsp; 2006/07/21<br>Last updated&nbsp; 2009/01/08
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}