{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# ルソーの哲学「不平等起源論」

## 不平等起源論
ルソーは最初に社会が成立する前の人間の「自然状態」を探求する。それは人間社会の原点であり、そこから文明や社会によって自然本性は歪められ汚染された社会状態と変形してゆく。またその過程で個人間の不平等が形成されたと言う。つまり、まず自然状態を明確に捉え社会状態を批判しようというのがこの論文におけるルソーの目的である。しかし、この試みは当時の人々には受け入れられず、ルソーは野蛮的原始社会を理想としていると思われていた。ヴォルテールは「貴方の本を読むと4本足で歩きたくなる」などと皮肉をのべた。このような誤った解釈は「自然に還れ」と揶揄される。

## 何ものにも縛られない「自然人」
最初の一部で彼が考察したのは人間の自然状態つまり、「自然人」であった。彼らは、感覚のみで外界と関係を持っている存在であり、ルソーは彼らは二つの自然本性にしたがって生きているという。一つは、自己保存の本性であり、それは外界からの刺激に対して、自己を保存するという原理である。またもう一方は、憐れみという同胞が滅び、または苦しむのを見ることに対して、自然の嫌悪を感じるという原理とをもつ存在である。この表象のみの希薄な人間がルソー定義する「自然人」である[1, p.45]。したがって彼らは我々が持つ社会的な価値から自由である。
<blockquote>
この自然状態にあって人々はお互いの間にいかなる種類の倫理的関係relationmoraleも、はっきりとした義務も持っていなかったのだから、善人でも悪人でもありえず、また悪徳も美徳も持っていなかったものと思われる。<cite>要引用箇所</cite>
</blockquote>

<blockquote>
彼らはお互いの間においていかなる種類の交渉も持たず、従って、虚栄心も尊敬心も評価も軽蔑も知らず、君のもの私のものという観念を少しも持たず、正義についての心の観念も持たなかった。<cite>要引用箇所</cite>
</blockquote>

彼ら間には社会的関係存在しない。ルソーはこの人間の自然状態を歴史の始点として位置づけた。
そしてこの原点が歪められつつ社会状態へと変化してゆくと考えた。

## 不平等の成立
第二部ではその「自己愛」と「憐れみ」しか持たない始原的な自然状態から徐々に「情念」と「利己心」を持つ社会人に変化してゆく過程が書かれる。そして社会が形成されるに従って不平等が形成されてゆく様を書き出す。ルソーによると、

##### 最初の社会(家族)
一番最初の社会の形態は家族である。「一緒に生活するという習慣から、人の知る限り最もやさしい感情、夫婦愛と父性愛とが生まれた」。しかし、一方でこの関係の制度化が私的所有を必然化し、人間の役割分担が始まる。違う言い方をすると、「最もやさしい感情」を生み出すと同時に「最初の束縛」を生み出した。そして、関係の拡大が人間の精神にもたらすものは人間間における差異の認識である。それは社会の構造上必然であるのだが、「これが不平等のへの、そして同時に悪徳への第一歩であった。この最初の選り好みから一方では虚栄と軽蔑が、また他方では恥辱と羨望とが生まれた」。そしてこの原始的社会は徐々に関係は拡大してゆく。ルソーはこの原始社会状態は悪と不平等への要因を内包しながらも、まだ幸福であったという。

<blockquote>
この人間の様々な能力の発達の時期は、原始状態の呑気さと、我々の利己心の手に負えない活動との丁度中間を占めていて、もっとも幸福で永続的な時期であったに違いない。<cite>要引用箇所</cite>
</blockquote>

なぜその社会が幸福であるかというと、
<blockquote>
彼らが、たった一人でできる仕事、数人の手の協力を必要としない技術だけに専任している限り、彼らはその本性＝自然によって可能な範囲で、自由に、健康に、善良に、幸福にいき、そして独立した状態での交流の心地よさを教授し続けた。<cite>要引用箇所</cite>
</blockquote>

からだ。

##### 社会規模の拡大

「数人の手の協力を必要とする」事業、すなわち農業と冶金が導入されるに従って、「独立した状態での交流」から相互依存関係へと移行する。そして継続的に農業の土地を個人が専有することによって`私的所有`の概念が生じる。そして農業と私的所有は未来への予測を要請し、次第に人々の関心は現在から未来に向けられる。ルソーはこの段階から不平等の問題が深刻化するという。ルソーが「事業の新しい秩序」と呼ぶこの段階は、人間が取り結んだ諸関係が逆に人間を拘束するにいたった段階として把握されている。自由で独立であった人間はいまや他者なくては存在し得なくなり、他者の尊敬を集めるために自然から与えられたあらゆる動員せねばならない。そしてさらには、他者のまなざしの前に、持っていない資質を持っているかのように振舞わなければならなくなる。ここに「実際と外観とは全く異なった二つのものとなり、この区別からいかめしい豪奢の誇示と、人を欺く策略と、それに伴うあらゆる悪徳とが生じたのである」　そしてルソーはこの人間関係における二重性に対応する形で「富をあらわす記号」つまり貨幣の成立に言及するのである。

## 政治とは不平等から生まれた欺瞞
貨幣制度が成立すると、相続の増大によって不平等が確立する。貧者は富者の支配下に入り隷属するか彼らの富を略奪することによってしか生活の手段を得られない。よって貧者と富者は強く対立するようになる。ルソーによると持つ者は富を所持しているため不利であり、そのため彼らは「人間精神の中に入り込んだ中で最も考え抜かれた計画」を思いつく。それは：
<blockquote>
自分を攻撃する人々の知からそのものを自分のために使用することであり、自分の敵を自分の守り手にすることであり、そして自然権が自分と反対の立場にある分だけ自分に有利な、別の確立を彼らに吹き込み、別の制度を彼らに与えることであった。<cite>要引用箇所</cite>
</blockquote>

このために富者は戦争状態の危険を説き次のような「もっともらしい理由」を作り出す。
<blockquote>
団結しよう。弱者を抑圧から守り、野心家を抑え、各人に属するものの所有を各人に保障するために。全ての人々が従わねばならず、誰をも特別視せず、そして強者も弱者も平等にお互いの義務に従わせることによって、いわば運命の気まぐれを償う正義と平和の規則を設定しよう。要するに我々の力を我々自身に向けないで、一つの最高の権力に集中しよう。懸命な法に則って我々を支配し、結合体の全ての構成員を保護防衛し、共通の敵をはねつけ、永遠に和合の中に我々を維持する権力に。<cite>要引用箇所</cite>
</blockquote>

これが政治社会の始まりである。つまりルソーは政治とは現実の不平等を正当化し貧者を従わせ、貧富の格差を正当化するための欺瞞であるという。そして富者は自らを為政者とよんだ。ここにおいても人間の表象と実態の二重性が深まっていくのがわかる。

## 独裁制の成り立ち
この政府の成り立ちが富者の利益のためということが分かった今、それがなぜ維持されるのかも容易に理解できる。つまり
<blockquote>
この政体の保存を監視する役に当たった人たち自身(magistrates)が、そこでは最も利害関係のある人たちである。<cite>[1, p.122]</cite>
</blockquote>

だが、政府がいかに富者の自己利益を根底としていようとも、それは必ず合法的な存在でなければならない。なぜならば

<blockquote>
それらの法が破壊されるやいなや為政者たちは合法的でなくなり、人民はもはや、彼らに服従する義務はないであろう。そして国家の本質を構成していたのは為政者ではなく法律であったのだから、各々の権利を持って自然的自由に戻るであろう。<cite>[1, p.122]</cite>
</blockquote>

しかし、ルソーが指摘するにはこの民主的な権能は徐々に、支配者たちの狡猾な企みによって、独裁的なものへと移行してゆくという。それは年長が尊敬される風潮が高まれば高まるほど選挙が頻繁化し、政治的対立が深まる。それにつれ内紛が起こるようになり、民衆の血が流れるようになる。そして、
<blockquote>
首領たちのや野心はこれらの事情を利用して、自分たちの地位をその家族の中に永久化したのであった。そして人民は、すでに従属急速と生活の安楽とに慣れ、またすでにその鉄鎖を断ち切る力もなかったので、自分の安静を固めようとして、隷属が増すのに同意したのだった。<cite>[1, p.125] </cite>
</blockquote>

このようにして首長の選出方法は民主的な選挙から世襲制へと移行し、権力の所在を自らの一族に固定することに成功するのだ。また、最後にルソーはこの政治的不平等が社会的不平等を助長するという。人々はさらにお互いの依存関係を深め、それと同時にお互いを利用しようともくろむ。また一方で、彼らはお互いの相違点に神経質になり、社会的政治的に成功するために対立するようなる。おおくの悪徳が民衆を覆い、彼らは自然から遠のいてゆく。そしてその結果は、「一握りの権力者と富者とが偉大さと富の絶頂にありながら、一方で民衆が暗闇と悲惨の中を這い回る」ことになるのだ。
<blockquote>
集合している人々の統一を崩して弱体化させることのできる一切のもの、表面は一致しているような様相を社会に与えながら、実際には分裂の種をことにまくことのできる一切のもの、様々な階級にその権利や利害の対立によって不振と相互の憎悪とを教え込み、その結果、それら全ての階級を抑える権力を強化することのできる一切のもの、それらが酋長たちによって助長されているのが見られるだろう。<cite>[1, p.63]</cite>
</blockquote>

この悪徳の社会は独裁を生み、それに従うことが徳とされるようなる。そして最後に彼らは主人と奴隷という不平等の極地にまで到達してしまうのだ。 


---

## 参考文献

<!--  -->
1. <span class="cite1">{{reference.modern44}}</span>

<div align="right">
    First posted &nbsp; 2007/09/29<br>Last updated&nbsp; 2011/02/28
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}