{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# デカルトの哲学 「我思う故に我あり」

## 合理主義と蜜蝋の例
デカルトは蜜蝋を例にとって、感覚判断の不確かさを例証する。それは、取れたばかりの蜜蝋(蜂の巣から取れた蝋)は、まだ硬くて冷たいし甘さも残っている。これが、感覚的経験から得た蜜蝋の認識である。しかし、それを火にかざすと、たちまち液化し甘さも失われる。だが、これを理性で捉えると、対象は変化してもそれは蜜蝋であるには変わらない。つまり、その対象を蜜蝋であるものとする蜜蝋の本質は感覚を超えた思考的判断によって得られるとする。これが合理主義的な思考である。では人間の本質はなにか。この問いと合理的思考法からデカルト哲学は始まる。

## 方法的懐疑
蜜蝋が多様に変化するようにデカルトはまず感覚経験を疑った。そして、デカルトが求めたのは、あらゆる知識の根底となり、演繹を開始するにふさわしい絶対確実な知識だった。彼は『省察』にて段階を経て、自らの知識を懐疑というふるいにかける。そして、そのふるいに残ったものを確実な知識とする。ここで間違えてはならないは、彼は全てを疑う懐疑論者ではなく、確実な知識を探求するために方法的に懐疑を導入したということである。これを`方法的懐疑([仏]doute méthodique, [英]Cartesian doute)`と呼ぶ。(この方法的懐疑は後にドイツ観念論やフッサールの現象学設立に重要な役目を果す哲学の基本的な思考法である。)デカルトの懐疑を段階ごとに見てみる。

1. 感覚的な知識に対する懐疑
感覚はしばしあてにならない、例えば、遠くにある四角い煙突を円柱であると思い込んだりする。よって、これらの感覚的知識はあてにならない。

2. より直接的な経験に対する懐疑
「今、私が暖炉のそばに座り、手に紙を持っている」、といったより確かな感覚の情報であっても、夢の中で私が暖炉の傍に座っていて、紙を持っているときも、私は現実のものであると信じて疑わない。よって、感覚から得られる情報は疑いことが可能であり、真実とは言いがたい。

3. 数学的な知識に対する懐疑
数学、幾何学などの理性的な知識は夢の中であっても変わらない。夢の中でも2+3=5だし、5つ辺持つ4角形は存在しない。しかし、デカルトは「悪意ある霊」が我々を騙している可能性もあるといい、この真理とされてきた数学的な知識をも切って捨てる。

## 我思う故に我在り
このような極端で徹底した懐疑を通したらどのような知識も否定され残らないのではないか。しかし、デカルトは懐疑の中でひとつの灯台を見つける。それは、彼自身である。つまり懐疑を行っているもの、誤っているにしろ考えている存在、つまり彼は彼自身が存在していることを見つける。`我思う、故に我在り([羅]cogito ergo sum)`こそ、すべての知識に先立って存在する万学の基礎と成り得る絶対確実な第一原理であるとする。ここで、注目しておきたいのは、デカルトは、我を`思惟実体([羅]substantia)`と考えたことである。つまり、明確な心身二元論を唱えているのである。これが人間の本質であると考えた。

## 世界の自明性の回復
確かな知識として「我(コギト)」を見出したが、このままでは一元的な独我論の次元にとどまり、世界の明証性は失われたままになってしまう。しかし、デカルトはそこから観念論にはむかわず、それを退ける態度をとる。そこで彼は完全な神の存在を証明することによって、自らの認識能力の信頼性を回復する。つまり、完全である神は、善であり誠実であるため、我々を欺かない。よって我々が経験から享受する知識は確実である。それにともない、我々の感覚は事物が`延長(extensio)`を持つことを確かなものとして知覚しているので、世界の確実性は回復されると考える。

この神の存在に頼るところにスコラ学の影響が見られ彼の弱点とされる(彼はイエズス会士としての教育を受けたため彼にとっては自然な推論だったのかもしれない)。また、コギトのうちに神を見出し、その神にコギトの明証性を保障してもらうのは循環論法的である。しかし、これは知識を内在的に基礎付ける(内在主義)の宿命であり限界である

## 神の存在証明
- **人性論的証明**
確かなものとして認めた我(コギト)を探求してみると、その中には完全で無限な存在としての神という観念を持つ。これは経験によって得たものではなく、`生得観念(idea innate)`である。なぜなら、有限な存在である我々は無限の観念を生じさせることはできないので、神がそれを与えたとしか考えられないからである。

- **存在論的証明**
もっとも完全なものとしての神は、その観念のうちに無限の肯定的な述語を含むのでなければならず、存在も当然含まれているはずである。神が存在という述語を持つ以上、神は存在しなければならない。

## 二元論と心身問題
先に見たようにデカルトは、神という「無限実体」のほうかに二つの「有限実体」みとめる`実体二元論者(substantial dualism)`である。それは精神と物体の二つである(実体とはそれが存在するのに何も必要としないもの)。物体は精神的な実体を含意していないため、デカルトにとって、自然は精巧にできた機械仕掛けの世界だった(`機械論的世界観`)。彼は動物さえも機械のように扱ったという。

しかし、このようなまったく異なった二つの実体はどのように相関関係を保つのかという決定的な問題をもつ。これを心身問題という。これは難解なアポリアとして二元論の前に聳え立つ。ちなみに、デカルト自身はこの問題に対し、脳の一部の器官(松果腺)が仲介役をしていると説明する。この考えは全く的が外れているが、決して適当に回答したわけではなく、当時最先端の知識であった血流や解剖の知識を用いて考察されたものとされる。



---

## 参考文献
1. <span class="cite1">{{reference.hist15}}</span>
<!-- 岡崎文明他「西洋哲学史」 -->

<!--  -->

<div align="right">
    First posted &nbsp; 2008/10/03<br>Last updated&nbsp; 2011/01/10
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}