{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# その他の唯物論
<br>

## 解釈主義 Interpretionism
同一説や機能主義は、心的状態を他の心的状態や刺激、行動にたいして因果関係を持つものとして、つまり心を法則性の観点から分析する。それに対して解釈主義は心的状態を合理性の観点からみる。しかし、合理性が法則性に還元できるのなら結局はそれもまた同一説や機能主義とかわらない。

## 非法則的一元論 Anomalous monism (D.Davidson) 
デイヴィットソンは心的状態と行為の間の法則性を認めない。しかしその代わりに因果性は認める。


- P1: 心的現象と物理的現象の間には因果関係がある。
- P2: 原因と結果として関わりあうできごとがある場合、必ずそれらの出来事は、厳密で決定論的な因果法則に支配されているはずである。
- P3: しかし、心的なものと物理的なものに関しては、そのように厳密な決定論的な因果法則は存在しない（信念には真/偽といった評価を与えることができる物理的なものにはできない）。心理・物理的法則は存在しない。
- ∴ したがって、心的なものの領域においては、厳密な因果法則は成立せず、心的なものと物理的なものをつなぐ厳密な法則もありえない。よっていわゆる心的な出来事は全て物理的な出来事である（心的状態は脳状態とトークン的に同一である）

心的な出来事は、物理的法則を例示するような物理的な出来事であるはずだ。また、人が心的出来事を心的なものとして記述する場合、特定の心的な語彙に合致する物理的な出来事のカテゴリーを選んでいるだけだ。心的な出来事は、ある記述のもとでは心的だが、別の記述では物理的でもある。だから結果は一種の唯物論である主張する。つまり心的状態は物理学の法則では記述できないが、それらがデカルトの言うような心的物体であるからではない。そうではなく、人がそうした問題を理解する際に使う心的な記述は、物理的な記述に基づいて理解される物的現象と、法則でかかわっていないのである。（PCにおけるプログラムの動作を心的状態だとするとCPUの動作が物理的？）


## 消去主義 Eliminativism (Rorty, Feyerabent, Churchland) 
我々は日常生活において、あらゆる心的状態（欲求や信念に加え感情や知覚も含まれる）や行為の間の合理化関係に関する日常的、常識的信念を持っており、それをフォークサイコロジー Folk psychology （民間心理学）と専門家の間では呼ばれる。この原始的な心理学は人々が現に存在する心的状態を合理的に説明するため用いられる。消去主義によると、フォークサイコロジーは心身関係を説明するための前提であり、その前提を否定すれば必然的に心的状態は否定される。そしてチャーチランドはフォークサイコロジーが持つ3つの根本的欠陥を指摘する。

1. 上にもあるような睡眠や精神病に関してなどなど、フォークサイコロジーでは説明できない心的現象が多々ある。
- フォークサイコロジーは古代から進展していない停滞した理論である。
- この理論はより広範囲で包括的な学問に、例えば物理科学に、（タイプータイプ）還元できない。また心を扱う他の分野（神経科学など）となんら相関関係をもたない完全に独立した理論である。錬金術やアリストテレスの生気論と同じ。

これらの理由によってチャーチランドはフォークサイコロジーを否定し、結果それを前提としていた心的状態は消去されるという主張である。

### 反論）
１：フォークサイコロジーはもともと心身関係に関する日常的な行動と心に関する知識であるため、睡眠や精神病などは最初からそれの対象ではない。２：フォークサイコロジーは古代の時点で発展の余地がないほど完成している。３：フォークサイコロジーを自然科学へ（タイプータイプ）還元できないということは、心的状態を物理学へ還元できないということにはならない。

### 再反論）
これらの反論に対しチャーチランドはコネクショニズムを用いて再反論する。そしてそれによって存在論的還元不可能性は心的状態の実在性を否定し、フォークサイコロジーを否定する強い根拠になりえる。

## 道具主義Instrumentalism（Dennet）
この立場によると、確かに存在論的還元不可能性によりフォークサイコロジーが主張する心的状態の実在性はそこなうが、行動を説明する有用な道具となりえる（あたかも地理学における赤道のように）と論じる。心的状態は解釈上の概念的道具であり、それらを使った理論は消去されない。またこの理論は一種の行動主義とも捉えることができる。つまり心的状態は個別には行動に還元できないが。その全体が行動傾向の全体に還元される可能性はある（全体論的行動主義）。

## 理論説＆シミュレーション説の論争
理論説(Theory-theory)はフォークサイコロジーを一つの経験的理論であるとするが、シミュレーション説(Simulation theory)によると、それは理論的実践ではなく一種の心的シミュレーションであるとする。つまり我々は他人の心的状態をシミュレートすることによって想像するという。チャーチランドは理論説を前提としフォークサイコロジーを批判しているため、この論争は消去主義の根底に関わる重要なものである。しかしこの論争を含めフォークサイコロジーを消去できるか否かは依然議論されている。 




---

## 参考文献

<!--  -->

<div align="right">
    First post &nbsp; 2007/06/16
    <br>
    Last updated&nbsp; 2007/09/01
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}