{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# 志向性について

## 志向性　Intentionality 

心は志向性と意識という二つの特性をもつ。(我々のあらゆる意識状態はそれについての質的な感覚を備えている。その性質をクオリア(質的経験)と呼ぶ。JacksonやNagelを参照)。ここでは志向性について見てみたい。志向性とは19世紀にブレンターノによってスコラ哲学の造語を復活させたことから始まり、フッサールの現象学に強い影響を与える。また、現代でも分析哲学などで幅広く取り扱われている概念である。それは我々が何かを考えたり、思い浮かべたり、期待したりするとき、我々の意識はその何かに向かっている。例えば机の上のコーヒーを手に取るという日常的な行為でも、机の上にコーヒーがあるという信念やコーヒーを飲みたいという欲求などに基づいていると考えられる。よって、それなくして我々は自分自身や他人の行為を理解することができない。

しかし、志向性の対象は現実に存在しないものにまで及ぶ(例えばサンタクロース)。つまり関係項目の一つが存在しなくも成立する関係というものとはいったいどのようなものなのか。また志向性がそのような特徴を持つということは物理的な事象に還元できないということを示唆するのではないか。しかしあらゆる行為の根底である志向性を否定しかねるため物理主義者にとってそれをどう解決するかが問題となる(自然化の問題)。よって、思考的な心的状態が向けられる対象としてそこで問題になるのは、基本的に“もの”ではなく“こと”である。

したがって、志向性を取り扱う際重要になってくるのは何かを表したりする「表象」という概念である。例えば目の前にりんごがあることを信じるということは、リンゴが存在することを表象しつつ、それを事実みなすという態度をとるということだ。心的状態によって表象される内容は「表象内容」とか「思考的内容」とか呼ばれ、またそれは実在している必要はない(フィクションへの志向性)。これにより志向の対象は何であり対等であるといえる。
<hr>

## 内在主義と外在主義 
上に見たような伝統的な志向性の内在主義的な見方によると、我々の心的状態がいかなる表象内容を持つかは、我々の内側に存在し、我々を取り巻く環境のあり方には左右されないと考えられてきた。そして内在主義は我々の頭の中で「志向状態の内容はどのように決定されるのか」という問題に取り組んできたが外在主義は志向内容がどのように構成されるのかを論じる、つまり「そのような志向状態が持つ内容を構成するものはなにか」という問いへの置き換えるのだ。これは私たちの内在的な心的内容が多くの場合、外在的な出来事によって引き起こされると主張しているのではなく、心的内容自体は実際には内在しておらず、せいぜいのところそれは、内部と外部が混ざったものであるということだ。

### 外在主義による内在主義批判１(双子地球の例 Putnam)
しかし、パトナムの思考実験である「双子地球」を用いて心的状態は環境に依存することを示し「外在主義」を提唱した。双子地球とは、地球と瓜二つの惑星が宇宙のどこかに存在すると想定する。しかしその第二の地球と地球において唯一違うことがあり、それは我々の地球では水はH2Oを指すが、第二地球ではXYZという水とまったく同じ性質を持つ液体を指す(つまり分子構造のみ異なる)。よって我らの地球に住むAさんが「水は透明だ」と発言するのと、第二地球にすむ第二Aさんが「水は透明だ」と発言する際、それら二つが意味するものは一方はH2Oだが、もう一方はXYZと異なる。このパトナムの思考実験により表象は自然的環境に依存することが確かめられた。

反論)サール：内在的に考えて水とは無色透明な液体という条件を満たせば水と断定される。そしてその条件を満たすものならH2Oじゃなかろうと、XYZだろうとなんだろうと全て水なのである。それらの条件を満たすかどうかは世界に依存しているわけではなく心に依存している。が、パトナムは「水とはH2Oを指す」と指標的な定義に置き換える。このような条件はもっぱら世界に依存しているわけであって心は関係ない。内在主義とは「心がどのようにして条件を設定するか」についての理論であるため外在主義の批判はその対象自体が間違っているといえる。

### 外在主義による内在主義批判２ (関節炎の例 Burge)
またバージも同様の議論によって言語的環境にたいする依存性を指摘する。つまり、架空の事物ジョーが病院に行き「腿が傷むんです。関節炎だと思うんですが」といったところ、医師は「腿が痛むなら関節炎ではないですね。関節炎は関節の炎症ですので」と返答した。つまりジョーは共同体の言語規定から外れている。次に舞台をパトナムの想定のように第二地球に移し(そこではジョーの関節炎と共同体のそれは一致する)。つまりジョーは二つの地球において関節炎に関して同じ信念を持っていたにもかかわらず、通常の地球では誤ったものとされ、第二地球では正しいものとされる。それはつまり周りの環境によって真偽が決定されているということに他ならない。これらの外在主義的な見解により内在主義は批判される。それに従い、志向性を自然化する試みが現れる。

反論)サール：我々の言葉の用法は共同体というバックグラウンドを共有しているため成り立つ。そして共同体の用法に一致していない言葉は理解されず、理解されるためには言葉の用法を変え一致させねばならない。つまり言葉が成立するの前提条件として共同体による承認があるのであり、そうでなければ他人と意思疎通することができない。(→ウィトゲンシュタインの私的言語批判に酷似？)これらによりサールは外在主義の内在主義に疑問を持つ。
<hr>

## 志向性を自然化 

### 誤表象問題 (Fodor, Dretske)
志向性を自然化する試みで最初に行ったのは因果関係にもとづく表象内容の説明である。例えば我々はアヒルによってアヒルの知覚を引き起こす。しかしアヒル以外もの、例えばカモやウサギなどによっても、アヒルを誤表象する場合も考えられる。つまりこの誤表象問題は志向性が正誤という観念を含んでいる規範的な要素を持つものであることをあらわす。

### 目的論的機能主義 (Millikan)
これは規範的要素を含め志向性の自然化に成功していると思われる。目的論的機能というのは生物の身体的特徴は、それゆえに進化の過程で選択され存続されることになった機能である。例えばキリンの首が長いのは高所の葉を食べるために役立つため淘汰されず存続した。これ同様に心的状態の形成機構や利用機構もそのような目的論的機能を持つと考えられる。環境依存的・外在主義的



---

## 参考文献

<!--  -->

<div align="right">
    First post &nbsp; 2007|06|18
    <br>
    Last updated&nbsp; 2007|11|17
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}