{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# 認知哲学#2 神経ネットワークから心に迫る
<br>
## 古典主義の代替案―コネクショニズム Connectionism (Dennett)
古典主義がコンピュータをベースにして心の仕組みにアプローチする理論であるのに対し、コネクショニズムは人間の脳の神経ネットワークをもとに構築された認知観である。コネクショニズムは表象主義を擁護するが、思考の言語、つまり心的表象が構文的構造をもっているという古典主義の主張を認めない。

コネクショニズムの観点から心を見てみると、心とは多数のユニット(ニューロン)を結合してできたネットワークである。例えばあるユニットが興奮すると結合している他ユニットに伝達する。またユニット間の経路には重さがあり、重ければ重いほど興奮をよく伝達する。ある興奮が入力されると結合しているユニット全てに直ちに伝達され、そして最終的にそのネットワーク全体がある興奮状態を出力する。つまり興奮パターンの変形はユニット間の結合の重みの差異によって決定される。また、このネットワーク全体の出力がコネクショニズムの言う心的表象であり古典的計算主義のいうような構文的構造を持たない。これは「分散表象」と呼ばれる。そしてこれは従来のコンピュータがもつ直列型情報処理とは異なる並列型の処理を脳というハードウェアで行う。並列分散型は以下のような特徴を持つ。
- (1)並列分散型は圧倒的に計算速度が速い。
- (2)表現コストがかからない
- (3)ダメージに強い

## 学習による認知能力の獲得(フレーム問題の克服)
コネクショニズムによるとユニット間の結合の重みがネットワーク全体の出入力を決定する。そして、ユニット間の重みは経験によって微調整することができ、その反復学習を繰り返すことにより一般的な認知能力を獲得することができる。実際に人工的なネットワークの結合の重みを変えてゆくという学習方法(誤差逆伝播法 Backpropagation)によって64人の顔写真を学習させた人口ニューラル・ネットワークがあり、それは学習した写真以外の未知の顔写真を識別させることが高い確率で可能であった。この人口ニューラル・ネットワークは64人の顔写真から男女の顔の典型、平均像、プロトタイプといった一般的な認識を学習によって獲得したのである。実際我々日本人も同じ人種であるアジア人の顔の差異の識別は容易にできるが、白人や黒人といった普段見慣れていない人種は日本人のときほど正確に差異を認識できないだろう。まさにそれと同じことである。つまりこの人口ニューラル・ネットワークはあらゆる知識の基盤である「規則に従う」を自ら獲得した可能性があり、フレーム問題があげるような例外的な状況にも対処する(事項に必要ないことは無視する)ことが可能であるかもしれないのだ。

## コネクショニズム批判
ピシリンやフォーダーらの古典主義者らによって80年代後半から90年代にかけてコネクショニズムに対する批判が提出された。彼らが言うには前述した思考の言語の体系性を心的表象は構文的構造を持たないと主張するコネクショニズムでは説明できないという。これに対し、スモーレンスキーやクラークらは、興奮パターンもまた潜在的に構文的構造をもつことができると再反論する。これは変形は構文的構造に基づいて行われると主張する古典主義とちがうと主張するが、この擁護が成功しているかどうかは疑わしく思考能力に関しては、フォーだーらの言うコネクショニズムは古典主義に帰着するか、さもなれば思考能力の体系性を説明できない可能性が強いという。


---

## 注

---

## 参考文献

信原幸弘(編)「心の哲学：ロボット編」
柴田正良「ロボットの心」
<!--  -->

<div align="right">
    First post &nbsp; 2007|09|02
    <br>
    Last updated&nbsp;  2007|09|19
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}