{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 後期ウィトゲンシュタイン「哲学探究」#1 言語ゲーム
「探求」における後期のウィトゲンシュタインは、「言語を話すことがある活動の、あるいは生活形式の一部であることを際立たせる」(§23)意図を込めて、「わたしはまた、言語とそれが織り込まれる諸活動の総体も「言語ゲーム」と名づける」(§７)と言った。このような永遠の相の下での世界認識の道具としての言語(proposition)という考えを突き崩そうとする(「論考」を論駁しようとする)。彼はそのために、我々の言語使用をその規則(論理)との関係を考え直そうとする。そこで彼が用いるのが、言語とゲームとの類似関係である。

「探求」の言語観によれば、我々の言語使用は全て、複数の人間どうしで行われるゲームのように、人間間の行為として遂行される。この行為は常にそれ自身の規則にのっとってのみ可能になっているのであるが、しかしその規則の限定や批判は、それを行っている個人の内的な了解や、それを第三者的に観察しているものの仮説的な説明によっては捉えることができない。言語使用においては、ゲームを行っている複数の人間の交渉そのものの中にあり、それはそうした交渉を埋め込んだ仕方で成立している「生の形式」においてのみ機能しているものだからである。

「探求」はこのことを明確にあらわした一つの例(five red apples)から始まっている。それによるとある一人の人が果物屋に赴き「赤いりんご五つ」と書いてある紙切れを店員に渡す。果物屋は、りんごと書いてある箱の中から赤いのを五つ取り出し、代金と引き換えにそれをその人に渡す。その人も果物屋も、一言も言葉を発しないかもしれない。だが、全ては円滑に、何の問題もなく進行する。それは我々のあらゆる生活の局面にそのように振る舞うのが当たり前で、そもそも別の可能性を思いつくことすらないような自明な状況が存在する。それこそが言語が有効に働く基盤なのである。そしてそのような自明性は慣習により訓練された、もしくは我々が「生の形式」の中を生きているからである。

ウィトゲンシュタインは、これらの言語ゲームはお互いに重なり合い、交叉しあって家族的な類似性を形成しているが、しかしこの類似性全体を統括するような普遍的な規則の一般形式はないという(ソクラテス的な全体に共通する何かの存在を否定)。




---

## 参考文献
1. <span class="cite1">{{reference.hist10}}</span>
1. <span class="cite2">{{reference.ana24}}</span>

<!-- - 「哲学を読む」人文書院のp232の解説 -->
<!-- - 永井均著「ウィトゲンシュタイン入門」(第五章、言語ゲーム)ちくま新書 -->
<!--  -->

<div align="right">
    First posted &nbsp; 2007/01/31
    <br>
    Last updated&nbsp; 2011/03/04
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}