{% extends "layout.html" %}
{% block content %}
## このブログについて
<!-- 本ブログは筆者の学生時代の哲学史勉強ノートで、楽天ブログで2008年から2015年にかけて公開していたブログの再掲になります。	 -->



当サイトは、2006年から2012年の間に楽天ブログで`「知識の積み木」https://plaza.rakuten.co.jp/oniyannma9` という名前で公開していたブログを再公開したものになります。

基となったブログは筆者の哲学の独学記録であり、見直すと誤解や間違いが散見されたため閉鎖しましたが、htmlの練習を兼ねてレイアウトを整えて再公開しました。
気づいた誤字などは修正しましたが、本格的な内容の修正はできていないため、あくまで学生の勉強ノートということを念頭において頂いて各項目を読む際は眉に唾を付けて下さい。
また、記録と記憶に残っている範囲で参考文献を各項目に付してありますので、
気に項目があった場合はなるべく参照元の文献で内容を確認してください。

筆者: 野村尚新 <br>
背景画像: ゴッホ「花咲くアーモンドの木の枝」

#### links 

- [Research map](https://researchmap.jp/nomura_shoshin/)
- [twitter](https://twitter.com/NomuraS512): 当ブログやQiitaの更新状況
- [Qiita](https://qiita.com/NomuraS): プログラミング関連のメモ
- [ELVis](https://nomuras.github.io/ELVis/): 認識論理の定理自動証明機


{% endblock %}