{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# 批判主義的傾向#2 現象学

## 現象学(Phänomenologie)
現象学は、`事象そのものへ(Zu den Sachen selbst)`をモットーとする20世紀初頭に新カント学派に変わって台等してきた哲学である。
それは、`ボルツァーノ(Bernard Bolzano, 1781-1848)`の論理学の思想と`ブレンターノ(Franz Brentano, 1838-1917)`(`ブレンターノ学派(独墺学派)`)の`志向性(Intentionalität)`の記述心理学に影響を受けたフッサールが`厳密な学としての哲学(Philosophie als strenge Wissenschaft)`として創始する。また、現象学は認識論的傾向からアプローチする新カント学派とはまったく異なり、存在論的傾向からあらたな方法論を探求する。そのため、現象学は新カント主義とは反対の立場であるが、同時に広い意味においては新カント主義と同じく心理主義的認識論を批判し科学の正当性を基礎付ける批判主義的傾向をもつ。これは合理主義と経験主義を認めず両者を媒介する(批判主義)。

デカルトより始まる伝統的な認識論は、真実とは対象と認識の一致(`真理の一致説`)であった。そのため、どのようにこの二元論を克服するかということに主眼がおかれた。つまり、目の前にあると「認識しているコーヒーカップ」は、実際の「コーヒーカップそのもの」とどのように“一致”しているのだろうかという問題である。現象学は、それまでの哲学が試みてきた客観的な「存在そのもの」の認識は不可能であり、これらふたつの一致を確認するのは(伝統的認識論から真実に到達するのは)不可能なものであると認める。その上で、客観的対象がありそれを主体が認識しているという発想を逆転させて、まず認識する主体がありそれによってすべてのものが現象として表れると考える。

現象は人間の意識に表れる世界のことであり、我々人間に現前する世界という現象は我々のさまざまな偏見や先入観(`自然的態度`)を介している。そのため、現象学はこの偏見というフィルターを現象学的還元によって剥がし、認識の根源である「超越論的自我」に至る。そして、これが構成する「事象そのもの」(意識のありのまま)へ至ることによって世界の現実を正しく捉えることを目的とする。世界を正しく捉えようとする傾向から見ると現象学も近代哲学の伝統にもれず認識論であるといえる。<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"><|span><|a>

- (伝統的認識論)
まず客観的世界(存在そのもの)が存在する<br>
→人間が主観的にこれを認識する<br>
→客観と主観の一致が真実である<br>
→しかしこの一致はどのよう知ることができるか？

- (現象学)
存在そのものには到達できない<br>
→現象を認識している主体を探求<br>
→我々に現前する現象における偏見を括弧に入れる<br>
→事象そのものという現象学の領域へ


---

### フッサール(Edmund Husserl, 1859-1938)
### 前期フッサール(心理主義から現象学へ)
現象学の創始者であるフッサールは、はじめは`クロネッカー(Leopold Kronecker, 1823-1891)`や`ヴァイアーシュトラース(Karl Weierstrass, 1815-1897)`に数学上の影響と受けて数学や論理学の基礎付けを試みた。その際、ブレンターノの心理学上の影響から数学|論理学の基礎を心的作用とする心理主義に至った(論理法則を思考の習慣に帰する、ヒューム)。

しかし、数学や論理学といった領域を心理的で主観的な体験に依存させると、相対主義に陥りそれら厳密学の真理性・客観性が失われかねない。そのためナトルプ、ロッツェ、ボルツァーノ等に影響をうけたフッサールは、『論理学研究』において、一転して、心理主義のような主観主義から客観主義(プラトニズム)の立場から厳密学の基礎付けを試みる。客観的対象とは、イデア的対象(後で「本質」、「形相」、「事象そのもの」とよばれる)であり、数学や論理学などの厳密学を基礎付ける対象でもある。つまり、フッサールは、”相対的”な心的作用から“普遍的”なイデア的対象を構成する。

しかし、純粋論理学が取り扱うイデア的本質は、心的作用に由来するため、我々はどのように本質を認識するかといった問題に対する基礎付けの必要性をフッサールは感じるようになる。そして、『論理学研究』の第二巻において、あらゆる理論に先立ってイデア的対象(本質)を内的に構成する「直観」(後の「本質直観」)を見出す。この直観によって、一般的直観の外にあるイデア的対象を構成して純粋論理学をすなわちあらゆる学問を基礎付ける。この直観によって構成されたイデア的対象は「事象そのもの」と呼ばれる。この領域を探求する哲学を「現象学」と呼び、`厳密な学としての哲学`と位置づける。

---

### 中期フッサール(現象学的還元)
現象学の領域を見出したが、この学問の分析と方法を模索するのが中期フッサールである。それは、『イデーンI』に結実する。先に見た`本質直観(Wesenserschauung)`は本質もしくは形相を直観によって構成するため`形相的還元(eidetische Reduktion)`、または`イデア視(Ideation)`と呼ばれる(このようにフッサールは似たような意味の語を複数用いる)。形相的還元を現象学の第一段階とすると、`純粋意識(reines Bewusstsein)`を露にする「超越論的還元」が第二段階となり、また二つあわせて`現象学的還元(phänomenologische Reduktion)`と呼ばれる(現象学的還元は超越論的還元と非差別的に用いられる場合もある)。

事実は意識の外にあるため、形相的還元によってもたらされた本質も外在的である。従って、意識は依然として主観的な地点にとどまる。しかし、意識とは何ものかについての意識という「志向性」をもつ。そのため、形相的還元をこの志向的意識そのものに適応し、世界の一般定立(`自然的態度(natürliche Einstellung)`の偏見)を`括弧に入れる(Einklammerung)`。これを`超越論的還元(現象学的エポケー`、`現象学的判断停止`、`現象学的カッコいれ`)と呼ぶ。このエポケーの結果、それでも残存するものが純粋意識(超越論的自我、`超越論的主観性(transzendentale Subjektivität)`)である。この純粋意識とそれの志向対象であるイデア的本質が現象学において取り扱う領野である。この現象学の領域は、理論の前段階的で無前提的である。そのため、あらゆる理論の基礎付けを担わせるにはふさわしい厳密学であるとフッサールは考える。


---

### 後期フッサール(発生的現象学とヨーロッパ諸学の危機)
後期のフッサールは、以前までの純粋意識の構造分析に終始する`静的現象学(statische Phänomenologie)`から、志向的体験の「発生」の地点にまで立ち戻る`発生的現象学(genetische Phänomenologie)`へと移行する。それによると、志向性は主観の原創設(Urstiftung)とそれの沈殿(Sedimentierung)による習慣化をベース(地平Horizont)としている。

そして、この発生心理学により、第一世界後の緊迫したドイツにおいて、ヨーロッパ諸学の危機を指摘する。それによると、ガリレオ以来世界の数式化・理念化という信念が一般化し、この信念が次第に沈殿し主観性のベースとなった。これにより、理念化された世界が重んじられ、`生活世界(Lebenswelt)`は隠蔽された。これに対し、フッサールは生活世界への帰還と、それの起源である超越論的主観性へ立ち戻り、世界を構成しそれによって諸学を基礎付けることを主張した。これを超越論的現象学と呼んだ。

<ul class="book_list">
	<li>著作<|li>
	<li>『論理学研究』Logische Untersuchungen (1900-01)<|li>
	<li>『純粋現象学および現象学的哲学への考案(イデーン)』Ideen zu einer reinen phänomenologie und phänomenologischen Philosophie (1913)<|li>
	<li>『デカルト的省察」』 Méditations cartésiennes (1931)<|li>
	<li>『ヨーロッパ諸学の危機と超越論的現象学』Die Krisis der europäischen Wissenschaften und die transzendentale Phänomenologie (1936)<|li>
<|ul>


---

### シェーラー(Max Scheler, 1874-1928)
シェーラーは`オイケン(Rudolf  Eucken, 1846-1926)`を師にもち、後にフッサールから影響を受け現象学を研究し、現象学を倫理学に応用した。

<span class="para">実質的価値倫理学(Materiale Wertethik)<|span>
彼は現象学の本質直感を価値に適用することによって価値の直感を主張した。これによって、実質的価値倫理学が成立した。つまり、価値の世界は経験的な世界からは独立したアプリオリなものとして存在し、この価値は直感によって把握されるとする。そして、シェーラーはカントの義務倫理学における形式主義を批判し乗り越えようとした。カントにおいて、善悪原理とは、意思や行為の「形式」によって判定され、「実質」とは経験・感性と同一視され倫理の原理とはなり得なかった。しかし、シェーラーにおいて、「実質」とは本質内実を意味するのであって、非感性的であり、アプリオリな客観性を有するのである。シェーラーの倫理学はこのアプリオリな実質を土台とし形而上学的価値の体系を形成した。

<span class="para">情緒主義(Emotionalismus)<|span>
また、フッサールが立場にとどまったのに対し、シェーラーは直感を心情的・情緒的な作用とする。この作用を「感得」(Fuhlen)という。価値は思惟されるのではなく感得される。「心情は精神の知らない自らの道理をもっている」というパスカルの言葉を受け、「心情の秩序」を認める。こうして、彼の価値倫理学によって、現象学を心情的領域で生かし拡張したのである(岩崎ほか, 1986, p206)。
	

<span class="para">知識社会学<|span>
彼は、また、「知識形態と社会」において、マルクスなどにみられる自然主義的歴史観の根本的誤謬を克服しようと試みた。彼は、社会や歴史における、精神的・理念的な「決定因子」と欲動的・実在的な「作用因子」を区別した。双方の因子は基本的に独立しているが、少数の指導者によって、決定因子を作用因子に影響されうる。そして、古代において婚姻が、中世において政治を調和させる課題を担ったように、現代においては経済を調和させることが課題であるという。


| 決定因子       | 作用因子     |
|:-----------|:---------|
| 労働の知(実証科学) | 栄養欲動(経済) |
| 教養の知(形而上学) | 繁殖欲動(婚姻) |
| 救済の知(宗教)   | 権力欲動(政治) |

また知識の課題としては、西洋の技術的知識文化とアジアの「魂の技術」を調査させることにある。これは、実証主義的傾向を遮断する形而上学と宗教によって克服される(岩崎ほか, 1986, p473)。


<ul class="book_list">
	<li>著作<|li>
	<li>
「知識形態と社会」Die Wissensformen und die Gesellschaft　(1926)
<|li>
<|ul>

---

## 現象学のその後
フッサールの現象学は多方面へ影響を及ぼした。そして、現象学は批判主義的傾向による諸学の基礎付けという当初の目的を超えて応用現象学として発展し、現象学は現象学運動という大きな哲学の潮流となる(シェーラーもその一例である)。しかし、フッサールの現象学は事象そのものへ立ち戻ることによって、１９世紀から揺らぎ始めた人間理性の信頼を再度取り戻そうとする試みでもあったのに対し、あらたな現象学の潮流は、２０世紀における理性に対する懐疑の傾向から発生した生の哲学や実存哲学と融合することによって反合理主義的傾向を帯びることになる。この現象学的実存哲学は、ハイデガー、メルロ=ポンティ、サルトル等を代表者とする。また、後に現象学はポスト構造主義者とされるデリダによって批判される。

---

## 注




<ul class="comments">
<li><span id="tyuu1">\*1. 現象学は、デカルト的懐疑を用い、また、デカルトの懐疑を不徹底なものと批判するため、これは新デカルト主義かつ反デカルト主義といえる
 <|span><|li>
<|ul>

---

## 参考文献

- {{reference.hist17}}
- {{reference.hist16}}
- {{reference.hist15}}
- {{reference.hist19}}
- {{reference.hist24}}
- {{reference.hist9}}
- {{reference.hist6}}
- {{reference.hist26}}


<div align="right">
    First post &nbsp; 2009|04|18<br>Last updated&nbsp; 2012|02|07
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}