{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# アクィナスの哲学#2　存在論と神

## 存在と本質(esse-essentia)
トマスは存在を無条件に認める。つまり、現実がもつ真実性を承認する。存在はただそれ自体として自立的に存在する。これが存在の根本性格であり、質や量といった偶有性は二次的に見出されるに過ぎない。トマスは当時のアリストテレス解釈から新プラトン主義やアラブ的な混入要素を取り除き、純粋なアリストテレスの存在論を求め、そしてその上で彼を乗り越えようとした。つまり、アリストテレスにおいて存在論の基本概念は「形相-質料」(forma-materia)と「現実態-可能態」であったが、それにトマスは`存在-本質(esse-essentia)`を加えた。

トマスによると「形相-質料」は主に自然世界の存在者(質量的事物res materialis)に限られるが、「現実態-可能態」は自然世界のみならず、質量を持たない形相のみの存在である天使(知性的実体)や神(純粋現実態)にまで及ぶ。そして、「存在-本質」であるが、「存在」は、本質を存在者とするため「現実態」である。また「本質」は、それだけで現実に存在できないため「可能態」である。しかし、「本質」は「形相」である(「本質」＝「形相」)。そして、「形相」は(質料と比べると)現実態である。

<!-- ||||
|:--|:--|:--|
||||
|現実態|＝存在-本質|≒可能態|
|||∥|
|||形相≒現実態| -->

よって、「存在」はいかなるときにおいても現実態である。そのため「存在」は「形相の形相」(forma formarum)と呼ばれる。トマスはこの洞察によって、アリストテレス的な存在論を、究極的な次元にまで高めた。つまり、アリストテレスが主として「存在者としての存在者」を問題にしたのに対し、トマスは存在者のあらゆる規定、そして人間の認識の根源をなす「存在そのもの」の次元を主題化し、存在者の理解を存在そのものにさかのぼらせていくことによってさらに深めたのである。

## 「存在そのもの」と超越論的概念(transcendentia)
このすべての源泉である、「存在そのもの」(もしくは「全体者」・「万有」)を表現し捉えるための道具が必要になる。それを超越論的概念(超範疇的概念)と呼ぶ。この超越論的概念で重要なのは、「真」「一」「善」の3つである(他には「美」など)。存在そのものはこれらの概念全てを内包しているが、例えば、これを、「認識されるもの」と見るならば、これは「真」であるという存在特徴(様態、意味)であらわされる。また、「不可分なもの」としてみるならば、「一」であると見ることができる。これらの概念は同一の存在を、異なった表現方法を用いているに過ぎないため、超越論的概念はお互いに述語になることができる(「真」は「善」である。「善」は「一」である。など)。

「存在そのもの」の6つの概念(捉え方)

1. 不可分である→ 一
1. 認識されるもの→ 真
1. 求められるもの→ 善
1. 実際に在るもの(現実態)→ 存在者
1. 本質→ もの
1. 他者からの区別→ 或るもの

**この世界は最善である**:
トマス以前のこの命題を真とする根拠は、「創世記」の一文であった。故に哲学的な根拠はなかったが、トマスの存在論から、「存在者は全て善である(＝この世界は最善である)」という命題が根拠付けられるということが分かる。なぜなら、存在者も善もともに超越論的概念であり、お互いに述語になれるからである。
存在者は善である⇔善は存在者である

## 神と神の認識
アウグスティヌスは真理的三位一体論により内面から神への道を探したが、トマスは神を現実的なものとして存在論的に探求する。神は自存する「存在そのもの」であるとする。そして、存在そのものは純粋な善性であり、それゆえ自らの意義を自らにおいてもつ自己同一的存在である。そして、それゆえに、神は認識し意思する精神である(論証手順がよくわからない)。つまり、あらゆる事物の認識は、神に対する認識を内包しており、明確な神の認識の出発点となる。

またアリストテレスは神を万有の根源であり、純粋形相と捉えるが、トマスは万有の根源ということには同意するが、神は無限であるため、限定する原理である形相の概念を含まないとする。また形相は可能態であるが神は可能態を含まない。神は純粋現実態である。

### 神の存在証明

トマスはアリストテレスに基づいて神の存在証明を提示する。

1. 世界には運動しているものがある。
- 全ての運動には原因(始動因)がある。
- 始動因と結果(「動かすもの」と「動かされるもの」)の連鎖があり、またこの連鎖を無限にさかのぼることはできない
- よって「第一の動かすもの」(第一起動者)が存在しなければならない。これを人は神と呼ぶ。

この論証は始動因は結果よりも大きな現実態であるということである。

### 神の善性の証明
1. 神(第一原因)が全ての存在者(万有)を生み出した(神にはいかなる不足もないので必要性のためになんらかを創造したのではなく、神は創造されるものへの愛ゆえに創造する)。
- 全ての存在者は神と類似性を持つが、不完全である。
- 存在者は自らの完成、つまり神を求める。
- 善とは求められるものである。
- よって、全ての存在者にとって神は善である。

### 神の認識と幸福
上にあるように人間は、自らの完成として幸福を求める。ではそれはなにか。

1. トマスもソクラテスやアリストテレスが言うように人間の幸福は魂の優れた部分最大限に活動されることであるとする。
- 魂のもっとも優れた部分は知性である。
- 知性は神を認識することが最大の活動であり、したがって幸福である。
- そのため、神が知性の「目的因」であり「究極目的」である。

神は無限で全ての存在の創造者であり、また創造されたものは有限である。そのため、有限な認識能力しかもたない人間が、どうやって無限なる神を認識できるのだろうか。自分より優れたものを捉え認識するには、自分より優れたものから学ぶことによって自分自身が成長する以外にない。トマスによると人間は神の認識が可能である。そして、それは神から「恩寵の光」と「栄光の光」を与えられることによって、知性は成長し神を認識できるようになる。そして、それによって幸福をもたらす。

しかし、この世において人間は「恩寵の光」しか与えられず、神の認識は不十分にしかできない。そのため、この世の人間には「信仰」「希望」「愛」という三つの「対神徳」による導きが必要である。また、あの世においては「栄光の光」が与えられ、知性は成長し神を認識できる。そしてこれに対応して、神の「直観」「把握」「享受」がある。このとき人間は初めて幸福者となる

---

## 参考文献

1. <span class="cite1">{{reference.hist15}}</span>
1. <span class="cite2">{{reference.med3}}</span>
1. <span class="cite3">{{reference.hist3}}</span>
<!-- - 西洋哲学史(岡崎文明、他著)、  -->
<!-- - 西洋古代・中世哲学史(リーゼンフーバー著) -->
<!--  -->

<div align="right">
    First posted &nbsp; 2008/09/29<br>Last updated&nbsp; 2012/03/15
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}