{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> |
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 古代インド哲学史#3 反ヴェーダ（六師外道）

## 非正統派バラモン思想
ヴェーダの思想や宗教を受け継いだのが正統派バラモン思想である。しかし、前十世紀から前五世紀にかけて商業が発展して、商人や庶民階級が出現するに伴い、バラモンを中心とするヴェーダに反発する形で反ヴェーダの傾向が高まる。このような時代背景から生じた新興の思想を非正統派バラモン思想であり、これはヴェーダに対するアンチテーゼである。

## 六師外道
非正統派バラモン思想の中でもっとも人気を集めたのは仏教だが、これのほかにも多数の思想があり、これらを外道という。外道とは仏教以外の学派に属する者のことである。そして、この中から有力な指導者を6人挙げて彼らを「六師外道」と呼んだ。彼らの思想は、旧体制の崩壊に伴い既存の価値判断に対して懐疑的になり、霊魂などを否定するなど唯物論的である。また、それの実践的帰結として道徳否定を主張する退廃的な思想が多い。別名、邪命派。

### プーラナ・カッサパ
彼は如何なる善悪も存在しないと道徳否定論を唱える。

### パクダ・カッチャーヤナ
彼は、人間は、7つの元素によって構成されていると考えた。すなわち、地・水・火・風の四元素と苦・楽・生命の七つである。七要素説。旧来の魂が独立して存在するという考えではなく、唯物論的な思想である。そのため、この思想の実践的帰結もまた道徳の否定を導いた。

### マッカリ・ゴーサーラ
彼もパクダのような唯物論的思想をもつ。それによると、霊魂・地・火・水・風・空、得・失・苦・楽、生・死の12の実体としての要素を認めた。また、彼は人間の輪廻から解脱することは不可能であり全てははじめから決定されているという決定論、運命論を唱えた。ここにもまた道徳否定の思想がある。

### アジタ・ケーサカンバリン
先にみた外道達も唯物論的な傾向にあるが、アジタは唯物論の代表される。彼によると、人間は、地・水・火・風というそれぞれが相互に独立した四元素から構成されている。そして、人間が死ぬと、彼を構成していた元素はそれぞれの元素の集合に帰りそこにはなにも残らない。霊魂を否定し、あの世や来世で悪事の報いを受けるという伝統的な道徳観を否定した。そして、現世の快楽至上主義を唱えた。

### サンジャヤ・ベーラティプッタ
人間はなにものも認識にたいし懐疑的で、この懐疑論からなにも認識することは不可能であるという不可知論を唱えた。彼の不可知論はジャイナの不決定論、仏教の無記説に影響を与えたと言われる。

### ニガンタ・ナータプッタ（ジャイナ教の開祖）
最後に見る外道は、ジャイナ教の開祖であるニガンタ・ナータプッタ（ナータ族出身のニガンタ派の意、本名:ヴァルダマーナ、尊称:マハーヴィーラ、ジナ）である。ジャイナ教は仏教と同時期に勃興した新興宗教であり、旧体制の崩壊から新たにもたらされた時代にあった宗教を説いた。

<span class="para">相対主義</span>
ニガンタはサンジャヤの懐疑論に影響を受けるが、それと同時に実践的帰結をもたらさないこの立場を反省して、それによって相対主義を唱える。これは知識における絶対的な立場の否定であるが、知識すべてを否定する懐疑論ではない。「xは真である」を否定するが、「xはyにおいて真である」を容認。

<span class="para">形而上学</span>
ニガンタの形而上学は、実体と霊魂を認める。すなわち、世界は5つの実体によって構成されているとする。それは、
<ol>
	<li>生気を帯びるもの、霊魂（jiva）</li>
	<li>非霊（ajiva）を帯びるもの、活動の条件となるもの</li>
	<li>停止の条件となるもの</li>
	<li>諸実体を存在させられる空間</li>
	<li>原子から構成され無数に存在する物質</li>
</ol>

この5つである。この実体論は一切を空であるとする仏教とは相反する教義である。加えて、ジャイナ教は、これらの実体を創造した神のような存在を認めない無神論である。霊魂はなんらかの身体に宿るものであり、また、天への上昇性を持つ。霊魂事態は幸福であり一切智である。そして、人間は生まれたときは清浄である。しかし、成長するにつれて身・口・意の三業によって業が霊魂に付着して業身（karma-kaya）となる。これによって霊魂の上昇性は失われ、これを繋縛（bandha）という。こうして人は魂を上昇させて涅槃に達することが出来ず輪廻を繰り返すことになる。

<span class="para">実践論</span>
こうした輪廻から解脱するためには、過去の悪い業を滅して、新しい善い業を流入させて霊魂を浄化する必要があるという。そのためには出家して比丘（bhikkhu）となり苦行を行なう宗教生活が求められた。そこでは、不殺生、真実語、不盗、不淫、無所有、という5つは絶対的な戒律として尊守されねばならなかった。その結果、極端な禁欲（例えば、断食による餓死）が称賛された。また、彼らは魂の清浄性が曇るとして裸で生活した。これは、空衣派と呼ばれ、後に白衣派と対立することになる。

<span class="para">今日のジャイナ教</span>
ジャイナ教は現在でもインドで存続しているが、それは、後にバラモン教の神々を教義に取り入れて、また、カースト制を認めたからである。これによって一般民衆と結びついた宗教を組織するに至った。また、生命に対して傷害を禁止したり、遠方への旅行を禁ずる戒律があるため（食料品店や出張がある職業は無理）主な信者は商業に携る人々であるという。


--- 

## 参考文献
- {{reference.indo3}}
- {{reference.indo8}}
- {{reference.indo9}}

<!--
- 『インド思想史』（早島鏡正ほか）
- 『インド哲学史』（金倉圓照）
- 『インド哲学史概説』（金岡秀友）
  -->

<div align="right">
    First post &nbsp; 2010/10/25
    <br>
    Last updated&nbsp; 2010/04/15
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}