{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# 古代インド哲学#4 反ヴェーダ(仏教)
## 仏教
六師外道と同じく反ヴェーダ・非正統派バラモンの立場から時代に即した自由思想を説いたのがブッダ(本名：ゴータマ・シッダールタ、尊称：釈尊、釈迦牟尼)である。そして、彼の思想によって生み出されたのが仏教である。

### 実践的な知識を重視
彼は伝統的なバラモン思想であるブラフマンとアートマンといった宇宙の根本原理に関する形而上学的な議論を重要視しない。それよりもまず重要なのは我々自身がどのようにしたら輪廻から解脱できるのかというより実践的で身近な問題であるという。つまり、ブッダが重要視して説いたのは、悟りによる無知(無明)からの目覚めであった。そのため、悟りに至る認識(正覚)こそが重要であり、形而上学的な議論は取り扱わないという態度を取った。これを「捨置」(もしくは「無記」、「置答」、「十四無記」など)という。彼によると、悟りを達成するにはブラフマンとの合一ではなく、縁起を理解して実践するこであるという。

### 縁起説
縁起の基本構造は「あるものに依ってあるものが生ずる」とされる。縁は、AがBを生じるといった因果関係ではなく、AはBの条件であるという意味である。そして、Aを条件としてBがあらわれることを縁起という。そして、また、あらゆる現象は相互に依存しており一切が一切を条件として成立しているという。このように全ては縁起であるという主張は、ヴェーダが説く一切を生じせしめる根本原理ブラフマンの否定でもある。ブッダにとって世界とは、ブラフマンのように形而上学的なものではなくもっと身近な日常的なものであった。

--- 

## ブッダ入滅後の仏教(上座部仏教と大乗仏教)

紀元前100年ごろから仏教は戒律の解釈をめぐって対立し、そして、分裂する部派仏教の時代に入った。上座部仏教は既存の戒律を改定することを認めない保守派であり、これに対して、大乗仏教は戒律の変更を認め、また、新たに戒律を作る急進派であった。もともと釈迦は戒律の変更を認めていたが改定可能な戒律などの解釈をめぐってこのような分裂が生じた。また、上座部仏教<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"><|span><|a>が王侯や富豪の援助を基礎に成立していたのに対し、大乗仏教は民衆のなかで興った宗教運動である。このように大乗仏教は、既存の保守的勢力に対抗するものであり、そして、これを攻撃した。



  <div class="mermaid">
graph TD;
    釈迦生前の初期仏教-->上座部:戒律を保守する保守派;
    釈迦生前の初期仏教-->大衆部:戒律の変更を認める革新派;
    上座部:戒律を保守する保守派-->上座部仏教\*1:十二支縁起を基礎に持つ;
    上座部仏教\*1:十二支縁起を基礎に持つ-->説一切有部:法の実有性を主張;
    大衆部:戒律の変更を認める革新派-->大乗仏教:空を基礎に持つ ;
    大乗仏教:空を基礎に持つ -->F(中観派<br>200年ごろ<br>龍樹による論理的基礎付け);
  <|div>
  <script src="https:||unpkg.com|mermaid|dist|mermaid.min.js"><|script>
  <script>mermaid.initialize({startOnLoad:true});<|script>

<!-- 　　　　　　　　　　　釈迦生前の初期仏教
　　　　　　┌─────┴────────┐ 
　　　　　上座部　　　　　　　　　　　　　　　　　　大衆部
(戒律を保守する保守派)　　　　　　(戒律の変更を認める革新派)
　　　　　　↓　　　　　　　　　　　　　　　　　　　　　↓
上座部仏教(\*１)　　←対立→　　　　　　　大乗仏教
(十二支縁起を基礎に持つ)　　　　　　　(空を基礎に持つ)
　　　　　　↓　　　　　　　　　　　　　　　　　　　　　↓
説一切有部(上座部の最大勢力)　　中観派(200年ごろ)
　(法の実有性を主張)　　　　　　(龍樹が空を論理的に基礎付ける) -->


### 有部の哲学
上座部仏教の代表だった説一切有部は、「一切が有る」と主張する。それは、「法」(dharma)を実有(法有)とする明確な実在論である。そして、この法は自然的領域を基礎付けるものであり、そして、これを探求する有部は形而上学的議論を展開する。このような形而上学を構築するのは、釈迦がこの世の一切は常に流れており(生滅変遷)、なにも留まらないという「諸行無常」を説いたからである。つまり、全てが流れているのならこの諸行無常という説法の普遍性も否定されなければならない(自己言及のパラドックスに陥る)。そのためこれを擁護するために生滅変遷 を綜合する普遍的な法を想定する必要があると有部は考えた。そして、法こそが実有であり、自然的存在は仮有であるとする。

### 大乗仏教の論理的基礎付け(ナーガールジュナの『中論』)
上記のように仏教は釈迦の入滅後に戒律の解釈をめぐって上座部仏教と大乗仏教の二つに分裂する(また、これらがさらに20に分裂している)。ナーガールジュナ(龍樹)は大乗仏教の僧であり、彼は、自らの立場を基礎付けるために他の立場を論駁する(それぞれの立場を基礎付けている形而上学を空で解体する)。『中論』の論敵は正確に判明していないようだが、当時の主だった教団や学派の立場をセレクトして個々に論破しているといわれる[1, p.91]。また、中村氏の見解([4, pp.81-82])によると、『中論』の主要論敵は上座部仏教の代表である説一切有部(有部)だという<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"><|span><|a>。そして、この論駁書『中論』おける形而上学の否定の果てに「空」を論理的に基礎付けて中観派を設立する。

--- 

## 注

<ul class="comments">
<li><span id="tyuu1">\*1. 小乗仏教ともしばし呼ばれるが、もともともは大乗仏教が与えた賤称である。  <|span><|li>
<li><span id="tyuu2">\*2. 他の論敵の候補として仏教外(外道)ではジャイナ教、バラモン教のヴァイシェーシカ学派、ニヤーヤ学派、そして、サーンキヤ学派など、仏教内では経部、唯識派、犢子部、正量部など、である。また、当時の有部はニヤーヤ学派などの異教の学派から影響を受けておりブッダの教えを歪曲する危険をおかしつつあった[1, p.302]。そのため、主要論敵を有部に設定するのは、批判対象が間接的に有部が影響をうけたニヤーヤなどの形而上学に設定されるということでもあると言えるだろう。
  <|span><|li>
<|ul>



--- 

## 参考文献

1. {{reference.indo4}}
- {{reference.indo9}}
- {{reference.indo8}}
- {{reference.indo1}}
- {{reference.indo3}}


<div align="right">
    First post &nbsp; 2011|02|27<br>Last updated&nbsp; 2011|03|01
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}