{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# ナーガールジュナと思考の限界#1
[ インド哲学 ]
[https://pdfs.semanticscholar.org/7b8d/3ca63f676e2306ba33dc4350a9d659c3ec6b.pdf](https://pdfs.semanticscholar.org/7b8d/3ca63f676e2306ba33dc4350a9d659c3ec6b.pdf)

以下は、Priest, G.(2002) Beyond the Limits of Thoughtにおける16章N?g?rjuna and the Limits of Thoughtの要訳

1 ナーガールジュナへようこそ
ナーガールジュナ（N?g?rjuna、漢訳：龍樹）（以下、N）は1～2世紀頃のインドの仏僧で、主著は『中道の基本的英知』（M?lamadhyamakak?rik?、漢訳：『中論』）（以下、MMK）と呼ばれる450の詩（偈頌）からなる形而上学の論駁書である。彼の大乗仏教における影響力は非常に大きく、また、現在の哲学者・論理学者からも注目を浴びているが、同時に、

---

## 序
ナーガールジュナは、哲学史上、確実に解釈が最も難しい哲学者の一人である。それは彼の文章は簡潔で暗号じみており、また、
パラドックスや明確な矛盾に物怖じせず、更に言うと、彼は自身の論敵に関してやたら無口だからである。
そして、彼のテクストに付された伝統的な注釈群は、これに関して非常に多くの解釈があったことを我々に知らしめる。
しかしながら、大乗仏教界における彼の影響力はこの界隈では比類なきものであるし、また、
インド、中国、チベット、韓国、日本、ベトナムの高名な哲学者、そして、最近では多くの西洋の哲学者による彼の受け止められ方の真剣さの度合い、それだけで、彼のテクストへの注目は正当化されるであろう。
仮に彼が歴史的に見てそのような哲学的な巨人ではなかったとしても、彼の思想の美しさと哲学詩の簡潔な美しさはやはり注目に値するであろう。
ナーガールジュナに対して我々は困惑するどころか、しばし怒りたくなることすらある一方で、また、彼の文章は最初は教義の伝統的な釈義に従わないその一方で、ナーガールジュナの思想に時間を費やすものは、誰であれ、この哲学の師に深い尊敬の念を抱かずにはいられないであろう。

人々がナーガールジュナのテキストを読んだ際に大変に困惑する一つの理由は、	彼は積極的に矛盾を受け入れているにように見える一方で、彼は古典的な背理法の議論を使っている、つまり、これは彼の非矛盾律の容認を示唆しているのである。もう一つの理由は彼は自分が主張していることを積極的に否定するという点である。
例えば、真理は二つあり、かつ、それらは一つであると言う。
全ては実在、かつ、非実在であると言う。
無(nothing)は実在もしくは非実在であると言う。
彼は自身をも含む全ての哲学的見解を排除すると言う。
さらにその上、彼は何も主張していないと言うのである。

彼はこれらすべての言葉に何らかの意味を与えているように思われる。
これら全てを理解するのはしばし困難であるため、実際、ときに人はナーガールジュナをある種の神秘主義者ないしは非合理主義者と解釈する容易な誘惑に抗うことができない。しかし、アジアの重要な伝統的な注釈では彼はそのように解釈されていないし(\*1)、また、最近の研究者たちもこれに同意見である。
ナーガールジュナは単に神秘主義者として片付けられないほど、厳密な分析的議論に専心しすぎているのである。

この論文における我々の関心は、歴史的なものでも、また、ナーガールジュナのなんらかの作品の体系的な釈義や評価を提供することにあるのではない。
その代わりに、ナーガールジュナが、多くの西洋哲学者や(おそらく彼の影響の結果として)仏教徒の後続者と同様に、思考の限界を引き起こす真なる矛盾を発見し探求した哲学者であるという可能性に関心を払う。
もし実際そうであるならば、それはすでに言及した対立する2つの解釈に説明を与えるであろう。
それは、つまり、ナーガールジュナはいくつかの矛盾を許容するとの理由で、無矛盾性を合理性の必要条件と考える西洋哲学者やニヤーヤ学派の対話者にとっては、彼は非合理主義者に映るであろう。しかし、


---

加えて、Nの思想は、カント、ヘーゲル、ハイデガー、デリダなどのパラコンシステントの開拓者の間に並行・類似関係がある。そして、この類似関係は西洋哲学からNをよく理解可能にするだけでなく、西洋哲学ではまだ知られていない存在論のパラドックス（ナーガールジュナのパラドックス）をもたらし、これによって我々に存在論そして世界の認知アクセスに対する新しい洞察をもたらすのである。

## 2 closure と思考の限界

2-1 表現可能性のパラドックス
ヴィトゲンシュタインは『論考』において言語の限界を画定することで思考の限界の画定を試みる。しかし、語りうることに関する説明は、この説明自体が語りえないということをが帰結する。従って、Wは言う：
読者はハシゴを登りきったあとでそのハシゴを取り払ってしまわなければならない
この苦境はWに特有のものではない。考え、描写し、把握する認知諸能力は、それら自体が考えられ、描写され、もしくは把握されえない、ということは認知能力の限界の特徴付けを試みる理論にとって一般的である。例えば、セクストス・エンペイリコスが「感覚認識を超えた物事を主張することは不可能である」と言う時、カントが「物自体に関して知ることもカテゴリーを適用することも不可能である」と言う時、ラッセルが「“全て”の命題を量化することは不可能である」と言う時、彼らは自らが不可能であると言うことを行っている。これらの哲学者はこの問題に気づき避けようと試みたが、結局、そのような挑戦は彼らが避けようとする矛盾のさらに著しいケースに至るのである。

2-2 限界矛盾
この注目すべきパラドックスの原因に対する最も単純な回答は、「人が思考の限界を画定する際に矛盾へ至らされるのは、まさにそのような限界それ自体が矛盾である」からなのだ。従って、この限界矛盾との遭遇は、その限界自身の矛盾的本性の説明に対する最適な議論のための基本となるのである。そして、Nが西洋哲学者と異なるのはこの限界矛盾を避けようとしなかったという点である。彼はそれを明白に見つめ、そして、受け入れていた（ヘーゲルと彼の後継者を除いてそれを行った西洋哲学者はほとんどいない）。加えて、Nは西洋で知られていない限界矛盾に思い当たっている（存在論のパラドックス）。そして、彼は、存在論のパラドックスと意味論のパラドックスの間に繋がりを指摘をもたらすする。

### 3　二つの実在と二つの真理
N哲学の中心は、慣習的実在と究極的実在という二つの実在に関する原理である。そして、これらの実在に対応する慣習的真理（sambrti-satya、漢訳：世俗諦）と究極的真理（param?rtha-satya、漢訳：勝義諦）という二つの真理が存在する。

3-1 慣習的真理
慣習的真理は、経験世界に関わる真理である。Nの古典的解釈者であるチャンドラキールティ（漢訳：月称）は次の三つの仕方で慣習的真理は曖昧（かつ相対的）であると言う。(1)日常的な真理：常識的・日常的に同意するであろう真理。(2)同意による真理：人々の同意によって形成される真理。(3)名目上の真理：特定の言語的慣習による真理（例えば、shoesとbootsは英語で異なるものであるがチベット語では同じihamである）。他方、チベットの「慣習的」（samvrti）という語は原理的に、”隠蔽すること、隠すこと、覆い隠すること、閉塞する”、といったネガティブな意味を持つ。そして、この原理的な意味での慣習的真理は真理を隠蔽する。だが、Nの慣習的真理の三つの意味がまとまることでこの原理的な慣習的真理に対抗するのである。

我々がNの慣習的・究極的真理（実在）の区別を探求する時、「慣習的」という語は、Nの論じ方の中に常にある内包性（connotations）の集まりによって理解されるため、最初にこの辞書学的なエピソードに触れることは重要である。しかし、この探求の中心は、究極的真理（実在）の概念を伴う。

3-2 究極的真理
Nの究極的真理（実在）を理解するに空（??nyat?）の概念を理解しなければならない。空は、非存在ではなく、むしろ、相依（縁起）的実在（interdependent existence）である。本質（svabhava、漢訳：自性）を持つものは、他のものから独立してそれ自身で存在するということであるため、この意味において、空であることとは本質を持たないことである。そして、Nにとって最重要な究極的真理は、「すべてが空である」ということだ。事実、MMKは人が本質として受け取る全てが、実際はそうではないという趣意の議論を多くを含んでいる（※１）。全ては本質を持たず、また独立した同一性を持たないのである。

3-3 究極的真理2（空の空）
Nは「全ては空（相依性）である」（全ては縁起によって立ち現れる）と言う。しかし、Nが空を説くこの命題自体も”全て”に含まれている。これが「空の空」であり、これは恐らくMMKの最も中心的な主張の一つである。MMKの７章で、「縁起はそれ自体で事物の（究極的）存在している特性である」ということが不合理であるということを示す。

西洋哲学者はしばしNをカント主義に適合させようとする（Murti、1955）。つまり、フェノメノンと慣習的実在を、そして、ヌーメノンと究極的実在を対応させるのである。しかし、Nの「空の空」は、究極的実在がカントの物自体のように考えることはできないということを意味する。なぜならば、究極的実在は慣習的実在と同じように空であり、つまり、それは単に、慣習的実在なのである。従ってこの異なる二つの実在は同一なのである。

### 4　ナーガールジュナは慣習的実在において矛盾を認めない
Nの限界矛盾に向かう前に、慣習的真理の領域における非矛盾律に対する彼の態度を見る。Nを非合理主義と解釈する人は、彼が慣習的領域において部分的に矛盾を真としていると考えるが（Robinson1957,Wood1994）、これは間違いである。Nは確かに矛盾を認めているが、それは慣習的領域においてではない。
・プリーストのN解釈
慣習的領域：矛盾を認めない
究極的領域：矛盾を認める
（根拠１）詩を文脈から解釈する
これには二つの根拠がある。N自身は慣習的領域において真なる矛盾が存在することを決して主張していない。もしくは、この領域における矛盾に関する主張は他のものへと還元されうる）。例えば次の詩を見てみる：
従って、空間は実在物ではない。
それは非実在物である。
特徴付けられず、特徴なしでは存在しない。
他の５つの要素に関しても同じことが真である。（MMK ５・７）
この詩を文脈から外れて独立的に取り上げた場合、確かにNは「空間（そして根本的な要素）は矛盾的な特性を持つ」と主張しているように見える。しかし、この詩を含む章は、抽象的観念などを具体化することの問題を取り上げている。そして、結局、彼は次の詩で結論する：
事物の実在と非実在を受け入れる愚か者と具現化主義者は、
経験される諸々の対象化の平穏を見ることがない。(MMK ５・８)
従って、Nは空間が矛盾的な特性を持つとは明らかに主張しておらず、それどころか、Nは矛盾的特性が究極的基礎とする特定の枠組みを排除しているのである（その他の例※２）。我々は、ここでNが正しいか間違っているかということに関与しない。しかし、我々はここで確かに矛盾的に見える事例においても、注意深く読解すれば安易な矛盾的解釈は排除しうると言いたい。また、排中律を排除しているとNを解釈するよりもはるかにマシなのは、Nは何を不正な存在論的仮定とみなしたかということにある。

（根拠２）ナーガールジュナは背理法を使用している
二つ目は、Nが慣習的領域で矛盾律を前提とする背理法を使用しているという点に求められる。Nの議論は、（矛盾律を擁護する）特定の立場への個人攻撃的な（ad hominem）論駁と位置づけられるため、根拠２は難しい。なぜならば、もし、Nが論敵の立場における矛盾点を指摘して論敵を論破する、と我々が主張するならば、”論敵の論駁”としてのみNの議論を考える必要がある、という解釈の可能性が開けるからである。この解釈によると、N”自身”は矛盾的な結論を問題あるものとして受け取っていない可能性がある。しかし、彼は論駁するためだけに整合的な論者に受け入れがたい結論（矛盾）を見いだしているだけなのだ。従って、もし我々がこの根拠２を主張するならば、特定のケースでN”自身”が矛盾を排除し、そして、慣習的主張（これの否定は矛盾を含んでいる）を支持していたということを我々は示さねばならない。

N自身の主張は、例えば、MMKの15章において見出される。そこでNは、「存在することは何であるか」と「特定の同一性を持つことは何である」は「本質」によって説明されるという主張を考察しこれを批判する（１５・６）。この批判は次のことを土台とする：
もし本質がなかったならば、他に何があるのだろうか？
もし本質があるならば、他に何があるだろうか？（MMK １５・９）
この議論の中で、Nは、存在、変化、そして、差異という本質に依拠する考えは、矛盾へ至ると言う。確かに、「事物は移り変わる」（諸行無常・非恒常性）は、Nが擁護する仏教の教義の中心的なテーゼである。しかし、もし事物が移り変わり、そして、「本質」が事物の存在、差異、変化を説明するならば、事物は相反する性質を認めなければならない（固有性のために諸事物は本質を所持している。諸本質は普遍的であるという事実から移り変わる事物は本質を持たない）。これは矛盾なのでNは本質を排除する。これがMMKの中心的な動機付けである。

以上により我々は＜Nは勝手気ままに矛盾を容認していない＞ということだけでなく、＜慣習的真理を議論するとき彼は背理法の推論のように矛盾を採用する＞と結論する。

---

## 注
\*1　14世紀のチベットのGorampaは例外で、Nges don rab gsalにおいて彼はナーガールジュナは全ての思想とす全ての概念を必然的に完全に偽であり欺瞞であるとみなしていると言う。しかし、そのGorampaであってもナーガールジュナがこの結論を主張(実際にsoundlyに)しているということに同意する。

---

## 参考文献

<!--  -->

<div align="right">
    First post &nbsp; 2008/10/08
    <br>
    Last updated&nbsp; 2012/03/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}


