{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}">次へ &gt;&gt;</a> 
</h5>

# Descartes' scepticism and Barry Stroud's interpretation #1

### Descartes’ argument 
1.  	All my beliefs about the world are based on sense experience.
- 	All my beliefs about the world presuppose the principle that my sense experience is a reliable guide to the nature of reality.
- 	The principle that sense experience is a reliable guide to the nature of reality stands in need of a justification.
- 	The sceptical hypotheses; that all my experience is the result of a dream, all my experience is the result of direct action on my mind or brain by an evil genius or scientist who is out to deceive me- show that my experience could be exactly as it is and yet have a source that is entirely deceptive.
- 	I cannot rule out the sceptical hypothesis that all experience might be deceptive on the basis of sense experience.
- 	There is no other way to rule out the sceptical hypothesis.
- 	Insofar as all my beliefs about the world are based on this principle, none of them is justified.
- 	I am not in a position to form any warranted belief about the world on the basis of sense experience.

The conclusion of the argument is extremely sceptical: we cannot justifiably use experience as a means for arriving at warranted beliefs about the world. For all we know the whole of experience could be a single grand illusion. The argument leaves us with the raw data of sense experience, where this is understood purely subjectively, in a way that does not involve the existence of anything outside the mind.

### Stroud’s Version of Descartes’ argument
1.  	Everything I know is based on sense experience.
- 	On the basis of my current sense experience I know that this is a hand.
- 	In order to know that this is a hand on the basis of my current sense experience, I must know that this experience is not the result of a dream.
- 	Since everything I know is based on sense experience, I must know on the basis of my current sense experience that I am not currently dreaming, in order to know that this is a hand.
- 	In order to know that I’m not dreaming on the basis of my current sense experience, I must first of all know that I’m not currently dreaming.
- 	Therefore, I cannot know that I’m not currently dreaming.
- 	Therefore, I cannot know on the basis of my current experience that this is a hand.
- 	The same argument can be given for any claim to know something on the basis of sense experience.
- 	Therefore, I cannot know any proposition about the world based on sense experience.
- 	Therefore, I cannot know any proposition about the world.

<hr>

Both versions of the argument make assumptions about conditions for our knowing that a given proposition, p, is true. Stroud gives a weak and a strong version of the conditions for knowledge that the argument assumes, and claims that the argument goes through on the basis of the weaker principle.

Strong Infallibility Principle: in order for an agent, A, to know a proposition, p, A must have evidence that rules out every possibility that A knows to be incompatible with the truth of p.

Given that we know that our merely dreaming that there is a hand in front of us, or know that being a brain in a vat of nutrients being fed experiences through a computer, is incompatible with the truth of the proposition ‘this is a hand’, it follows from the Weak Infallibility Principle that we must have evidence that rules this possibility out in order to know ‘this is a hand’. And this is enough to get us to the sceptical conclusion.

We can set out a schematic version of the argument as follows:

- P1: in order for me to know an everyday proposition, p, I must know I’m not a brain-in-a-vat (BIV).
- P2: I cannot know I’m not a BIV.
- ∴I cannot know p.

---

## 参考文献


<!--  -->

<div align="right">
    First posted &nbsp; 2006/10/29
    <br>
    Last updated&nbsp; 2006/10/29
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}">次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}