{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# メルロ=ポンティ「知覚の現象学」

## メルロ＝ポンティの現象学
「知覚の現象学」の冒頭でメルロ＝ポンティは`現象学とは何か`といった根源的な疑問を提示する。この問題に対しまず彼はフッサールの現象学的還元を再考しそれを批判する。つまりメルロ＝ポンティは実存論的な客観主義(自然科学)と、世界を対象として構成する意識を前提とする観念論的な主観主義、つまり身体をデカルト的に言論が主張する二つの異なる物質(精神と物体)のどちらにも還元すること拒否し、それは`両義的な存在`であると結論する。

つまり身体とは主体の器官としての、いや主体の存在そのものであるような｢生きたからだ｣であるという第三の次元を指し示している。そして身体と世界とが互いに交差し侵食しあっているこういう我々の意識的な思考や反省や科学的な研究や哲学的思索が始まる以前にすでにそこにある見慣れた始原的な経験の世界への還帰、言い換えると｢生活世界｣の深遠への終わりなき還帰こそメルロ＝ポンティは現象学の中心課題とみなしていた。
<blockquote>
事物そのものへ立ち返るとは、認識がいつもそれについて語っているあの認識以前の世界へと立ち返ることであって、一切の科学的な規定は、この世界に対しては抽象的・記号的・従属的でしかなく、それはあたかも、森とか草原とか川とかがどういうものであるかを、我々にはじめて教えてくれた具体的な風景に対して、地理学がそうであるのと同じことである。<cite>要引用箇所</cite>
</blockquote>

つまりメルロ＝ポンティによると我々は常に自明な世界のうちに生きており、この根源的なかかわりを絶つことなどできない。よってフッサールの`世界との関係を断ち切って「純粋意識」に立ち返ることを目的とする`現象学的還元とは異なり、彼にとっての現象学的還元とは、`あまりに自明であるため気づかれないこの「生活世界」に気づくため、一歩後退してみる`ことを目的としている。(「還元の最も偉大な教訓とは、完全な還元は不可能だということなのである」)。そして現象学的な探求とは、このような反省の努力の中で一瞬浮かび上がる非反省的生活世界とそこにおける見慣れた世界の様相を何とか記述しようとする不断の努力なのである。それは知覚が組織化し意味づける世界を絵画や文学などによって表現する芸術と同じように、現象学もまたそれらを論述によって表現しようとする努力なのだという。
<blockquote>
現象学はバルザックの作品、プルーストの作品、ヴァレリーの作品、あるいはセザンヌの作品と同じように、不断の辛苦である－同じ種類の注意と脅威とを持って、同じような意識の厳密さを持って、世界や歴史の意味をその生まれでずる状態において捉えようとする同じ意思によって。<cite>要引用箇所</cite>
</blockquote>

## 身体論
デカルトの心身二元論は心と体それぞれが別々の物質であり、我々はその二つを併せ持つ二重の存在であると説明したが、二つの異なる実体がどのように相関関係を保っているのかという決定的な問題をもち、随伴説やライプニッツの予定調和など様々な議論に発展した。メルロ＝ポンティは、これをゲシュタルトを用いて説明する。「行動の構造」でも触れるようにゲシュタルト心理学によれば心と体は異なった異質の実体ではなく、二つの異なった水準のゲシュタルトであると解釈する。そして身体とは心より統合度の高いゲシュタルトであり「既得の現象法的基盤」であり、また心とはその基盤から浮き上がってくるものなのである。例えるならば、心とは身体という地の上に意味として浮き出してくる図だということになる(心や図はより統合度の高い体や地によって浮き彫りとなる)。そして図が、地を離れてはありえないように、心は身体を離れてはありえない。私の身体、私がそれを行き、それを経験している身体をメルロ＝ポンティは`現象学的な身体(生きた身体)`と呼ぶ。とりあえずは、私にとって現れるがままの身体ということであり、これが精神と物体とは異なった「両義的」という第三の次元である。これを示す例として精神医学から幻影肢を持ってくる。

## 両義的な身体(幻影肢の例)
戦場や不慮の事故によって腕や足を失った人が、そこに手足がないにもかかわらず、手足の末端にかゆみや痛みを感じることがある。この現象を生理学的に説明しつくすことはできない。幻影肢は負傷した際の状況を再現させるような環境に突然感じ始められることもあり、また手術の直後には酷く生々しく感じられた幻影肢が、患者が切断を納得し、手や足の欠如を折り合いを付け始めると消失するケースもあるからである。つまり幻影肢という現象はある特殊な記憶、妄想、幻覚のようなものとして心理学的な説明を要するようにみえる。けれども他方、切断部分から脳に向かう感受的伝道路を切断すると、幻影肢は直ちに消失するという単純な生理学的事実を前に、心理学的な説明も挫折することになる。

このようにこの現象は生理学的説明(身体)と心理的説明(意識)という二分法のいずれによっても説明できない。身体は、単なるものではなく、また純粋な意識でもない。物としての身体というレベルで、確かに失われた手足はすでに存在していない。幻影肢はけれどもただの意識の事実として現れるわけでもない。つまり我々は心的なもの、もしくは生理的なものといった次元から脱却せねばならない。そしてその先にある新たな規定こそが`両義的な身体`(生きた身体)なのである。そしてそれを規定する際、メルロ＝ポンティが注目するのは、幻影肢を訴える患者にとっては二重の仕方で経験されているという事実である。つまり患者は一方では「対象としての身体」においては手足が欠損していることを知っているが、他方では「習慣的な身体」にあって患者はその四肢の欠損を否認しているのだ。「幻影肢とは過去になろうとしない旧い現在」。次では習慣としての身体を論じるために「シュナイダーの症状」というもう一つの精神医学からの例を用いる。

## 抽象的運動と習慣的運動(シュナイダーの症状)
この例は、戦場で大脳の後頭葉を損傷した若者であるシュナイダーの症状である。彼は、例えば鼻の先に蚊がとまったら手で蚊をはらうことができるし、鼻がつまれば洟をかむこともできるのだが、医者に目を閉じたまま鼻を指すように命じられてもそれができない。腕を横に伸ばすことはできるのに、腕を水平に上げるように命じられたらそれができない。つまり彼は生活に必要な運動なら、それが「習慣的運動」である限り難なく行えるのだが、「抽象的運動」(なんら実際的状況にも向けられていないような運動。例えば、純粋な支持行為や純粋な身体運動)は不可能なのだ。

## 身体図式
メルロ＝ポンティによると、患者は自分の身体がその中に位置している空間というものを｢自分の習慣的な行動の素地｣としては意識しているのだが、「客観的な環境」としては意識しない。それに呼応して、彼の身体も「慣れ親しんだ自分の周囲には入り込む手段」(蚊をはらったり、洟をかんだり)としては意のままになるが、｢非功利的でとらわれない空間的思考を表現する手段｣(抽象的指示による運動)としては意のままにならないというのである。つまり蚊を払うのに客観的空間を認識する必要はないのであり、それとは異なった「現象的なものの次元」で蚊をはらっているのである。このように我々の身体は、様々な感覚や運動をお互いに結び付けて、そこから一つの実践的なゲシュタルトや構造を浮かび上がらせるという機能を持っている。

それをメルロ＝ポンティは心理学用語を用いて`心的図式`と呼ぶ。つまり身体は、運動や感覚を各々の要素的内容を超えたゲシュタルトや構造として認識しているため。感覚を筋肉運動に即座に変換したり、ある身体部位の筋肉運動を他の身体部位の筋肉運動に瞬時に翻訳したり、ある感覚を他の感覚と瞬間的に交流させたりできるのである。こうゆう図式を持ったとき我々ははじめて身体を持つといえるのである。「私の身体とはまさしく相互感覚的な等価関係と転換との完全に出来上がった一体系」。<cite>要引用箇所</cite>

## 習慣による心体図式の拡張と縮小
このような身体のあり方は習慣によって特徴付けられる。例えば自動車の運転などは何度も繰り返し行われるため習慣化され身体で覚えている。メルロ＝ポンティはこれをこう説明する。「正常者にあっては、知覚を通じて対象の中に浸透し、対象の構造を己の内に同化するということが起こる。」また我々の身体を通じて、対象が直接的に我々の運動を規制する、主体と対象のこうした対話、もしくは交互作用を「相貌的知覚」とカッシーラの概念を用いて説明する。

そして新たな習慣の獲得は、ただのものそしての身体によっても、純粋な意識によっても説明することができない事柄である。習慣は例えば、身体的な身振りの繰り返しによって獲得される。例えばタッチタイピングは指の運動と画面にの文字の変化という世界の変貌を意識を介さずに行う。タッチタイピング習熟した人にとってタイピングする際逐一どこのキーボードがどの文字に対応しているかといったことを知っている必要はない。それはまるで自分の身体の位置を把握しているかのようにキーボードの位置を把握し、目の前のものをつかむかのように文字を打つのである。それはあたかも蚊に食われた場所を掻くのに空間を把握する必要がないのと同じであり、習慣とはこの「身体図式の組み換えと更新」なのである。

我々はこのように認識したゲシュタルトをシンボル化し翻訳が可能なため我々は身体を拡張することも縮小することもできる。杖や靴、つばの広い帽子などを使うことに慣れると、それらが自分の身体の一部かのように微細な感覚までも感じられるように、車の運転に慣れると車幅感覚を把握できるように身体の図式が習慣よって拡張されてゆくのである。そして上で見た幻肢痛の現象もこの習慣という概念を用いて再度説明しなおすことができる。つまり、始原的習慣として働く我々の身体と、これを地盤とし二重に存在する「対象としての身体」の一部が失われたため「習慣としての身体」が露出してしまったのだ。そして習慣化した身体は切断以前の実践的領野を保持使用するためそれが幻影肢として現れるというわけである。だから患者が切断後の状態に適合、習慣化できれば幻影肢はなくなるのである(身体図式を縮小できる)。


---


## 参考文献
- {{reference.fr11}}
- {{reference.fr18}}
<!--  -->

<div align="right">
    First post &nbsp; 2007/06/10<br>Last updated&nbsp; 2009/05/29
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}