{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# サルトル「存在と無」 #2 対自存在と無
## 即自存在
サルトルは、世界には、即自存在という無限に自己を肯定する存在のほかに、それとは全く異なった存在領域があるという。先に見たように即自存在は、「それがあるものであるところの存在」である。それは公園のベンチでありマロニエの根である。しかし、人間はどうだろうか。人間は存在について問うことができる。この存在に＜ついて＞問う、もしくは存在に＜ついて＞何かを肯定したり否定したりする意識の働きが即自存在とは異なるということを示している。フッサールが言うように意識とは常に「なにものかについての意識」(志向性)であり、その志向的な対象はつねに即自存在を指し示す。この意識という能動性を持つ存在を、「対自存在」と呼ぶ。これがもうひとつの存在領域であり、それは｢あるところのものではない存在｣と規定される。(自己自身を反省する場合であっても、対自が自分自身を対象とするというその行為そのものによって、その反省される自己を、もともと対象とはならない対自存在それ自身とは違ったあり方をしているもの、つまり即自存在のようなひとつの物体にしている。) 

## 無の分泌
つまり、志向的意識を持つ対自は即自存在のように、自己を無限に肯定しそこに永久にとどまるものではなくて、志向的意識という自らの能動性を発揮し存在を否定することが可能である(鉛筆はこのテーブルに＜ない＞。このカフェにピエールはい＜ない＞)。そのため対自とは常に可能性に生きる存在である。そうすると対象を志向する関係としての意識はどんな場合でも｢否定｣の関係であり、しかも志向性が対自存在の本質必然性である限り、この否定という要因もやはり対自存在の必然性であるといわねばならない。いやむしろ対自存在とはこの否定作用そのものである。それというのも、対自存在は即自存在を志向することによって、自身をその即自存在で｢ない」もの(｢無｣として)として、発見するからである。この意味で、「無」であること、純粋否定であること、それが対自存在の根本的な存在規定でなければならない。

## 対自の事実性
対自とは、存在を否定して、存在性を喪失させて自分を無化させても、あえて自分を根拠付け意味づけようとする試みに他ならない。対自は｢自己を対自として根拠付けるに、即自としての自己を失う」存在なのである。しかし、対自がいかに存在から逃れでようとも、存在は常に対自を包んでいる。対自は自分を無化させ、自分に意味を与えるが、同時に対自として存在しなければならない。なぜなら、対自は対自で＜ある＞からであり、その限りにおいて、対自もやはりひとつの存在であるからである。だから、**対自は自分の存在を拒否しつつ存在し続けなければならないという矛盾した二重性に生きているのである**。対自が存在について意識するのは、存在の以前においてでもなければ存在の以後においてでもなく、まさに存在のさなかにおいてである。｢即自は、やはり、対自の懐に、その根源的な偶然性としてとどまっている。」「即自の絶えず薄められてゆく偶然性は、対自に付きまとい続ける」これをサルトルは「対自の事実性」と呼ぶ。

## 人間は実存する
対自は自らを無化する即自存在という矛盾した二重性を持つ。そのため、対自存在である人間は自分自身で完結する即自のようにあるのは不可能である。そして、人間はこのような自身の無化によって自分自身を脱自的に更新することを常に強いられている存在である。このようなありかたが`実存する`と言われる。そして、`「実存が本質に先立つ」`というサルトルの実存主義哲学の中心テーゼがここで成り立つ。

そして、即自存在の無化する働き、これが`意識`である。意識によって生まれた無は、即自存在の中に生じる「孔」である。
「意識は存在の崩壊であり、存在の中に生ずる穴であり己の存在を絶えず無化して自己へ現前せしめる意識作用によってあらしめられるに過ぎない。」[4. p.132]。
無とは即自存在の性質ではなく対自(人間)の即自存在を無化する意識にその源泉を見いだせる。
人間には即自存在としての肉体がある一方で、それらを超えて意識によって自らを含む即自に対して無を分泌する。
これが、自らを無化する即自存在という二重性を持つという意味である。

<!-- そして、意識とは`「その存在が己以外の存在に関わる限りにおいて、己の存在が己の存在において問題になる存在」` -->

<!-- 
人間はこのような無によって、かつてあった自分自身から、つまり己れの本質を引き離して進む存在、「己があるところのもの｣であるべき存在であり、己れの全一存在を否定して己の中に無をはらむことによって自己を脱自的に超越することを強いられている存在である。人間はその存在において脱自的なのである。だから人間は単に存在しているというのではなくて、「実存する」といわれるのであり、そこのまた「実存が本質に先立つ」というサルトルの実存主義の根本命題が生まれる所以がある。

それというのも結局は意識は、ハイデガーと同じようにサルトルにおいても、「その存在が己以外の存在に関わる限りにおいて、己の存在が己の存在において問題になる存在」であるからであり、そしてそこで生ずる割れ目である無によって常に脱自する対自存在が、「己れがそれでないところのものである存在」であり「己がそれであるところのものでない存在｣であるからである。 -->
<!-- してみると、意識は存在の崩壊であり、即自存在の無化としてのみ生じるといえる。意識によって生まれた無は、事物のようにあるのではなく、存在の中に生ずる穴であり己の存在を絶えず無化して自己へ現前せしめる意識作用によってあらしめられるに過ぎない。だから「無が与えられえるとすれば、それは存在に先立ってでも後においてでもなく、果実における虫のように、存在真っ只中に、中核においてである」。 -->
<!-- とすると無は決して即自存在そのものに由来するのではなく、むしろ無の源泉である人間を通して、即自存在を否定し無化する意識によって現れると考えられねばならない。 -->
<!-- かくして人間は無そのものであるばかりでなく、意識によって生まれる無の中にもいるということになるであろう。とはいえ、このことは人間が全体として無であることを意味するのではない。人間には即自存在としての肉体、自己、習慣などがある。しかし特に人間的なものはそれらを超えて無の中にあるのである。(最後の2段落は佐々木一義「実存哲学入門」p132より一部省略し抜粋) -->
<!--  -->




---

## 参考文献
1. <span class="cite1">{{reference.exist5}}</span>
1. <span class="cite2">{{reference.exist4}}</span>
1. <span class="cite3">{{reference.exist6}}</span>
1. <span class="cite4">{{reference.exist7}}</span>

<!-- 
※松浪信三郎「サルトル」
松浪信三郎「実存哲学」
パルマー「サルトル」
佐々木一義「実存哲学入門」を参考

 -->

<div align="right">
    First posted &nbsp; 2008/02/18<br>Last updated&nbsp;  2008/02/20
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}