{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 認識論#1 知識とはなにか
<br>
## 「知っている」の種類

我々は、「～を知っている」（I know that Tokyo is the capital of Japn）という。そして、「知っている」という語が適用されるケースは大まかに分けて4種類ある。

1. 命題知（know-that）：私は「日本の首都が東京であること」を知っている。
- 非命題知（know-what-it-is-like）（クオリア、見知りによる知識）：私は「赤色がどのようなものか」を知っている。
- 何であるかの知（know-what）：私は東京タワーが何であるか知っている。
- どのようにするかの知（know-how）：私は「自転車の乗り方」を知っている。

そして、ここで言われる知識とは、「１、命題知」のことである。そして、また、ここで取り扱う知識とは、経験的命題である。
<hr>
## 知識の定義

### 知識の一般的な定義
一般的に我々が「～知っている」と言うとき、我々は何らかの真実を信じているということを意味する。つまり、知識の条件は、まず信念と真実が必要とされる。
<blockquote>
　　　SはPを知っている（知識）:=（１）SはPを信じている（信念）、かつ、
　　　　　　　　　　　　　　　　（２）Pは真である（真実）
</blockquote>

しかし、この定義では偶然、真実と根拠なき信念が一致した場合もそれは知識であるといわれてしまう。例えば、私は今日なんとなく雨が降ると信じており、そして、実際に雨がふった。この場合、私は今日雨が降ると知っていたとは言えないだろう。

### 伝統的な知識の定義
上の定義では、知識に正当な根拠や理由がない。これでは、知識とは言い難く、そのため、上の定義にもう一つ条件を加える

<blockquote>
　　　SはPを知っている（知識）:=（１）SはPを信じている（信念）、かつ、
　　　　　　　　　　　　　　　　（２）Pは真である（真実）、かつ、
　　　　　　　　　　　　　　　　（３）SはPを信じるのに正当な理由をもつ（正当化）
</blockquote>

この定義がプラトンの『テアイテトス』で主張され、またカントの『純粋理性批判』においても見ることができる伝統的な知識の定義である。「知識とは、正当化された真なる信念である」（Knowledge is justified true berief）と省略される。信念の正当化は、可謬であるか不可謬であるかという問題と、正当化はどのようになされるかという問題は重大なものであるが、この問題は後回しにする。

### ゲティアー問題（Gettire problem）
この伝統的な知識の定義にゲティアー（Edmund Gettier, 1927-）は、「Is Justified True Brief Knowledge?」（1963）という論文において二つの反例を提示した。

##### 反例１
- 「スミスはジョーンズが採用されること、また、ジョーンズのポケットには10枚の硬貨が入っている」、と信じており、また、その信念は正当化されているとする。
- ここから、「採用される人はポケットに10枚の硬貨を持っている」と演繹してこれを信じており、そして、この信念は正当化されている。
- しかし、採用されたのはスミスであり、かつ、ポケットに10枚硬貨をもっていた。

これは、古典的な知識の条件をすべて満たしている。

1. SはPを信じている（スミスは「採用される人のはポケットに10枚の硬貨を持っている」と信じている）
1. Pは真である（「採用される人はポケットに10枚の硬貨を持っている」は真である）
1. SはPを信じるのに正当な理由をもつ（スミスは「採用される人はポケットに10枚の硬貨を持っている」を信じるのに正当な理由をもつ）

しかし、条件を満たしているからといって、スミスが「採用される人はポケットに10枚の硬貨を持っている」は知っていただろうか。「採用される人はポケットに10枚の硬貨を持っている」という命題が真なのは、スミスが採用され10枚の硬貨を持っているからであるが、スミスはそれらはすべてジョーンズに関することであると思いるのであり、それを知らないのである。

##### 反例２
<ul>
    <li>スミスは、ジョーンズはフォードを所有しているということを信じるのに正当な理由がある。</li>
    <li>スミスはブラウンがバルセロナにいるようになんとなく感じた。</li>
    <li>スミスは、「ジョーンズはフォードを所有しており、もしくは、ブラウンはバルセロナにいる」を信じるのに正当な理由がある（∨introduction）</li>
    <li>しかし、実際には、ジョーンズはフォードを所有していなかった。そして、ブラウンは偶然にもバルセロナにいた。</li>
    <li>よって、スミスが信じていた「ジョーンズはフォードを所有しており、もしくは、ブラウンはバルセロナにいる」は真であったが、スミスはこれを知っていたとはいえない。</li>
</ul>

この反例から明らかになることは、正当化された信念で実際にそれが真であったとしても、それが偶然であり誤らないという保障はないということである。ゲティアーの論文当初は、古典的な定義に条件を付け足したりすることによってこの事態に対処していた。例えば、

- （４）－１、（２）は、（１）かつ（３）が偶然的でないことを保障する。
- （４）－２、SのPという信念は、世界に生じているPという事態が原因となって引き起こされたものである。
- （４）－３、SがPということを信じるために持っている理由Rが、次の条件を満たす。すなわち、もし現実の事態がPでなかったなら、AさんはRをもたなかっただろう。

これらは、外在主義的な条件である。


---

## 参考文献
- {{reference.ana22}}
- {{reference.ana25}}
- {{reference.ana18}}

<!-- 
- 知識の哲学（戸田山和久）
- 分析哲学入門（竹尾治一郎）
- 現代哲学入門（西脇与作）

 -->

<div align="right">
    First post &nbsp; 2009/08/21
    <br>
    Last updated&nbsp; 2009/08/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}