{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# Moore’s "Proof of an External World" #2

(1) I can prove now, for instance, that two human hands exist. How? By holding up my two hands, and saying, as I make a certain gesture with the right hand, ‘here is one hand’, and adding, as I male a certain gesture with the left. ‘And here is another’. And if, by doing this, I have prove ipso facto the existence of external things, you will see that I can also do it now in a number of other ways: there is no need to, multiply. (Proof of an External World)

- P: Here is one hand and here is another
- C1: Two human hands exist
- C2: At least two external objects exist

Moore claims that his proof meets the following three conditions:
1. The premise is distinct from the conclusion
2. He knows the premise to be true 
3. The conclusion follows from the premise

Expanding on condition 2, Moore writes:

(2) How absurd it would be to suggest that I did not know it, but only believed it, and that perhaps it was not the case. You might as well suggest that I do not know that I am now standing up and talking - that perhaps after all I'm not, and that it's not quite certain that I am. (PEW)

Moore acknowledgew that there are philosophers who will not accept that his proof is satisfactory.

(3) it is not quite easy to say what it is that is such that unless they got a proof or it, they would not say that they had a proof of external things; but I can make an approach to explaining what they want by saying that if I had proved the proposition which I used as a premise In my proof, then they would perhaps admit that I had proved the existence of external things, but in the absence of such a proof (which, of course, I have neither given nor attempted to give), they will say hat I have not given what they mean by a proof of the existence of external things. (PEW)

(4) I can know things, which I cannot prove; and among the things which I certainly did know, even if (as I think) I could not prove them, were the premise of my proof. (PEW)

(5) Any valid argument which can be brought against (the sceptical position) must be of the nature of a petition principii: it must beg the question at issue. How is the sceptic to prove to himself that he dies know any external fact? He can only do it by bringing forward some instance of an external fact, which he does know; and, in assuming that he does know this one, he is, of course, begging the question at issue. It is therefore, quire impossible for anyone to prove, in one strict sense of the term, that he does know eternal facts. I can only prove that I do, by assuming that in some particular instance I actually do know one. That is to say, the so-called proof must assume the very thing which it intends to prove. The only proof that we do know external facts lies in the simple fast that we do know them. And the sceptic can with perfect internal consistency deny that he does know any.

Sceptic: 

- P1. If I am dreaming at t, then I do not have a sufficient reason for believing ‘this is a hand’ at t.　D⊃￢H
- P2. If I have a sufficient reason for believing ‘this is a hand’ at t, then I have a sufficient reason for believing I’m not dreaming at t.　 H ⊃￢D
- P3. I cannot have a sufficient reason for believing that I’m not dreaming at t.　D
- ∴ I do not have a sufficient reason for believing ‘this is a hand’ at t.　 ￢H

Moore:
- P1. If I am dreaming at t, then I do not have a sufficient reason for believing ‘this is a hand’ at t.　 D⊃￢H
- P2. If I have a sufficient reason for believing ‘this is a hand’ at t, then I have a sufficient reason for believing I’m not dreaming at t.　 H ⊃￢D
- P3. I have a sufficient reason for believing ‘this is a hand’ at t.　 H
- ∴I have a sufficient reason for believing I’m not dreaming at t.　 ￢D

両者の対立の根幹となっているのはP3である。ムーアは言う：

(6)私はそれ(I have a hand)を知っているし、あなた方も誰だってそれを知っている。そして、私の考えではこうなる。つまり、それを知らないという命題について、ないしはそれは真ではないという命題について、賛成の議論を提出する哲学者に対しては、問題なく難題を提出することができるのである。これらのような命題は、どこかで何かしらの前提に依拠している。だがその前提は、当の命題が攻撃するはずの命題に比べ、その確かさにおいて比較にならないほど劣っているのである。したがって、これらのようになこと果たしてわれわれは現に知っているのかという問い、そして、物質的な物事というものはあるのかという問いは、深刻に受け止める必要がないと私には思われる。これらの問いに対し、確信をもって、肯定的に子と得るのは、ごく簡単なことだからである。(Philosophical Studies)

(7) It is certainly logically possible that I should have been dreaming now; I might have been dreaming now; and therefore the proposition that I am dreaming now is not self-contradictory. But what I am in doubt of is whether it is logically possible that I should both be having all the sensory experiences and the memories that I have and yet be dreaming. The conjunction of the proposition that I have these sense experiences and memories with the proposition that I am dreaming does seem to me to be very likely self-contradictory. (C)





---

## 参考文献
- Proof of an External World, moore

<!--  -->

<div align="right">
    First post &nbsp; 2006|10|31
    <br>
    Last updated&nbsp; 2006|12|04
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}