{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# Crispin Wright's version of the Sceptical Argument #3

  
Wright points out that the sceptical argument that we looked at last week depends on the assumption of two principles concerning the concept of knowledge:

### Transmissibility Principle: 
if I have a sufficient reason to believe p, and I have a sufficient reason to believe $p\to q$, then I have a sufficient reason to believe q.

$
K(p\to q)\to (Kp\to Kq)
$

### Iterativity principle: 
if there is a sufficient reason to believe p, then there is sufficient reason to believe I have a sufficient reason to believe p.

$ Kp\to KKp$

### The sceptical Argument
We begin by accepting that we have a sufficient reason to accept:

A: if I am dreaming at t, then, for any proposition p, I do not have a sufficient reason to believe p at t.

$Dp\to\neg Kp$

So, we get:
$Kp\to \neg Dp$

Thus, if we accept A, we're led to accept:
$K(Kp\to \neg Dp)$

By distribution of $K$ operator, 
$KKp\to K\neg Dp$

Via the Transmissibility Principle, we may infer that:
$Kp\to K\neg Dp$

Thus, from accepting A and $K(Kp\to \neg Dp)$, together with the Iterativity Principle and the Transmissibility Principle, we may infer:

B: if I have a sufficient reason to believe p at t, I have sufficient reason (at t) to believe I'm not dreaming at t.
$Kp\to K\neg Dp$

So by contraposition:
$\neg K\neg Dp\to \neg Kp$

The sceptical conclusion follows if we can justify:

C: at no time do I have sufficient reason to believe I'm not dreaming at t
$\neg K\neg Dp$

The best justification for C is that in order to establish by any empirical test that $\neg Dp$, I will have to establish that I'm not dreaming that I'm applying the empirical test. Thus, as empirically based reason to believe I'm not dreaming is excluded. It follows:
$\neg Kp$

The whole argument can be written out as follows:
- (i)	$(Dp\to \neg Kp)$　(supposition)
-  (ii)	$(Kp\to \neg Dp)$　(i)(contraposition)
-  (iii)	$K(Kp\to \neg Dp)$　(iii,nec)
-  (iv)	$KKp\to K\neg Dp$　(iv,distribution)
-  (v)	$Kp$　(assumption)
-  (vi)	$Kp\to KKp$　(Iterativity Principle)
-  (vii)	$KKp$　(from (v),(vi))
-  (viii)	$K\neg Dp$　(from (vii),(iv))
-  (xi)	$\neg K\neg Dp$ (supposition)
-  (xii)	$\neg Kp$ (from (viii),(xi))


---

## 参考文献


<!--  -->

<div align="right">
    First post &nbsp; 2006|11|17
    <br>
    Last updated&nbsp; 2006|12|04
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}