{% extends "layout.html" %}
{% block content %}

<h5>
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# サールの哲学#1 言語行為
## サール（John Searle, 1932- )
サールは、オースティンを師とし、言語行為論を受け継ぐ。言語行為論は、語用論に属するとされる。

### ・語用論（プラグマティックス）
モリスの分類に従うと、言語の分析は、統語論（シンタックス）、意味論（セマンティックス）、そして、語用論（プラグマティックス）の三つに分けられる。言語には、文の構造や文そのものがもつ意味の他に、発話（言語行為speech act）という第三の捉え方をもつ。「君は優しいな」という発話は、文の通りに発話者が対話者のことを優しいと思っていることを意味しているときもあれば、反対に皮肉の表現であったり、または、愛情や友情表現であったり様々な意味を持ちうる。このような言語行為は、理想言語学や論理実証主義において無視されていたが、言語がもつ重要な要素である。

言語行為論の始まりはオースティンに求められる。彼は、「この船をクイーン･エリザベスと命名する」といった発話には、事実確認だけでなく、命名するという行為を遂行する目的があるとして、発話を行為の遂行として捉える方向を見出した。また、彼によると、発話によってなされる行為（「発話内行為」perlocutionary act）が、状況によって変化するのは、発話の意味を規定する発話内の「力」が変化しているからであるとする。このような言語観は、サールに受け継がれることになる。

<hr>

彼は言語行為を次の三つに分類する
- **発話行為（utterance act）**：言葉を発っしたり書く行為
- **発話内行為（illocutionary act）**：発話行為によってさまざまな行為を行う（例えば、謝罪、言明、命令）
- **発話媒介行為（perlocutionary act）**：発話内行為を媒介する行為（例えば、相手を発話内行為で納得させるという行為）

例えば、「この船をクイーン･エリザベスと命名する」という発話（発話行為）を介して、この船の命名に関する言明（発話内行為）を行い、そして、この言明を介して話し相手を納得させる（発話媒介行為）。だが、発話内行為が行われたからといって必ずしも発話媒介行為が行われるわけではない。発話媒介行為は相手の理解に左右されるため偶然的要素をもつ。サールは発話媒介行為についてはほとんど論じない。

## 命題行為と発話内の力
発話内行為は、「命題行為」と「発話内の力」にという二つ要素を持つ。
- 「サムはコーヒーを飲む」（言明）
- 「サムはコーヒーを飲むか？」（疑問）
- 「サム、コーヒーを飲め」（命令）

この３つは発話内行為は、「言明、疑問、命令」とすべて異なる発話内行為を行うが、「サム」をという対象を指し示し、「コーヒーを飲む」ということをその対象について述べている。つまり、それらは、すべて同じ「指示行為」と「述語行為」をもっており、つまり、共通する「命題内容」（「命題」）をもつ。しかし、事実、これらは異なる発話内行為をもつ。それは、このように発話内行為を特定のものに変化させる言語の特徴を サールはオースティンに習って「発話内の力」と称する。この「力」は、抑揚や語順の違いといったなんらかの命題の表明の仕方の違いであり、これによって発話内行為は変化する。発話内容をF、発話内の力をpとして、発話内行為はF(p)という関数で表現することができる。
<blockquote>
　　　　　　　　　　　　　言語行為
　　　┌──────┬┴───────┐
発話行為　　　　発話内行為　　　　　　　発話媒介行為
　　　　　　　┌───┴────┐
　　　　命題内容　　　　　　　発話内の力
　┌───┴──┐
指示行為　　　述定行為
</blockquote>

また、サールは、言語使用は規則に支配されているものとして、それを分析する。そして、発話内行為には、命題内容条件、事前条件、誠実条件、本質条件といった諸条件によって規定されており、このような条件から言語の使用規則を見出す。それは、命題内容規則、事前規則、誠実規則、本質規則である（詳細は下記参照）。

### ・発話内行為の条件と規則
言語使用は規則に支配されている。「約束」という発話内行為が成立する場合の諸条件を分析する。

1. 正常な入力と出力の諸条件が満たされている（冗談をいっているのではない、とか、二人の言語が共通しているなど）
2. （命題内容条件）話し手Sは、文Tの発話において、命題pを表現する（話し手は、約束する内容を話さなければならない）
3. （命題内容条件）Sは、ｐの表現において、ある未来の行為Aを、S自身に対して述定する（過去のことを約束できないため、約束はすべて未来に対するものである）
4. （事前条件）聞き手Hは、SがAをしないことよりもすることのほうを好むであろう。そして、Sは、自分がAをしないことよりもすることのほうをHが好むであろうと信じている
5. （事前条件）SとGのいずれにとっても、通常の事の成り行きによってSがAをすることになるということが、自明ではない（Sが自発的に約束Aを実行する）
6. （誠実条件）Sは、Aをすることを意図している（逆に言えば、Aを行わないことを意図していれば、Sは誠実ではない）
7. （本質条件）Sは、Tの発話によって自分がAを行う義務を負うことになるよう意図している（約束の本質とは自らに義務を負うこと）
8. 「Tの発話はAをする義務をSに負わせるものとみなされる」という知識KをHの内に生ぜしめる事を、Sは意図している（意図１）。Sは意図１の認知によってKを生ぜしめる事を意図し、Tの意味に関するHの知識によって意図１が認知されることを意図している。
9. SとHが話す言語の意味論的規則は、条件１～８がみたされるとき、かつそのときにのみ、Tが正しく誠実に発話されるようにする。

### ・発話内の力を示す言語的道具立ての使用規則

- **規則１（命題内容規則）** Pr（約束の場合の発話内の力を示す言語的道具立て）は、その発話によって話し手Sにある以来の行為Aが述定されることになるような文Tの文脈においてのみ、発せされる
- **規則２（事前規則）** Prは、聞き手HがSがAをしないことよりもすることのほうを好む場合に、また、Sが自分がAをしないことよりもすることのほうをHが好むであろうと信じている場合にのみ、発せされる
- **規則３（事前規則）** Prは、SとHのいずれにとって、通常の事の成り行きによってSがAをすることになるということが自明ではない場合にのみ、発せされる
- **規則４（誠実規則）** Prは、SがAをすることを意図している場合にのみ、発せられる
- **規則５（本質規則）** Prを発することは、Aを行う義務を負うこととみなされる

サールは、これ以降（1970年以降）は言語行為が前提としている志向性に着目して、これを基礎付けるために心の哲学へ向かう。


・主著 <br>
『言語行為』




---

## 参考文献
- {{reference.ana15}}
- {{reference.sci6}}

<!--
- アメリカ言語哲学の視点（冨田恭彦）
- 科学哲学者柏木達彦の春麗ら（冨田恭彦）

  -->

<div align="right">
    First post &nbsp; 2008/10/08
    <br>
    Last updated&nbsp; 2012/03/21
</div>
<h5>
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a>
</h5>
{% endblock %}