{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 実用主義的傾向#3 クワイン以後(哲学の自然化)
自然化された認識論以降、哲学の自然化という傾向に賛同し科学、哲学、芸術の明確な境界線をより薄めようとするローティの「新ぼかし主義」と、自然化に反発するパトナムの内在的実在論を確立する路線に分かれる。

### パトナム(Hilary Whitehall Putnam, 1926-2016)

#### 内在的実在論
形而上学的実在論を放棄し内在的実在論(プラグマティズム)への１８０度の転回。

#### 桶の中の脳(brain in a vat)

<ul class="book_list">
	<li>主著</li>
	<li>『理性・真理・歴史』Reason, Truth, and History (1981)</li>
</ul>

### ローティ(Richard McKay Rorty, 1931-2007)
`新ぼかし主義([en]new fuzziness)`

### クリプキ (Saul Aaron Kripke, 1940- )
`形而上学的転回`

<ul class="book_list">
	<li>主著</li>
	<li>『名指しと必然性』Naming and Necessity (1980)</li>
</ul>

---


## 現代の分析哲学へ
これ以降は、異なる学派による議論というよりも、分析哲学は英米から世界中に広がり、また、それから展開された領域は多様化した。また、そのなかでも特に自然化が最も顕著である心の哲学が言語哲学に変わって分析哲学の主役になっている。

### ダメット(Sir Michael Anthony Eardley Dummett, 1925-2011)

<ul class="book_list">
	<li>主著</li>
	<li>『真理という謎』Truth and Other Enigmas (1978)</li>
</ul>

### サール(John Rogers Searle 1932- )

<span class="para">言語行為論([en]speech act)</span>
サールは、他のアメリカ哲学者達とはことなり日常言語学派に属するオースティンを師に持ち、そして、言語行為論を引き継ぐ。言語行為(speech act)は、語用論に属すとされる。それは、統語論と意味論に続く第三の言語の特徴を研究する分野である。それは、言語の使用のされ方によってそれの意味が変化する特徴である。サールは、言語行為を、`発話行為([en]utterance act)`、発話内行為、発話媒介行為の三つに分ける。そして、命題内容を共有する発話行為でも発話内行為(意味)が異なるのは、「発話内の力」によるものであるという。例えば、「サムはコーヒーを飲む」(言明)、「サム、コーヒーを飲むか？」(疑問)、「サム、コーヒーを飲め」(命令)は、同じ命題内容をもつが語順や抑揚といった命題を使用する状況(力)によって変化している。そして、サールは、このような言語使用は、いくつかの規則によって支配されているとしてそれを分析する。命題内容規則、事前規則、誠実規則、本質規則などが挙げられる。

<span class="para">志向性による基礎付け</span>
また、サールは、言語を研究することによって、言語が前提とする志向性に行き着く。志向性とは、何かについての意識である。言語行為が成立するにはまず何かについての意識がなけばならない。サールは、志向性を考察することによって言語を基礎付けようとして心の哲学へ向かう。彼は、「発話内の力」、「適合方向」、「充足条件」という言語行為の特徴が志向状態においてもそれらにきわめて類似する特徴が見出されることに注目する。しかし、言語行為においては他者がほとんど場合想定されているため二重の意図が見出される。そして、言語行為におけるこの二重の志向性によって言語行為を解明でき基礎付けできると考える。

<span class="para">中国語の部屋(Chinese Room)</span>

<ul class="book_list">
	<li>主著</li>
	<li>『言語行為』Speech Acts: An Essay in the Philosophy of Language (1969) </li>
</ul>

---



## 参考文献
- {{reference.hist11}}
- {{reference.hist19}}
- {{reference.ana19}}
- {{reference.hist9}}
- {{reference.ana17}}


<!--  -->

<div align="right">
    First post &nbsp; 2008/10/08<br>Last updated&nbsp; 2012/03/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}