{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# クワイン「経験主義の二つのドグマ」#2 還元主義というドグマ
## 二つ目のドグマ(還元主義)
クワインは、一つ目のドグマで同義性を前提とする分析性という経験主義の根本について批判を展開した。次に見直すのは、論理経験主義の検証原理を支える還元主義である。ウィーン学団は、理論はそれをを構成する個々の命題に分析でき、それぞれの命題に対し検証を行えると考えた。これをクワインは、`過激な還元主義([英]radical reductionism)`と言う。これは、つまり外的知識を感覚所与命題に翻訳する、すなわち、内在的に外在的知識を基礎付けるという不可能な試みである。カルナップもこれを後に認めて諦めている。しかし、クワインがいうには、このドグマはその過激さを薄めつつ検証原理のうちに残っているという。それは：
<blockquote>
個々の言明、個々の総合的言明には、可能的な感覚的出来事からなる、二つのある決まった領域が対応しており、第一の領域に属する感覚的出来事のどれかが生ずれば、それは、当の言明が真である公算を高めるように働くが、他方、第二の領域に属する感覚的出来事の出現は、その公算を低めることになるという考えである。
<!-- <cite>要引用箇所</cite> -->
</blockquote>

つまり、「個々の言明は他の言明から独立していて、個別に検証を行うことができる」(プロトコル命題は分析によって独立させることが可能)という還元主義の前提が検証原理には含まれている。クワインによるとこの第二のドグマは第一のドグマを支えている。つまり、個々の独立した命題を取り出し検証することによって、第一のドグマである総合性と分析性の二元論に峻別しているのである。

クワインの第一のドグマに対する批判はそれほど強力なものではないが、彼が論理実証主義をこの論文で論駁する際に決定的であるとしたこの第二のドグマ批判は、薄められた還元主義(分析によって独立した命題を取り出し、それぞれに対し検証が可能)に対するものである。

<hr>
## デュエム＝クワインのテーゼ(Duhem-Quine thesis)

### デュエムによる決定的実験の否定
この批判は、フランスの物理学者`デュエム(Pierre Duhem, 1861–1916)`によって指摘された`決定的実験([英]crucial experiment)`の不可能性に端を発する。決定的実験とは、二つの競合する科学的言明に決着をつける実験のことである(光の波動説と粒子説における`フーコー(Leon Foucault, 1819-1868)`の実験<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>など)。例えば、もし言明Hが正しいならば、Pという観察結果が現れると予想される。だが、Pという結果があらわれなかったとする。それによって、言明Hに偽という決定的な決断を下すのが決定的実験である。

1. $H\to P$
- $\neg P$
- therefore, $\neg H$

しかし、実際はこのように、言明Hを偽と決定的な判断を下すことはできない。なぜなら、言明Hは単一の命題によって構成されているのではなく、無数の補助言明(補助仮説)に支えられており、それらが複雑に入り組んで連関しあっているからである(An＆A1＆A2＆.....)。そのため、実験の結果が期待する結果と反したばあい(～P)、それが示すのは言明Hが誤っているということではなく、無数にある補助言明Anのいずれかが誤っているという可能性を示すに過ぎない。しかし、この実験はそのどれを修正すべきかを教えてくれはしない(決定的ではない)。

1. $(H \wedge A_1 \wedge  A_2 \wedge \dots \wedge A_n)\to  P$
- $\neg P$
- therefore, $\neg H \vee \neg A_1 \vee \neg A_2 \vee \dots\vee \neg A_n$

### クワインによる拡張
以上がデュエムの決定実験の否定であるが、加えて、クワインこの検証の難解さを日常生活にまで拡張する<a class="<samp></samp>">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>
。例えば、「私の目の前に鉛筆がある」という日常言語による命題は、私の目の前に実際鉛筆があるならば真となる。しかし、この命題を検証するには、無数の条件をクリアしなければならない。それは、例えば、どのような角度から鉛筆を見たか、私の視覚は正常だったか、私は夢を見ていなかったか、火星人に妨害されていなかったか、などいくらでも条件をつけたすことができる。したがって、個々の言明は独立しておらず、実際はすべては複雑に連関しているため個別の言明を取り出すことはできない(グラデーションのように連続的である`連続主義([英]gradualism))`。そのため、経験主義が前提とする「すべての有意味な言明は、直接経験についての言明に翻訳可能である」と考えるのは、否定されるべきドグマであるという(このドグマが分析・総合の区別というもう一つのドグマを支える)。



---

## 注
<ul class="comments">

<li><span id="tyuu1">\*1. 
「地球の自転を証明する振り子の実験をし、フィゾー(A.H.L.Fizeau1819～1896)と共に光の速度を測定、のちに独立に水中での光速度が空気中よりも小さいことを見出し、光の波動説確立に寄与」(「広辞苑」より)。しかし、現在では、光は粒子であり、かつ、波動であるとされている。そのため、フーコーの実験は決定的なものではなかったということである。  </span></li>

<li><span id="tyuu2">\*2. クワインはデュエムに影響を受けたように言われるが、クワインは後のインタビューでデュエムのことを知らなかったと述懐する。  </span></li>
</ul>





<!--  -->

<div align="right">
    First post &nbsp; 2009/03/02
    <br>
    Last updated&nbsp; 2011/11/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}