{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# クワイン「経験主義の二つのドグマ」#3 ホーリズム
## 全体論(holism)
前回見たように、科学の言明はそれぞれ連続的で絡みあい全体を形作っているため、個々の言明に対し検証してなんらかの言語に個別に翻訳することはできない。この結論は、逆に、ある科学理論が期待する観察結果が得られなかったならば、それを構成するいずれかの言明を修正することによって全体の整合性を保持できるということである。つまり、デュエム・クワインのテーゼから、ある科学的理論は補助言明で修正することによって理論全体を常に真と(観測結果・感覚に反さないように)することが可能であるため、逆にいかなる経験も、ある言明を偽とすることはできない、ということが帰結する(アポステリオリな言明の存在の否定)。
<blockquote>
科学全体は、その境界条件が経験である力の場のようなものである。[...]　場全体は、その境界条件、すなわち経験によっては、極めて不十分にしか決定されないので、対立するような経験が一つでも生じたときに、どこの言明を再評価すべきかについては広い選択の幅がある。どんな特定の経験も、場の内部の特定の言明と結び付けられているということはない。特定の経験は、場全体の均衡についての考慮という間接的な仕方でのみ、特定の言明と結びつくのである。
体系のどこか別のところで思い切った調整を行うならば、どのような言明に関しても、何が起ころうとも真とみなし続けることができる。
</blockquote>

例えば、19世紀の天文学者`ルヴィリエ(Urbain Jean Joseph Le Verrier、1811-1877)`は水星の軌道計算をしたがニュートンの法則が予測するものと異なっていた(ニュートン力学によって予測される観測結果が得られなかった)。そのため、彼は、未知の惑星`ヴァルカン(Vulcan)`を補助言明として想定することによってニュートンの法則と経験の整合性を保とうとした。このように理論全体はさまざまな言明で成り立っており、この理論体系を検証しそれが期待する観測結果を得られなかった、これを構成するいずれかの理論を修正することにより全体の整合性を保てる。しかし、このどれが誤っているかは分からず、どれも改訂可能である。そのため、クワインはこれを`全面的改訂可能論`という。加えて、
<blockquote>
	全く同じ理由から、どのような言明も改訂に対して免疫があるわけではない。俳中律という論理法則の改定さえ量子力学を単純化する一手段として提案されている
</blockquote>

先の例の続きで、ルヴィリエが想定した惑星は実際には存在せず、ニュートン力学の予測に反する軌道はアインシュタインの相対性理論で説明された。このように、ニュートン力学や俳中律など、どんなに整合的で経験によって改訂不可能に見える命題も理論全体と照らすことで修正されうるのである。つまり、アプリオリな言明を「デュエム化」することにより、アプリオリな真理は存在しないと主張し第一のドグマを直接否定する。

このようにクワインは、検証理論そのものを否定したわけではなく、すべての言明は密接に絡み合っているため分析と総合の明確な二元論は成立せず、論理実証主義が考えるような個別の言明に対しての検証できないと主張したに過ぎない。彼は検証を個別に行うのではなく、命題の総合である理論体系全体に適用するものであると考える。これを`全体論(holism)`という。

## 全体論に対する批判(飯田、p249-256)
このように全体論は、それを否定するのに合理的ではないとされるアプリオリな言明に対しても 全面的改訂可能論を唱えそのアプリオリ性を否定する。このアプリオリな言明にはもちろん論理も含まれる。実際、古典論理にとって代わる新たな論理が近年提案されている(量子論理などの非古典論理学)。しかし、このように、アプリオリとされる言明に対してもその独立性をみとめず、それが帰結するものとあわせた全体を経験と照らし合わせることによって理論の取捨を行うと、無限後退に陥ることが`ライト(Crispin Wright, 1942- )`によって指摘されている。

クワインによれば、ある理論はほかの言明が複雑に絡み合う一つの全体である。そして、「感覚的経験の裁き」(検証)を受けるのはこの理論全体である。そして、この理論を$\Theta$とする。$\Theta$を構成する言明を連関させ全体を構成している論理をL(Lは例えば古典論理や直観主義論理であったりする)とする。そして、”$\Theta$からLに従って条件文(初期条件Iならば予測P)が導かれる”とする。これを(W)として次のように書こう。
<blockquote>
	$(W)　\Theta\vdash_L I\to P$
</blockquote>

この条件文におけるPが検証結果と検証結果と異なったとする。この場合、次のいずれかの対処法によってこの感覚の裁きを凌ぐことができるのだった。
1. $\Theta$を構成する言明を修正するか、もしくは
- $\Theta$を成立させているLを改訂するか、もしくは、
- 感覚的経験そのものを疑う
4. (W)を疑う

<!-- この条件命題Wのもとに$\Theta$は成り立っており、また、WによりLが導入されているのが分かる(WはLを導入するという規約もあるため、非古典論理学によってLを攻撃するのは間違い)。そのため、Wは$\Theta$からもLからも独立している。そして、Wを否定することによって感覚とPの不整合に対処することができる(Wを否定すると、先の選択肢を拒否することにほかならない)。 -->
ところで、全体論は独立した言明に対する検証を認めないのだった。そのため、 (W)もまた、 (W)から帰結するもの(Aとする)を想定し、これを含んだ全体において検証されねばならない。

<blockquote>
$(W_2)　(W)\vdash_L A$
</blockquote>

もし、これを全体論者が認めると、無限後退に陥る。このように論理などのアプリオリな領域でさえ改訂可能な全体であるとすると、まったく知識の土台を失うことになる。そのため、無条件に受け入れることが合理的であるようなアプリオリな言明は確かにあるように思われる。

## この論文がもたらした影響
クワインが批判したのは、単に論理実証主義における誤謬を指摘しただけでなく、分析と総合という伝統的な知識の区別だった。それはつまり、必然性の根源と期待された規約による分析性を根底から揺るがすものであった。このように、「ふたつのドグマ」が説得力に欠ける議論を内包しながらも重要とされるのは、分析性という伝統的な聖域にメスをいれ、それが根拠無きドグマであることを人々に気づかせたことが評価されたのである。しかし、だからといって、必然性を否定するのではなく、それはプラグマティックに説明されるとし、`プラグマティズムへの転回`を試みる。また、この全体論はのちに言語哲学において`翻訳の不確実性([英]indeterminacy of translation)`、`指示の不可測性([英]inscrutability of reference)`として展開される。





---

## 参考文献
- {{reference.ana31}}
- {{reference.ana25}}
- {{reference.ana18}}
- {{reference.ana19}}
- {{reference.ana11}}
- {{reference.ana21}}
- {{reference.ana12}}

<!--
- 言語哲学入門(ライカン)
- 言語哲学大全ＩＩ(飯田隆)
- 論理分析哲学(ヴリグト)
- 講座現代の哲学II(編集：末木剛博)
- 知識の哲学(戸田山和久)
- 分析哲学入門(竹尾治一郎)
- プラグマティズムと分析哲学
-->


<div align="right">
    First post &nbsp; 2008/10/08<br>
    Last updated&nbsp; 2012/03/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}