{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# デイヴィドソンの哲学#1 真理条件意味論

デイヴィドソンはクワインの弟子であり、師の哲学を批判的に受け継いだ。つまり、クワインは言語の意味に関して翻訳の不確定性を唱えて相対主義的な立場をとるが、これに対しデイヴィドソンは、クワインの全体論的・外延主義的立場を踏襲しつつ言語の意味について体系的な理論の可能性を模索した。そして、彼はタルスキの形式言語における真理論を意味論に転用し、また、これを自然言語に適用した。これによって根源的解釈の可能性を見出し、翻訳の不確定性を唱えた師クワインを乗り越えようとした。まずは、最初に、クワインの翻訳の不確定性概観してみる。

## クワインの根源的翻訳の不確定性（indeterminacy of translation）
クワインの師であるカルナップは分析性を説明するのに、規約主義の立場に立ち、ある命題が分析的であるのは、それが規約によって個別に定められているからであると説明する。しかし、この主張は、ある客観的真理によって分析的命題が成立しているのではなく、個々の命題における規約によって成り立っているという相対主義を内包する。そして、クワインはこれにより、客観的対象としての真実を否定し、また、これを前提とする翻訳の可能性を否定する。例えば、「机」という語を「table」という語に翻訳する際、二つが共通する本質的性質を理解しているために（内包的に理解しているために）これが可能であると考えるが、クワインは、「ことばと対象」（Word and Object）1960において、この本質的理解そのものを不可能なものであるとし翻訳を不可能なものであるとする。

また、この翻訳の不確定性の別の論拠で、未開社会における言語を翻訳しようとする言語学者の例がある。あるフィールド言語学者が実際にある未開社会へ行き言語を観察して翻訳する。そして、例えば、ウサギが出てきて現地人が「ガヴァガイ」と言ったとする。これを手がかりに、その学者は、「ガヴァガイ」は、「ウサギが横切った」などという意味と推測する。しかし、実際には、現地人が「ガヴァガイ」で意味することは、「ウサギの鼻」や「一羽の」や「小動物」かもしれない。観察を重ねてもこの事態は改善されない。つまり、言語学者は、決して現地人が使う「ガヴァガイ」の意味に到達できないのである。なぜなら、その意味は相対的で客観的に共有することができないからである。これは、言語の意味は相対的で決して共有することができないという言語観である（これは自らの理論である全体論を言語に応用したものであり、カルナップの規約主義とはまた異なる相対主義である）。

## デイヴィドソンのプログラム
クワインは、このように観察とそれによる帰納では言語の根源的翻訳は不可能であると結論する。デイヴィドソンは、クワインと語や文が客観的意味を持ちえないという視点を共有する。換言すればデイヴィドソンは、クワインの全体論を受け継ぎ言語の意味は内包的にもたらすとする従来の意味論を否定する。そして、この言語観においてクワインは、翻訳の不確定性という言語における相対的な立場に至るが、デイヴィドソンは“外延的に意味論を構築”することによって師の翻訳不可能性を乗り越えようとした（意味論を純粋に客観的世界との関係（＝真理値）によって構築）。これは「意味の全体論」と呼ばれる。この意味論の構成にデイヴィドソンはタルスキの真理論を援用する。

## 真理条件意味論（trueth-conditional theory of meaning）
デイヴィドソンは、タルスキの形式言語における真理論を意味論に採用する（タルスキの真理論 ）。デイヴィドソンは、この真理の理論がそのま意味の理論であるとすることによって外延的な意味論を形成する。

### 伝統的意味論の問題点

最初に伝統的な意味の理論の問題点を見る。伝統的な意味論（M）は次のように表現される：
- （M）　　　文「S」はpということを意味する
- （M文）　　文「Snow is white」 は雪が白いということを意味する

「S」は対象言語の名前であり、「p」はメタ言語の文でこれによって「S」に意味が与えられている。この（M）は非常に素朴で常識にかなった意味の捉え方である。しかし、クワインやデイヴィドソンは内包的な言語観を否定し外延的言語によって理論を構築する対場にある（\*2）。そして、「・・・は、～ということを意味する」という表現（結合子）は、先行する表現（～）の外延だけでなく、その表現の内包にも関係しているため、これに代わり内包性を排斥した意味論を探求する必要がある。

なぜ、「・・・は、～ということを意味する」という結合子が内包性を含意しているかというと、もし、この結合子が純粋に外延的なものであるならば、外延の等しい表現を交換しても文の真理値は変化しないはずである。しかし、

1. 「９は５より大きい」は、９は５より大きいということを意味する
2. 「９」と「惑星の数」は同じ外延をもつ
3. 従って、「９は５より大きい」は、惑星の数は５より大きいということを意味する

上の推論は、３において真理値が変化しており正しくない。なぜなら、「９は５より大きい」は、「惑星の数は５より大きい」ということを意味しないからである。そのため、「・・・は、～ということを意味する」は外延的文脈ではなく内包的文脈を形成しているといえる。

### タルスキの真理論から意味論へ（外延的な意味論の探求）
そのため、デイヴィドソンは、このような内包的な表現を外延的な表現に変え、そして、外延的に意味論を構築する。デイヴィドソンが、「・・・は、～ということを意味する」という表現の変わりに導入する結合子に課す条件として、次の二つが挙げられる：

- i. メタ言語「p」が対象言語である文「S」に意味を提供する。
- ii. そして、この意味の授与をあくまで外延的に行えるものである。

これらを、考慮した結果、デイヴィドソンは「・・・は、～ということを意味する」の代わりに「・・・は、～のときまたそのときに限る」（以下、略式記号で双条件法「⇔」を用いる）という結合子を用いる定理を導き出した。この定理の形式は次のようになる：
<blockquote>
（T）　　　文「S」　⇔　p
</blockquote>


しかし、文「S」は文の名前なので、これだけでは文として成立していない。そこで、Tという代用述語を加えることによってタルスキのT文にいたる。それの形式は、次のようになる：
<blockquote>

（T）　　　文「S」はTである　⇔　p　（S is T if and only if p）
</blockquote>

これにおける述語「T」とはなにか。それは、例えば、「雪が白い」という文が、雪が白いときかつそのときの限って、要求される文の性質は、それが「真である」ことである。つまり、述語Tは「真である」すなわち「真理」である。T文はタルスキの真理論（theory of truth）に由来する。これにおいてタルスキは、意味を前提として（\*3）文の真理条件を明確にするための定理を導入する方法を体系的に示す。タルスキの功績は、このようにT文によって文の真理条件を明示することによって、「真理」や「真である」という述語を内包的にではなく外延的に定義することを可能にした点にある。

そして、デイヴィドソンはこれを利用する。しかし、彼は、意味を前提として真理を定義したタルスキとは逆に、真理を前提として意味を構成するためにこのT文を用いる。つまり、真理概念によって意味概念を解明しようとした。彼にとって、文の意味を把握することとは、その文の真理条件を把握することである。例えば、
<blockquote>
（T文）　　　文「Snow is white」はTである　⇔　雪が白い
</blockquote>


において、「雪が白い」は、文「Snow is white」の真理条件であるが、デイヴィドソンは、これが文「Snow is white」に意味をもたらすと主張する。

## 三つの問題
しかし、デイヴィドソンの真理条件意味論には、大きく三つの問題が横たわる（「根源的解釈」）：
1. 右に述べたような種類の真理理論を自然言語に関して与えうると考えるのは、理になったことであるのか。
2. 解釈されるべき言語についてあらかじめ何の知識も持たない解釈者に利用可能と認められるような証拠に基づいて、そのような理論が正しいと判定することは可能だろうか。
3. もしこの理論が真であると解ったならば、その言語の話し手の発話を解釈することが可能であろうか。
最初の問題は真理論と自然言語へ、二つ目は根源的解釈へ、そして、三つ目は、全体論と不確定性の議論へ移行する。




---

## 注

\*1
この解釈学的（hermenuetic）傾向による反相対主義は、アメリカ哲学における「解釈学」といわれる（富田p46）。

\*2
内包intensionalityと外延extensionality（エヴニンp171）
- **外延**：世界の中でその表現を適用できるようなもののこと
例えば、文「ジャンヌダルクはオルレアンで生まれた」の場合、「ジャンヌダルク」の外延はジャンヌダルク、「オルレアン」の外延はオルレアンである。外延が一致する表現同士（例えば「ジャンヌダルク」と「オルレアンの少女」）を交換してみると次のようになる：
<ol>
	<li>「ジャンヌダルクはオルレアンで生まれた」</li>
	<li>「オルレアンの少女はオルレアンで生まれた」</li>
</ol>

この二つの文において一致しているのは、真理値である。外延を交換しても真理値は変化しない。つまり、外延とは真理値（真偽）である。同じ真理値をもつ文は外延が等しい（『オルレアンの少女』はジャンヌ・ダルクを主人公としたシラーの戯曲）。

- **内包**：それが表現している思想ないし認識価値
同じ真理値を持つ文は外延が等しい。しかし、１と２は同じ真理値（つまり外延）を持つにもかかわらず、明らかに「意味」が異なる。この文の意味を「内包」という。（外延：指示対象、内包：意味）。ちなみに、内包性intensionalityは、志向性intentionalityと似ているが異なるもの。

\*3
これは「規約T」と呼ばれ、「文「S」は真である　⇔　p」というT文において文「S」の意味をすでに解釈しており、この文をメタ言語に翻訳したものをpとする、というものである。




---

## 参考文献
- {{reference.ana33}}
- {{reference.ana7}}
- {{reference.ana16}}
- {{reference.sci4}}
- {{reference.ana19}}
- {{reference.ana27}}

<!--
- デイヴィドソン（エヴニン）
- 言語哲学大全IV（飯田隆）
- はじめての分析哲学（大庭健）
- 哲学の最前線（富田恭彦）
- 分析哲学とプラグマティズム
- 言語哲学を学ぶ人のために（野本和幸他編）
-->

<div align="right">
    First post &nbsp;  2009/09/03
    <br>
    Last updated&nbsp;  2012/03/15　
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}