{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

#  デイヴィドソンの哲学#5 第三のドグマ
## 相対主義
根源的翻訳の不確定性を唱えたクワインは、言語相対主義の立場をとる。それによると、言語は「概念図式」を前提としているが、客観的で共有可能な概念図式は存在しない。そのため、異なる概念図式を前提とする言語を話す他者の意図を汲み取ることはできず、翻訳は不可能で相対的であるとする。現代において、このような相対主義は様々なところにおいて見られるが、特にエスノセントリズムを反省し相対主義の傾向にあった文化人類学において見られる。つまり、自文化の視点から異文化を解釈する傾向を反省し、異文化における相対的な価値を認め尊重する、という相対主義の傾向があった。

## ・サピア=ウォーフの仮説(Sapir-Whorf hypothesis)
このような相対主義を導いた影響は、言語学におけるサピア＝ウォーフの仮説が挙げられる(構造主義は？)。それは、次のように要約される
<blockquote>
「ホーピ語とホーピ族の文化には、ひとつの形而上学が秘められている。[...]　だがそれは、ホーピ族の言語でしか適切に記述できないのである」
<cite>Whorf  in [エヴニン, p.324]</cite>
</blockquote>

これは端的に言えば、カントの議論を言語の理論にして、それを相対化したものである(服部p140)。カントは、我々の世界の経験を可能にするのは、超越論的カテゴリーというアプリオリな知識であって、それによって世界を経験し知覚することができるとする。サピア＝ウォーフの仮説は、カントのカテゴリーを言語に置き換えたものである。つまり、我々にとっての「世界」は、我々が所持する相対的な言語体系によって形成されたものであり、言語が異なれば経験する世界(概念図式conceptual scheme)も異なる。

## デイヴィドソンの反相対主義
しかし、デイヴィドソンによると、このような相対主義は相手を理解していることを前提としているという。つまり、相対主義は自分と相手が異なると主張する立場であるが、相手を理解しなければ相手と異なるとは言えないのである。デイヴィドソンは、このような相手の意図を前提とするような(神の視点にたつような)傾向を批判する。そして、彼によると、確かに他者の言語を概念図式を前提とし「翻訳」することは不可能であるが、しかし、「寛容の原理」に従ったあくまでも一人称の立場からの解釈を根源的な他者理解の方法論とすることによって可能であるとする。言い換えれば、我々はどのような相手、異文化であっても彼らを理解する際に、我々が信じていることを基にするしか相手を理解することはできないのである。諸文化の間には、確かに大きな差異があるが、それは相対的ではなく、理解可能である。そして、もし理解不可能だったら、それが文化であることすら分からないのである。



---

## 参考文献
1. <span class="cite1">{{reference.ana7}}</span>
1. <span class="cite2">{{reference.sci5}}</span>
1. <span class="cite3">{{reference.ana20}}</span>



<div align="right">
    First posted &nbsp; 2009/09/15
    <br>
    Last updated&nbsp; 2010/01/30
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}