{% extends "layout.html" %}
{% block content %}

<h5>
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!-- │<a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# サールの哲学#2 志向性
サールは、言語行為を考察することによってそれが前提とする志向性にいたる。そして、志向状態の内に、１、発話内の力、２、適合方向、３、充足条件に対応するものを見出すことによって説明しようとする。

## 発話内目的
発話内行為を他の種類の発話内行為から区別するものは、発話内行為における本質条件である。そして、この本質条件は、発話内行為にそれぞれ目的をもつ。これを「発話内目的」(illocutionary purpose)という（約束という発話内行為の場合における発話内目的だと、「自分がある行為を行う義務を負う」、命令の場合だと「聞き手にあることをするようにする」、記述の場合だと、「あるものがいかにあるかを描写する」）。

### (発話内行為の種類)
発話内行為は、発話内目的や適合方向などの基準によって５つに分類することができるという：
- 信念表明型(言明、主張、仮定、記述)
- 行為指令型(命令、依頼)
- 行為拘束型(約束)
- 心情表明型(喜びや悲しみなどの心理状態の表明)
- 宣言型(ある事態を発話そのものの遂行によって成立せしめる)

## 適合方向(direction of fit)
そして、サールは、この発話内目的から言語と世界とのある関係を見出す。それは、言語の世界の適合の方向である。発話内目的に応じて、適合方向は変化し、従って命題内容も変化する。

- **言葉から世界へ(word to world)の適合方向**
言語が世界に適合していることが求められる。つまり、言語は世界を正確に描写し、言語が世界に適合している。このような方向での適合が要求される発話内行為は、「信念表明型」の発話内行為である。

- **世界から言葉へ(world to word)の適合方向**
世界が言葉に適合していることが求められる。つまり、まず言葉ありきでそれに適合するように事実を合わせる。このような方向での適合が要求される発話内行為は、「行為指令型」（命令）や「行為拘束型」（約束）の発話内行為である。命令の場合だと、命令の聞き手は話し手の言葉に従う（適合する）ことが要求される。

- **世界と言葉がすでに適合**
上記の二つに当てはまらない発話内行為で、心情表明型の発話内行為がある。これは、世界と言葉がすでに一致し適合していることが前提とされているため、方向性をもたない。この方には、謝罪・感謝・歓迎などが属する。「遅刻してすみません」と謝罪する場合、「遅刻した」という言葉と事実がすでに一致していることが前提とされている。

### 充足条件(condition of satisfaction)
充足条件は、真理条件の拡張である。つまり、真理条件はある平叙文が真となる条件であるが、命令などの命題に真偽はないため真理条件もないと考えられてきた。しかし、相手が命令に従ったか、否か、という命題を充足させる基準があると考えたのだ。充足条件は、次の３つ挙げられる：

- **真理条件(truth condition)**
信念表明型の発話内行為に対して、それが真となるための条件であり、それは「真理条件」と言われる。「今日は天気がいい」という表明が真であるための条件は、実際に今日は天気がいいことである。

- **遵守条件(obedience condition)**
命令の発話内行為を成立させるための条件（命令に関しては真偽はないが、相手がそれに従ったかどうかをいうことはできる、それを成立させるもの）を「遵守条件」という。

- **履行条件(fulfillment condition)**
約束に関しては「履行条件」という。つまり、約束という自己に課した義務を履行することが命題を充足させる基準になる。

このように、充足条件とは、それぞれの発話内行為が充足されるときの世界のありよう（事態）である。つまり、事態を内的に志向しそれに対する世界のありようで充足するかどうかが判定される。まず、何らかの事態を心に生起し志向していなければどのような言語行為の誠実条件も満たすことができない。つまり、言明が誠実であるためには、話し手は自らの言明についての信念という心的状態をもっていなければならない。このようにサールは、言語行為の基礎は志向性という心のありように求められると考え、彼は、1970年代から言語行為を基礎付けるために心の哲学へ向かう。

<hr>
## 志向性(intentionality)
このような、方向性を考察することによって、言語行為において心の特徴のひとつである志向性が表れる。あらゆる発話は、ある事態を表象（志向）している。そして、この志向性という内的関係が発話内行為の前提となる。なぜなら、ある事態を描写しなかったら命令も記述もなにもできないからである。志向性は言語行為において自明な性格である。志向性とは伝統的に、「なにかについての意識」である。例えば机の上のコーヒーを手に取るという日常的な行為でも、机の上にコーヒーがあるという信念やコーヒーを飲みたいという欲求などに基づいていると考えられる。よって、それなくして我々は自分自身や他人の行為を理解することができない。 さらに、サールは、志向性とある事態の「表象」であるとする。そして、彼は、志向状態のなかに「行為内目的」、「適合方向」、「充足条件」に対応するものを見出し志向性の説明を試みる。

- **表象内容と心理様態**
共通する命題内容であっても、発話内の力によって、発話内行為は変化するのだった。これと同じように、同一の複数の志向状態が同一の表象内容を持っている場合がある。しかし、これら同一の表象内容を持っていても、心理様態に応じて志向状態は変化する。それはさながら同一の命題内容をもつ発話内行為が力で変化するようである。例えば、「君は部屋を出て行くだろうと懸念する」、「君が部屋を出て行くことを心配する」などである。

- **心と世界の適合方向**
言語行為には言葉と世界の間に適合方向があった。これと同じように、心的状態には心と世界の間に適合方向があるという。信念という心的状態は、「心から世界への適合方向」(mind-to-world direction of fit)である。このような志向状態において信念が世界に適合していることが要求される。反対に、願望や意図といった心的状態は、「世界から心への適合方向」(world-to-mind direction of fit)である。このような志向状態においては、願望や意図といった心的状態に世界を適合させることが要求される。そして、また、喜びや悲しみの心的状態は、謝罪や感謝と同じようにすでに世界と表象内容が一致していることが前提とされ、それ自体は適合方向をもたない。

- **志向状態における充足条件**
適合方向をもつ志向状態には、充足条件が適用可能であると考える。これも、発話内行為の場合とほぼ同じで、例えば、何かを望むという志向状態においてそれが成就したならば充足する。

<hr>

## 心の哲学による言語哲学の基礎付け
上記で見たように、言語行為と志向状態は細部に至るまで類似する。しかし、このような類似性という関連性では、志向状態が言語行為の基礎になるには不十分である。しかし、サールは、志向性が言語を生み出す基礎であるという立場を捨てない。サールによると、言語行為はほとんどの場合、「他者」を想定している。そのため、言語行為には少なくとも二種類の志向状態が関連している。一つは、信念や願望を言語行為によって表現される志向状態（信念を言語行為によって他者に知らせようとする意図）で、もう一方はこの志向状態を他者に知らせるという目的を達成しようとする意図である。このように言語行為には、二重の意図が関わっており、この二重の志向状態によって言語行為が解明できると考える。

---

## 参考文献
1. <span class="cite1">{{reference.ana15}}</span>

<div align="right">
    First posted &nbsp; 2009/08/27
    <br>
    Last updated&nbsp; 2010/01/30　
</div>
<h5>
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!--│ <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
/ <a href="#top">一番上に戻る</a>
</h5>
{% endblock %}