{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# クワイン「なにがあるかについて」#2 存在論的コミットメント
## 存在論的コミットメント免除の限度
これまでに次のことを見てきた：
1. 単称名辞が指示する対象／存在者を措定する必要はない。
2. 述語のような一般名辞についても、それが抽象的存在者の名前であると認めることなしに使うことができる
3. 意味という存在者を認めずとも言明は有意／同義でありうる。

このように、存在論的コミットメントを次々に免除していった。では、この免除はどこまでも可能なのか。クワインはこの問に対して、否定的である。そして、上記で触れた量化子の変項を再度持ち出す。つまり、束縛変項を使用する際にはその背後にこれを充足する要素の集合(議論領域)が措定されており、この前提を排除することはできないため、束縛変項に対しては、存在論的コミットメントを免除することはできないという。だが、この使用が存在論的コミットメントの唯一の仕方であるとも言う。
<blockquote>
存在者とされるということは、掛け値なしに言って、変項の値と見なされることである。
<cite>[2, p.19]</cite>
</blockquote>

## 存在論的前提(意味論的次元からの回答)
量化の変項は、我々の存在論がなんであれ、その全域にわたる。そして、存在論的前提を我々が持っているとするのに必要十分な条件は次のものである。ある言明を真とするためにはその言明が持つ変項の及ぶ範囲に、この前提されていると言われたものが入っていなければならないという条件である。

<blockquote>
$∃xF(x)$は真である　⇔　ある$u\in D$が存在して $V(u)\in V(F)$である。
</blockquote>

$V$は解釈とする。
例えば「白い犬がある(いる)」という文は、犬性や白さ性という存在論にコミットしているわけではない。この文は、「ある何かが犬というクラスに含まれており、かつ、その何かが白いというクラスに含まれている」ということである。そして、この文が真であるためには、量化子の変項に白い犬がなければならないが、犬性も白さ性もこの集合Dに含まれている(犬性,白さ性∈D)必要はない。
<blockquote>
F＝xは犬である <br>
G＝xは白い <br>
 <br>
$∃x(F(x)\wedge G(x))$は真である　⇔　ある$u\in D$が存在して $V(u)\in V(F)\cap V(G)$である <br>
</blockquote>

<br>
## 数学と存在論的コミットメント
古典数学は、抽象的存在者の存在論に徹頭徹尾コミットしている。例えば、∃x(xは百万以上である＆xは素数である)などの文は真とみなされる。こうして、普遍者をめぐる中世の大論争が、現代の数学の哲学において再燃した。クワインによると、我々は中世の頃よりもこの問題を明確にする基準を有しており、これによりある説/言明がどのような存在論にコミットしているかを決定できる。その基準とは：

<blockquote>
ある理論がコミットしている存在者とは、その理論の中で肯定される言明が真であるためには、その理論の束縛変項によって指示されえなければならない存在者のことである。
<cite>「二つのドグマ」 in [2]</cite>
</blockquote>

つまり、その説/言明の背景にある議論領域を明確にすることでそれらのコミットする存在論を決定できる。このような基準から、現代の数学の哲学は論理主義、直観主義、形式主義の三つの立場に分けられる。これらはそれぞれ中世における実在論、概念論、唯名論の立場に対応している。

#### **実在論(論理主義)**
 普遍的対象を認める。
 古典数学を擁護する。
この立場は、フレーゲ、ラッセル、ホワイトヘッド、チャーチ、カルナップを代表者とする。数学におけるプラトニズムであり、普遍者／抽象的対象は、心が作り出すものではなく、心と独立に存在するとする。また、この立場は、束縛変項が表示する対象を知られているかどうかに関わらず許す。

#### **概念論(直観主義)**
普遍的対象を一部認める。
古典数学を部分的に否定する。
この立場は、ポアンカレ、ブラウアー、ワイルを代表者とする。直観主義は、抽象的対象の束縛変項による指示を(議論領域に抽象的存在者を加えるのことを)許容するが、それはそのような存在者が前もって創りだされえる場合においてである。そして、この立場は、無限集合などの概念を許容しないため、実数に関するいくつかの古典的法則を捨てる。

#### **唯名論(形式主義)**
 普遍的対象を一切認めない。
 古典数学を擁護する。
この立場は、ヒルベルトを代表者とする。これは、直観主義と同じように論理主義者が行うむやみな普遍者の措定を批判するが、しかし、これは直観主義に対しても正反対の２つの理由から批判を行なう。１，形式主義は、論理主義者と同様、古典数学を損なうことに反対する。２，形式主義は、かつての唯名論者と同様、心によってつくられた存在者も含め一切の抽象的存在者を認めない。どちらの場合でも、形式主義者は、無意味な記号の戯れとして古典数学を捉える、ということが帰結する。しかし、数学が戯れであったとしても有用ではありえる。

<hr>
## 競合する存在論を裁定するには
上記のような存在論の競合(特に数学における)を裁定するにはどのような手段が考えられるだろうか。先に見た意味論的定式化「あるということは変項の値であるということである」は、これの答えにならないとクワインは考える。なぜならば。この定式は：

<blockquote>
“ある説や言明が、何があると言っているかを知るため”であり、 <br>
“何があるかを知るため”ではない。
<cite>要引用箇所</cite>
</blockquote>

ここで問題となっているのは、後者の「なにがあるのか」、つまり、議論領域の要素はなにかという問題である。

### 意味論的次元へ遡る
だが、なにがあるのか、について議論する際でも、意味論的次元(真偽を充足で捉える次元)に遡りそれを行なう。それは次の理由による。

- **理由１(プラトンの髭を回避するため)**
私はペガサスを否定するために、ペガサスを指示する必要があるという窮地に陥る。また、これを受け付けないならば、私は自分の存在論に存在しない(しかし、マックスの存在論には含まれる)対象について語ることになり、これは無意味である。
　上記で見たように、意味論的次元に後退することで、この問題を回避できる。なぜなら、ペガサスは文脈で定義することができ、それゆえこの対象が私の存在論に含まれていなくても語ることが出来るからだ、

- **理由２(議論の共通の土俵を得るため)**
存在論の相違は、概念図式における根本的相違を含意している。しかし、このような根本的な相違にかからず、マックスと我々は話題(例えば天候、政治、そして、言語の話題)を共有することができる。この事実が存在論的相違に関する議論を先送りにして、高い次元(表面上)の言語についての議論になってしまう傾向がある。しかし、既に見たように「なにがあるか」は語に依存するのだと結論してはならない。語の存在論的コミットメントは消去可能だからである。存在論的コミットメントは、束縛変項という意味論的次元において見出され、そのため、クワインによると、存在論の議論はこの次元でおこなわれねばならない。

<hr>
## 科学理論の体系と我々の存在論
我々はまず合理性に従い、原初的なカオス的所与(なまの経験の無秩序な断片)を整合的に配置する最も単純な概念図式を採用する。これがもっとも広い意味での`全体論的概念図式(over-all conceptual scheme)`なる。そして、それによって、我々の存在論(議論領域)も決定される。
　そして、この概念図式の任意の部分(例えば、生物学的、物理学的部分)の合理的構成を決定する考慮は、全体の合理的構成を決定する考慮と種類において異ならない。つまり、全体図式から任意の科学理論の体系を決定することも言語の問題であり、存在論の決定と同じである。

<center>
　　　存在論の決定≒科学理論の体系の決定
</center>

### 二つの概念図式(現象的／物理主義的)
概念図式の構成は単純化という曖昧な原理によってなされる。また、単純化は常にひとつの標準を提供するとは限らない。次は、単純化の規則にって提供された二つの概念図式<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>
で、一方は物理的に基本であり、一方は認識論的に基本である。また、クワインによると二つのどちらも長所を持っているためどちらも発展させるべきである。

#### 物理主義(ノイラートの立場)
物理主義的概念図式は、量化の変項が及ぶ範囲を、外界について語る物理言語に限定し単純化する。

<center>
　　　直接経験→単純化→物理言語
</center>

####  **現象主義(カルナップの立場)**
現象主義的概念図式は、量化の変項が及ぶ範囲を感覚所与(センスデータ)に限定する。しかし、現象主義は、カルナップが直面したように、無数に多様なセンスデータを原子命題と考えることはできないという問題をもつ。これに対してクワインは、「バラバラの感覚的出来事を一緒にし、それらを同一の対象のさまざまな知覚とみなす」という単純化を行なう。つまり、ヒュレーを志向的に統一することでノエマを構成する。このノエマが現象主義の存在論(変項の及ぶ範囲)である。

<center>
直接経験→単純化→ノエマ
</center>

<hr>
## 物事を単純化する便利な神話

####  **物理的対象という神話**
物理的概念図式は我々の経験を単一の(物理的)”対象”へと単純化する。しかし、物理言語は現象主義的言語に還元／翻訳することはできない。物理的対象とは、我々の無数の経験を単純化するために仮定された存在者である。それは、無理数の導入が算術を単純化するのと同じである。しかし、物理的対象も無理数も便利ではあるがある種の「神話」である。
<br>　　
この神話(無理数を含んだ算術)は、字義通りの真理(有理数の算術)よりも単純であるが、字義通りの真理をその中にばらばらな部分として含んでいる。同様に、現象主義の観点からは、物理的対象の概念図式は便利な神話である。また、字義通りの真理(直接経験)よりも単純であるが、字義通りの真理をそのなかにばらばらな部分として含んでいる。

####  **クラスと属性という神話**
物理的対象の属性(述語)やクラス(述語が指示する集合)はどうか。物理主義的概念図式の観点からは、この種のプラトン的存在論は神学の定話である。だが、数学はこの一段高い神話を本質とするため(数学は高階の論理で基礎づけられるため？)、この神話は数学にとって、そして、すべての自然科学にとって有益である。

####  **数学と物理学という神話の危機**
数学と物理学は共に便利な神話を前提としているが、しかし、これらの領域は20世紀に発見されたパラドックスや定理によって危機に陥っている。例えば、数学はラッセルのパラドックスやゲーデルの不完全性定理によって、そして、物理学は徹底した矛盾ではないにしろ光の波動説と粒子説やハイゼンベルクの不確定性原理によってである。

<hr>
## ドメインの領域はどのような対象であるべきか
クワインがこれまでに示したこと：
- ある種の存在論を認める議論のいくつかが誤りであること(マックスとワイマン批判)
- 言明/説の存在論的コミットメントが何であるかを決定する明示的な基準(存在するとは変項の値になるということで)

だが、存在領域に、どの存在を採用すべきかという問は未だに答えられていない。ここではまず次のような様々な方向から考察を試み(具体的な考察はこの論文には書かれていない)：
- 物理主義的概念図式のどれだけ現象主義的概念図式に還元できるか。
- 物理的概念図式が現象主義的概念図式に還元できないとしても探求を続けてみよう。
- 自然科学がプラトン主義的数学から、どのように、あるいは、どのよう手間で独立と成りうるか。
- 数学の探求も続けて、そのプラトン主義的基礎に探りを入れる。

## 現象主義の優位性とクワインの相対主義
こうした探求から、現象主義の概念図式は、認識論上の優先性をもっているという。現象主義的概念図式からは、物理的対象と数学的対象の存在論は確かに神話であるが、しかし、神話の性質は相対的である。この場合、それは、認識論的観点と相対的である。この認識論的観点は、我々の様々な関心や目的に対応する様々な観点の内の一つなのである。(概念図式相対主義、翻訳の不確定性などの議論へ)





---

## 注
<ul class="comments">
<li><span id="tyuu1">\*1. この区別は恐らく論理実証主義におけるプロトコル命題論争に基づいている。   </span></li>
</ul>


## 参考文献
1. {{reference.ana31}}
- {{reference.ana36}}
- {{reference.ana25}}
- {{reference.ana11}}
- {{reference.ana21}}

<!--  -->

<div align="right">
    First post &nbsp; 2008/10/08
    <br>
    Last updated&nbsp; 2012/03/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}