{% extends "layout.html" %} 
{% block content %}

<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 構造主義#1 言語学からの始まり(ソシュール) 

## 構造主義(structurism)
構造主義以前の哲学やあらゆる思想は、伝統的な主体性の概念を前提としている。それはデカルトのいう「コギト」であり、意識の主であり確固たる「私」である。このような伝統枠組みの帰結として、サルトルの人間観が形成された(人間は無限に自由である)。しかし、構造主義によると、この主体性は「構造」に規定され存在すると考え、自らは自らに従っているとするコギト主義を解体してゆくことになる。「自らが自らの主人ではない」というこの考えは、ニーチェ(権力への意思)、フロイト(無意識)、マルクス(唯物史観)の主張が内包するものである。これら先人達の思想が土台となり、ソシュールの言語学(言語は社会的構造に規定されているため恣意的であるとする)と近代数学の影響から構造主義は発足する。

構造主義とは、言語に限らずあらゆる事物の性質は構造という全体における他の事物との「関係」によって成り立つという考えである。例えば、「f(x):=x+5」と定義された関数(f:N→N)を考える。この関数のxに具体的な自然数を入力することによって自然数が出力される。このような関数は関数の条件を満たす「(二項)関係」(
{(x,x+5) | x ∈ N})である。このようにインプットに応じてアウトプットは変化するがそれらを規定する不変不動の関係、言い換えれば「他の一切が変化するときに、なお変化せずにあるもの」を構造という。

哲学における構造主義は、構造の概念を人類学に応用したレヴィ＝ストロースの思想が中心となり、アルチュセール、ラカン、フーコー、バルト等に影響を与えた。また、構造主義は同時代の哲学であった実存主義と対立する思想であり(実存と構造の対立。特にサルトルとレヴィ＝ストロースの対立が有名)、実存主義を批判し反省することによって成立してゆくことになる。

## 構造主義の主要な論点
- 差異性：ソシュールからヤーコブソンの二項対立論へ受け継がれレヴィ＝ストロースでその方法論が確立する。
- 無意識に支配される主体：フロイトからレヴィ＝ストロースやラカンへ
- 科学性(反人間主義)：マルクス主義からレヴィ＝ストロースやアルチュセールへ

---

### ソシュール(Ferdinand de Saussure, 1857-1913)
構造主義の直接の祖とされるのは言語学者のソシュールである。それは彼が言語における`恣意性(arbitaire)`という性質を発見し、これが言語学だけでなく幅広く応用可能な考え方であったからだ。

#### 共時的言語学
ソシュール以前の言語学は、言語を歴史的に研究していた(母音や子音がどう変化したかなど)。ソシュールは、まず、包括的な意味で言語をランガージュとする。これには、通常の言語もまた犬の鳴き声やボディーラングエッジも含まれる。そして、これを、`ラング(langue, [英]language)`と`パロール(parole, [英]speaking)`という二つの領域に分ける。ラングは一般的な意味での言語で、日本語や英語などである。また、パロールは、個人が書いたいり話したりして実際に用いる具体的な言語である。また、ソシュールは、諸所のラングから歴史的要素を捨て、あらゆる時代・文化に共通する言語、`共時的(synchronique)言語`を研究する(イデア的言語)。共時的言語(ラング)はパロールのように具体的に存在しない。これは言語の構造・体系である。
	
#### 言語名称目録論の誤謬
言語記号(シーニュ)とは何かの名前(対象を指示する記号)である伝統的な考えを言語名称目録論という。これは、聖書にもえがかれているように、人間(アダム)が世界の事物に対して「これはりんごと名づける」といったふうに対象を命名して言語を形成していったという言語観である。しかし、この考えは、名づけられるに“先立って”事物は世界から分節化されて存在していたという前提の上になっている。例えば、「水」、「羊」、「鉛筆」は人間から独立して存在しているという考えが前提にある。このような仮定を前提とした場合、世界中のあらゆる言語が指示する外的対象(つまり、言語の意味)は完全に一致しているということになる。だが、実際には、それぞれの言語において言語の意味(外延)は大きく異なる。例えば、日本語の「水」は「湯」を含まないが、英語の「water」は「水」も「湯」も含む。または、「青色」と「藍色」は「blue」に含まれるなど言語によって語の外延はことなる。
	
#### シニフィアンとシニフィエ
ソシュールによると、言語記号(シーニュ)、は`シニフィアン(意味するもの、音声的契機、記号、signifiant)`と`シニフィエ(意味されるもの、概念、意味、sinifie)`という二つの要素が分かちがたく結合することから成っている(単純化すると、言語＝記号＋意味)。例えば、「猫」という言語記号を見てみると、/neko/がシニフィアンであり、「にゃーにゃーなく哺乳類」といった概念がシニフィエである。そして、シニフィエとシニフィアンは二元論的相対関係にあり、これらの関連はどのようになされるがが問題となる。言語名称目録論は言語の意味(指示対象)は言語の外にあると考えるが、これは、世界があらかじめ分節化されているという前提の上になっているため間違いである。これに対し、ソシュールは言語と意味(概念)の連関は言語の内(構造)にあると考える。<br>
言語記号(signe)＝記号表記(signifiant)＋記号内容(sinifie)

#### 言語とは差異の体系
ソシュールによると、伝統的言語観がいうように言語とはあらかじめ分節化されている対象を指示するのではなく、世界における差異を認識することによってその差異を指示しているに他ならない。例えば、日本人は「藍色」と「青色」を区別するが、英国人はそれらはともに「blue」である。つまり彼等には「藍色」と「青色」の差異を見出せない。このように、言語が指示するのは、その言語体系が世界から切り取ったものであり、またその切り取り作業そのものである。還元すれば、シーニュは言語の体系内において他のシーニュとの関係によって欠義的に定義される(「価値」が与えられる)。(紫と青という共時態の二項対立の上で差異をどのようにもたらすかは恣意的・通時的である。)
そして、名前のないものはその言語共同体にとって存在すらしない。例えば、英語を用いる人たちにとって「藍色」は存在しない。彼等の言語体系には「青」と「藍」の差異が存在しないからである。そして、この差異・世界の切り分け方は社会的・文化的に変動する。つまり、シニフィエとシニフィアンの結合は、個人の意思から独立している言語体系・言語構造によって言語の内側から規定されており、そして、その体系は社会的・文化的に変動するため、言語は「恣意的」であるといわれる。


<ul class="book_list">
	<li>主著</li>
	<li>『一般言語学講義』(Cours de linguistique générale)</li>
	<li>(本人の死後弟子達が講義のノートを編集し出版)</li>
</ul>

---

### プラーグ学派
ソシュールの構造の言語学は、その強大な影響力をすぐには現さず、おなじ言語学の領野において応用された。それはまず、ヤーコブソンを中心とする`プラーグ学派`において「音韻論」の研究に用いられた。言語学は、音韻論、統語論、意味論の三種類に分けられる。そのひとつである音韻論は、言語がどんな音から成り立っているのか、明らかにするものだ。具体的には、母音とか子音などを調べる。

#### 音素と恣意性の原理
単語を成り立たせるための最小単位。例えば、日本語の場合は、単語をローマ字であらわしたときの一字いう
にあたる。犬だったら、それの音素は/inu/と三つの音素からなる。しかし、音素の発音は、老若男女において無限の多様性をもつ。/inu/と発音しても皆異なる。そのため、音素は物理的・科学的に分析するのが困難である。そこので、プラーグ学派は、ソシュールの恣意性の原理を導入する。つまり、言語学は、音素を物理的に分析するのではなく、文化的なものとして分析する。この文化的・社会的要因が人々の間において、音素の差異をもたらすからである(そしてそのため恣意的である)。例えば、日本語は/r/と/l/を区別しないが、英語はこれを厳密に区別する。そして、音のどこに差異を設けるかということは、文化的・社会的に規定されている。そのため恣意的である。

### ヤーコブソン(Roman Osipovich Jakobson, 1896-1982)
上記の音韻論を二項対立の原理によって整理する。音素は、それぞれに言語において異なっているが、すべての音素は二項対立(binary opposition)の上になっている。つまり、人間の発声器官はほぼ共通しているため、人間が出せる音は限られており、それは１２の対立軸(母音／非母音、子音／非子音、鼻音／非鼻音など)で表現できるという(ミキサーのようなイメージ？)。そして、各言語における音素はこの対立軸上においてどこに位置をしめるかで決定される。そして、言語の習得檀家における幼児期において、もっとも原初的な二項対立をみることができる。それは、a-i-uという母音の対立と、k-p-tという子音同士の対立である。それぞれ、母音三角形、子音三角形で表現できる。

---

## 言語学を超えて
このソシュールの言語学の方法は、他にもコペンハーゲン学派やアメリカ構造言語学派に影響を与え現代言語学の源流となった。そして、また、この方法の影響力は、言語学の内にとどまらず、ヤーコブソンを通じてレヴィ＝ストロースの文化人類学にまで波及した。そして、このレヴィ＝ストロースの構造主義は、当時隆盛を極めていた実存主義と真っ向うから対立するものであった。この実存主義との論争によって、哲学における構造主義が形作られその影響は拡散していった。


---

## 参考文献
- {{reference.fr8}}
- {{reference.modern6}}
- {{reference.fr3}}
- {{reference.modern2}}
- {{reference.fr13}}
- {{reference.de6}}

<!--
- 橋爪大三郎
- 北沢方邦
- 小野功生の構造主義入門書と
- 加賀野井秀一
- 町田健
- 谷口勇のソシュール解説書を参照。 

  -->

<div align="right">
    First post &nbsp; 2009/06/06<br>Last updated&nbsp; 2011/03/04
</div>
<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}