{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# ドゥルーズ＝ガタリ「アンチ・オイディプス」#2 器官なき身体(反生産)

## 器官なき身体(corps sans organes)
欲望する生産は、欲望する機械という分子的多様性が集積することによってモル的状態といわれる全体が現前することであり、そして、これの反復である。この生の拡散の果てに、欲望する機械が完全に展開され諸部分と全体(分子的多様性とモル的集合)という区別つまり一と多という区別は消失する。そこにおいては、すべてが混在しすべてが流動する。そのため、諸器官という区別さえも消滅する。そして、この極限状態において“諸器官の絶対的外部”が姿を現す。それが、`器官なき身体(非有機的身体)`である。器官なき身体とは、生産の流動の極みであり、この極限においては、風・水・人間・タンポポ・絵の具などすべてが流動している。これだけでなく、地層や天体など一見静的にみえるものも、また、観念や文化・社会といったものであっても、それらすべて常に流動している(レヴィ＝ストロースは地質学から不変の構造の着想を得たが、地層といったものでも実際には長いスパンで見れば水のように流動している)。この流動の極限状態において差異は無限化しており、同時に差異は存在しない。つまり、これは欲望する生産が極限まで開放された状態であり、かつ、すべてが融合し無差別化した死の状態である。この器官なき身体は卵に例えられる。
<blockquote>
器官なき身体は一つの卵である。そこには軸と閾、経度、測地線が縦横に走っている。また生成と移動をしるしづけ、そこに展開されるものの行き先をしるしづける勾配が縦横に走っている。ここでは何一つ表象的ではなく、すべてが生命であり、生きられている。
<cite>
『アンチ・オイディプス』 cited in [3, p.137]</cite>
</blockquote>

器官なき身体とは、すべてを包括する卵であり、スピノザの神即自然である。これは、日常の例でいうと、組織化された言語に対する叫び声であり、組織化されたTV映像に対する砂嵐状の映像であるといえる。

1. 欲望する機械が集積することによってそれの全体を指示する一つの個体が現れる(例えば、諸器官が集積することによって現れるのは、ただの諸器官の集まりではなく身体という諸器官の全体を指示する個体)。
2. この個体(外部化した欲望する機械)が集積することによって新たな全体が現れる(例えば、身体が集積することによって現れる社会機構)。
3. この繰り返しの果てに、欲望する機械が完全に展開され全体と諸部分という区別、一と多という区別は消失する。すべての流動を内包するものが現前したものが器官なき身体。強度０<!-- (※４) -->の未分化で巨大な対象。

#### 器官なき身体は死かつ生の始まり
器官なき身体においてすべての生産は停止する。このように欲望する生産は、その生産の連鎖の終着点においてすべてが溶け合い無差別化し停止する反生産の状態に回帰する。欲望する機械が完全に開放され器官なき身体が完全に展開されると最早それは沈黙が支配する死の状態と区別することができない。では、この器官なき身体という生産が停止した反生産の状態において、生産を産み出す生と死のサイクルはどのようなにっているのか(生産は生と死が相互に入れ替わることによって成立するのだった)。市倉 [2]の解説によると：
<blockquote>
生と死とが、循環することは、対立する世界が同時に保持され、そのひとつを選ぶことが拒否されることである。一方が他方を含んでいるといってもいい。しかし、生が死となり、死が生となることは、内在的綜合が実現していることではない。現実には、両者は依然として両者である。対立を綜合することなしに統一しようとすれば、その試みは循環となるほかはない。
<cite>[2, pp.107-108]</cite>
</blockquote>

この強度０の状態にいて生と死は内的に綜合せずに無限に回転し釣り合っている。この状態は一切の活動が停止する死の状態であるが、同時にこの停止した存在はすべての流れを包括する全体である。そのため、これは、生産が開始するための生の土台でもある。欲望する生産は、生産を繰り返し、そして、生産が停止した死の状態に回帰し、さらに、これを土台に生産を開始するという循環をなしている。(しかし、このように安定した世界に生産活動が開始されるきっかけはなにか？)。

<!-- 
---

## 注



※４
<blockquote>
強度とは、速度や温度のように分割することが不可能で、分割するなら性質を変えてしまうような度合いである。それは等質な単位の分割できず、ただゼロからの距離によって図ることができるだけだ。それは他のさまざまな速度や温度を包み、あるいはそれらにつつまれているような速度や温度である。強度は、どこまでも異質なものの集合であり、すでに複合的で非等質だが、それでも、ゼロからの距離よって系列化され、確かな指標を持つ一つの秩序なのだ。(宇野p189)
</blockquote> -->

---

## 参考文献
1. {{reference.fr1}}
- {{reference.fr10}}
- {{reference.fr7}}
- {{reference.fr9}}
- {{reference.hist12}}
- {{reference.fr16}}
- {{reference.hist21}}
- {{reference.fr17}}

<!-- ※Century Books ドゥルーズ(船木亨)
- ドゥルーズ流動の哲学(宇野邦一)
- ドゥルーズ(篠原資明)
- Stanford Encyclopedia of PhilosophyのDeleuzeの項目とWikipediaのAnti-Oedipeの項目
- 現代フランス思想への誘い(市倉宏祐)
- 現代思想の冒険(竹田 青嗣)
- 現代思想・入門(小阪修平他)
- ポストモダンの思想的典拠(岡本裕一郎)を参照  -->

<!--  -->

<div align="right">
    First post &nbsp; 2009/07/20
    <br>
    Last updated&nbsp; 2009/07/31
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}