{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
</h5>

# ドゥルーズ＝ガタリ「ミル・プラトー」 リゾームとノマドロジー

『アンチ･オイディプス』において、ドゥルーズ＝ガタリは、欲望を考察してこれに理性や思考といったものをも一元的に還元し、そして、この欲望する機械の一元論から諸社会形態とそれの最終形態である資本主義を考察した。そして、『ミル･プラトー』において、この欲望する機械一元論による歴史考察は拡張され、かなり広範囲な領域を取り扱う。

## リゾームとプラトー
ドゥルーズ＝ガタリはリゾームという概念によって体系的な形態から外れたものであってもそれは混沌ではなく多様体という別の秩序によって成立していることを示す。つまり、伝統的な知や組織の形態とは、`ツリー式`とみることができ、それは、ものごとを幹、枝、さらに小さい枝というふうにきっちりと分類する（分類したものの同一性を前提とする）。この理路整然とした体系的な形態は、西欧において合理的なものとされ人間の思考のあり方をも支配し学問の土台となるだけではなく軍隊や会社などの組織のあり方の土台なった。そして、また、このツリーから外れた知は混沌としたものとして扱ってきた。

しかし、これに対し`リゾーム（地下茎）`は幹や枝といったものはなく、これは、中心や階層を持たず多様な流れが縦横無尽に横断し交差し連結している。このリゾーム的な形態は決して混沌ではなく人間の脳神経組織はリゾームであるし（ニューラルネット）、言語もリゾームである。また、スクラムや縦横のパスからなるラグビーなどはリゾーム的である。このように、リゾームは、ツリー型の反対に位置する多様体というもう一つの秩序だった組織や知のあり方であるとしてリゾーム的なあり方を復権させようとする。ツリー的あり方が西洋的だとするとリゾーム的なあり方はやや東洋的である。このリゾーム／ツリーの二項対立は、スキゾ／パラノ、資本主義機械／専制君主機械、脱コード化／再コード化、分子的状態／モル的集合、遊牧性／定住性、戦争機械／国家装置、平滑空間／条里空間といったさまざまな二項対立の図式として表れる。また、この対概念は仕切りではっきりとした区切り（横断線、逃走線）があるわけではなく、グラデーションのように互いに浸透しあっている。このような秩序をもち他と連結してゆくリゾームをベイトソンの用語を用いて`プラトー（高原）`とよび、ドゥルーズ＝ガタリは、あらゆるところにプラトーを見出す。それゆえ、本のタイトルは、『ミル･プラトー』（千の高原）と名づけられる。そして、この本の15に及ぶ各章のプラトー自身が他のプラトーと絡み合い、ひとつのプラトーを形成している。ここでは、代表的な概念であるノマドロジーのみ取り上げ概観する。

## ノマディスム（遊牧性）
定住民は、ある土地を中心としてそこに社会機械を形成するため、ツリー的でパラノ的である。これに対して、ノマド（遊牧民）は、土地に敷居を設けて定住せず、境界なき世界を自由に移動する。つまり、彼らは、中心的土地を持たないリゾームとしての世界を生きるスキゾ的な民族である。資本主義は、絶え間なく変化し中心的な土地や支配者をもたないためノマド的である。

### 戦争機械
そして、このノマド的なありかたは国家装置に対するする戦争機械として位置づけられる。戦争機械は、国家による統合性（コード化）を退ける。ノマドなどの戦争機械は、欲望をコード化されず欲望の多様性に生き、そのため、彼らは決して統合されず、いつまでもパラノ的国家に反抗する<!-- （実存主義は、スキゾ的でノマド的な生き方を哲学したもの？） -->。そして、ノマドはステップや砂漠を自由に移動するため、時に土地に横断線を引く国家と衝突してこれに反発しするために戦争する。スキゾ的なノマドが武器を開発し戦争を起こす。この戦争機械は遊牧に限ったものではなく、国家のコード化に反発する機械であるためあらゆるところに存在する。そして、コード化される以前の私達もまた戦争機械である。

ドゥルーズ＝ガタリはこの戦争機械を肯定的にとらえ擁護する。それによって絶えず変化するノマド的な資本主義機械を受け入れて、既存の権力のシステムを破壊しようとした。





---

## 参考文献

- {{reference.fr7}}
- {{reference.hist12}}
- {{reference.fr17}}

<!-- - Century Books ドゥルーズ（船木亨） -->
<!-- - ドゥルーズ流動の哲学（宇野邦一） -->
<!-- - 現代思想・入門（小阪修平他） -->
<!--  -->

<div align="right">
    First post &nbsp; 2009/07/29
    <br>
    Last updated&nbsp; 2009/07/29
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}