{% extends "layout.html" %} 
{% block content %}

<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>


# 近代哲学史#１ ルネサンス

## ルネサンス
中世は教会の伝統や習慣によって人々の思想を抑圧したがそれに反発する運動が14世紀から始まった。
しかし、千年の間に教会が形成した伝統は根深く、それに立ち向かうために人間が生き生きとしていた古代の時代に助けを求めた。
これが古代復興(ルネサンス)となった。
ルネサンスは、`人文主義(Humanismus)`と呼ばれるように、神と人間の関係を逆転させた。
つまり、中世は神を思想の中心に据えたが、この時代は人間を思想の中心に据え、人間が持つ`理性(ratio)`が重んじられた。
ルネサンスは、最初イタリアで始まり西側の国々に波及していき、芸術、文学、科学などさまざま分野の可能性を花開かせ新たな文化を形成した。

この時代における哲学も例外ではなく、中世における古典のキリスト教的解釈に反発し、新たに解釈し直そうとする動きが始まった。そして、その中心になったのがプラトンとアリストテレスである。そして古代の二大哲学者の他にもストア派、エピクロス派、懐疑論派などの哲学も復興された。

---


ルネサンス最初期の古代哲学研究はイタリアで始まった。

## プラトン・アカデミー
メディチ家の庇護されたフィレンツェのプラトン主義者プレトン(G. G. Plethon)を中心としたプラトン研究を残した。

### フィチーノ(Marisilio Ficino, 1433-1499)
プラトンの著書を翻訳し、新プラトン主義的な研究を残した。『プラトンの神学』

### ピコ・デラ・ミンドーラ(Pico della Mirandola, 1463-1494)
アリストテレスとプラトンの融和を目指す。人間の自由と尊厳を訴えた。

## アリストテレス主義

### ポンポナッツィ(Pietro Pomponazzi, 1462-1525)
アリストテレス解釈は、アヴァロエスの汎神論的能動知性の解釈とアレクサンドロスの自然主義的解釈が対立していた。
ポンポナッツィは、アレクサンドロスの立場を採り、知性の不死性を否定した。
知性は肉体と不可分であり、肉体が死ねば知性も死ぬ。
また、彼は魂の不死性も否定した。

--- 

## ルネサンスの影響
ルネサンスによるヒューマニズムは様々な領域に波及した。

#### 政治・社会哲学

1517年にルターやカルヴァンによる宗教改革が起こり、教会の権威が失墜した。
また、これは政治、社会、科学といった領域における思想にも影響を与えた。
マキャベリなど。

#### 自然哲学

中世において、教会の権威の下支配的だった世界観は、アリストテレス＝プトレマイオスと呼ばれる宗教的な世界観であった。
それによると、第一起動者(不動の動者)は超越存在であり、地球は宇宙の中心であり、そして、天上と地上は二元論的関係である。
これに対し、中世末期にクザーヌスが主張した汎神論的世界観、すなわちこの世界は神のあらわれであるという考えがルネサンスで顕著になった。
このような汎神論的世界観といった"生きた自然観"はブルーノに受け継がれ、またそれとは異なる"機械的自然観"いわゆる科学的・数学的な観点は、ケプラー、ベーコン、ガリレイ等によって形成された。
そして、自然科学による世界認識は哲学にも大きな影響をもたらした。
	
---

### マキャベリ(Niccolo Machiavelli, 1469-1527)
政治哲学の著である『君主論』の中で、手段よりも目的を優先すべしと主張した(いわゆる、`マキャベリズム`)。
この主張は、目的のためであれば、時としてキリスト教道徳であっても無視してよいということであり、ある意味、人間を中心に据えるルネサンスの思想を極端な形であらわしている。
だが、もう一つの著である『ディスコルシ』では民主制を推奨しているなどの点から、『君主論』はメディチ家に進呈するために書かれたものでありマキャベリの真意ではない、もしくは、大衆向けに書かれた風刺書であるとも考えられている。

<ul class="book_list">
	<li>著作</li>
	<li>『君主論』Il Principe (1513)</li>
	<li>『ディスコルシ』Discorsi (1517)</li>
</ul>

---

### ブルーノ(Giordano Bruno, 1548-1600)
彼はクザーヌスやコペルニクスに強く共鳴し影響を受けた。そして、彼もまた教会の思想に反発し、神は世界に調和を与える汎神論的な神を主張した。このとき神は`能産的自然(natura naturans)`、自然は`所産的自然(natura naturata)`とされる。また、この結果、宇宙は無限で、中心はいたるところにあると結論付け、教会が擁護する世界観と対立するものとなった。また、この世界のすべてに神が内在するならば、もはや悪は存在しない。つまり、善悪の観点は個人にゆだねられるという相対主義を主張する。彼の汎神論は教会から異端とされ処刑される。

ただし、現代のブルーノ研究によると、彼は`ヘルメス主義`(ヘルメス：エジプトの学問神)という神秘主義と密接に関わっており、近代科学の殉教者から伝統的な魔術的宗教家という人物像へと見方が変わってきている。また、コペルニクスもヘルメス主義に影響を受けているとされ、ルネサンスの歴史的位置づけ自体再考されつつあるという(砂田他, p52)。

---

### ベーコン(Francis Bacon, 1561-1626)
ベーコンはイギリス経験論の祖とされる。彼は科学は実生活に役立つ知識をもたらさねばならないと強調した。そのために、彼は伝統によって培われ擁護される無用な偏見を排除しようとこころみる。彼は排除されるべき偏見を`４つのイドラ(idola偶像)`と呼びまとめる。

<table>
	<tbody>
		<tr>
			<td>**種族のイドラ**(idola tribus)</td>
			<td>人間という種は感覚を事物の判断基準とし、それを真実とするが、感覚は事物の本性をゆがめて伝える。また、自然を擬人的に見たり、目的論を読み込んだりする偏見も含まれる。</td>
		</tr>
		<tr>
			<td>**洞窟のイドラ**(idola specs)</td>
			<td>個人的な性質や習慣、教育によってできた判断の習性や傾向のこと。</td>
		</tr>
		<tr>
			<td>**広場のイドラ**(idola fori)</td>
			<td>言語によって形成される偏見や幻想。人をして在りもしないものをあたかも在るかのごとくに思いなすように仕向ける。</td>
		</tr>
		<tr>
			<td>**劇場のイドラ**(idola theatri)</td>
			<td>歴史上の舞台に登場した学説を、すなわちその実架空の物語に過ぎないものを権威や伝統の名の下に無批判的受け入れさせ、現実を自分の目で見、考えることを妨げるような先入観。</td>
		</tr>
	</tbody>
</table>

この４つのイドラを排除し、物事の共通の本質をみるための認識方法が`帰納法(inductio)`であるとした。このように、自然を知ることによって自然を支配し、人類を発展させると考え、`知は力なり(scientia est potentia)`と言った。帰納法は自然科学の基本的な方法論になった。また、当時のヘルメス主義を批判して"魔術から科学へ"という時代の思想を導いた。ちなみに彼はシェイクスピアと同一人物だという説もある。

<ul class="book_list">
	<li>著作</li>
	<li>『学問の進歩』Of the Proficience and Advancement of Learning, Divine and Human (1605)</li>
	<li>『ノヴム・オルガヌム』Novum Organum (1620)</li>
</ul>

---

### ホッブス(Thomas Hobbes, 1588-1679)
彼は経験論者であり、また唯物論者/物理主義者であったため世界の全てを物体の運動と考えた。そして、この物理主義の立場から人間の感覚や感情を説明しようとした。彼によると、外的事物を経験することによって、その刺激が脳に伝わり、それによってコナトゥスという微細な運動が生じる。そして、このコナトゥスが感覚を生み、それが保存されて記憶、また、言葉を介してそれは知識に発展するという。また、コナトゥスが人間活動を促進／阻止することによって、欲求や嫌悪といった基本的な感情が生じ、これに応じて意思、行為に発展するという。(しかし、ホッブズは、この物理的現象である意識がどのようなものであるか、については何も言及していない。)

<span class="para">政治哲学</span>
この物理主義の帰結として、彼は自由意志を否定した。そして、彼によると元来、人間は欲望の充足を求める利己的で暴力的な存在とした。`万人に対する万人の戦い(Bellum omnium contra omnes)`、`人は人に対し狼である(homo homini lupus)`。しかし、このような状態でも理性によってもたらされる`自然法(natural laws)`は存在するとし、これに従うことが平和へ努力であるという。彼はこのような人間の原始的な状態を`自然状態(state of nature)`と呼び、これを明確にすることによって`国家(commonwealth)`や社会の役割を示そうとした。ホッブスの政治哲学はルソー、ディドロ、ヴォルテールといったフランスの哲学者に影響を与えた。


<ul class="book_list">
	<li>著作</li>
	<li>『リヴァイアサン 国家論』Leviathan (1651)</li>
</ul>

---

### ガリレイ(Galileo Galilei, 1564-1642)
ガリレイは数学の普遍的性質の重要性にいち早く気づき、自然を計測し数字で表すことによって知識を普遍化、客観化できると考えた。`この世界は数学という言語で書かれている`。この方法により、ベーコンの経験による帰納法を越えた、より科学的な方法論を確立する。つまり、自然現象を数学的な要素に分析し、それを数学的に再構成して、経験的事実と適合するかを確かめるといった`実験`という科学の土台となる方法論である。自然主義。

しかし、このような自然主義的な物事の見方を人文科学と結びつけたとき、様々な矛盾をもたらした(自然主義の誤謬)。また、この科学つまり、自然は計算可能であるという理念が、現代において信仰ともいえるような科学に対する盲目的な信頼を生み出す。これは後にフッサールの『危機』にて批判される。

<ul class="book_list">
	<li>著作</li>
	<li>『サジアトーレ』Il Saggiatore (1623)</li>
	<li>『新科学対話』Discorsi e Dimostrazioni Matematiche Intorno a Due Nuove Scienze (1638)</li>
</ul>

---

## 参考文献
- {{reference.hist1}}
- {{reference.hist15}}
- {{reference.other4}}

<!--  -->

<div align="right">
    First post &nbsp; 2008/10/02<br>Last updated&nbsp; 2012/03/19
</div>
<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}