{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# ヒューム「人間知性研究」#2 自由意志と懐疑論 

## 自由意志(free will)
決定論によると、あらゆる行動は全てなにかしらに決定されており、自由意志は存在しない。しかし、それによると、私がどのようなことをしようと責任や罪は私自身のうちになく、その決定したものに回帰する。ヒュームがとる立場は私の行動は全て決定されているが、それでも自由意志はあると主張する`両立論(compatibilism)`とされる。ヒュームは上記の恒常的連接による習慣や常識の形成を人間の生活にも適用する。つまり我々は親しい友人がいきなり暖炉に手を突っ込み燃え尽きるまでそのままにしているなどと予想しないし、落とした財布が羽が生えて戻ってくることを期待しない。このように人間の行為の間には規則性や常習性がある。しかし、だからといってこれは人間の自由意志の否定にはならない。習慣に逆らって手を暖炉にくべたり、財布の帰還を期待することは可能である。つまり必然性は他人の内にあり、自由意志をもつ本人には内在していない。他人の「習慣による予測」(他人はこれを必然と思い込む)と私の「自由意志」は矛盾しない。

ヒュームはあらゆる人間の行為の原因は究極原因としての神にまでさかのぼることができるのだから、「我々の行為はどれひとつとして悪くはない」、もしくは、「我々の悪い行為は神に由来している」という。ヒュームはこのどちらも退け、伝統的な神像に対しても懐疑の目を向ける。しかし、彼の懐疑論は全ての判断を停止するピュロン学派とは異なる。下で詳しく見る。

--- 

## 奇跡(miracle)への懐疑
ヒュームの伝統的な宗教に対する懐疑は奇跡に対する批判的な主張でも伺える(他にはデザイン理論を用いて攻撃する)。彼はまず、`奇跡(miracle)`を自然法則からの逸脱と定義し、`稀なできこと(marvel)`と明確に区別する。例えば、高いがけから落っこちて、何らかの幸運に見舞われ助かるのは稀なできことで、空中に浮いて助かるのは奇跡である。また人間は、その奇跡の証言者が権力者で知者であったり、多くの目撃者であったりすると、信じてしまう場合がある。例えば、使途という神の奇跡の目撃者の証言(福音書)を当時の人々は信じていた。しかし、ヒュームは「奇跡が起こったことよりも、証言者が嘘をついていることのほうが奇跡的でない限り信じるべきではない」という。ヒュームが言ってるのは、奇跡はありえないといっているのではなく、賢明なひとなら信じるべきではないとい言っているのである。これは、多くの神学者から反発と批判を受けた。


--- 

## 懐疑論(scepticism)
### 過激な懐疑論批判
ヒュームは「人間知性研究」の最後の章で哲学における懐疑論の有益性について言及する(「それは誤謬や軽率な判断に対する最高の予防法」)。しかし、同時に彼は全てを否定する古代ギリシャのピュロン学派のような過激な懐疑論を批判する。

<blockquote>
	[過激な懐疑論は]自分自身あるいは他者を瞬間的な驚愕と混乱へと投げ入れることができるとしても、生活の中の最初のそして最も取るに足りない出来事が彼の全ての疑いとためらいを敗走させ[る]。[1,p149]
</blockquote>

また

<blockquote>
懐疑論の過激な原理、を打破する偉大なるものは、行為、そして仕事であり、日常生活への従事である。
</blockquote>

<!-- (これはムーアの"here is a hand" argumentに通じる主張ではないだろうか)。 -->

ヒュームによると、このような過激な懐疑論はあらゆる意味や価値の破壊者であるため、こう尋ねればよい、「あなたのいっていることの意味はなんのか、そして、あなたはこんな物好きな探求でもって全体として何を企んでいるのか」。

ここで見られるように、ヒュームは「日常」ないしは「常識」を重視している。これは、G.E.ムーアなどの後のイギリス哲学でも引き継がれる。

### 穏和な懐疑論
ヒュームによる懐疑論はピュロン学派のそれとは明確に異なる穏和な学問的に有益な懐疑論である。それは人間知性の狭い容量に適するように我々を限定する。逆に言えば、人間知性を超える主題は、詩人や僧侶の領域に属し、哲学や科学とは明確に分ける(しかし、古典的な形而上学などもこっちに属する)。その区別は、次のようになされる。

1. その命題は、`抽象的推論(relations of ideas)`、直感もしくは論証的に確実なものかどうか(例えば三角形の内角の和は180度であるなど)。
-  `実験的推論(matters of fact)`は反対を思い浮かべるのことが可能な`蓋然的(probable)`な命題かどうか(例えば、太陽は東から昇るといった命題)。

そして、これらに当てはまらない言説は全て欺瞞であるとした。この主張は「研究」の最後の有名な句で明瞭に表現される。そして、これは`ヒュームのフォーク`と呼ばれ、20世紀の論理実証主義に決定的な影響を与えた。
<blockquote>
書物を手に取ったなら、こうたずねてみよう。それは量や数に関する何らかの抽象的推論を含んでいるか。否。それは事実の問題と存在に関する何らかの実験的推論を含んでいるか。否。ならば、その書物を炎に投ぜよ。なぜなら、それは詭弁と幻想しか含むことできないのだから。
</blockquote>

また、この緩和された懐疑論は、外在世界や因果関係の確信などの`自然的信念(natural belief)`に対してだけでなく、`宗教的信念(religious belief)`に対しても行われる(デザイン論証批判)。しかし、これもまた奇跡の項目で見たように、神を完全に否定するのではなく、「神の存在を信じる根拠となる十分な証拠がない」と結論する。




---

## 参考文献
<!-- - ｳｫｰﾊﾞｰﾄﾝ著・船木亨訳「入門哲学の名著」 -->
1. {{reference.hist2}}
<!-- - 大浦康介・小林道夫・富永茂樹編「哲学を読む」の田村均『知覚の束としての自己』 -->
- {{reference.hist10}}
<!-- - ｼｪｳﾞｪｰｸﾞﾗｰ著谷川徹三・松村一人訳「西洋哲学史」 -->
- {{reference.hist4}}
<!-- - ヒューム著・斉藤繁雄・一之瀬正樹訳「人間知性研究」 -->
- {{reference.modern3}}





<!--  -->

<div align="right">
    First post &nbsp; 2008/10/14<br>Last updated&nbsp; 2012/03/15
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}