{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# 近代哲学史#4 フランス啓蒙主義

## フランス啓蒙主義
18世紀中頃のフランスではイギリスのロックやニュートンから学んだ政治学や物理学によって啓蒙主義運動が起こった。啓蒙主義で重要になるのはロックから引き継いだ`理性`の概念である。
ロックは経験主義者としては徹底しておらずアプリオリな道徳観念(つまり良心が生まれつきそなわっている)を信じていた。
彼は、自然科学(ニュートン物理学)が自然は合理的に構成されているということを見出したことから、道徳や倫理もまた理性に裏打ちされていると考えたからだ。
そして、この道徳的理性を重要視し、これがフランス啓蒙主義の核となるのため、この時代は`理性の時代`と呼ばれる。

啓蒙主義たちの興味は、主に国家、政治、宗教といった習慣や実践的な領域に向けられた。
これには堕落しきった宮廷、教会や司法といった時代背景に起因する。
加えて、彼らは貧困と抑圧があるのは無知と迷信が蔓延っているせいだ、と考えることで、子供や民衆の教育が大いに注目され教育学が始まった。
そして、このような啓蒙主義という思想は、後に1789年のフランス革命を導いた。

---

### モンテーニュ(Michel Eyquem de Montaigne, 1533-1592)
フランスのモラリスト文学の基礎を築いたとされる。

<span class="para">孤独について<|span>
彼は闇雲に他人の行動や意見に同調する誘惑に抗う必要性をとく。これは物理的な孤独を勧めているのではない。しかし、彼は他人からの称賛や容認を求める衝動(つまり名誉欲)を心の平安の最大の壁であるとし、これの奴隷になってはならないと言う。そして、彼によると、他人からの称賛や容認に価値を置かないことで、我々は物事をずっと客観的、かつ、明晰に見通せるという。

<ul class="book_list">
	<li>著作<|li>
	<li>『エセー(随想録)』Essais (1580)<|li>
<|ul>

---


### パスカル(Blaise Pascal, 1623-1662)
パスカルの業績は数学を中心に多岐に渡る。十代で射影幾何の「パスカルの定理」を発表し、パスカリーヌと呼ばれる機械式計算機を開発した。
その後、フェルマーとともに確率論を創始し、流体力学の「パスカルの原理」を考案した(天気予報でよく聞く(ヘクト)パスカルという身近な単位名として残っている)。
数学者であった一方禁欲的なキリスト教徒であり、彼の宗教的・哲学的な思想をしたためた
<!-- そのため、彼の神は宗教的な人格神であり形而上学的な非人格神ではない。 -->
遺稿が『パンセ』として出版された。その中で`人間は一本の葦である。しかし考える葦である`という有名な一文で表現するように、理性の偉大さを主張した。

<span class="para">パスカルの賭け<|span>
神を存在しないことに賭けるか、神が存在することに賭けるか、という2択をつきつけられた場合、パスカルによると神が存在することに賭けて神を信仰するほうが得であると主張する。それは、信仰しておけば、神が存在した場合、多くのものを得るが、存在しなかったとしても失うものは少ないからである。逆に信仰しないで、神が存在した場合失うものが大きいという。

<ul class="book_list">
	<li>著作<|li>
	<li>『パンセ』Pensées (1670)<|li>
<|ul>

---


### ヴォルテール(Voltaire, 本名: François-Marie Arouet, 1694-1778)
彼は代表的かつ典型的な啓蒙主義者でロックやニュートンに影響を受けており人間理性を信奉し当時の腐敗していたキリスト教教会を批判した。
彼は懐疑論者で、事実とされるものであっても歴史上ほとんど改定・修正されているため確実性は不条理であるとさえ主張し、また、生得観念もまた文化相対的に獲得されるものであると考えた。
そして、彼は懐疑こそが唯一の論理的出発点であるとするが、
しかし、そうすると他者との同意というものは得られなくなるため、同意をもたらすには科学のような共通基盤となりうる体系が必要とした。
このように、ヴォルテールは理性に基づきあらゆる権威を疑う必要性や発言の自由の必要性を強調した。
このような啓蒙思想はフランス革命の基本的理論となっていった。

<ul class="book_list">
	<li>著作<|li>
	<li>『哲学書簡』Lettres philosophiques (1733)<|li>
<|ul>

---


### ディドロ(Denis Diderot, 1713-1784)
アンシンクロペディスト。「百科全書」は革命自体のフランスで支配的であった精神の注目すべき記念碑である。それは当時のフランスの誇りであった。というのは、それはその時代のフランスの最もない奥の意識を輝かしい、わかりやすい形式で語ったからである。それは鋭い機知を持って国家らは法律を、道徳からは自由を、自然からは精神と神とを否定した。

彼は初期の著作では理神論者であり、後には万有を神とする見解を取っている。初期には魂の非物質性と不滅の弁護者であったが、後には、類のみが高級であって個人は付しでなく、父子とは未来の世代の記憶のうちに生きることに他ならない、という。しかし、彼は自らの倫理観に妨げられ唯物論までは進まなかった。



<ul class="book_list">
	<li>著作<|li>
	<li>『哲学全書』L'Encyclopédie (1751-1772) ダランベールら百科全書派と共同編集<|li>
	<li>『ダランベールの夢』Le Rêve de d'Alembert (1769)<|li>
<|ul>

---


### モンテスキュー(Charles-Louis de Montesquieu, 1689-1755)
ロックの政治的理論を受け継ぐ。法の精神において`三権分立`を唱えた。

<ul class="book_list">
	<li>著作<|li>
	<li>『法の精神』De l'esprit des lois (1748)<|li>
<|ul>

---


### ルソー(Jean-Jacques Rousseau, 1712-1778)
ルソーはディドロ、ダランベール、ヴォルテール、ロック、ホッブズ、などから影響をうけ社会や文明を考察した。

<span class="para">人間不平等起源論<|span>
彼はまず、ホッブズなどもそうしたように、人間の「自然状態」、つまり、文明以前の人間の生活を考察した。これによると、ホッブズとは異なり、人間は本質的に善であり平等だと考えた。しかし、文明(私的所有、貨幣、政治)がこの善である人間に悪と不平等をもたらしたとする。この論文は非常に大きな反響があり、後にフランス革命やロマン主義運動を導くことなる。 [ルソー『不平等起源論』]()

<span class="para">社会契約論<|span>
`人間は生まれながらにして自由だが、いたるところで鎖につながれている`。このように始まる「社会契約論」は、既存の貴族政治・君主制ではない「市民社会」という民主主義の古典的モデルを提示する。そこにおいて誰もが平等であり、法は一般意志に基づき制定されて、万人に適法される。
	
<span class="para">教育の哲学<|span>
ロックの教育的理論を受け継ぐ。人間は本質的に善であるが、社会文明で育つうちに悪が芽生える。そのため、なるべく文明に晒すのではなくなるべく自然の成長を促すようにすべきであるという。 [ルソー『エミール(第一遍)』]()

<ul class="book_list">
	<li>著作<|li>
	<li>『不平等起源論』Discours sur l'origine et les fondements de l'inégalité parmi les hommes (1755)<|li>
	<li>『社会契約論』Du contrat social (1762)<|li>
	<li>『エミール、または教育について』Émile, ou De l’éducation (1762)<|li>
<|ul>

---


### ラ・メトリー(Julien Offray de La Mettrie, 1709-1751)
彼は唯物論者|無神論者であり、無神論が一般的にならない限り世の中は幸福にならないと言う。また、人間の精神や心に関する哲学は唯物論以外ありえず、心は脳によってもたらされるという心脳同一説的な主張をしている。そのため、魂の不死性なども否定して、死とともに全ては終わるとする。`喜劇は終わった(La farce est jouee!)`。そして、これから帰結する実践上の教訓は、生きている限り楽しめ、そして楽しみをのばすな、だという。


<ul class="book_list">
	<li>著作<|li>
	<li>『人間機械論』L'Homme Machine (1748)<|li>
<|ul>

---

## ドイツ啓蒙主義
- ヴォルフ
- レッシング


---

## 参考文献
- {{reference.hist1}}
<!-- - ドイツ観念論を学ぶ人のために(大橋良介[編]) -->
- {{reference.modern7}}
<!-- - 西洋哲学史(岡崎文明他) -->
- {{reference.hist15}}
<!--  -->

<div align="right">
    First post &nbsp; 2007|06|03<br>Last updated&nbsp; 2012|03|19
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}