{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# スピノザ「エティカ」#3 倫理

## 自由意志の否定
先に見たように、神を唯一実体とし人間をそれの様態の一部と形而上学的な土台を規定することで、倫理学・実践哲学が必然的に導き出される。つまり、我々人間は神という必然性を本性とする存在の一部である様態であるため、人間には自由意志は存在しない。我々が自らに意志があり自由だと思うのは、意志を決定する要因をしらないからそう感じるに過ぎない。このようにスピノザは厳格な決定論の立場に立つ。そして、この自由意志の否定は我々に安らぎと最高の幸福をもたらすという。

また、自由意志が存在しないという決定論の立場をとると、行動に対する責任は存在せず、したがって善悪といった倫理的規範価値も神の内には存在しない。善や悪は事物そのもののうちにある現実的なものではなく、我々が事物を互いに比較して作る相対的な概念に過ぎない。我々にとっての善悪という観念とはどのようなものか。それは自己における受動と能動の関係とそれに伴う感情によってもたらされる。

## 自己肯定
神は無限の肯定であり、それの属性とまたその様態はいずれも肯定である。車も猫も人間もぞれぞれ自己を肯定している。そして、それを否定する一切のものに対する抵抗、もしくは自己肯定の欲求を`コナトゥス（努力、[羅]conatus）`と呼ぶ。「どのようなものでも、それ自身のうちにとどまる限り、自己の存在固執しようと努力する」（三部定理６）。そして、これが精神に関係付けられると「意志」と、精神と身体に関連付けられると「衝動」と呼ばれる（定理９備考）。コナトゥスは事物の「現実的な本質」（定理７）であり、これを認めなかったら、決して徳にも幸福にも到達できない。

## 受動と能動
コナトゥスは能動によって実現される。デカルトの場合は心身二元論なので、精神が身体をよく従えているとき能動でそうでないときは受動であるとするが、スピノザの心身はもとは同じ実体の異なった属性という並行論なので、精神が能動なら身体も能動で精神が受動なら身体も受動であると考える。そして、能動とは理性であり、理性的な行動は能動的でそうでないときは受動的である。また、受動と能動の関係は割合であり、どっちかの状態のとき他方ではないといった関係ではなく、どっちかが何割のとき他方は何割であるといったような関係である。そして、能動の比率が多いほど`活動力（[羅]potentia actionis）`は増大しその極みには「自由」がある。反対に受動の極みには「隷属」がある。

## 感情と善悪
加えて、この能動と受動の割合は我々における感情（悲しみ、喜び）と善悪（善い、悪い）という認識をもたらす。つまり、活動力が増し、能動（自己肯定）に向かっているとき（コナトゥス）我々は「喜び」を感じ、逆のときは「悲しみ」を感じる。そして、我々にとって喜びをもたらし、有益なことを「善」とし、善を妨げるものを「悪」とする。

## 神の認識と幸福
そして、この最善の欲求が人間を知性による認識へと導くのである。したがって認識に役立つもののみが有益である。最高の認識は神の認識であり、精神の最高の徳は、神を認識しかつ愛するという高尚な能動的感情である（`神への知的愛（[羅]amor Dei intellectualis）`）。神を認識することから精神の最高の歓喜、最高の幸福が生じる。それは我々をして万物の永遠の必然性の思想のうちに平安を見出させ、我々をあらゆる不和と不満から、我々の存在の有限性とのむなしい戦いから解放する（必然の認識は自由をもたらす）。それは我々を、感性的生活を超えて、はかない個物によるあらゆるかく乱と不安から解放され、ひたすら自己自らおよび永遠なものとのみ関係する理性的生活へ高める。
こうして目指される真の認識とは、一切が神のうちに在り、神に依存していることを`永遠の相のもとに（[羅]Sub specie aeternitatis、[英]under the aspect of eternity）`認識することである。


---


## 参考文献
<!-- - 上野修「スピノザの世界」 -->
- {{reference.modern5}}
<!-- - ｼｭｳﾞｪｰｸﾞﾗｰ「西洋哲学史」 -->
- {{reference.hist15}}
- {{reference.hist4}}
<!-- - カーリー「スピノザ『エチカ』を読む」 -->
- {{reference.modern1}}

<!-- - 後半は二つの「西洋哲学史」からそのまま抜粋しまとめた。  -->


<!--  -->

<div align="right">
    First post &nbsp; 2007/02/22<br>Last updated&nbsp; 2008/10/07
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}