{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 中世哲学史#2 初期スコラ哲学

## 初期スコラ哲学
15世紀に本格的なルネサンスが起こる以前にも、何度か古代復興の波があった。9世紀のカロリング・ルネサンス<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>に始まり、12世紀には文人主義的なルネサンス、13世紀にはアリストテレス受容によるルネサンス、そして15世紀にイタリアのルネサンスによるプラトン研究の復活である。そして12世紀のルネサンスで初期スコラ学が設立された。そして、このスコラ学は神学というよりもより哲学的で、知的な好奇心を世界に対して向けた。

### エリウゲナ(Johannes Scotus Eriugena, 810頃-877頃)
彼は自らの思想を『ペリフュセオン』(自然の区分について)で展開する。神は超本質的な一性であり、それ自体で完結しあらゆる認識を凌駕する。そのため、神は「~ではない」もしくは無といった言い方でしか語りえない。また世界の創造もこの無限の一性から多性の発生と、多性から一性への帰還と新プラトン主義的に語られるが、新プラトン主義のように世界の成り立ちを一者からの「流出」とは表現せず、それは神の意思によってなされるとするキリスト教的な解釈を展開する。エリウゲナが言う自然の段階：

1. 創造し、創造されない自然(神)
- 創造し、創造される自然(イデアの次元)
- 創造せず、創造される自然(イデアに創造される世界)
- 創造せず、創造されない自然(終局としての神。神は自己において存在し、また、全ての被造物が神の救済によって完成したとき「創造されないもの」となる。被造物の完成の状態)

---

## 12世紀のスコラ学
前時代の教父神学主義は聖書を象徴的に解釈しようと試みていた。しかし、その潮流とは別にボエティウスが翻訳したアリストテレスの『論理学』の影響により、問題を論理的、概念的に分析し神学を体系化する動きが始まった。これがスコラ学である(スコラは学校の意味である)。中世哲学は言語と論理を非常に重視するため、近代の認識論重視の哲学よりも、現代の分析哲学と類似点を多くもつ。

### カタンベリーのアンセルムス(Anselmus Cantuariensis, 1033-1109)

彼は宗教的な命題を理性によって、また必然的根拠に基づいて証明しようとした。彼は『プロスロギオン』において神の存在証明を行った。

1. 神は、それより偉大なものが何も考えられない何か(Sとする)
2. Sは実在する。(なぜなら、もし、Sがただ思考する知性においてのみ存在し、現実において存在していないとするなら、知性においても現実においても存在すると考えられうるとうのものはそれよりも「より偉大なもの」であるという矛盾が起こってしまうから)
3. よって、神は実在する。

この証明を成立させているのは、思惟とは存在に対する志向性である。アンセルムスは志向性を精神の「正しさ」(真っ直ぐさ)と呼ぶ。この存在証明は後に、ボナヴェントゥラ、アクィナス、スコトゥスといったスコラ哲学者、また、デカルト、ライプニッツ、カント、ヘーゲルなどの近世の哲学者の間でも議論された。

## スコラ学の「普遍」に関する論争
ボエティウスは、アリストテレスの論理学書(『カテゴリー論』、『命題論』など)また、ポリフュリオスのアリストテレス論理学の注釈書『アリストテレスのカテゴリー論入門』(Eisagoge、エイサゴーゲー)などをラテン語に翻訳した。これらに基づきスコラ学派は論理を重視しつつ、認識論・形而上学といった問題を扱った。また、『エイサゴーゲー』の冒頭で提起した「普遍とはなにか」、に端を発して普遍論争が始まる。我々は事物を、例えば、「人間」とか「動物」など普遍的な要素を用いて語る。しかし、それらは単なる言葉なのか、概念なのか。また普遍は個物とどのような関係にあるのか。

<span class="para">唯名論</span>
コンピエーニュのロスケリヌス(Roscellinus Compendiensis)は、普遍は単なる音声であり普遍的に用いられる音声には対応する普遍的な実在や、本質は一切存在しないとした。

<span class="para">普遍実在論</span>
ギョーム(Guillaume)は、唯名論とは反対に、普遍的なひとつものが事物側に実在しているとした。そしてのちにこの極端な主張を和らげた、普遍的な言葉に対応するのはひとつの「もの」ではなく、個々の事物に個別的に備わっているが個別者同士でお互いに違いがないそれらの無差別な性質の側面である、と主張した。


### アベラルドゥス(Petrus Abaelardus, 1079-1142)
ギョームの弟子で師の実在論を批判しつつ、彼は上の二つの意見の中間的な立場をとった。
それは普遍は「もの」でも「音声」でもなく、普遍を把握するという人間知性に固有の働きである、とした。
つまり普遍は個々の事物から知性がそれらの本性を抽出。抽象化したものを表現する、「言葉」であり、また「意味」である。普遍は人間の知性によって成立するため「事物の後」のものであるが、その内容は「事物の中」において存在する。
そして、この同一の内容は創造によって多くの事物において存在するようになるのに先立って、「事物の前」に、創造者である神の精神のうちの原型として存在しているのである。

<span class="para">倫理学</span>
彼は中世で初めて倫理学の書を記した人物である。彼の倫理思想は、ただ単に規範的に善いとされている行為を行っただけでは、「善い行為」とはならない。「善い行為」には、それを内的に導く、善の意思がともわなければならない。そして善い意思は、神の意思に従うことに基づく。

<span class="para">然りと否</span>
彼は、何かに対する賛成意見(然り)だけでなく反対意見(否)も考察すべきであるとし、「然りと否」(Sic et non)を記した。これは後の大学の教科書『命題論集』(ロンバルドゥス著)の原型になった。
	
## シャルトル学派
この学派はプラトンと古代文学を復興させようとした。そのため、これはスコラ学の論理的な特徴とは異なって、人文主義的である。また、この学派は人文研究と経験による自然研究といった自由七学の分裂を統合しようとした。そして、当時入手可能な知識を集め、世界全体を科学的に探求した。代表者は、フルベルトゥス(Fulbertus)、ベルナルドゥス(Bernardus)、ティエリー(Thierry)、コンシュのギヨーム(Guillaume)、ポレタヌス(Gilbertus Porretanus)。

### シャルトルのティエリー(Theodoricus Chartrensis, ?-1150頃): 
ティエリーは創世記とプラトンの『ティマイオス』を統合した。またピュタゴラス的精神に従って神学における数学の重要性を認め、神は「一」であるが、この一性において三性同一性の三契機において成り立つものであると理解される、とした。

<!--
- ベルナルドゥス(Bernardus): 
彼は、スコラ派でも、シャルトル学派でもなく、伝統的な神学者だったが12世紀にもっとも強力な影響力を持った人物である。彼の神学的人間論によれば、人間は三つの層によって構成される。
1. 底辺は「自己決定の自由」。
2. キリストの恩寵を受け入れることによって善い行いが可能になる「恩寵の自由」。そして善い行いをすることによって「罪からの自由」が可能になる。
3. 神と合一をはたすと「栄光の自由」「悲惨からの自由」をえる。ここにはいかなる悪も不安もない。
-->

## サン・ヴィクトル学派(L'ecole de Saint Victor)
スコラ派のシャンポーのギヨーム(Guillaume de Champeaux, 1070頃-1121)が設立。ユーグ(Hugh, 1096 - 1141年)によって栄える。彼は学問の体系を整え大学という学府の設立に一役買った。
- 論理学： あらゆる学問の道具となる学(文法学、弁論学)。
- 機械学： 人間の幸福に奉仕する技術の学(医学、農学など)。
- 実践学： 行為についての学(倫理学、政治学など)。
- 理論学： 存在するものを対象とする学(自然学、数学、神学)

---

## 注

<ul class="comments">
<span id="tyuu1">\*1. カール大帝の構想の下、大掛かりな学問の発展を見せた。ラテン語の文法の整理、神学教育の強化、そして古代と教父時代の著作の収集・管理である。自由七科(文法、修辞学、弁証論の三学と、算術、幾何学、天文学、音楽理論の四学) </span>
</ul>





---

## 参考文献

- {{reference.hist10}}
- {{reference.hist15}}
- {{reference.med3}}
- {{reference.hist3}}

<!--  -->

<div align="right">
    First post &nbsp; 2008/09/22<br>Last updated&nbsp; 2012/03/19
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}