{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# アウグスティヌスの哲学

## アウグスティヌス(Augustinus)
彼は新プラトン主義から強く影響を受けており、人間の魂は神から生まれ、神に回帰することが人間にとっての`幸福([羅]beatitudo)`であるとする。神の探求には懐疑論の論駁と真理の探究が不可欠である。

--- 

## 懐疑論(アカデメイア派)論駁
彼はまず真理を確立するために、矛盾率と排中律を用いて必然的に真である命題の自明性に基いて、全てを否定する極端な懐疑論を否定する。
- もしひとつの太陽しかないならば、ふたつの太陽はない。
- 同じ魂が同時に死に、かつ不死であることはない。

---

## 真理([羅]veritas)の探求
彼は、真理を認識論、存在論、幸福論の三つの側面から考察する。

<span class="para">認識論</span>
彼もプラトンのように、完全な円、完全な三角形が存在しないように、この可変的な感覚世界には真理(イデア)は存在しないと考えた。しかし、我々は真円形を思い浮かべることができるように、イデアが魂のうちに内在し、認識の基準にすることができる。ではこの内在するイデアはどこから来るのだろうか。イデアは感覚から形成されるものではなく、理性的なものであるが、我々の精神が学ぶ(想起する)ことによって知るのである。このように、魂は真理に触れることができる、そうすることによって、外的な物事の基準になるイデアもしくは`理念([羅]ratio)`を学ぶ。(ほとんどプラトンの想起説？)

<span class="para">存在論</span>
プラトンは我々が住むこの世界はとそこに存在する事物は全てイデアの複製物もしくは影だとしたが、アウグスティヌスは逆にそういった事物の存在は真実であるという。なぜなら、目の前にある木が、真の木の陰だとしたら、それはもはや木ではない。なぜならこの世界はロゴスという真理によって形成されたのだから、存在するものは全て真実である。

<span class="para">幸福論</span>
`魂([羅]animus)`もまた真理から形成されるため、真理を認識することが可能であるという考えから彼の幸福論は始まる。魂は真理から創られ、また`真理に向けて([羅]ad veritatem)`上昇するように創られた。そして、魂の上昇が遂に真理に到達し一致したとき幸福が訪れるという。魂の上昇は自らの魂を内観し、真理に向けて自らを超出することによって可能となる。しかし、真理に到達した暁には神(一者)と結合し同一化するのが新プラトン主義であったが、彼の場合は、自我を保持し真理との差異を認識できるという。
<ol>
	<li>自己の存在の認識</li>
	<li>自らの思惟の認識</li>
	<li>その思惟が真であることの認識</li>
	<li>思惟を可能にしている真理への帰還(幸福)</li>
</ol>

## 魂を通って神へ
アウグスティヌスはデカルトのような実体二元論者で魂も実体を持つ存在であると考え、思惟し身体を支配をするものであると考える。その証明法も「私が誤るなら、私は存在する」というもので、デカルトのコギトの明証性証明と類似しているため、デカルトの先駆者として考えられている。

---

## 神の認識と照明論

<span class="para">自己内省(記憶の探求)による真理の発見</span>
重力が物質を地面にひきつけるように、真理もしくは神への愛が永遠なるものへ引き付ける(真理の獲得＝幸福)。そして、その愛(真理への衝動)を真なる目的へ向かわせるには自己の内省を繰り返し自らの資源である真理そのものにまで達し愛(衝動)に目的を示す必要がある。
<blockquote>
外へ出て行くな。あなた自身の中に帰れ。真理は内的人間に住んでいる。そして、あなたの本性が可変的であることを見出すなら、あなた自身をも超えなさい。「真の宗教」
</blockquote>

<span class="para">神の認識と照明論</span>
内省により神の認識への道が開かれる(確かに外の存在も神への道となりうる。例えば、「自然の美」、「一性」、秩序の中に垣間見える創造者(神)の「善」。)しかし、神へいたる中心的な道を可能にするのは「一」という無限の真実を内面において認識することに他ならない。

そもそも人間は不変な真理を確実に認識している。それを示すものは例えば、数学的命題と倫理的必然的命題(「正義を行うべきだ」「高次のものは低次のものより優先される」)。また先の「善、一、美」もこの必然的真理に属する。

「一」のような必然的真理は外的なものから教えられることは無く、自己内省し、自己の記憶において存在する根源的知の中にアプリオリに所持している。これら真理は全ての人間共通で(相互主観的な妥当性を持っている)、したがって人間共同体の成立を可能にしている。

真理は自己の精神や共同体を超越して存在する。つまり精神は真理を規範の基準として判断するが、精神が真理を越えて判断する側になることはない。そして、真理は精神の内奥に自立して存在し、精神に把握されてもそれと同一化することなく、精神を根源的に構成する。この真理の光において、神(神の言葉)は精神を規定する。これが「照明説」である。

### 精神の三一的構造
キリスト教の教義は神が`三つの位格(ペルソナ、[羅]persona)`において存在している。すなわち、父・子・聖霊である。また、神は人間を自分の似姿として創造したのだから、人間の精神にもその三つの統一された根本的活動が内在しているとアウグスティヌスは考えた。それはすなわち、根源知(記憶)・明確な認識(知解、内的な言葉)・そしてそれを愛し肯定する意思(愛)である。意思は幸福を求めるが、それは陣子中心的なものではなく善それ自体を愛し希求する。(記憶→知解→意思、これらの循環を通して自己自身との一致)

### 善と悪
またマニ教の善悪二元論のように、悪が独立した存在として存在するのではなく、彼にとって、悪は善の欠如である。また、被造物のなかに不完全性(悪)があるのは、全体の秩序に欠かせない要因だからである。

###  時間
物質には過去も未来もないが、人間は、過去・現在・未来と三次元の時間をいきる生き物である。そのため、時間は人間の意識に存在する。神が存在を無から創造し、被創造者が時間を創造する。このように被創造者は過去(流れ滅びるもの)と未来(前進する方向)をもつ。これらは人間の意志の中で諸悪へ執着(地上の国)と永遠なるものへの愛という形(神の国)で現実化する。

---

## 参考文献

<!-- - {{reference.hist3}} -->

<!--  -->

<div align="right">
    First post &nbsp; 2010/10/28<br>Last updated&nbsp; 2010/10/28
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}