{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# アクィナスの哲学#1 認識

## 知性と能力
知性が能力だとしたら、それは能動的か受動的か？この質問に対し、トマスは知性はその両方であるとする。

##### 知性の受動的能力 / 可能知性（intellectus possibilis）

我々の知性はいかなる認識もアプリオリに所持しておらず、白紙のような状態から始まる。そして、その可能体はさまざまな変化する、つまり、感覚によって世界を知る。これが知性の受動的能力である。

##### 知性の能動的能力

物理的世界の物質的対象は`現実体において可知的なもの（actu intelligibilia）`ではないため、それ自体としては思考の対象にふさわしくない。そこで知性は植物や動物ほほかの対象から区別することで思考の対象を作り出す（対象化）。これが能動的知性である。アリストテレスにとって能動知性は神秘的な能力とされたが、トマスにとってそれは人間特有の自然本性的な能力であり、また、能動知性は言語使用の能力である。トマスはアリストテレスに従って、知性の能力（言語使用に関する能力）は次の二種類であるとする。

1. 分けられないものの理解（intelligentia indivisibium）<br>
 　　==> 単純観念である単語理解と習得（非複合的言表）
2. 複合と分割（compositio et divisio）<br>
 　　==> 命題の肯定と否定の働き（複合的言表）

しかし、二つ目の複合的言表もしくは複合的思考における肯定や否定の判断は、理解や意見などさまざまなケース（<a class="s">\*1<span class="s-balloon" id="popup_tyuu1"></span></a>）が考えられ、思考と言語の間には密接な関係があることが分かる。そして、トマスは、あらゆる人間の思考、あらゆる判断は文によって表現されると考えた。この外的世界の認識を獲得（ある単語を習得）することが認識の初段階となる。

しかし、能動知性は可能知性が得たすべてのものを可知的にするわけではなく、対象を思考可能なものにする（例えば、光が照らした本を瞬時に理解できないが、それは本を理解することを可能にするように）。この能動知性を説明するのに、光と色のアナロジーを用いる。
- 光があって、色を現実態において知覚可能なものとしているときにのみ、感覚可能な対象を現実的に感覚可能にする（目に見える）。
- 能動知性（「自然本性的な光」）が事物を可能体において思考可能なものとしているときにのみ、思考可能な対象を現実的に思考可能にする（思考できる）。

能動知性である人間の「自然本性的な光」という精神の自発的な能力は、感覚世界の統合された感覚的表象を照らすことによって、対象を抽象化し事物の本質（可知的形象）を認識することが可能になる（可能知性）。そして、認識することが可能になった事柄（観念）は「記憶」の一種になる、心という倉庫に保存される（<a class="s">\*2<span class="s-balloon" id="popup_tyuu2"></span></a>）。

## 高次の認識とトマスのイデア論
そして、この段階を前提とし、能動知性の働きによって精神はさらに認識を抽象化し、数学などの学問的な高次の認識へ、そして神へと向かう。

||
|:--|:--|
| 第一段階（自然学）：|木や動物といった感覚的で質量的な事物の認識。人間以外の動物も所持している。|
| 第二段階（数学）：|能動知性の放つ光によって、第一段階から抽出され数学的- 学問的対象のみの認識。|
| 第三段階（形而上学）：|存在、実体、精神、といった質量を持たない本質の認識。<br>最後には全ての根源である神を認識。|

プラトンのイデアは客観的な”存在”であった。そのため、このイデア論に従うならば、イデアを思考することも可能かもしれない。しかし、トマスのイデア論の解釈は、そういった客観的で自立した超越存在があるのではなく、例えば、多くの犬を経験することによって、我々は犬の形相（イデア）を能動知性によって形成する。その犬のイデアは犬として特性以外何も持っていない。そのため、犬そのものである（<a class="s">\*3<span class="s-balloon" id="popup_tyuu3"></span></a>）。

## 理性と知性（reason & intellect）
人間は理性的動物であるとアリストテレス以来規定されてきたが、それは知性と異なったものなのか。トマスによると、それらは理解と推論で区別可能である。


- 理解する<br>
　　＝ 知性的真理の直接的な把握。
- 推論する<br>
　　＝ 知性的真理の知識に到達するために一つの事柄の理解から別の理解へと進むこと。

そのため、推論することと理解することは一つの過程の二つの段階であり、また同一の能力の活動である。
つまり、人間知性は自明な命題（公理）を持てる。
また、この公理から論理的な推論をすることによって真理に到達できる、といことである。公理は例えば、矛盾律などがあげられる。これらは`諸原理の把持（habitus principiorum）`と呼ばれ、またここから、演繹することによって得られる真理を`学知の把持（habitus scientiae）`と呼ぶ。

---

## 注
<ul class="comments">

<li><span id="tyuu1">\*1
	疑い（dubitatio）：判断を差し控える<br>
意見（opinio）：誤っている可能性を認めながらの仮の同意<br>
理解・直知（intellectus）：自明性を基礎にした真理への躊躇のない同意<br>
学知（scientia）：諸根拠を基礎にした真理への躊躇のない同意<br>
信念・信仰（fides,credere）：根拠がない場合の躊躇のない同意
</span></li>
<li><span id="tyuu2">\*2
ちなみにアヴィケンナは心の中に観念を保存し、必要なときに取り出す（思い出す）という考えには、否定的で、なにかを認識するときはそのつど、最初と同じ過程をたどらねばならないと考えた。しかし、トマスは、最初に認識を獲得するときとそれを思い出すときには、あきらかな差異があるとしそれを退ける。可能態と現実態。</span>
</li>
<li><span id="tyuu3">\*3
アリストテレスは形相は質料から分離して存在しないと考えたが、トマスは形相は質料と分離たら現象世界からは消滅するが「神の精神において存在する」という。そして、神は自らに内在するイデア（設計図・範型exemplar）を用いて全ての存在者（万有）を創造する「創造の原理」。</span></li>
</ul>









---

## 参考文献

<!--  -->

<div align="right">
    First post &nbsp; 2008/09/26<br>Last updated&nbsp; 2012/03/15
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}