{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 実証主義的傾向#4 経験批判論から分析哲学へ


## 経験批判論
経験批判論は、実証主義がもつ自然科学の認識を反省する形で、超音速やジェットで有名な物理学者マッハを筆頭にドイツで始まった新実証主義で、`アヴェナリウス(Richard Avenarius, 1843-1896)`、`ラース(Ernst Laas, 1837–1885)`、`ペツォルト(Joseph Petzoldt, 1862-1929)`らもこの立場を共有しており、まとめて`マッハ主義(Machism)`と呼ばれる。これは、例えば、先に見たようなスペンサーの総合哲学やマルクスの弁証法的唯物論がもつ実証的に得られた自然法則を人間の心的、社会的生活にまで適応するという動向に対して反省を行う。この哲学的傾向が論理実証主義という哲学運動の始源となる。

--- 

### マッハ(Ernst Mach, 1838-1916)
マッハは、バークリ、ヒューム、カントらに影響を受け、科学の基礎付けに関心を寄せた。彼は伝統的形而上学に強く反発し、カントの「物自体」のような神秘的で超越的な形而上学やエネルギー保存の法則など検証できない理論の排斥を目指す(カントから出発してヒュームに戻る)。

マッハは物理的世界と精神的世界という区別において双方に中立的で区別の以前の根源的要素(elements)である`感覚(Empfindung)`に一切の知識を還元する(原理的同格説)。そして、この還元により、伝統的な実在論と観念論の対立も解決できると考える。マッハによると、世界は感覚の総合であってなんら客観的なものは存在しない(バークリ的な観念論)、そして、感覚の原因を追究することは無意味である(ヒュームの不可知論)。つまり、感覚が実在物そのものであると主張する。従って、感覚できない存在物(形而上学の対象)は、検証し実証できないためすべて切り捨てる(ヒュームのフォーク)。

<span class="para">思考の経済説</span>
加えて、マッハによるとすべての知識は感覚であり、科学の目的はこの認識した現象的事実をできるだけ単純化して記述することに他ならない。この事実を単純化(数学化)して記述することによって思考を節約することを、`思考の経済(Denkökonomie)`という。例えば、伝統的形而上学の問題である因果関係などは、数式化された関数関係に置き換える。この思考の経済によって、科学を将来に役立てることができるとした。

---

## 経験批判論に対する批判
なお、命題の検証を感覚に一元的に還元することによって、結局観念論に陥っているとマルクス主義者で唯物論者であるレーニンはマッハ主義は観念論であると批判する。つまり、マッハは感覚を認識の出発点とするが、その感覚が前提とするはずの客観的事物を認めていない。またムーアの「観念論の論駁」に対する反論に成功していない。しかし、このマッハ主義の実証主義的精神は受け継がれ、これの観念論的側面を論理によって補ったのが論理実証主義である。


- 分析哲学史#1 日常言語学派による言語的転回(フレーゲとラッセル)
- 分析哲学史#3 論理実証主義
- ウィーン学団の哲学#1 検証可能性原理と還元主義による基礎付け




---



## 参考文献

1. <span class="cite1">{{reference.hist17}}</span>
1. <span class="cite2">{{reference.hist16}}</span>
1. <span class="cite3">{{reference.hist15}}</span>
1. <span class="cite4">{{reference.hist19}}</span>
1. <span class="cite5">{{reference.hist9}}</span>
1. <span class="cite6">{{reference.hist6}}</span>
1. <span class="cite7">{{reference.hist26}}</span>

<!--  -->

<div align="right">
    First post &nbsp; 2009/04/11<br>Last updated&nbsp; 2012/02/07
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}