{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!-- │<a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# 意味論#2 (心理説、検証説、真理条件説)(メモ)


## ４. 意味の心理説／意味の意図説(グライス)

グライスは日常言語学派に属する哲学者で、会話というコミュニケーションを言語分析の重要な手段とする。彼によると、文(言語表現)が意味を持つのは、それが「命題」(内容)を表現するからではなく、それが「人間の意図／心的状態」を表現するからである。言語的意味を心理学に還元するプログラム。これにおける意味の概念は、文の意味の概念とは異なる：
1. this is a fine red appleなどの意味が確定していない文がある。これは文脈で相手の心理を把握する必要がある。
2. 例えば、私が、「このリンゴはABCだ」といったとする。ABCは他人にとっては、甘いという意味であるとする。しかし、私は、ABCをすっぱいという意味において使用した。だからといって、私はが、リンゴは甘いということを意味したわけではない。
3. 皮肉など、文の意味と「話し手の意味」が異なる

グライスの還元プログラム：１、文の意味を話し手の意味に還元する、次に、２、話し手の意味をある種の意図を核とする、心的状態に還元する。

- Aさんは、聞き手であるBさんがｐという信念を形成することを意図して、ｘを発話した
- Aさんは、BさんがAさんの意図することを認識することも、意図している
- Aさんは、Bさんが、Aさんの意図を認識することをに基づいて、ｐという信念を形成することも、意図している

我々はこのような意図を無意識のうちに意図している。このように日常言語学派における意味論は心の哲学に比重が置かれる。

## ５. 意味の検証説(ウィーン学団)

文の意味とは、文の検証条件である。検証条件とは、文が真であることを示すことに繋がるような可能な経験の集合に他ならない。検証条件を持たない文(経験できない文)は無意味。
ウィーン学団の哲学#1

## ６. 意味の真理条件説(デイヴィドソン)

デイヴィドソンは、文の検証条件のかわりに真理条件を用いることでよりよい意味の理論を手にすることができると主張する。真理条件とは、命題が真であるときの条件(命題が真となるような条件)である。そして、これを意味論に適応する：

命題の意味を知っているということは、その命題が真となる条件を知っているということである
命題の意味を知っているということは、その命題が真であるかを判定する方法を知っている(検証説)、ということではない(認識論を気にする必要はない)。

真理条件とは、命題が真であるときの条件(命題が真となるような条件)であり、二つの命題が同義であるのは、それらが同じ条件の下、真であるときである(外延の一致？)。

## この言明はふたつの議論からなる(合成性)

1. 意味の理論は、個々の命題の意味を決定するものが何であるのかを示す手引きを与えるものでなければならない。(語を合成し意味ある命題を構成できる理由)
2. 人が始めてあった複雑な命題を理解する能力をもつこと。

デイヴィドソンは指針と制約を示し、それを擁護する議論を示す。
- 第1の制約は合成性である。これを擁護する二つの能力：
第１の能力：我々は語を習得している(有限個の特徴、意味の原子を習得している)
- 第2の能力：合成規則を習得している(文法規則、統語論、語を組み合わせて複雑な命題を生み出すパターン方法を習得している)

この合成性によって始めてあった命題を理解する能力が説明される。文をより細かい有意味な要素に統語論的に分解することで、複合的な意味を理解し、さらに、複合手kな意味を、文を構成するもっとも細かい有意味な部分の統語論的な関数として計算している。

また、初めての文を理解できる能力に必要なものはもうひとつあり、それは、「事実を知っているならば、初めての文の真偽を判定できる」である。この能力の理由も合成性に由来する、つまり複雑な命題の真理条件は、それの構成要素であるより単純な命題の真理条件によって決定される。そして、単純な命題から複雑な命題を構成する統語論的過程(合成過程)は、単純な命題の意味的性質(真理的性質)を受け継ぎながらなされる。例えば、Ａ＆ＢはＡとＢという単純な命題からなる複合命題であるが、この命題における真理条件もまた二つの真理条件を合わせたのものである(Ａ，Ｂ)(ＴＦＦＦ)。「(Ａ＆Ｂ)が真である⇔これの真理条件がＴＦＦＦである」

## デイヴィドソンは日常言語の命題に真理条件を割り当てるモデルとしてT文を採用する。

この真理条件を、日本語や英語にも当てはめる。「“ｐ”が真である⇔Qである」。デイヴィドソンはこれを真理の理論とする。
<blockquote>
「雪は白い」is true⇔雪は白い
</blockquote>

デイヴィドソンはこのT文を意味論に応用する。彼によると意味論は真理論にたどり着くという。なぜなら：
ある言語Lの意味論から全ての文ｓについて
<blockquote>
「ｓはMを意味する」 <br>
(「Snow is white」 means Snow is white)
</blockquote>

というMの意味を表すM文が帰結する。しかし、このMとはなにかについて考えると形而上学的になり、哲学的泥沼にはまる。そこで、Mを命題として：

- (M)「ｓはｐということを意味する」
- ｓは文の名前、ｐは文
とする。そして、「～は～を意味する」という表現をもっとすっきりさせる。つまり、ｐのところにｓを与えているようなものにする。ｓをメタ言語にする。
- (M)　ｓ⇔ｐ
- しかし、ｓは名であるため、双条件の左辺に埋め込むことができない。Ｓの後ろにTを補い命題にする。
- (M)ｓ is T⇔ｐ
- このように、意味論は規約T(真理論)そのものとなる。

## 意味論のテストと全体論(根源的解釈) 

---

## 注

---

## 参考文献

<!--  -->

<div align="right">
    First posted &nbsp; 2009/03/23
    <br>
    Last updated&nbsp; 2009/03/23
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!-- │<a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
│<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}