/*element.style{

}
*/

blockquote {
    position: relative;
    margin: 2% 4% 2% 4%;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    background: #f0f7ff;
}

blockquote p {
    position: relative;
    padding: 0;
    margin: 10px 0;
    z-index: 3;
    line-height: 1.7;
    text-indent: 11em;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}


.mytable{
  border-collapse:collapse;
  margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  width: initial !important;
}
.mytd,.myth{
  border:1px solid #ccc;
  padding:5px;
}
.myth{
  background:#EFEFEF;
}

.red{
  color:red;
}
.blue{
  color:blue;
}

.index ul {
        margin-left: 0px;
        box-shadow: 0px 0px 3px silver;
        border: solid 1px whitesmoke;
        padding: 0.5em 1em 0.5em 2.3em;
        position: relative;
        background: #fafafa;
    }
    
.index ul li {
        padding: 0.1em 0;
    }

h2{
  background-color: #e5eff0;
  padding: 8px;
}

h3{
  background-color: #F8F8F8;
  padding: 8px;
  margin-top:30px;
}

li, blockquote{
  font-size: 14.5px;
  padding-left: 5px;
}
h1 {
color: #99BFC5;/*文字色*/
padding: 0.5em 0;/*上下の余白*/
border-top: solid 3px #99BFC5;/*上線*/
border-bottom: solid 3px #99BFC5;/*下線*/
}

.para {
  display:inline-block;
  vertical-align: middle;
  /*color:#1F89C5;*/
    font-weight: bold;
  white-space: pre;
  /*font-size: 120%;*/
}
.para:after {
content: " : ";
}


#site-title{
      /*float: left;*/
    color: #222222;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}
.comments {
  list-style: none
}
.comments li{
  margin-bottom: 15px;
}

.book_list{
  list-style: none;
  font-size:14px;
      margin-left: -0.1em;
    /*text-indent: -0.5em;*/
    background-color: #F9F9F9;
        padding:0.4%;

}
.book_list li:first-child{
  font-weight: bold;

}
h1{
  margin-bottom: 50px;
  margin-top: 50px;

}
