{% extends "layout.html" %} 
{% block content %}

<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 分析哲学史#1 言語的転回(フレーゲとラッセル)

## 分析哲学(Analytic Philosophy)
分析哲学は、それ以前の主流であったヘーゲルを源とする絶対主義的思弁哲学に対する批判から生まれた新たな経験主義である。分析哲学においてある共通する問題があるわけではなく、それは、論理学、認識論、言語哲学、心の哲学、形而上学などさまざまな領域に展開している。ダメットによると、分析哲学はそれらが共有するテーゼによって特徴付けられる：
<blockquote>
「人間の思想についての哲学的説明は言語についての哲学的説明によってなされる」 <br>
「包括的な説明はそのようにしてのみ得られる」
</blockquote>

そしてこのテーゼを`言語的転回(linguistic turn)`と呼ぶ。換言すると、分析哲学とは言語的転回のテーゼを基にして、言語を観念より優先する、つまり言語哲学を基盤とする、新たな哲学的運動であった。また、これは主に英米で盛んだったため`英米哲学`や`アングロ・アメリカン哲学`などと地域や人種などで区別した呼ばれ方もする。だが、現在では英米に限らず世界中に広がっている。

---

### フレーゲ(Gottlob Frege, 1848-1925)
分析哲学のテーゼである言語に対する厳密で哲学的な探求を可能にしたのは、20世紀初頭の「数学の基礎付け」運動から始まった現代における論理学の革新的な進歩である。そして、この論理学発展の立役者であり、分析哲学の祖と呼ばれるのが、フレーゲである<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>。彼は、数学を論理学に還元することを試みて数学的概念を論理学に応用した。その過程で構築されたのが`述語論理([en]predicate logic)`である(彼自身は`概念記法`と呼んだ)。この新たな論理学は、アリストテレス以来基本構造がほとんど変化していなかった論理学に革命をもたらした。

<span class="para">記号論理学(symbolic logic)</span>
それまでの論理学は基本的に自然言語の文法規則に則って「SはPである」といった主語と名詞を結ぶ(もしくは分離する)ものにすぎなかったが、
それでは「aはbを愛する」といった関係を意味する文を形式的に表現するのが難しかった。
そこで、フレーゲは、命題を論理的主語である変数(a,b,c,...)とそれをn個引数とする述語(P,Q,R,...)に分ける。
つまり、通常の文法と論理の文法を区別した。
<!-- 前者は主語＋述語といった文法で、後者は命題を「xはyを愛する」といった関数として捉える。 -->
さらに、`量化の理論([en]quantification-theory)`を導入することによって
「全て, [en]every」や「いくつか, [en]some」を形式言語で表現することも可能にし、一階述語論理を独力で作り上げた。
この新しい論理の影響は絶大で(認知されるまで多少時間がかかったが)、
数学だけでなく哲学の分野においても厳密な言語の哲学的探求を可能にし言語哲学の分野を花開かせた。<a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"></span></a>。

<span class="para">言語哲学、意味と意義([du]Bedeutung ＆ Sinn)</span>
新たな論理による言語分析が可能になり、言語哲学が分析哲学における第一哲学になる。そして、言語哲学で中心的な問題になるのが意味論と呼ばれる分野で、これは言語の意味を考察することで「言語」と「世界」がどのように関係を持っているのかを研究する。

フレーゲは言語における意味は指示対象であるとする。しかし、「宵の明星/ヘスペラス」も「明けの明星/フォスフォラス」も同じ対象(金星)を指し示す名前(固有名)であり、従って、同じ`意味([du]Bedeutung)`を持つことになる。だが、「宵の明星は明けの明星である」という命題と「宵の明星は宵の明星」であると言う命題は明らかに異なる(フレーゲのパズル)。

フレーゲはこの事実に対し、「明けの明星」も「宵の明星」は共に同じ意味(Bedeutung、指示対象、外延)をもつが、二つの`意義([du]Sinn、認識価値、内包)`が異なるという。名前の「意義」は、それが表現している思想や認識価値である。つまり、「明けの明星」と「宵の明星」は同じ外延を持つが、それぞれに付与される認識価値が異なる。そして、意義を通して語の意味が与えられる。

そして、フレーゲによると、記述(文)そのものも意味と意義を持つ。記述の意味は、語の意味を合成して形成される(合成原理, [en]the princile of compositionality)。記述自体が指示対象(意味)をもつ。また記述の意義は、`思想([du]Gedanke、[en]Thought)`と呼ばれ客観的・超越的な実在とし、またそれが命題の真理条件であるとする。しかし、これは本質的概念をイデアという客観的存在と考えるプラトニズムであると言われる。また、「ユニコーン」などの指示対象をもたない`空の指示([en]empty reference)`という問題をもつ。

<span class="para">論理主義とラッセルのパラドックス</span>
フレーゲの`一階述語論理([en]first-order logic)`の統語論は、`高階の論理([en]higher-order logic)`の統語論へ拡張できる。そして、高階の論理は、数学や自然数論の公理を表現できる。これによって、フレーゲ(そして、ラッセル＝ホワイトヘッド)は、数学を論理学にすることを還元を試みた。この立場は「論理主義」<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>と呼ばれる。

数学を論理学に還元するには、整数を整数以外の概念で定義しなければならない。そこでフレーゲは整数を「集合」と「同数の」という二つの概念で定義する(カントールが始めた集合論は当時盛んな分野であった)。しかし、この試みはラッセルが発見した「ラッセルのパラドックス」で打ち砕かれることになる。そして、この研究はラッセル自身に受けつがれホワイトヘッドとの共著である『プリンキピア・マテマティカ』で結実する。

<ul class="book_list">
	<li>主著</li>
	<li>『概念記法』(Bergriffsschrift)1879<br></li>
	<li>『意義と意味について』(Uber Sinn und Bedeutung)1892<br></li>
	<li>『算術の基本法則』(Die Grundgesetze der Arithmetik)1893-1903</li>
</ul>

---


### ラッセル(Bertrand Russell, 1872-1970)
ラッセルは、数学、哲学、社会学と非常に幅広く活躍したである。彼は最初ヘーゲル主義者であったが、数学的プラトニズムに傾倒し、数学的実在を否定するヘーゲル主義に反発する。そこから次第にイギリス伝統の経験論に立ち帰り、経験論の欠点である合理性を論理と数学で補おうとした。ラッセルははじめプラトン的実在論に拘っていたが(「数学の原理」1903)、記述理論の発見により(「表示について」1905)、実在論から脱却し数学全体を集合論を基礎にして論理学に還元することを『プリンキピア・マテマティカ』で試みた。その結果、彼は数学の哲学と論理学で特に重要な業績を残した。

<span class="para">言語哲学</span>
・記述理論(Theory of Descriptions)
上記のフレーゲのパズルのように言語の意味を「指示」とする考え方は様々な問題を持つ。そこでラッセルはある唯一の対象を直接指示しているように思われる「確定記述(句)」(definite discriptions)(theを含む命題)を複数の記述に分析し消去する。例えば、「現在のフランスの王は禿である」(the present king of France is bald)という確定記述を分析してみると下のようになる：

<ol>
	<li>a、現在のフランス王は少なくとも(at least)一人は存在する。∃xKx　</li>
	<li>b、現在のフランス王は多くとも(at most)一人である。∀x(Kx→∀y(Ky→x=y)</li>
	<li>c、全ての現在のフランス王はそれが誰であれ禿である。∀x(Kx→Bx)</li>
</ol>

このように、確定記述を含む命題を三つの記述に分析、還元する。そして、確定記述はある唯一の対象を「指示」しているのではなく、実は複数の記述が連言で結ばれることで唯一の対象を「表示」(要素が一つの集合に限定)しているのだ、という考えに至る。この理論は、空の指示(empty reference)などの論理パズルに解決を与えることができ、論理学と分析哲学の発展に大きく貢献した。


<span class="para">ラッセルのパラドックス(Russell's paradox)</span>
数学を論理学で基礎付ける試みは順調に進んだが、ある決定的なパラドックスの発見により頓挫する。それは、集合に関するパラドックスであり「ラッセルのパラドックス」と呼ばれる(見かけは違うが「カントールのパラドックス」「ブラリ＝フォルティのパラドックス」など似たようなパラドックスは発見されていた)。つまり、フレーゲは集合論を頼りに数学を論理学に還元しようとしていたが、その肝心な集合論に問題があることがラッセルのパラドックスで判明してしまったのである。

このパラドックスは自分自身を含む集合を想定する際、現れる論理的なパラドックスである<a class="s">(\*4)<span class="s-balloon" id="popup_tyuu4"></span></a>。例えば、世の中の全てを「本の集合」か「本でないものの集合」にわけると、「本でないものの集合」それ自体は、(「本でないものの集合」は集合という概念であるためもちろん本ではないので)「本でないものの集合」に含まれる。つまり、それは「自分自身を含む集合」である。そして、次にこれとは反対の「自分自身を含まない集合」(集合Aとする)を想定してみる。もし、集合Aが自分自身を含むと考えると、それは自分自身を含まない。もし、集合Aが自分自身を含まないと考えると、それは自分自身を含むことになる。

これに対し、ラッセルは`タイプ理論([en]Type theory)`により、集合と要素にヒエラルキーの概念を導入する。それによると、全ての集合は自分のどの要素よりも高い階級にあるというものである(このヒエラルキーによる解決策も嘘つきのパラドックスのとの類似点である)。このタイプ理論によりラッセルは集合論のパラドックスに対し一応の解決を得てプリンキピアを完成させる。しかし、この高階述語論理(もしくは公理的集合論)による数学の基礎付けという試みは決定的な問題を持つことが後のゲーデルの不完全性定理によって示される。


<ul class="book_list">
	<li>主著</li>
	<li>「数学の原理」(Principles of Mathematics)1902<br></li>
	<li>「表示について」(On Denoting)1905<br></li>
	<li>『プリンキピア・マテマティカ』(Principia Mathematica)1910-13　ホワイトヘッドと共著</li>
</ul>

---


## 注

<ul class="comments">
    <li><span id="tyuu1">\*1. 近代論理学の発展はライプニッツに端を発する。彼はいち早く数学と論理の類似性に注目した。しかし、彼の論理学の業績は長い間公開されなかったため発展が遅れたとされる。そして、英国の数学者`ブール(G.Boole)`の論理を数学に還元する試みにより記号論理学の原型が形作られる。また、ブールは論理主義とは反対に論理学を数学に還元しようとした。 </span></li>
    <li><span id="tyuu2">\*2. 論理主義のテーゼ「数学的概念は論理的概念によって定義でき、かつ、数学的真理は基礎的な論理的真理から導かれる」。このような数学基礎論は、フレーゲとラッセルの`論理主義([en]logicism)`のほかには、ヒルベルトの`形式主義([en]formalism)`、`ブラウアー`や`ブローウェル`らの`直観主義([en]intuitionsm)`とおおきく三つに分けられる。 </span></li>
    <li><span id="tyuu3">\*3. 「全ての人は誰かを愛する」と「誰かは全ての人に愛される」は文法的に正しいが意味が異なる。このように文法的な正しさと論理的な正しさを分ける。 </span></li>
    <li><span id="tyuu4">\*4. ラッセルのパラドックスは嘘つきのパラドックスと多くの共通点をもつ。実際、ラッセル自身は、ふたつを同一の源泉を共有するパラドックスとした(ふたつは悪循環原理vicious circle principleを反することから現れるという)。しかし、`ラムジー(F.Ramsey)`は、ふたつの本質における差異を指摘した。
 </span></li>
</ul>

---
　　　　　　　　　　　　　　　　　　　フレーゲ＆ラッセル(理想言語学派)<br>
　　　　　　　　　　　　　　　　　　　　　　　　　↓<br>
　　　　　　　　　　　マッハ主義┐　　前期ウィトゲンシュタイン→後期ウィトゲンシュタイン←ムーア<br>
　　　　　　　　　　　　　　　　　　↓　　　　　↓　　　　　　　　　　　　　　　｜　　　　　　　　　　　　　　　｜<br>
プラグマティズム――┬――論理実証主義　　　　　　　　　　　　　　├――――――――――┘<br>
　　　　　　　　　　　　　↓　　　　　　　　　　　　　　　　　　　　　　　　　　　↓<br>
　　　　　　　ポスト・カルナップ学派　　　　　　　　　　　　　　　　日常言語学派<br>

---

## 参考文献
- {{reference.ana2}}
- {{reference.hist15}}
- {{reference.hist19}}
- {{reference.hist9}}
- {{reference.ana21}}
- {{reference.ana12}}

<!--  -->

<div align="right">
    First post &nbsp; 2008/12/13<br>Last updated&nbsp; 2012/03/15
</div>
<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}