{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 前期ウィトゲンシュタイン「論理哲学論考」#3 単純な命題とは
## ４. 要素命題（elementary propositions）
要素命題は要素的な事態に対応するもっとも単純な命題である。また、事態は相互に独立であるため、要素命題もまた相互に独立である（\*1）。そして、要素命題に論理定項を用いて他の要素命題と結合することによって我々が普段見慣れている命題（複合命題）になる。それにはまず事実に対応する複合命題から要素命題に至る必要がある。しかし、Wは日常言語における命題というものをラッセルが考えるもの（\*2）よりもっと複雑なものであると考え、完全に分析することは不可能で、我々は決して要素命題にたどり着けないと言う。なぜか。

## ４－１. 要素命題の到達不可能性
例えば、「ソクラテスの弟子達は師に会いに行く」という命題は、「プラトンはソクラテスに会いに行く」と「クセノフォンはソクラテスに会いに行く」などの複数の命題を含む複合命題であるのは明らかである。そして、「プラトンはソクラテスに会いに行く」という命題もまた「プラトンは歩く」や「プラトンはソクラテスに向かう」など複数の言明を含む。この分析の終点にあるのが要素命題であるのだが、人間には日常言語からそれに到達することはできない。なぜなら、鉛筆を構成する原子を我々には見ることができなように、最小単位である名（狭）から構成される要素命題も途方もなく微細で複雑だからである。しかし、例えば、「ある男性が歩く」という命題は単純で論理定項を含まない単純な命題に見える。これは、要素命題ではないのだろうか。これもまた要素命題には程遠い。なぜなら、例えば、「男性」という名（広）を見てみてもそれが生物学、物理学、心理学などの見地から多様に分析することができ、かつ、それらがもたらす命題のどれもが不十分であるように思われるからである。また、「歩く」という名（広）の内にも、例えば、「ある男性は身体バランスを保つ」と「ある男性は二本の足を交互に前へ出す」などの命題に分析することができる。このように日常言語を理解するにはとてつもなく複雑なバックグラウンドを無意識に前提としている（\*3）。この複雑さ、到達の不可能性は4.002で繰り返し言及される：

日常言語は、人間と言う有機体の一部であり、他の部分に劣らず複雑である。
日常言語から言語の論理を直接に読み取ることは人間には不可能である。
思考は言語で偽装する。すなわち、衣装をまとった外形から、内にある思考の形を推測することはできない。なぜなら、その衣装の外形は、身体の形を知らしめるのと全く異なる目的で作られているからである。
日常言語を理解するための暗黙の取り決めは途方も無く複雑である。（4.002）
そして、例えば、もし、要素命題pにたどり着いたとしてもそのpが日常言語で表現されるかぎり、それは要素命題ではありえない。なぜなら、日常言語（名（広））は、全て命題関数によって解明されることによって意味をもつ。つまり、言語の総体を前提としているため、日常言語はそれぞれ連関をもつため複雑さの順序を規定することは不可能であり、またそのため日常言語を用いた命題は全て複合命題となる。従って、要素命題にたどり着けないならば、日常言語を完全に分析することなど不可能であるということである。この結論からラッセルは、論理を構築するために日常言語の論理的な理想言語へ向かった。そして、彼が『論考』の解説でWの中に誤って見た立場である。

## ４－２. 日常言語の擁護によって要素命題に到達
しかし、実際はWは日常言語を離れず、日常言語の論理的正当性を擁護した：

われれれの日常言語の全ての命題は、実際、そのあるがままで、論理的に完全に秩序付けられている（5.5563）
その根拠は何か：
<blockquote>
アプリオリに我々に与えられていると思われるのは、これという概念である。―この概念は対象という概念と同一である。
関係や性質などもまた対象である。（『草稿』p232、sited in 鬼界p111）
</blockquote>

つまり、Wは、我々の「これ」や「あれ」などの名指しというアプリオリな能力（対象化の能力）がなにかを対象として捉えることを可能にするという。このように、分析不可能な要素命題から名（狭）および単純な対象を探求するのが不可能であると認めたが、それでも日常言語の正当性は失われず、指示能力によって保持される。換言すれば、日常言語は依然として完全に分析することはできない、しかし、指示能力によって名（狭）は名（広）に統合される。それによって、日常言語は完全な明瞭性を保障される。エイヤーによると：
<blockquote>
...『哲学的考察』...のなかで「眼に見える机は電子からできているのではない」といっている。／単純な対象だけが名指されうるという仮定は放棄されなければならないように思われる。この仮定を捨てれば、単純観念が共在の関係によって結ばれるというロックの考えにならって、事態が知覚可能な性質から成ると考えることも不可能ではなくなる。この考えは名と述語の区別をなくしてしまうが、ウィトゲンシュタインは、要素命題が名のみから成ると主張することにより、すでにそのような区別を取り払っていたようにも思われる。（エイヤー, p39）
</blockquote>


では、我々が普段触れる名（広）が単純な対象であるならば、それから構成される要素命題の具体例を挙げることは容易であるかのように思われる（名（広）をカントやアリストテレスが行ったようにカテゴリー分けすればいいだけの話ではないのか）。例えば、「机の上に眼鏡ケースがある」は名（広）で構成され、また論理定項を含んでいるように見えないので、要素命題といえないのだろうか。しかし、それは要素命題とは言えない。そして、依然として客観的な要素命題の例を提出することはできないのである。なぜなら、言語とは、他人と根本的に共有することのできない「私の言語」であるからだという。詳しくは独我論の項目でみる。また、取り合えず、名（広）で構成され論理定項を含まない命題を要素命題としておく。

## ４－３. 名から再び要素命題へ
とにかく私は「私の要素命題」に到達することにより、前回みたように命題関数を用いて名の論理形式を解明し、それに従って要素命題を名に分解することができる。そして、再度、個々の名の論理形式に従って、可能な要素命題を再構成することができる。これが事態に対応する要素命題である。繰り返すことになるが、例えば、「ソクラテスはプラトンを愛する」や「ソクラテスは空を飛ぶ」は、意味をもつ命題で理解可能なので可能な事態に対応する要素命題であるが、「ソクラテスは金属疲労する」「ソクラテスは因数分解される」などは、ソクラテスという名の論理形式から逸脱し意味を持たず理解不可能である。このように名によって全ての可能な要素命題が判明する。

では、この要素命題がどのように合成され複合命題となるのか。これが判明することによって人間の思考の限界が明らかとなる。次に要素命題から展開される論理空間の議論に移る。

### ・用語まとめ
- 分析：ラッセルの用語。命題に含まれる複数の言明を解明すること。
- 要素命題：名からなる要素的な事態に対応する命題
- 名（狭）：厳密な意味における対象に対応する言語
- 名（広）：人間の対象化の能力によって対象となったものに対応する言語

---

## 注

\*1　要素命題の独立性（野矢p130）
要素命題が相互に独立であるとは、あるひとつの要素命題からは決していかなる命題も帰結しえないということを示す。相互に独立とは、相互に両立不可能であるとはまた異なっている。しかし、その相互独立性の論証は野矢氏によると円環をなしており、説得力にかけるという。そして、これこそ、『論考』のドグマであり、W自身過ちをみとめ後期の思想へ向かった地点であるという。

\*2
例えば、ラッセルは「現在のフランス国王は禿である」という命題に対し、三つの言明を見出し、それでその命題は「完全に分析された」という。→ラッセルの確定記述

\*3
この日常言語のバックグラウンドの捉え方が、前期と後期の大きな違い

---

## 参考文献
最後の項目
<a href="{{last_page}}">「前期ウィトゲンシュタイン「論理哲学論考」#7 語りえぬもの：倫理」</a> にまとめた。

<!--  -->

<div align="right">
    First post &nbsp; 2009/01/15
    <br>
    Last updated&nbsp; 2009/02/01
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}