{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 前期ウィトゲンシュタイン「論理哲学論考」#4-2 真理関数と量化理論

### ５－２、真理関数
要素命題を得ることによって、それらがもつ事態の総体である論理空間が展開されることを見た。
そして、Wは論理定項によって要素命題がもつ論理空間の真理領域を操作し、その操作された真理領域によって真理関数(複合命題)が説明されることもまた見た。
例えば、フレーゲは、($p\vee q$)が(TTTF)を意味すると考えるが、Wは「$\vee$」が$p$と$q$の真理領域を操作し、(TTTF)を出力するとする。
そして、これが($p\vee q$)を意味するのである。
そのため、複合命題とは論理空間のひとつの表れである。
そして、限られた要素命題における真理領域の操作は無限に行えるのではなく限られている。



<blockquote>
すべての真理関数は、要素命題に対して真理操作を有限回くり返し適用することによって得られる。
(5.32)
<br>
$n$個の要素命題に対して、可能な真理条件は$Ln[=2^{2^n}]$組ある。
(4.45)
</blockquote>

例えば、$p$と$q$という二つの要素命題に対しては16組の真理条件群がある(要素命題が三つあれば64組、四つあれば256組の真理条件群があることになる)。
$p$と$q$という二つの要素命題がもつ真理条件群の一覧表は5.101に書かれている。

<!-- |$p$|$q$|(1)|(2)|(3)|(4)|(5)|(6)|(7)|(8)|(9)|(10)|(11)|(12)|(13)|(14)|(15)|(16)|
|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|
|1|1|1|0|1|1|1|0|0|0|1|1|1|0|0|0|1|0|
|0|1|1|1|0|1|1|0|1|1|0|0|1|0|0|1|0|0|
|1|0|1|1|1|0|1|1|0|1|0|1|0|0|1|0|0|0|
|0|0|1|1|1|1|0|1|1|0|1|0|0|1|0|0|0|0|

<br> -->

||　　　Wの記法　　　|　　論理式の例|||　　　Wの記法　　　|　　論理式の例|
|--|--|
|(1)|(TTTT)($p, q$)|$　　　(p\to p)\vee (q\to q)$||(9)|(TFFT)($p, q$)|$　　　p\leftrightarrow q$|
|(2)|(FTTT)($p, q$)|$　　　\neg (p\wedge q)$||(10)|(TFTF)($p, q$)|$　　　p$|
|(3)|(TFTT)($p, q$)|$　　　q\to p$||(11)|(TTFF)($p, q$)|$　　　q$|
|(4)|(TTFT)($p, q$)|$　　　p\to q$||(12)|(FFFT)($p, q$)|$　　　\neg p\wedge \neg q$|
|(5)|(TTTF)($p, q$)|$　　　p\vee q$||(13)|(FFTF)($p, q$)|$　　　p\wedge \neg q$|
|(6)|(FFTT)($p, q$)|$　　　\neg p$||(14)|(FTFF)($p, q$)|$　　　q\wedge \neg p$|
|(7)|(FTFT)($p, q$)|$　　　\neg q$||(15)|(TFFF)($p, q$)|$　　　q\wedge p$|
|(8)|(FTTF)($p, q$)|$　(p\wedge \neg q)\vee (q\wedge \neg p)$||(16)|(FFFF)($p, q$)|$　(p\wedge \neg p)\wedge (q\wedge \neg q)$|

この表が$p$と$q$から構成することができる要素命題の真理関数であり、有意味な命題の総体である。
(古典命題論理の)複合命題はすべてこのいずれかと同一の真理条件をもち、それに還元することができる。
例えば、
<blockquote>
$((p\to \neg q)∨(p\leftrightarrow q))\wedge (p\wedge \neg q)$
</blockquote>
	
などの複合命題であっても、この命題における真理条件群は(FFTF)($p, q$)であるため、同じ真理条件群を持つ(13)の$(p\wedge \neg q)$と同値の命題といえる(名それ自体が意味をもつと考えるラッセルとフレーゲはこれら二つを異なる命題と考える)。

<blockquote>
一つの事実$p$からそれとは<ruby><rb>別の</rb><rt>、、</rt></ruby>事実、例えば、$\neg \neg p$、$\neg \neg \neg \neg p$、
等々が無限に帰結しなければならないなどということは、直感的にいって、まず信じられないことである。
そしてまた、無限個の論理学(数学)の命題が半ダースほどの「基本法則」から帰結するというのも、これに劣らず奇妙な話でしかない。
(5.43)(傍点翻訳)
</blockquote>
  

#### トートロジーと矛盾
上の二つの要素命題における可能な真理条件群の一覧表で両端((1)と(16))に極端な真理条件をもつ命題があるのがわかる。
それは、すべての真理条件がTで構成されている命題と、全ての真理条件がFで構成されている命題である。
一方はトートロジー、もう一方は矛盾とよぶ。
これらは、「無内容」な命題である。
しかし、ここでいわれる「無内容」な命題とは、前に見たような、論理形式を逸脱した「無意味」な命題とは異なり、双方とも要素命題の真理関数である。
そして、トートロジーは全ての真理条件群が真理根拠であるため、いかなる場合でも真となる命題である。
それゆえいかなる情報も発信しないという意味で無内容である。


もう一方の矛盾はトートロジーの否定であるが、こちらは、いかなる場合でも偽となる命題で、またこちらもまた無内容命題である。
しかし、古典論理では矛盾からあらゆる命題が帰結するという原理をもつ(爆発原理, ex falso quodlibet, the principle of explosion)。
だが、前回見た推論の規則を考慮すると、Wはこの原理を擁護していないというのが分かる。
つまり、推論の規則とは、$p\to q$という命題において、$q$の真理領域に$p$のすべての真理根拠が含まれている場合、正しい推論であるというものであった。
例えば、(TFFF)($p, q$)から(TTTF)($p, q$)を推論するのは、後者が前者の真理根拠を含んでいるため全く正しい。
しかし、矛盾の場合を考えてみると、矛盾は(FFFF)($p, q$)という真理根拠を含まない命題であるため、導く命題に含まなければならない真理根拠を持ち合わせていない。
例えば、矛盾(FFFF)($p, q$)から(TFFF)($p, q$)という命題を導いた場合、後者のどこに前者の真理根拠があるだろうか。
あるはずがない。
そのため、Wは先の爆発原理を容認せず、矛盾はいかなる命題も導けない無内容な命題という立場をとる。

<blockquote>
矛盾はいわば全命題の外側に消え去り、トートロジーは全命題の内側に消え去る。<br>
矛盾は諸命題の外側の限界であり、トートロジーはその空虚な中心点である。
(5.143)
</blockquote>

この二つの極端な命題を無内容とすることで、それ以外の「有内容」な命題とは、論理空間において真偽の境界線上に位置する命題郡であることが明確になる。


### ５－３、量化における困難
先にみた論理に関する主張はすべて命題論理において妥当であるが、フレーゲが創設した述語論理<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>においてはどうだろうか。
述語論理は量化子($\forall$、$\exists$)を体系的に組み込む論理体系で現在ではあらゆる分野で基礎をなし標準となっている。
しかし、この量化によって命題の領域は無限に展開される。
この領域を、先のWの理論で取り扱うことができるのだろうか。
要素命題が無限にあると想定すると、論理空間が無限に展開されることになる。
つまり、

- A. 量化によって命題の領域は無限に拡大する。
- B. 論理定項の操作は無限に適用することはできない(5.31)。


この二つをまとめると、有限な論理定項で無限な領域を操作しなければならないということだ。


####  $N(\xi)$の導入によって量化を説明
Wはこれに対し、まず「(-----T)($\xi, \cdots$)」という真理関数を導入する。
これにおける$\xi$は任意個の要素命題の列であり、また(-----T)はその要素命題の列を論理式とみなした場合、これの最後の真理条件をTに固定し、それ以外のすべての真理条件をFにするという操作である。
例えば、$\xi$に$p$と$q$の二つの要素命題の列のとき、$N(p,q)=$(FFFT)($p, q$)となる。
また、$\xi$が無限列だとしても、$N(\xi)$によって諸要素命題の真理条件群を(・・・FFFFT)に固定する操作を行う。
そして、この操作$N(\xi)$を反復適用することによって他の全ての論理定項を表現する<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>。
具体的に見る。

||||||
|--|--|--|--|--|
|$\neg p$|$\leftrightarrow$  |$N(p)$|$\leftrightarrow$ |$\neg (p\vee p)$|
|$p\wedge q$|$\leftrightarrow$ |$N(N(p),N(q))$|$\leftrightarrow$ |$\neg (\neg p\vee \neg q)$|
|$p\vee q$|$\leftrightarrow$  |$N(N(p,q))$|$\leftrightarrow$ |$\neg \neg (p\vee q)$|
|$p\to q$|$\leftrightarrow$  |$N(N(N(p),q))$|$\leftrightarrow$ |$\neg \neg (\neg p∨q)$|

この、操作$N(\xi)$は量化で無限にまで拡大した要素命題とそれが生み出す論理空間に対しても適用可能である。
詳しくみると、例えば、存在を表す量子記号$(\exists x)fx$ (ただし、$x\in \lbrace a,b,c,\cdots\rbrace $)は、直感的に$(fa\vee fb\vee fc\vee fd \cdots)$と同値である。
そして、「$\vee$」は、$N(N(p, q \cdots))$で表現できるので、$(\exists x)fx$は、$N(N(fa, fb, fc, fd, \cdots))$と表現できる。
他方、一般量化子$(\forall x)fx$は、$(fa\wedge fb\wedge fc\wedge fd \cdots)$を意味する。
そして、「$\wedge$ 」は、$N(N(p), N(q),\cdots)$で表現できるのであったので、$(\forall x)fx$は、$N(N(fa), N(fb),N(fc), \cdots)$と表現できる<a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"></span></a>。
<!-- 全称量子記号の表現において操作Nが無限に使用されているが、この使用に関しては、フォジランによると、修正は容易で大した問題ではないという[12, p.169]。 -->


#### Wの量化理論の誤り
しかし、フォジランによると(cf. [5, p.172])、この理論では多重量化(multiple quantifications)を扱うことができないため、誤りであるという。
同一の量子記号による多重量化された命題、例えば、$(\forall x)(\forall y)fxy$などの多重量化は問題なく$N(\xi)$で表現できるが、$(\exists x)(\forall y)fxy$などのことなる量子記号をもつ多重量化では、Wの理論を擁護するのは困難である。
具体的に見てみると、まず、$(\exists x)(\forall y)fxy$を得るには、まず$(\exists x)$をみてから$(\forall y)$と順番に見ていく。

1. $N(N((\forall y)fay, (\forall y)fby, (\forall y)fcy,  \cdots))$

を得る。
<!-- 1. $(\forall y)N(N(fay, fby, fcy \cdots))$を得る。 -->
これは、$(\exists x)(\forall y)fxy$と同値である。
次に、この(1)中の$(\forall y)(fay)$を一つ取り出して考えて見る。
そうすると、
2. $N(N(faa), N(fab), N(fac),  \cdots)$

と同値であるのが分かる。
つまり、(1)の中に(2)を無限に含み、(2)の中に操作$N(\xi)$を無限に含むため、
<blockquote>
すべての真理関数は、要素命題に対して真理操作を有限回繰り返し適用することによって得られる(5.32)
</blockquote>

という原則と矛盾する<a class="s">(\*4)<span class="s-balloon" id="popup_tyuu4"></span></a>。
(要確認)


---

## 注
<ul class="comments">
<li><span id="tyuu1">\*1. 述語論理は、命題の述語を取り扱い、また、それらの量化(quantification)を可能にすることによって、命題を分析する精度をより正確なものにする論理である。
   </span></li>
<li><span id="tyuu2">\*2. $N(\xi)$は、同じ真理操作を行う(例えば(FFFT)($p, q$))、「$↓$」シェファーストローク(nor)で考えることもできる。
	また$p ↓ q $は$ \neg (p ∨ q)$と同値でもある。
この操作の繰り返しで全ての論理定項の操作を表現することができる。
また、「$↑$」シェファーストローク(nand)でも全ての真理関数を表現することができる。
  </span></li>
<li><span id="tyuu3">\*3. 実は量化を展開したとき現れる、例えば「$fa\wedge fb\wedge fc・・・$」における、「・・・」は論理定項と同様に無限を表す働きをしている。
	Wはそれに気づかなかった(cf. [13, p.202][11, p.69])。
  </span></li>
<li><span id="tyuu4">\*4. これに対し、野矢[12, p.170]は、無限の対象領域を限定することによって、フォジオンの誤りを指摘する。
  </span></li>
</ul>

---

用語まとめ
- 論理空間logical space：要素命題が得られたならば、それらの可能な事態があきらかとなる。
そして、この自体の総体が論理空間。
- 真理関数truth-functions：フレーゲとラッセルの場合は真偽を入力し真偽を出力する関数である。
Wの場合は単に論理定項をふくんだ複合命題を指す
- 論理定項logical constant：論理空間をアプリオリに操作するもの
- 基底basis：論理空間において論理操作を行うベース
- 真理操作：論理定項による真理領域の操作
- トートロジーtautology：真理領域がすべての真理条件と一致する命題。
真理であるが故に情報をもたない。
$A\to A$など
- 矛盾contradiction：真理根拠をもたない命題。
これも無内容な命題。
$A\wedge \neg A$など



---

## 参考文献
最後の項目
<a href="{{last_page}}">「前期ウィトゲンシュタイン「論理哲学論考」#7 語りえぬもの：倫理」</a> にまとめた。


<!--  -->

<div align="right">
    First post &nbsp; 2009/01/21
    <br>
    Last updated&nbsp; 2011/08/30
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}