{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 前期ウィトゲンシュタイン「論理哲学論考」#4-1 論理空間における真理操作

ここまでの議論を要約すると、まず、我々は存在論的世界から像である命題を構成する。
そして、この命題を要素命題に分析した後、名の論理形式を解明することにより、要素命題から名が分解される。
さらにその分解された名で論理形式に従って有意味な命題である要素命題を再構成することが可能になる。
次に、その再構成された要素命題によって論理空間が展開される。
この論理空間は今では真理表と呼ばれるものであり、これによって論理定項の役割である真理の操作を見ることが可能になる。


## 論理定項の意味の否定
論理空間に移る前に、Wの論理定項が指示対象を持つかという問題に対する否定的なスタンスをみておく。
論理定項とは、一般的に論理学で用いられる定項のことであるが、ここで扱うのは基本的な($\neg, \wedge, \vee, \to$)の4つである。
<table class="mytable">
<thead>
  <tr>
    <td class="mytd">否定</td>
    <td class="mytd">$\neg P$</td>
    <td class="mytd">not $P$</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="mytd">連言</td>
    <td class="mytd">$P\wedge Q$</td>
    <td class="mytd">$P$ and $Q$</td>
  </tr>
  <tr>
    <td class="mytd">選言</td>
    <td class="mytd">$P\vee Q$</td>
    <td class="mytd">$P$ or $Q$</td>
  </tr>
  <tr>
    <td class="mytd">条件</td>
    <td class="mytd">$P\to Q$</td>
    <td class="mytd">if $P$, then $Q$</td>
  </tr>
</tbody>
</table>

例えば、「$\neg$」は否定を表す論理定項で、これを命題の頭に付けることでその命題を否定する。
「ミケは魚を食べる」という命題にこれを付けることで(「$\neg$ (ミケは魚を食べた)」)、それは「ミケは魚を食べなかった」と全体を否定する命題になる。

では、**この論理定項自体は指示対象をもつのだろうか**。
フレーゲやラッセルはイエスと答える。
例えば、($P\wedge Q$)という複合命題がもつ論理定項「$\wedge$」はそれ自体で意味をもつ。
しかし、それだと、($P\wedge Q$)は$P$と$Q$から独立した真理値をもつことになり、なぜ、($P\wedge Q$)という真理関数に真偽を当てはめたとき、(TTTF)という真理条件が出力されるのか説明されない。
Wはここにおいても反対の立場をとり、論理定項は独立した価値を持たないと考える(「論理的対象は存在しない」(4.441))。
なぜなら、
もし、論理定項「$\neg$ 」が名であるならば、二重否定「$\neg\neg P$」が、「$P$」と同一の意味をもつということに対して説明できない。
<!-- 「$\neg$ 」が指示対象をもつ名であるならば「$\neg\neg P$」と「$P$」が同一ということはありえない。 -->
加えて、命題は一種の像であり、そして、命題は否定「$\neg$ 」を加えることによって簡単に否定しえる。
これはつまり、像は否定し得るということを意味するが、例えば、他の事実を表す像である絵画はどのように否定しえるだろうか。
「ミケは魚を食べる」という事実を表す絵画を墨で塗りつぶしたり、ナイフで切り裂いたとしてもその絵が表す内容を否定することはできない(「ミケは魚を食べなかった」を表すことはできない)。
これらはつまり、論理定項は指示対象をもたず、そして、これは**真理を操作するもの(関数)である**ということを示唆している。



<blockquote>
「論理定項」はなんらかの対象の代わりをするものではない。
事実の論理は記号で表しえない。
これが私の根本思想である。
(4.0312)
</blockquote>

## ５. 論理空間
論理形式によって分解された名から事態に対応する要素命題が論理形式に従って構成されることによって、我々は超越論的に可能な事態の総体を作り上げる。
これを論理空間とよぶ。
例えば、$P$と$Q$という要素命題を得たならば、それぞれの要素命題が成立し真(T)であるときと偽(F)であるときがある。
そして、それぞれの要素命題の真偽の組み合わせて可能な事態を構成する。
また、要素命題が複数になることにより、可能な事態は増える(nを要素命題の数とすると、可能な事態は2^n個ある)。
$P$と$Q$の二つの要素命題の場合、それらの事態の組み合わせは四組(＝2^2)である：

(論理空間)

<table class="mytable">
<thead>
  <tr>
    <th class="myth">要素命題</th>
    <th class="myth">$P$</th>
    <th class="myth">$Q$</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="mytd">真理可能性1</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
  </tr>
  <tr>
    <td class="mytd">真理可能性2</td>
    <td class="mytd">F</td>
    <td class="mytd">T</td>
  </tr>
  <tr>
    <td class="mytd">真理可能性3</td>
    <td class="mytd">T</td>
    <td class="mytd">F</td>
  </tr>
  <tr>
    <td class="mytd">真理可能性4</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
  </tr>
</tbody>
</table>

また、要素命題は有意味で肯定的な事態しか表さないため、この時点では否定は存在しない(理解不可能で無意味な要素命題は、論理形式から逸脱している)。
そのため、Tが事態が成立していることを表しても、Fは事態が成立して”いない”ことを表しているわけではない。
Fは、野矢氏[12, p.94]の解説によると、いかなる事態も属していない状態を表すと言う。
この四つが要素命題がもつ可能な事態の全てであり、論理の基底である。
これを基に真理操作が可能となる。



## 用語紹介
先に$P\wedge Q$の真理表と共に用語をまとめてみておく：

<table class="mytable">
<thead>
  <tr>
    <td class="mytd"></td>
    <td class="mytd">$P$</td>
    <td class="mytd">$Q$</td>
    <td class="mytd">← 要素命題</td>
    <td class="mytd" rowspan="5"></td>
    <td class="mytd"></td>
    <td class="mytd">$P\vee Q$</td>
    <td class="mytd">← $\vee$は真理関数</td>
    <td class="mytd"></td>
  </tr>
  <tr>
    <td class="mytd">真理可能性1</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
    <td class="mytd" rowspan="4">← 論理空間</td>
    <td class="mytd">真理条件1</td>
    <td class="mytd">T</td>
    <td class="mytd">← 真理根拠1</td>
    <td class="mytd" rowspan="3">真理領域</td>
  </tr>
  <tr>
    <td class="mytd">真理可能性2</td>
    <td class="mytd">F</td>
    <td class="mytd">T</td>
    <td class="mytd">真理条件2</td>
    <td class="mytd">T</td>
    <td class="mytd">← 真理根拠2</td>
  </tr>
  <tr>
    <td class="mytd">真理可能性3</td>
    <td class="mytd">T</td>
    <td class="mytd">F</td>
    <td class="mytd">真理条件3</td>
    <td class="mytd">T</td>
    <td class="mytd">← 真理根拠3</td>
  </tr>
  <tr>
    <td class="mytd">真理可能性4</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
    <td class="mytd">真理条件4</td>
    <td class="mytd">F</td>
    <td class="mytd"></td>
    <td class="mytd"></td>
  </tr>
</thead>
</table>

<!-- 　要素命題　　　　　P Q　　　　P\wedge Q　　　真理関数(複合命題)
――――――――――――――――――――――――　　　　　　　
真理可能性１　　　 T T　　　　　T　　　　真理条件１　　真理根拠１┐
真理可能性２　　　 F T　　　　　T　　　　真理条件２　　真理根拠２｜諸真理根拠群
真理可能性３　　　 T F　　　　　T　　　　真理条件３　　真理根拠３┘(真理領域)
真理可能性４　　　 F F　　　　　F　　　　真理条件４ -->

$P\wedge Q$の真理条件を横書きで記すと(TTTF)となり、左から真理条件１２３４に対応する。


## ５－１. 論理定項の真理領域の操作
論理空間の意味が明らかになったならば論理定項の役割もまた明確となる。
それは、真理(TとF)の関数的な操作である。
これは論理プラトニズムを唱えるフレーゲに反対する観点であり、論理にアプリオリ性を主張するものである。
それは、$(P\wedge Q)$が(TTTF)という真理条件を表示するのではなく、例えば、論理定項「$\wedge $」は$P$と$Q$という二つの要素命題における真理領域をアプリオリに操作し、新たに(TTTF)という真理条件を生み出すのである。
そして、この真理条件が($P\wedge Q$)という複合命題を表すのだと言う。
具体的に、基本的な4つの論理定項がどのような真理操作を行うか見てみる。


### 論理定項「$\neg$ 」の役割
それぞれの要素命題は、それぞれが真となる領域(真理領域)を持つ、例えば、要素命題$P$の場合、$P$は、可能な事態を二つ持つため、(TF)という真理可能性群を持つ。
同時に(TF)は$P$の真理条件群である。
そして、この諸真理条件群を反転させるのが、論理定項「$\neg$ 」である。
下の表を見れば真理条件群が反転しているのが分かる。

(論理空間)

　　　　　　　　　　　　P 　　　　　P 　　　　$\neg P$
―――――――――――――――――――――――――
真理可能性１　　　 T　　　　　T　　　　　　F　　真理条件１
真理可能性２　　　 F　　　　　F　　　　　　T　　真理条件２

Wの表記法によると、(FT)($P$)と表記されこれが$\neg P$を意味する。
また、二重否定($\neg\neg P$)は真理領域の操作を二度行うので(TF)($P$)となり、$P$と等しくなることが分かる。


### 論理定項「\vee 」と「＆」の役割
また論理定項「\vee 」と「＆」はどのような真理領域の操作を行うのだろうか。
「\vee 」は二つの要素命題の真理領域を合併する。
下の表をみると、「\vee 」によってPとQの真理根拠を合わせられたものであることが分かる。
またどちらも真理根拠を持たない(4)においてはFにとどまっており、最終的に(TTTF)という真理条件群を形成している。
これはWの記号法で記すと、(TTTF)($P, Q$)となる。
これが、真理関数$P\wedge Q$を意味する。


「＆」が行う操作は、二つの要素命題がそれぞれもつ真理領域において共通する真理根拠を抽出するというものである。
下の図において、$P\wedge Q$という命題が、(1)の$P$と$Q$の共通する真理根拠のみをTとして、それ以外はFとしているのが分かる。
また、Wの表記法では、(TFFF)($P, Q$)と表される。
これが真理関数$P\wedge Q$を意味する。


<table class="mytable">
<thead>
  <tr>
    <th class="myth"></th>
    <th class="myth">$P$</th>
    <th class="myth">$Q$</th>
    <th class="myth">$P\vee Q$</th>
    <th class="myth">$P\wedge Q$</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="mytd">(1)</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
  </tr>
  <tr>
    <td class="mytd">(2)</td>
    <td class="mytd">F</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
    <td class="mytd">F</td>
  </tr>
  <tr>
    <td class="mytd">(3)</td>
    <td class="mytd">T</td>
    <td class="mytd">F</td>
    <td class="mytd">T</td>
    <td class="mytd">F</td>
  </tr>
  <tr>
    <td class="mytd">(4)</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
  </tr>
</tbody>
</table>

### 論理定項「$\to $」の役割
論理定項「→」は、推論関係を表す論理定項である。
では、正しい推論と誤った推論はどのようなものか(5.12)。
$P$から$Q$が導かれる場合、$Q$の真理領域には必ず$P$の全ての真理根拠を含む(5.122)。
例えば、($P\wedge Q$)の真理領域は(TFFF)であった、そして($P\wedge Q$)の真理領域は(TTTF)である。
つまり、($P\wedge Q$)の真理根拠は($P\wedge Q$)に含まれているため(真理条件１のTが共通している真理根拠)、($P\wedge Q$)→($P\wedge Q$)は正しい推論であると言える。
また、逆に、($P\wedge Q$)から($P\wedge Q$)を導いた場合正しい推論と言うことはできない。
なぜなら、($P\wedge Q$)の真理領域(TTTF)が($P\wedge Q$)の真理領域(TFFF)に含まれていないからである(２、３の真理条件が$P\wedge Q$に含まれていない)。
このように、正しい推論は、前者の真理領域が、後者の真理領域に内包されていなければならない。


このように推論の真偽とは、前者の真理領域を後者が内包しているかどうかである。
また逆に$Q$に含まれている真理領域を$Q$の真理領域に含まれていない場合、それは誤った推論となり、必ず偽となる。
これを真理表で表すと下のようになり、また、Ｗの記号法によると(TTFT)($P, Q$)となる。

<table class="mytable">
<thead>
  <tr>
    <th class="myth"></th>
    <th class="myth">$P$</th>
    <th class="myth">$Q$</th>
    <th class="myth">$P\to Q$</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="mytd">(1)</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
  </tr>
  <tr>
    <td class="mytd">(2)</td>
    <td class="mytd">F</td>
    <td class="mytd">T</td>
    <td class="mytd">T</td>
  </tr>
  <tr>
    <td class="mytd">(3)</td>
    <td class="mytd">T</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
  </tr>
  <tr>
    <td class="mytd">(4)</td>
    <td class="mytd">F</td>
    <td class="mytd">F</td>
    <td class="mytd">T</td>
  </tr>
</tbody>
</table>

なぜ(3)が誤った推論なのか。
例えば、自然数nに対し$P$を(n＞4)、$Q$を(n＞2)とし、$P→Q$という命題を考えてみる。
そうすると、$P$の真理領域は「5以上」である。
また、$Q$の真理領域は、「3以上」となる。
そして、正しい推論とは$Q$の真理領域に$P$の真理領域が含まれていることであった。
それぞれの事態を検証してみる：

1. の場合は､P[T]→Q[T]であるため、P[T]の真理領域は「5以上」の整数となり、Q[F]の真理領域は「3以上」の整数となる。
そして、Q[T]の真理領域をかならず、P[T]の真理領域は含んでいるため、この推論は正しいものと言える。

2. の場合は､P[F]→Q[T]であるため、P[F]はの真理領域は｢4以下｣の整数となり、Q[T]の真理領域は｢3以上｣の整数となる。
そして、整数４をP[F]の真理根拠とすることによって、Q[T]の真理領域にP[F]の真理根拠を含ませることができるため、この推論は正しいものと言える。

3. の場合は､P[F]→Q[F]であるため、P[F]の真理領域は｢4以下｣の整数となり、Q[F]の真理領域は｢2以下｣の整数となる。
そして、整数１をP[F]の真理根拠とすることによって、Q[F]の真理領域にP[F]の真理根拠を含ませることができるため、この推論は正しいものと言える。

3. 問題の(3)の場合は､P[T]→Q[F]であるため、P[T]の真理領域は｢5以上｣の整数となり、Q[F]の真理領域に｢2以下｣の整数となる。
しかし、この条件を満たす整数(真理根拠)は存在しない。


つまりどうやっても、Q[F]の真理根拠をP[T]の真理領域に含ませることはできない。
そのため、誤った推論であるといえる。
この$P\to Q$の関係は現在では含意<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>と呼ばれている。

## まとめ
上で見た論理定項の真理条件の表は、今では`真理値表(truth table)`と呼ばれ論理学の授業ではじめに習うものであるが、それはこの『論考』における哲学的な考察が基礎の一つになっている。また、$\vee$を表ではなく場合分けで定義するならば、$\vee:\lbrace{T,F\rbrace}\times \lbrace{T,F\rbrace}\to \lbrace{T,F\rbrace}$は例えば次のように定義できる。

$
\vee (X,Y)::=
\begin{cases}
F & \text{if}\ X=Y=F\\ \cr
T&  \text{otherwise}
\end{cases}
$

---

## 注

<ul class="comments">
<li><span id="tyuu1">\*1. (含意と伴立)
「$P\to Q$」という形式は、「含意」(implication)と呼ばれる関係である。
これを、「$P\to Q, P \vdash  Q$」という「伴立」(Entailment)と混同してはならない。
後者は、Modus Ponensと呼ばれる純粋な推論形式であるが、前者の含意は論理以外の観念が結びつく。
例えば、「もし、私が風呂に入ったならば、私の体は水に濡れる」という命題は、前者(風呂にはいる)が後者(水に濡れる)を含意しているため妥当な条件言明である。
しかし、これが妥当だと言えるのは、前者と後者の間に観念的な結びつきが見出されるからである。
つまり、前者がと後者の命題における「意味」という内包性がこの妥当性を保証しているのである。
含意と伴立の関係はラッセルなどにしばし混同された。
そして、この含意の混同を批判して厳密にする研究からC. I. ルイスが様相論理学を開始した。

  </span></li>
</ul>

---

## 参考文献
最後の項目
<a href="{{last_page}}">「前期ウィトゲンシュタイン「論理哲学論考」#7 語りえぬもの：倫理」</a> にまとめた。


<!--  -->

<div align="right">
    First post &nbsp; 2009/01/19
    <br>
    Last updated&nbsp; 2011/02/14
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}