{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 後期ウィトゲンシュタイン「哲学探究」#3 規則に従う 

## クリプキ批判と「規則に従う」の発見
しかしクリプキの主張をみてみると、§201 の後半をまるまる無視していることが分かる。それを見てみるとクリ プキが言及するような懐疑論的パラドックス や懐疑論的解決など主張しておらず、逆にウィトゲンシュタイ ンは明確にそのパラドックスは「誤解」を基としていると言い、その考えを排除している。
<blockquote>
しかし「此処には、一致も不一致も存在しない」と言うとすれば、そこには、ある誤解がある。このこと は、我々はその思考過程において解釈に次ぐ解 釈をしていると言うことの中に、すでに示されて いる。このことを通して我々が示すことは、こうである:規則のある把握があるが、それは、規則の解 釈ではな く、規則のその都度の適用において我々が「規則に従う」といい「規則に反する」と言うこと の中に現れるものである。<cite>§201</cite>
</blockquote>

このようにクリ プキが言うパラドックスやそれの解決方などはウィトゲンシュタイン自身が主張しているものと 異なると多くのウィトゲンシュタイン研究者は考える。違う言い方をすればク リプキの解釈は懐疑論的結論 を根底に置き、そのためにクリプキのウィトゲンシュタインは真理条件の変わりに正当化を可能にする主張 可能性の条件を我々の理解と意味づけのために探していると言うのである。しかし McDowell によるとウィ トゲンシュタインは実際、実在論的な我々の理解の根底となる客観的価値の存在に 否定的であるの、しか し、それはクリプキが言及するような、懐疑論的パラドックスを容認するための議論ではない」 (McDowell 1984)。McDowell が言うにはそのパラドックスの正しい解決法はクリプキのように懐疑論的根底を認めたう えで解決するのではなく、そのパラドックスを成立させる根底そのものを解体することであるという。つまり 、 規則のある把握があるが、それは、規則の解釈ではなく規則に従うことであるのだ。

ここで、我々の言語を規定する基盤が姿を見せる。我々は、自然と思うような数列を規定する規則を自ら信 じて意図的に従っているのではなく、盲目的に規則に従い実践しているのである。我々はこのような盲目的 に規則に従うことを自然で規則的であると感じ、これに反することに違和感を感じる。このように、ある規則を 志向しそれを意図的に選択するのではなく、盲目的に規則に従いそれを疑うということが考えられないほど 無意識に前提とされていることを、「規則に従う」という:
<blockquote>
「規則に従う」ことはひとつの実践である。そして規則に従っていると信じていることは、規則に従っ ていることではない。だから、人は規則に「私的に」従うことはできない。さもなければ、規則に従って いると信じていることが規則に従っていることと同じことになってしまうだろうから。<cite>§202</cite>
</blockquote>

<blockquote>
「いかにして私は規則に従うことができるのか」-もしこれが因果関係に関する問いでないのなら、 それは私が現にこのように規則にしたがっていることを正当とする根拠の問いである。正当化の根 拠を尽くしたとき、私は固い岩盤に突き当たってしまい、私の鋤は跳ね返される。そのとき私はこう 言いたくなる、「ただ私はこのようにやっているだけなのだ<cite>§217</cite>
</blockquote>

<blockquote>
人は規則の働きをどれだけ記述できるのだろうか。規則をマスターしていないものに対して私は訓 練することしかできない。しかし私は自分自身に対し て規則がいかに働くかをどのように説明でき るのだろうか。ここで難しいのは根底まで掘り下げることでなく、われわれの前に横たわっている根 底を根底として 認めることである。<cite>数学の基礎: part6, §31</cite>
</blockquote>

「規則に従う」は我々の言語ゲームを支える根底であり基盤である。我々がごく自然に従っている言語の規 則に関して、我々は説明することができない。なぜなら、我々は、盲目的に規則に従っているだけだからで ある。そのため、数列を間違える生徒のように、我々とは異なった「規則に従う」をもつ人物に対して、説明 ではなくただ訓練することによって我々と同じ規則に従わせるほかないのである。

## 規則に従うとはなにか
このように、ウィトゲンシュタインは、数学や論理学などの厳密性を反自然史的観点(プラトニズム)において ではなく自然史的観点において捉える。つまり、数学や論理学などを支配する規則であっても、ある普遍 的な規則が人間を導いたのでも、誰かが取り決めた規約に意図的に従っているのではない。規則が我々
の言語ゲームに先んじて存在しているのではなく、共同体において言語ゲームが実践として成立している という事実がメタ規則として存在し、そして、我々は、それにただ従っているのである(規則とゲームの逆転)。

<blockquote>
そして、また、異なる共同体における「規則に従う」を獲得することはできないとすることによって、数学や論 理学がもつ必然性と規範性を確保するのである<cite>[鬼界,pp.291-295]</cite>
</blockquote>


## クリプキ擁護
近年、クリプキ解釈を見直そうという動きも見られる。George Wilson はそれらクリプキ擁護者の一人で ある。彼の議論を簡単に記述すると、Wilson はクリプキのウィトゲンシュタインは二つの異なったパラドック スの解決法を主張しているという。それは基本的な懐疑論的解決(basic sceptical solution)--これが意図す るのは私に関する正誤判断を生む事実は何もないということである。-- と過激な懐疑論的解決(radical sceptical solution)-これによると今まで誰も何も意図したことはなかった-である。Wilson によると、クリプ キは基本的な懐疑論解決を認めていたが、 過激な解決法のほうは除外している。そしてクリプキ批判者は 探求を読み違えていると言う。



---

## 参考文献
1. {{reference.ana1}}
- {{reference.ana6}}
- {{reference.ana34}}
- {{reference.ana24}}


<!--
- 参考資料に永井均「ウィトゲンシュタイン入門」
- 鬼界彰夫「ウィトゲンシュタインはこう考えた」
- A.j.エイヤ ー「ウィトゲンシュタイン」
McDowell, J. (1984) ‘Wittgenstein on Following a Rule’
  -->

<div align="right">
    First post &nbsp; 2008/10/08
    <br>
    Last updated&nbsp; 2012/03/21
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}