{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 分析哲学史#2 ケンブリッジ学派(ウィトゲンシュタインとムーア)

### ウィトゲンシュタイン(Ludwig Wittgenstein　1889-1951)
ウィトゲンシュタインは、フレーゲとラッセルという先駆者が開拓した革新的な論理学による言語的転回から生まれた新たな天才である。
彼の哲学は前期と後期で根本的に異なる哲学を展開し、そして、そのどちらも後世に多大な影響を与えることになる(前期は論理実証主義に、後期は日常言語学派に影響する)。
そのため、ここでは別々に見る。


### 前期ウィトゲンシュタイン(Early Wittgenstein)
前期を代表する著書は、第一次大戦の最前線の塹壕で書かれた『論理哲学論考』である。
これは、フレーゲとラッセルらが構築した新たな論理学そのものを哲学的、批判的に考察することによって、言語の限界すなわち思考の限界そのもの画定を試みた著作である。
『論考』の目的は「語りえるもの」と「語りえぬもの」の峻別にある。
二つは真偽を問えるかどうかで区別される。
つまり、真偽を問えるものが「語りえるもの」で問えないものが「語りえぬもの」である。
そして、これはいままでの哲学が取り扱ってきた形而上学的な諸命題を真偽を問えない語りえぬもの(ナンセンスな命題)とするため、哲学批判の著と言われる。


<span class="para">語りえるもの(What we can speak)</span>
この言語の限界を探求する際にまず、言語が事実の写像であるという言語の特徴を説明する。
言語は、まるで絵や象形文字と同じように事実の像(Bild)である。
そして、正確に写像した事実の像は現実の事実の論理形式と対応しており、この像を思考し操作することによって可能性の領域である事態(Sachverhalt)へ至ることができる。
この事態の像を集めたものを論理空間という。
この論理空間に私が理解しうるすべての命題が真理関数として内包されており、すなわちこれが言語の限界に他ならない。
この論理空間を逸脱する命題は真偽を判定できないため、ナンセンスな「語りえぬ」命題である。


<span class="para">語りえぬもの(What we cannot speak)</span>
この語りえぬ神秘的なものの領域は、「示しうるが語りえぬもの」であると言われる。
なぜならそれらは、語りえるものの条件となるからである。
例えば、自我は語りえるものの基底であるし、論理はその基底に働くアプリオリな操作である。
そして、倫理は生の世界という私の意志によって彩る世界の根本条件である。
ウィトゲンシュタインはこれらを決して否定して切り捨てたわけではなく、むしろこれら神秘的な領域には、価値判断などの人生の意味が含まれているため、それらの信仰のために思考を限界付けるのである。

→前期ウィトゲンシュタイン『論理的学論考』


<ul class="book_list">
	<li>主著</li>
	<li>『論理哲学論考』(Tractatus Logico-Philosophicus)1922</li>
</ul>

---



### 後期ウィトゲンシュタイン(Later Wittgenstein)
『論考』を書き終えたウィトゲンシュタインは、しばらく哲学から遠ざかり、庭師や小学校の教師などして過ごす。
そして、そのような生活の中でしだいに言語に対する捉え方に変化が訪れ、そして、ブラウアーの直観主義に関する講演を機に前期の哲学を根底から見直すようになる。


<span class="para">言語ゲーム(language game、sprachspiel)</span>
『論考』においては、フレーゲやラッセルの影響もあり、言語とはすなわち数学や記号論理の言語に限られた。
しかし、後期の主著である『哲学探求』では、日常生活における言語と論理的な分析はおおきく異なっており、我々の日常言語を構成している要素は論理的な分析だけで明らかになるものではないとする。
例えば、同じ命題であっても、その命題の使用状況によって(文脈における使用法などによって)その意味はそれぞれ異なる。
つまり、言語は、いわばゲームのようにそれの使用者同士のうちに暗黙のうちにある規則によって成立しているのだ。


このように後期のウィトゲンシュタインは、言語を一種の規則に則ったゲームであると考える。
しかし、このゲームを成立させている一般的特徴は存在しない。
だが、無数にある言語ゲームは、それぞれが家族的類似性(family resemblance)を持つのである。
それは、家族の要因が皆異なるが、皆なにかしらの特徴を他の家族のだれかと共有しているのと同じである。
言語ゲームにもまたこのような複雑な類似性の連関が存在する。


<span class="para">私的言語批判(private language)</span>
加えて、『探求』では私的言語を批判する。
これは、『論考』を支える根本的な主張である。
『論考』では、言語は独我論的に成立しており、言語はすべて私的言語であると結論する。
ウィトゲンシュタインは、ある思考実験を想定する。
それにおいて、私しか理解することのできない感覚を感覚Eとし、また、この感覚Eを感じた日にカレンダーに「E」と記入する。
「E」は私的言語の典型例である。
しかし、感覚Eは私しか知らないため、「E」の客観的な判断は存在しない。
そのため、私はこの「E」が示す感覚と以前の「E」が示す感覚とが一致していることを私自身にも知ることができない。
このように私的言語は客観的な定義が存在しないために、正誤の判定ができない。
そのため、もし、私的言語があったとしても、それは正誤を判定できないかぎり無意味なもので言語とは呼べないという。
このように、言語は「規則に従う」を背景にもち、言語ゲームが成立していなければ意味を持ち得ないと主張する。



<ul class="book_list">
	<li>主著(ウィトゲンシュタインの弟子達が遺稿をまとめ刊行) </li>
<li>『哲学探求』(Philosophical Investigations)1953<br></li>
<li>『青本・茶色本』(The Blue and Brown Books)1958</li>
<li>『確実性について』(On Certainty)1969</li>
</ul>

---



### ムーア(George Edward Moore, 1973-1958)
ムーアはラッセルとウィトゲンシュタインと同時期にケンブリッジにいた人物である。
彼の哲学は、先に見た分析哲学者たちとは大きく異なっており、彼は「常識」にとどまりこれを擁護した哲学者である。
そして、彼の常識に対する姿勢は、後期のウィトゲンシュタインの思想に大きく影響を与えた。

<span class="para">懐疑論論駁</span>
`「外在世界の証明」(Proof of an External World)`のなかで、ムーアは常識(common sense)を擁護し外在世界を証明することによって懐疑論(Scepticism)を論駁する。
それは次のようなものである：

<blockquote>
<ol>
	<li>ここに手がある。
	</li>
	<li>もうひとつここに手がある。
	</li>
	<li>ここに二つの手がある。
	</li>
</ol>
</blockquote>

この論証によって、外的な事物が複数存在することが証明され、すなわち、外在世界は存在すると証明するのである。
この論証は、論証の条件を完全に満たした「完璧に厳粛な証明」である。
しかし、当然懐疑論者は、この論証の「ここに手がある」という前提を疑うことができると主張する。
もちろんこれだけでは、なんら画期的なことはないが、彼の目的は非常に強力な懐疑論と常識の立場を対等なものとすることにより、懐疑論の異様さを露見することにある。

<table>
<thead>
<tr>
<th style="text-align:left">The sceptic</th>
<th style="text-align:left">G.E.Moore</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">S1. D → ¬H</td>
<td style="text-align:left">M1. D → ¬H</td>
</tr>
<tr>
<td style="text-align:left">S2. D</td>
<td style="text-align:left">M2. H</td>
</tr>
<tr>
<td style="text-align:left">――――――</td>
<td style="text-align:left">――――――</td>
</tr>
<tr>
<td style="text-align:left">SC. ¬H</td>
<td style="text-align:left">MC. ¬D</td>
</tr>
</tbody>
</table>

<!-- |The sceptic’s argument|G.E.Moore’s argument |
|:--|:--|
|S1. D &rarr; &not;H|M1. D &rarr; &not;H|
|S2. D|M2. H|
|――――――|――――――|
|SC. &not;H|MC. &not;D|
 -->
**D** = I’m dreaming at t. 
**H** = I have a sufficient reason for believing “here is a hand” at t.

このように、二つの立場の論証が全く対等なものであり、前提2が対立しているだけなのが明らかである。
そして、そのふたつは、懐疑論「私は夢を見ている」とムーア「私はここに手があるのを信じるに十全な理由がある」というものである。
このどちらが我々にとって受け入れがたく、どちらが受け入れ易いかは明らかである。
懐疑論は、いかなる理論に対しても容易に難題を突きつけることができる。
しかし、このような命題もやはり、前提に依拠しており、その前提は、攻撃する側が擁護する命題に比べ圧倒的に説得力に欠けるのである。
そのため、懐疑論は真剣に受け止める必要はないと主張した。


ムーアが言うには、「私は、私が証明することのできない事物を知ることができる」。
また、「常識の擁護」(1925)では、「私にとって、多くの哲学者たちの視点において何が一番驚くべき、また、興味深いことかと言うと、彼らは「常識」の視点を超えて、もしくは、それを積極的に否定するという方法を採っていることである」という。
彼は、知覚がもたらす知識を認めるというドグマティスト(Dogmatist)であった。


<!-- 
→Scepticism#2 Moore’s "Proof of an External World" <br>
→G.E.Moore「Proof of an External World」
-->

<span class="para">「観念論の論駁」(the Refutation of Idealism)</span>
青の知覚と赤の知覚は異なる。
しかし、これらは知覚という点において共通しているため、共通する要素と相異する要素がある。
従って、知覚とは共通する要素と相異する要素を内包する複合された概念である。
そして、ムーアはこの複合された知覚の「分析」を試みる。
そして、すべての知覚に共通する「意識」と、それぞれの知覚に差異をもたらさす「対象」に分析する。
そして、「意識そのもの」と「意識の対象」を混同することが観念論に導くと言う。
また、「意識の対象」が「意識そのもの」から独立すると主張するのが実在論である。

<span class="para">「自然主義的誤謬(the Naturalistic Fallacy)</span>
青の知覚と赤の知覚は異なる。
ムーアは倫理学、特にメタ倫理学において自然主義における誤謬を指摘するという重要な功績を残している。
自然主義とは、道徳は人間の心理や社会から導かれるものであり、これら道徳の客観的原因を探求することは可能であるとする立場である。
例えば、J.S.ミルの功利主義なら、「もし、xが全体の幸福であるならば、xを望むべきだ」というものである。
しかし、ムーアはこのように事実判断(～である)から価値判断(～べきだ)を導くことはできないと主張する。
なぜなら、規範価値を含む命題は、事実に分析できず証明することができないからである。

しかし、彼は自然主義が事実から規範価値を導くのを批判するが、道徳的事実そのものを否定するわけではない。
そして、これに代わって、ムーアは規範価値は、それが自明であるという「直感」によって導かれるとする`直感主義(Intuitionism)`を唱える。


<ul class="book_list">
	<li>主著</li>
<li>『倫理学原理』(Principia Ethica)(1903)<br></li>
<li>「常識の擁護」(A Defence of Common Sense)1925<br></li>
<li>「外在世界の証明」(A proof of the external world)1939</li>
</ul>

---



## 参考文献
- {{reference.ana2}}
- {{reference.hist15}}
- {{reference.hist19}}
- {{reference.hist9}}
- {{reference.ana21}}
- {{reference.ana12}}

<!--  -->

<div align="right">
    First post &nbsp; 2009/02/06
    <br>
    Last updated&nbsp; 2012/05/08
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}