{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!-- │ <a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# ウィーン学団の哲学#2 論理実証主義に対する批判

論理実証主義は、検証可能性に頼って科学を峻別するというラディカルな哲学運動ゆえに多くの反感を買い、また、多くの問題を含んでいたため、多種多様な批判を受けた。そのうちの一部は以下である。

##  検証理論はすべての科学理論の排斥する
検証可能性をそのまま受け取ると、帰納法によって導かれた経験的全称命題を切り捨てなければならなくなってしまう。なぜなら、例えば、「すべてのカラスは黒い」（∀x(カラス(x)→黒い(x)）という命題は、カラスという種のほんの一部のカラスを観察することによって帰納的に導かれた（一部の直接経験に還元された）全称命題である。しかし、論理実証主義は命題を分析しその個々の命題に対し検証可能条件を要求するため、この命題の真偽を検証するには、「カラスAは黒い＆カラスBは黒い＆・・・・」と世界中のすべてのカラスを過去未来に渡って調べなければならない。
このような厳密な検証理論を`完全検証理論`もしくは`強い検証理論`という。
<!-- 
つまり、「いくつかのカラスは黒い」といった限定された経験可能な存在命題から、「すべてのカラスは黒い」という全称命題に翻訳（還元）している（∃から∀へ帰納法による飛躍）。そのため、この翻訳された全称命題に命題に対し検証を行うと必ず矛盾する命題が出現するか、検証を行うこと自体不可能であるため、このように帰納法という飛躍によって導かれた全称命題は排除しなければならない。そして、 -->
ほとんどすべての自然科学の理論は帰納法によって普遍的命題を探求するため、強い検証理論に従うとそれらをすべて否定しなければならない。

## 意味の確立可能性理論（confirmability theory of meaning）
強い検証理論においては、検証命題が間接命題（帰納的に導かれた全称命題）を内包することを要求している。そのため、全称命題を構成するすべての命題を検証しなければならず、そして、これは不可能であった。
このような困難に対し、検証原理の厳密さを和らげる試みがなれる。まず最初に、この内包関係を逆転させる。
<!-- つまり、全称命題が検証命題を内包するとする。 -->
つまり、全称命題がひとつでも検証命題を含んでいたら有意味となる（証拠立て可能性理論）。
**例えば、黒いカラスを一匹でも観測すれば、「すべてのカラスは黒い」は有意味となる。**
この弱められた検証原理は、有意味な命題の領域をかなり広げるため多くいかがわしい言明を有意味とするが、まだ、形而上学などのまったく検証することのできない領域を排斥するという本来の目的は達せられる。

#### 批判
しかし、単純な全称命題ですら、単独では、検証命題を内包せず条件を必要とする（「すべてのカラスは黒い」は「このカラスは黒い」を含まない）。例えば、「この銅線には電流が流れている」（間接命題）は、「その銅線のそばにコンパスを置けばその針は振れる」（検証命題）という命題には内包されない（「銅線のそばコンパスを置けば針は振れる→この銅線には電流が流れている」とはならない）。なぜなら、この検証命題に、針の位置に関する記述や力学的命題を条件として加えなければ、間接命題は導かれない。

## エイヤーによる応答（弱い検証原理／確証原理）？？？
厳密すぎる検証原理の問題に対し、論理実証主義者のエイヤーは、「ある命題[A]は、それに他の前提[B]を付加したとき、検証命題[C]を内包するならば、有意味である」（C→（A＆B）ならば有意味）という。そして、付与命題に条件を加えて、「ただし、それら内包される検証命題[C]は、付加前提[B]のみには内包されぬことが必要である」（～（C→B））という。これにより、「銅線に近づけるとコンパスの針が振れる」に「針は銅線を向いていない」などの条件を付与し、これら連言命題によって、「この銅線には電流が流れている」を内包することにより、有意味なものとすることができる。

しかし、バーリン（Berlin）によって指摘されエイヤーも認めたことだが、この弱められた検証原理ではすべての命題が有意味なものとなってしまう。つまり、
- ある検証命題Pを想定する。P
- Pから任意の命題Sを選言で導入する。P∨S
- この選言命題にSを付与命題として連言で導入する。（P∨S）＆S
- （P∨S）＆SはPを内包しており（P→（P∨S）＆S）、かつ、検証命題Pは付加命題Sのみには内包されていない（～（P→S））

よって、任意の命題Sを含む命題（P∨S）＆Sであっても有意味である。そして、例えそれが形而上学的命題であってもオカルト的な命題であっても有意味なものとなる。

エイヤーはこの反論に対し修正を試みるがそれでもやはり欠陥を取り除くことはできなかった。このように、オリジナルの検証原理をその額面どおり受け取ると、その厳密さゆえにほとんど全ての学問が否定されてしまう。しかし、それを避けるために、その原理を弱めるを今度は、あらゆる言明を認めざるを得ないというジレンマに苛まれる。

## 経験主義の二つのドグマ（クワインによる批判）
論理実証主義に対する批判で、特に重要なのはカルナップに師事したクワイン（W.V.O.Quine）によって提出された「経験主義の二つのドグマ」である。この論文においてクワインは、
- 伝統的な知識における分析・総合の明確な区別を根拠のないドグマであるとして否定する。
- ふたつ目のドグマは還元主義というドグマである。それは、例えば、ある科学理論をとってもそれを構成している様々な言明は複雑に連関しあっているため、個別に検証するという論理実証主義者の試み自体まず不可能な試みであったのであるという。

あらゆる理論は無数の言明が織り成すひとつの全体であるという彼の立場は`全体論（holism）`と呼ばれる。もし、この全体が経験に反したとしても、これを構成するいずれかの言明を修正することによっていくらでも整合性を保つことが可能である。そして、クワインはこの主張をアプリオリな判断にまで拡張する。つまり、それを否定するのが合理的ではないような言明（例えば、排中律）なども、この言明全体を構成する言明を修正することによって全体を否定することが可能であるという。このように、彼はアプリオリな真理というものの存在までドグマであると断定し否定する。この議論は批判点も多いが、アプリオリな真理という聖域に有意義な懐疑の矛先を向けたとして高く評価されている。

「経験論の二つのドグマ」へ

## 検証原理の立場
哲学を命題を総合命題と分析命題の検証可能な命題とそうでない命題に区別する運動だとすると、哲学の命題というものがなくなってしまう。検証原理は、一般的な科学的な原理や理論とは異なり、それは知識全般に対する定義もしくは要請である。その知識を峻別する運動を記述した哲学的命題というものがある。この知識の定義は、検証を行うことができるだろうか。これは定義であるため経験によって検証できそうにない。そして、もし、それが検証できないのならば、任意の定義を作り出すことができ、検証原理の意義が失われる。つまり、形而上学排斥を唱える論理実証主義の主張そのものが形而上学的なのである。（自己言及のパラドックス的）

#### ・応答
有意味な命題の範囲を広げる。それは、言語構造について言及するメタ命題を有意味なものとする。言語に階層を設ける。 





---

## 参考文献
1. {{reference.ana31}}
- {{reference.ana25}}
- {{reference.ana18}}
- {{reference.ana11}}
- {{reference.ana21}}
- {{reference.ana12}}


<!--  -->


<div align="right">
First post &nbsp; 2009/03/09<br>
Last updated&nbsp; 2011/03/04　
</div>

<h5> 

<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}