{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 分析哲学史#3 論理実証主義(ウィーン学団)

## 論理実証主義(Logical positivism)
論理実証主義は、`ウィーン学団(Wienerkreis)`と呼ばれるマッハ主義を受け継ぐウィーンの若手哲学者(彼らの多くはもともとも科学分野の出身)たちがウィトゲンシュタインの『論考』に感化されて発足した哲学運動である。
学団の初期の主要メンバーに`シュリック(Moritz Schlick)`、`カルナップ(Rudolf Carnap)`、`ノイラート(Otto Neurath)`、`ライヒェンバッハ(Hans Reichenbach)`が挙げられる。


ヒュームやマッハが心理的要素に知識を還元したのに対し、論理実証主義はあらゆる言語を論理的構成と実在の模写からなる理想言語に還元した。
そのため論理経験主義とも呼ばれる(記号論理学によってマッハ主義を再構築する)。
この学派は、理論の`検証可能性(verifiability)`という指標を頼り科学と非科学の峻別を試みた。
そして、これにそぐわない理論、とくに伝統的な思弁的形而上学(倫理学、神学、美学)の排斥を掲げるラディカルな実証主義を唱える(この自然科学至上主義的な傾向は相対性理論や量子論の成功といった当時の背景がある)。


しかし、この過激な哲学運動は、痛烈に批判され、そして実際多くの誤謬を含んでいた。
加えて、第二次世界大戦という悲惨な状況下を避けるため多くの論理実証学者はアメリカに亡命・離散し、またシュリックが殺害されるという悲劇もありこの哲学運動は終息した。
しかし、彼らの科学的世界観は哲学に新たな思想の流れをもたらした。
そして、この思想はアメリカでプラグマティズム、また(エイヤーの著書によって普及した)イギリスで日常言語学派と議論し融合することによって受け継がれていった。


### 検証可能性(verifiability)
論理実証主義は、科学と非科学の峻別という哲学運動であるであるが、その手段として論理実証主義者たちは諸科学の理論を構成するすべての言明に対し「検証可能性」を要求する。
それは、つまり、ある科学理論はさまざなま言明・理論によって構成されている。
そして、それらを個々の命題に分析し、それらに対し経験(観測)による真偽の検証が可能かどうか問うのである。
もし、真偽を検証することのできない命題は、人間の認識能力の及ばないものであり、判断と行うことのできないナンセンスな領域として切り捨てる(検証原理)<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>。
このように、論理実証主義は、検証原理を用いてすべての学問の峻別を試みた。


### 総合判断と分析判断
有意味な命題は真偽の検証が行えるものであるが、その検証方法は総合判断と分析判断のふたつがある。
これは、認識論の伝統的区別である。
総合判断とは、実在世界の経験による真偽の判定である。
これは、実験・観測によって帰納的に法則を実証するという自然科学が採用する命題の判定方法である。
他方、命題にはその語の意味で判定を行えるものがある。
例えば、「独身者は結婚していないものである」という命題における「独身者」には、「結婚していないもの」という意味が内包されている。
そのため、この命題はトートロジーであり、分析的に真である(これは後にクワインに批判される、「二つのドグマ」へ)。
そして、論理実証主義によると、哲学の仕事は、判断ではなく命題の分析であり、つまり、言語を明晰化し曖昧性を取り除き、この分析された命題をいずれかに振り分ける運動・活動であるという。


### 還元主義による基礎付け
論理実証主義は、命題を構成する原子命題に分析してその分析された個々の原子命題を取り出し、それに対し検証を行うのだった。
しかし、具体的に「検証を行うための原子命題」(観察命題・プロトコル命題)とはどのようなものか、という基本的な問題がある。
つまり、感覚できないような対象を扱う理論は自然科学においても無数にあるのである(エネルギーや月の裏側(当時))。
これに対し、論理実証主義者は、これらの感覚できない命題を感覚可能な命題に「還元」もしくは「翻訳」しようとした。
これを還元主義という。

まず最初に、カルナップはセンスデータ命題にあらゆる理論を文脈定義(ラッセル参照)を用いて翻訳を試みた。
しかし、無限の多様性を持つ感覚所与に翻訳するのは無謀ともいえるような試みであった。
また、この方向性では独我論に陥り、それから抜け出すことができない。
そのため、間主観性を前提とする科学の基礎付けは失敗した。

この失敗に対し、ノイラートは、すべての科学の言明は時空秩序への言及を含むのだから、物理学の言語にあらゆる言明を還元しようとした。
これを`物理主義(physicalism)`いう。
このように、物理学の言語という理想言語を用いて、すべての科学の体系的統一した`「統一科学」(unified science／Einheitswissenschaft)`を目指した。
しかし、この試みもまた大した成果も得られず失敗に終わり、結局、彼らの基礎付けは失敗した。
それは、クワインによって説明される。

<ul class="book_list">
	<li>著作</li>
	<li>カルナップ『世界の論理的構築』(Der Logische Aufbau der Welt)1928<br></li>
	<li>エイヤー『言語・真理・論理』(Language, Truth and Logic)1936</li>
</ul>

---

## 論理実証主義に対する批判 (日常言語学派と理想言語学派)
日常言語そのものは体系性を欠いており、文脈や使用によって逐一その語意は変化する。
そのため、論理実証主義が試みるように一義的に分析・還元することはできない。
日常言語の視点から言語分析する必要がある。
アメリカ学派(論理実証主義を受け継ぐプラグマティズム)とイギリス学派(日常言語学派)の対立へ<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>。



---

## 注

<ul class="comments">
<li><span id="tyuu1">\*1. また、この検証条件は語の意味であるという。
これを「意味の検証理論」という。  </span></li>
<li><span id="tyuu2">\*2. 様相論理学による形式論理の拡張によって、当時では分析することのできなかった様相概念を形式的に研究できるようになり(時相論理や義務論理、また志向性に対する論理分析)、この根深い対立の溝は埋まりつつある。  </span></li>
</ul>




---

## 参考文献
- {{reference.ana2}}
- {{reference.hist15}}
- {{reference.hist19}}
- {{reference.hist9}}
- {{reference.ana21}}
- {{reference.ana12}}

<!--  -->

<div align="right">
    First post &nbsp; 2009/02/10<br>Last updated&nbsp; 2012/02/08
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}