{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 分析哲学史#4 日常言語学派(オックスフォード学派)

## 日常言語学派(Ordinary Language-School)
フレーゲとラッセルという分析哲学の祖達は、命題は論理的に明瞭に分析しうると考えた。
そして、言語分析によって明晰化された要素命題を取り扱うことにできる理想言語を追求した。
そして、この理想言語学派の還元主義の精神を受け継いだ論理実証主義は、言語の還元的分析をありとあらゆる学問に適応した。
彼らは、この明晰に分析した要素命題を扱う理想言語にすべての学問を還元することに力を注いだ。
しかし、もともとこの還元主義は数学を論理学に還元することを目的にしたものであり、このような形式的な学問には効果的であるが、他方、(家族的類似性をもつ)日常言語は文脈や使用法によって意味を多様に変化させるため(言語ゲーム)、そのような領域を扱う学問まで理想言語に一元的に還元することなど到底無理な話であった。


このような継起もあり、後期ウィトゲンシュタインとムーアの日常言語の思想を受け継ぎ問題の多い理想言語への還元的な分析から離れて日常言語の方向から言語を研究する哲学運動<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>が始まり第二次世界大戦後に発展した。
この運動は、日常言語学派、もしくは、(オックスフォードで盛んだっため)オックスフォード学派と呼ばれる。
しかし、この学派は論理実証主義のようにそれぞれの研究者が自覚的に哲学運動や学派を形成していたわけではなく、いくつかの基本的理念を共有していたに過ぎない。
その理念もやはり、フレーゲ・ラッセルから受け継ぐ「分析」という理念であり、日常言語学派においては「治療的分析」という分析方法を基本理念とする。


<span class="para">治療的分析(therapeutic analysis)</span>
日常言語学派の研究者たちも最初は古典的な意味での「分析」を受け継ぎ言語の意味論的分析を試みたが、徐々に日常言語を論理的構成と実在の模写からなる理想言語への翻訳が極めて困難なことを知る。
そして、この反省をもとに、彼らは言語の還元作業は本来の言語から遠ざかり「空転」していることを示すことによって、そのような作業に没頭する哲学者を日常言語の領域へ戻そうとする。
つまり、アメリカで受け継がれる理想言語学派は分析に関して日常言語から遠ざかり理想言語を体系的に組み上げていくが、反対に日常言語学派はそのような哲学を批判的に検証し「蝿とり壷から逃れる道を蝿に教えてやる」<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>ことを目的とする。
これを精神的束縛を癒す`治療的分析`という。


すなわち、この学派は、言語の日常的な使用において“使い道がない言葉”を無意味/ナンセンスなものとする(一方、論理実証主義は真偽が問えない命題をナンセンスとした)。
そして、この立場は、形而上学的な本質という対象を否定するが、しかし、その形而上学的な語であっても日常言語において用途があれば無意味なものではない(家族的類似性をもつ)。
例えば、「現実とはなにか」という問に対し、哲学者たちは何年にもわたって、現実という指示することのできない形而上学的対象の性質に関して議論してきた。
これに対し、日常言語学派は現実という語の「使用」を考察する。
例えば、人々は、
それは私にとって、しかじかso-and-soなんだよ。
だけど、現実ではin reality、これこれsuch-and-suchなんだよ
と言う。
しかし、この表現は、「しかじか」が持たない「これこれ」という特別な形而上学的次元があるということを意味するわけではない。
我々が何を意味するのかというと、
「しかじか」がただ単に正しく聞こえるというだけで、私が「これこれ」という真実を教えよう
ということである。
ここでの「現実においてin reality」は、「しかしhowever」に若干似ている。
そして、「現実には・・・」というフレーズは、聞き手に期待を取り付けるのと同じ機能を提供する。
日常言語学派は、このように「現実」という語をそれが形而上学的な本質としての対象ではなく、その語の日常言語の文脈における機能を考察する(本質ではなく、家族的類似性を考察)。

そして、この学派は単なる哲学の「治療」もしくは「交通整理」から、日常言語学派独自の哲学を展開する。
この学派の代表者はライル、オースティン、ストローソンである。


---

### ライル(Gilbert Ryle)

<span class="para">機械の中の幽霊(Ghost in the machine)</span>
ライルでもっとも有名な言明は、「精神の概念」において展開した、古典的な心身二元論の批判である。
心身二元論とはデカルトにまでさかのぼり、いわゆる精神や魂といったものと身体は二つの相対的で異なる実体であると主張するものである。
しかし、このふたつの異なる実体がどのように連関しているかという問に対しては、説得力のある回答はなされなかった。
ライルはこのような理論を「機械の中の幽霊のドグマ」や「デカルト神話」と批判し、このような二元論は`カテゴリー錯誤(category mistake)`であると主張した。
そして、彼は、精神や魂を表現する無数の日常言語を研究することにより、ふたつのカテゴリーを一元的に還元する。
これは、論理行動主義とよばれる。



<ul class="book_list">
	<li>著作</li>
	<li>『精神の概念』(the Concept of Mind)1949</li>
</ul>

---



### オースティン(John Langshaw Austin　1911-1960)

<span class="para">行為遂行的発話(performative utterance)</span>
フレーゲは言語分析を平叙文に限定しそれを行った。
そして、後期ウィトゲンシュタインはそれ以外の命題に対しても考察を行い、これが日常言語学派に導いたのだった。
しかし、そのいずれも、記述された命題に対して言語分析なされてきた。
オースティンはそれを越えて、発話としての言語に注目し、それを行為と同一視する。
例えば、「私は・・・を約束する」や「私は・・・を謝る」など命題は、これらを発話するということ自体がひとつの行為、`言語行為(speech act)`、をなしている。
言語行為は二つの規則をもつ：
「構成的規則」行為が達成されたらこれに従わなければならないような規則。

｢統制的規則」この規則に反すると行為は不適切となる規則である。
そして、また、これは三つの特徴をもつ：

- `発語行為`: 言語を発言する行為
- `発語内行為`: 言語を発言することにおいてなされている行為
- `発語媒介的行為(perlocutionary)`: 平叙文にはない発話行為がもつ心的効果という特徴をもつ発語行為
この言語行為は言語哲学の主要なテーマとして今でも取り扱われる。



<ul class="book_list">
	<li>著作</li>
	<li>『言葉によって以下にことをなすか？』1962<br></li>
	<li>『感覚と可感体』1962</li>
</ul>

---



### ストローソン(Peter Strawson　1919-2006)
彼は、先のふたりよりも、日常言語的分析を強調した。
そして、理想言語の不備を指摘すると共に、日常言語の独自の論理を研究したのはストローソンだった(そのため、日常言語学派の代表者のように扱われる)。
彼は、理想言語の代表的、古典的な議論であるラッセルの確定記述の不透明さを主張した。
彼は、「現在のフランス国王」という記述の対象が存在しないのだから、そもそもこの命題は日常言語において真理値を欠いており、真偽の判定は不可能であり、主張自体が適切ではないと結論した(ラッセルの確定記述)。


このように、真偽を問える命題をストローソンは言明命題というが、この命題の「使用」によって意味は変化する。
この命題の「使用」の規則を`関連規則(rules of referring)`という。
フレーゲ等の形式論理学はこの関連規則を無視している。
しかし、確定記述の批判から明らかなように、真偽の判定は必ずしも命題に適用されず、なおかつ、それでも有意味や無意味な発言があると考える。
そのため、彼はこの規則を導入した非形式論理学を提唱した。



<ul class="book_list">
	<li>著作</li>
	<li>『論理学入門』1952<br></li>
	<li>『個体』1959</li>
</ul>

---



## 日常言語学派の倫理学
日常言語学派は`反本質主義(anti-essentialism)`の立場をとった。
このような分析方法は、論理実証主義のように、検証不可の命題をすべて排斥するようなことはない。
ただ、日常言語の使用を分析することによって言語を明晰化し、これによって異なる言語表現にそれぞれの論理的構造を見出そうとするのである。
そのため、日常言語学派では、倫理、政治や社会哲学など実践的な領域も盛んである(ポスト構造主義者などとも議論する)。


分析哲学の倫理は、ムーアのメタ倫理学と自然主義的誤謬が重要な起点となっている。
そして、論理実証主義の影響も強く、彼らは分析・総合の二元論に立場に立つのだから検証することのできない価値判断はすべて排斥した。
そして、エイヤーらは倫理的述語をあたえているのは感情もしくは情緒であるという`情緒説(emotivism)`をとなえた。
しかし、日常言語学者である、`ヘア(R.M.Hare)`や`トゥルミン(S.E.Toulmin)`が言語の使用を意味とすることで価値判断を表す述語の価値を復活させ拡大した。
そして、記述的命名に対しては論理法則を適用可能であるとした。



---

## 注

<ul class="comments">
<li><span id="tyuu1">\*1. 理想言語学派は、言語を物質を原子などのように分解し顕微鏡で観察できるものと考えるが、日常言語学派はそれを社会における規則に支配されたゲームにおける「使用」であると考える。  </span></li>
<li><span id="tyuu2">\*2. これは、ウィトゲンシュタインの言葉である。
蝿とは「私は人々の眠りを醒ます虻である」といったソクラテスのことを揶揄していると言われる。  </span></li>
</ul>



---

## 参考文献
- {{reference.ana2}}
- {{reference.hist15}}
- {{reference.hist19}}
- {{reference.hist9}}
- {{reference.ana21}}
- {{reference.ana12}}

<!-- - 言語哲学(ライカン)
- 講座現代の哲学II(末木剛博編)
- WikipediaのOrdinary language schoolの項目
- 西洋哲学史(岡崎文明他)
- 西洋哲学史(原佑他)
- 西洋哲学史(杖下隆英他編) -->

<!--  -->

<div align="right">
    First post &nbsp; 2009/03/04
    <br>
    Last updated&nbsp; 2012/02/08
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}