{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 構造主義#2 文化人類学での開花(レヴィ＝ストロース)

### レヴィ＝ストロース(Claude Lévi-Strauss, 1908-2009)
構造主義の代表者とされるのは、文化人類学者のレヴィ＝ストロースである。彼の思想の背景は複雑で、それはシュールの構造言語学、ヤーコブソンの二項対立、デュルケーム学派のモースの贈与論、近代数学(代数学)、フロイトの精神分析、地質学、マルクス主義、ニーチェ、ルソー、などから成っている(彼自身が言及する源泉は、地質学、マルクス主義、精神分析である)。レヴィ＝ストロースは、未開社会と神話を研究することによって、それらにおいて一見無秩序で恣意的に見られるもの(いうなれば文化のパロール)に、それらを支配する共時的なもの(文化のラング)である構造を見出す。それは、`野生の思考(パンセ・ソバージュ, Pensee Sauvage)`と呼ばれ、それはいわば自然の論理もしくはメタ合理性である。この構造の発見により西洋文化が絶対視してきた主体性(コギト)というパラダイムは、ヨーロッパという狭い領域での思考・理性を前提としているにすぎない恣意的なものとし、これを相対化する。

### インセスト・タブーと女性の交換
まず、未開人類の親族関係というバラバラで恣意的に見えるものを研究することによって、「構造」というあらゆる文化における共時的なもの(自然の規則)を取り出す。この自然と文化という二項対立上に存在するのが、`インセスト(近親姦)のタブー`である。このタブーは、どこの集団や文化においてもみられる普遍的現象であるが、その具体的な規則はまったくバラバラで異なる。このインセスト･タブーには、結婚可能な女性(妻)と結婚不可能な女性(姉妹)という二項対立の軸がある。そして、インセスト・タブーの規則が恣意的であったのは、この二律対立の上のどこに差異を設けるかが(音素のように)その社会においてそれぞれ異なるのである。

レヴィ＝ストロースは、このような恣意的なものは、`「女性の贈与」という共時的規則に規定されている`と考えた。モースの贈与論によると、贈与することによって、送られた側はお返ししなければというある種の義務感がうまれる。そのため、贈与は交換という相互関係を形成する。そして、交換は人々のネットワークを生み出し、また、それは、人々に共通の価値を生み出す(金や貝殻など)。そして、これらが社会を形成する(贈与→交換→価値＆ネットワーク→社会)。レヴィ＝ストロースは、社会において、女性もこのように交換されると考える。そのように仮定すると、インセスト･タブーの謎も解ける。つまり、インセストは他人との交換が成立しないため、価値を生み出さない。インセストがタブーなのは、それをタブーにすることによって人々の間に不均衡が生まれ、ネットワークつまり社会が生まれるからである。この社会における非交換のタブーという共時的な法則(交換の構造が親族の基本構造)によって、部族において複雑な規則が存在するイトコ婚の謎などを説明できる。

### 神話分析
未開の社会を研究することによって、女性の交換といった社会の基本構造をみいだした。次に、レヴィ＝ストロースは、神話を分析することによって、共時的な構造を抽出しようとする。それによると、どこの土地にも神話がかならずある。しかし、それらは、どれも支離滅裂で物語もバラバラである。しかし、この各々の神話をイベントの順序を無視してイベントごと(神話素)に分解し、その神話素同士のうちに二項対立の図式を発見する(例えば、空を飛ぶ／地を這う、生もの／火にかける)。このような二項対立を考察することによって、神話を規定する`神話の構造`が浮かび上がってくるという。この神話分析は、聖書の権威や、教条化したマルクス主義の『資本論』の権威も否定する可能性をもつ。このような、構造主義は伝統的権威の否定により、主体性という伝統の解体に向かう。

### コギト主義の相対化
これまでみたように、レヴィ＝ストロースは未開社会や神話を考察することにより、社会を根底から支配する共時的なものである構造(例えば、女性の交換システムや神話の構造)を見出す。それはあらゆる人間社会が共有する「野生の思考」(Pensee Sauvage)である。この野生の思考という深層構造により西洋文化を支えるコギト主義(主意主義)を相対化しそれを絶対視する傾向を批判する。コギト主義とは、デカルトにみられるように、コギト(考える私)という理性をもつ主体性を重んじる主義である。西洋文化は、このコギト主義の上に成り立っており、つまり、この「考えること」すなわち「理性」を絶対視し根本原理として発展した。

しかし、このコギト主義を前提とする西洋文化がいきついたのは、`ヨーロッパ中心主義であり、異文化の見下し(エスノセントリズム)`であった<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>)。これに対し、レヴィ＝ストロースは、構造という考え方を文化に適用することによって、音素が二項対立という対立軸において他の音との差異によって決定される恣意的なものであるように、この西洋文化の支柱である「理性」もまた絶対的なものではなく、自然／文化という二項対立上で決定される恣意的なものであり、ヨーロッパという狭い領域のなかでの原理にすぎないとする。

そのため、レヴィ＝ストロースによると、**未開の人たちの「野蛮とされる思考」も西洋文化の「合理的とされる思考」もともに野生の思考という深層構造が部分的に表出したものであり、そこには優劣は存在せず、ただ、構造における恣意的な差異の体系が異なるに過ぎない**。また、この未開の文化は`冷たい社会`、近代的な文明社会は`熱い社会`と呼ばれる。

### サルトル(マルクス主義・実存主義)との対立
このように、レヴィ＝ストロースの構造主義的人類学は、コギト主義という伝統的パラダイムを恣意的なものとして相対化する思想でもあった。そして、そのため、これは、コギト主義という枠組みを前提として成立していた実存哲学と対立することになる。ここに、構造主義ＶＳ実存主義という対立図式が成立するとともに、当時のそれぞれの代表者である、レヴィ＝ストロースとサルトルは公然と対立した。彼等の対立は二人の歴史観の相違においてはっきり見ることができる。当時、マルクス主義に傾倒していた実存主義者のサルトルは、人間は主体的に行動しており(実存主義)、かつ、人間の歴史における進歩(マルクス主義)というものを信じていた。そのため、レヴィ＝ストロースの構造主義は、構造という共時的な視点において主体性を解体するとともに、人間の歴史における変化・進歩というものを否定しているニヒリズムであると批判する。

- 実存主義からの批判：主体性の解体
- マルクス主義からの批判：歴史における進歩の否定。


しかし、レヴィ＝ストロースは、人間そのものを否定しているわけではなく、文化進化主義を否定することによって、ヨーロッパという狭い領域における理性を恣意的なものとし、それを絶対的な人間原理であるとする傾向を偏見であると批判したのである。ソクラテスはソフィストの相対主義に対抗して普遍主義を唱えた。しかし、この普遍主義が、いまエスノセントリズムを導き異文化の蹂躙(植民地政策や原住民の虐殺など)という悲劇を生んでいることに対し、レヴィ＝ストロースは、今度は逆に相対主義というソフィストの立場を復活させたと見ることができる。この相対主義は、文明人とされる人も、未開人とされる人も平等の地平におき文化の優劣を否定するヒューマニズムである<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>。しかし、それと同時に、相対主義的傾向にある構造主義はソフィストがそうだったように実際ニヒリズムの可能性をはらんでおり、政治的実践に対し諦観的な態度につながった(歴史は不変の構造に支配されていると考えるため)。このような、不変の構造という考え方はポスト構造主義で見直されることになる。

### 文化人類学を超えて
構造主義は、実存主義やマルクス主義といった既存の哲学と対立、論争することによって、それは文化人類学から哲学の領域に本格的に踏み込む。そして、構造主義は、アルチュセール、フーコー、ラカンらに影響を与え、その時代における主体性の解体という傾向がますます強くなる。

### 文化記号論
レヴィ＝ストロースの構造主義は、上記のように哲学の領域に発展するが、彼のソシュールの言語学を人類学に応用する研究方法は、人類学・文化学においても大きな影響を与える。ソシュールの言語学における記号の捉え方は、シニフィエとシニフィアンとの結びつきから言語記号(シーニュ)がなるとする。レヴィ＝ストロースは、この記号は言語に限定されるものではなく、文化のあらゆる要素は記号であり、文化とは記号の集まりであるとする。例えば、スーツを着てる人はまじめでフォーマルな印象を受けるが、スーツとフォーマルさの結びつきは恣意的である。しかし、文化によって、それらは結び付けられ一種の記号と化している。そして、この記号化された文化を読み解くのを文化記号論という。これは、バルトに受け継がれる。


<ul class="book_list">
	<li>著作</li>
<li>『親族の基本構造』(Les Structures élémentaires de la parenté)1949<br></li>
<li>『悲しき熱帯』(Tristes tropiques)1955<br></li>
<li>『神話の論理』(Les mythologiques)1964 - 1967<br></li>
<li>『野生の思考』(Pensee Sauvage)1962</li>
</ul>

---

## 注
<ul class="comments">
    <li><span id="tyuu1">\*1. 「われわれのものと非常に違った習慣はつねに子供っぽく見える。」[5, p146] </span></li>
    <li><span id="tyuu2">\*2. あらゆる人種における文化を野生の思考において平等化したが、動物がもつ合理性とこの野生の思考を同一視することはできるか。動物と人間を同じ地平に置くことができるのではないか？ </span></li>
</ul>


---

## 参考文献

1. <span class="cite1">{{reference.fr8}}</span>
1. <span class="cite2">{{reference.fr3}}</span>
1. <span class="cite3">{{reference.hist12}}</span>
1. <span class="cite4">{{reference.fr13}}</span>
1. <span class="cite5">{{reference.fr4}}</span>

<div align="right">
    First post &nbsp; 2009/06/11 <br>Last updated&nbsp; 2011/03/04
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}