{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 構造主義#3 拡散する影響(ラカン、アルチュセール)

レヴィ＝ストロースの構造主義が導いた主体性の解体という考え方は、同時代のフランスに拡散する。そして、次の世代の構造主義の代表者は、フロイトの心理分析を構造主義的に見直すことによりコギト解体の傾向を押し進めたラカン、マルクスを新しく構造主義的に読み解き人間主義を排除して解釈したアルチュセール、構造主義に影響を受けてそれの記号学を文学をはじめさまざまな文化的要因に展開するバルト、そして、知の考古学と現代における権力論を展開するフーコーである。彼等のいずれもが自らを構造主義者と名乗るわけではないが、しかし、構造主義の影響を受けているものまた事実である。そして、彼等は、ただ構造主義を単純に受け入れるわけではなく、それの限界を示しポスト構造主義に向かいつつあるのも特徴的である。

### ラカン(Jacques Lacan, 1901-1981)

#### 構造主義的精神分析
構造主義の「自らは自らの主人ではない」という基本的なテーゼの源泉のひとつに、人間は「無意識」に規定されているとするフロイトの精神分析がある。そこで、ラカンは、「フロイトに帰れ」をモットーに構造主義的立場からフロイトの精神分析を再考した。つまり、彼は自我の心的状態をパロールと考え、これを考察することによって、無意識に沈殿しこの有意識を規定する共時的なものであるラング(構造)を取り出そうとする。そして、その私の心的状態というパロールを規定するラングは、「他者」であるという。「私」は「他者」によって規定される。

#### 鏡像段階(stade du miroir)
ラカンはこの他者によって自己が形成される生後6ヶ月から18ヶ月の時期を鏡像段階と呼ぶ。まだ生後間もない乳児は、あらゆる感覚がバラバラに拡散しており、秩序のない混沌とした世界(現実界)に生きる。そこにおいては、自分の身体さえもバラバラにちらばる感覚に含まれており、自己というものを認識できない。つまり、乳児はコギトのような自我を持たない。そして、乳児に最初に自己を知らしめるのは、鏡に映った自分の姿(外化された自己のゲシュタルト)である。つまり、意識を形成する最初の段階として、「鏡のうちにある自分」を「自分」として認識することである。この鏡のうちにある自分とは、「母親(他人)の指示する自分」の比喩であり、母親によって指示された自分の外にある自分を発見し、これと一致することによって初めて自分を獲得する。この世界を「想像界」と呼ぶ。このように、自分というものは、デカルトのコギトのようなものではなく、最初から他者によって規定され構造化されているのである。 <br>

鏡の中の自分と自分を同一視するように、「自分とは、他者(母親)が指示する自分である」という段階において、自分とその自分をもたらす母親との区別がついていない。乳児における理想的な状態とは、母親との一体化である。しかし、母親の欲望は父親に向かっている。このことに気づいた乳児において父親は絶対的な存在となる(ラカン版オイディプス･コンプレックス)。それとともに、母親と一体化を望む乳児(エス)にとって父親は妨害者(超自我)となる。この絶対的妨害者の登場により乳児は母との一体化を断念せざるを得なくなり、代わりに父親の絶対的法のもとに母親と関係を結ぶようになる(自我の形成)。ここに家族の三角形が成立する(シェーマＬ)。

|||
|:--|:--|
|現実界：|(混沌の世界、バラバラに散らばる感覚)|
|想像界：|(母親に指示された自分に自分を一致させる。感覚が統合される)|
|象徴界：|(父親という絶対的存在のもと言葉を獲得し、同時に秩序ある世界に入る)|

#### 他者の言語が主体性を規定する
そして、この法の保持者である父親は乳児に言葉を教える。世界を秩序付けるのは言語であるため、言葉の獲得によって乳児は、想像の世界から秩序ある外の世界の住人となるのである。この世界を象徴界と呼ぶ。この段階でようやく他人とおなじ主体性を獲得する。それは、つまり、表象界の秩序(構造化された言語)に無意識化で規定されることによってはじめて主体性は獲得されることを意味する。そして、無意識を支配する表象界の秩序は他人(父親)の言語によってもたらされるのである(なぜなら、乳児と母親との一体化を妨害する父親は、乳児にとって絶対的な存在者で法の所持者である)。そして、ラカンの次のテーゼが表れる：
<blockquote>
「主体における無意識的なものは、他者の言説(ディスクール)である」 <br>
「私がパロールの中に捜し求めるのは、他者の答えである」
</blockquote>

このようにラカンは人間を規定する「無意識の構造」(他者の言語)を解明した。それは、フロイトを構造主義的に読み、反コギト主義をさらに押し進め主体性を解体に導くものであった。また、彼の哲学は、精神分析を土台としているため、そこから見出される構造には時間的変化が伴う。これは、構造を不変とするレヴィ＝ストロースとは対立する立場であり、この影響はドゥルーズ＝ガタリやクリステヴァといったポスト構造主義者に受け継がれる。

<ul class="book_list">
	<li>著作</li>
	<li>『エクリ』(Écrits)1966</li>
</ul>

---

### アルチュセール(Louis  Althusser, 1918-1990)

#### 構造に規定される社会
レヴィ＝ストロースとラカンは、構造に支配される人間を主題とするが、アルチュセールは構造に支配される社会に着目する。この視点はマルクスの主義のものである。しかし、当時の西欧型マルクス主義と構造主義は根源的に対立するものであり、その対立構造は、サルトルとレヴィ＝ストロースで見たとおりである。アルチュセールは、マルクスを構造主義的に解釈するという困難な仕事に取り掛かる。

#### 人間主義ではなく科学としてのマルクス主義(認識論的切断)
当時のヨーロッパにおいて広まっていたマルクス主義は、人間的・人間主義的に解釈されたマルクス主義であった。これは前期マルクスの疎外論を重点的に解釈したものである。つまり、サルトルが言うような、人間が主体的に歴史に参与しこれを進め、そして、資本主義によって「疎外された“本来”の人間性」を自らのうちに取り戻すといった実存主義的・人間主義的に解釈されたなマルクス主義である。しかし、この人間主義的マルクス解釈は、人間の“本質”というものを土台としており(ヘーゲル的)、つまりこのままではイデオロギー(ここでは虚偽意識、非科学的知の意)となってしまう。

アルチュセールは、このような人間主義的な西欧型マルクス主義に危機感を感じた。これに対し、彼はフッサールの現象学的還元のようにこのような人間主義・歴史主義を「認識論的切断」によって切り離し、マルクスを反人間主義・反歴史主義である科学として解釈する。つまり、前期マルクスと後期マルクスを明確に峻別し人間主義から理論に向かった後期マルクスを重視する。そして、この「歴史の科学」が対象とするのは経済的な「構造」である。マルクスは経済において「剰余価値」という概念を見出したのは周知に事実であるが、アルチュセールによると、この剰余価値は、目に見ることはできないが理論的な分析において顕在化する。この領域が経済における構造である。これは『資本論』を徴候的に読むこと<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>によって表れる。



#### 重層的決定
彼は、まず、既存のマルクス主義が持つ極端に単純化された歴史理解を批判する。先に見た西欧型マルクス主義は、人間が主体となり歴史を動かすというものであり、ソ連型マルクス主義は、下部構造(経済)が上部構造(イデオロギー)を単純に支配しているという単純な決定論である。どちらも、因果関係が極端に単純化されているが、アルチュセールによると、現実の社会は構造に支配されており、また諸構造の因果関係(構造的因果性)は、途方もなく複雑である。社会のあり方は、それに含まれる構造が複雑に絡み合って決定される。これを「重層的決定」という。それはあたかも、各々は独立している審級が相互に影響しあって最高裁の判決に影響するように、歴史(最高裁の決定)も複数の構造(審級)の複合体として理解するというものである。このように既存のマルクス主義の極端に単純な歴史観を排除する<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>。そして、これはこのような複雑な体系から歴史の意味・歴史の進歩といったものを読み取るのは不可能であるとヘーゲルより受け継がれる歴史観を否定する。

#### 国家のイデオロギー装置
このような、人間が普遍の本質をもつといったヘーゲル的、前期マルクス的考えに対する反発は、彼のイデオロギーの捉え方にも表れる。アルチュセールのイデオロギーとは、物質的な存在である。それは、軍隊・行政機関・警察などの抑圧装置だけでなく、家庭・学校・教会なども含まれる。人間同士が経済関係を持つことによって社会的関係が形成される、国家が生まれる。そして、やがて、この国家自体が意思を持つようになり(?)、そのイデオロギーを国家イデオロギー装置によって国民に与える(そして、「国民」に鋳造する)。つまり、国民の諸関係がイデオロギーを形成し、このイデオロギーが社会の土台(経済的土台)を再生産する。つまり、人間とイデオロギーといった因果関係は円環をなしており、人間は普遍ではなくイデオロギーによって変化する可変なものであるという。

<ul class="book_list">
	<li>著作</li>
	<li>『資本論を読む』(Lire le Capital)1965</li>
</ul>

---

### バルト(Roland Barthes, 1915-1980)
#### 構造主義的文学読解
構造主義以前までは、文学作品の作者をその作品の創造主であり神であるかのように扱ってきたが、バルトによると、それぞれの文学作品は言語からなっており、言語は文化という土台の上になっているため、あらゆる作品もこの枠を超えることはできない。そして、また、いかなる作者も無数の作品や文化的要因に影響を受けており、完全にオリジナルな作品というものはありえないという。文学作品において最も重要なのは、読み手に作品を読まれて初めてそれは意味を獲得するということである。作者はみずからの作品を支配することはできない。そして、作者が自らの創造物を支配するとそれは「作品」と呼ばれるが、このように作者を離れて読者にその意味を委ねられるものを「テクスト」という。テクストの読み方は、作者の意図を超えて無限に広がる。文学作品は作品ではなく、テクストとして捉える方法がバルトの影響より広まる。 <br>

あらゆるテクストは、作者の意図を超えてテクストの構造に支配されている。それは、パロールは、ラングという構造に支配されていると考える、ソシュールの構造言語学と同じ考えである。このように、作者の意図を超えたテクストの意味を読み取る方法を記号論という。レヴィ＝ストロースがいうように、文化とは記号の集合である。それを用いる人は必ずしもその意味を意識しているわけではないが、その記号に常に支配されている。バルトはこのような記号論を整え構造主義的に展開する。

<ul class="book_list">
	<li>著作</li>
	<li>『零度のエクリチュール』(Le Degré zéro de l'écriture)1953<br></li>
	<li>『神話操作』(Mythologies)1954 <br></li>
</ul>


---

## 注


<ul class="comments">
    <li><span id="tyuu1">\*1. そのまま文章を繰り返し読むのではなく、そこに潜む微かな気配を読み取るような読み方を、徴候的読解という。それが『資本論を読む』が意味することである。この方法は弟子のフーコーにも影響を与えた。 </span></li>
 <li><span id="tyuu2">\*2. 
アルチュセールは、物事の単純化を避け複雑なものを複雑なまま捉えようとした。そして、不変の構造を見出そうとした構造主義もまた物事を単純化しているといえ、そのため、アルチュセールの哲学はすでに構造主義という枠組みを抜けているとも言える。 </span></li>
</ul>

---





## 参考文献

1. <span class="cite1">{{reference.fr8}}</span>
1. <span class="cite2">{{reference.fr3}}</span>
1. <span class="cite3">{{reference.hist12}}</span>
1. <span class="cite4">{{reference.fr13}}</span>


<div align="right">
    First posted &nbsp; 2009/06/17<br>Last updated&nbsp; 2011/03/04
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}