{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# ヒューム「自然宗教に関する対話」 デザイン論証

「対話」においてヒュームは自然宗教に批判的な議論を展開する。そのため、「対話」は宗教権力による弾圧を避けるため、彼の死後公刊された。この対話編はデメア、クレアンテス、フィロという三人の登場人物の自然宗教に関する議論を対話形式で描いたものである。デメアは信仰至上主義者で、クレアンテスは、`デザイン論証(Design arugment)`もしくは設計証明と呼ばれるアポステリオリな証明で神を証明し、またフィロは、緩和された懐疑主義者で他の二人の主張を批判する。

## デザイン論証(Design Argument)
先で触れたようにこのデザイン論証、または証明設計はクレアンテスが主張する神のアポステリオリな証明である。例えば、我々の目をとってみても、網膜、角膜、水晶体など、非常に高度な、少なくとも人間には創造することができそうにないほどの、機能を有する器官がある。クレアンテスはこのような高度な世界を設計しデザインした高位の知性があり、それが神だという(家を設計する人がいるように)。つまり、この論証は世界の整合性と秩序のなかから、それを創造した知性を見出すという、カントが「自然神学的証明(der physikotheologische Bewise)」と呼んだものである。それは、自然と人工物との間に類比を見出し、それによって世界という結果から神という原因を推察したものである。

## デザイン論証批判
ヒューム研究者であるガスキンはヒュームのデザイン論批判を10にまとめた。

### 1. 結果の属性からの情報以上の原因を飛躍して結論している
結果を生み出す限りの属性だけが原因に認められる。また、結果の産出に必要とされるものを超えた性質を原因に帰属させてはならない。例えば、天秤の上がっている片方に10gの錘が乗ってたならば、もう片方には、必然的に10g以上の力がかかっていると推論するのは正しいが、それが100gであるとか推論するのは論理的に飛躍している。このように、この世界を形成した知性は、「この世界をデザインするだけの知性」に帰属させるべきであって、「全知全能の神」といったものに帰属させるのは飛躍している(<a class="s">\*1<span class="s-balloon" id="popup_tyuu1"></span></a>)。

### 2. 恒常的連接の欠如
デザイン論証がこの秩序立った世界という結果から神という原因を探求するするものであるならば、その両者の間には因果関係を推測するだけの恒常的連接が成立していなければならない。しかし、神と世界の関係は一切見ることも触れることもできないためそこに恒常的連接はありえず、したがって因果関係を推察することもできない。

### ３、類比の弱さ
デザイン論証に起因して成立した、人工物と自然との類比が弱い。何かを類比から証明する場合、比較する二つの対象はお互いに類似点を多く持っていなければならないが、クレアンテスの類比である、家屋と自然はあまりにもかけ離れているため、デザイン論証を証明する決定的な証拠とはいえない。

### 4. 擬人主義による神の制限
デザイン論証は類比証明つまり「類似した原因が類似した結果をもたらす」という原則に依存し、家屋と自然を類比させることによって高位知性である神を証明する。しかし、もし、この類比に従うならば、家を設計する専門家と自然を設計する神は類比するため、神はきわめて人間的な性質をもつものでなければならない。これは、ある種の神人同形論・擬人主義(anthropomorphism)に基づいているといわざるを得ない。しかし、設計者は完全ではないのだからら、神も必然的に完全ではないと結論せねばならない。これは伝統的な神学的命題である「神は完全である」や、または神の「把握しきれない遠さ」(incomprehensible remoteness)と矛盾する。

### 5. デザインの原因の代替案の可能性
この世界に驚くべき秩序と整合性が認められたとしても、それの原因が神である必要はない。もしくは、秩序が存在しても、その秩序がデザインから発したことが経験されていなければ、デザインがあることは証明されない。例えば動物は、高度な知性にデザインされたように見えるが、それは「自分が置かれている環境にうまく適応しないと動物は死んでしまう」という自然淘汰というシステムから生じたのかもしれないと、フィロは、進化論を思わすような代替案の可能性を示唆する。

### 6. 悪の問題
全知全能で最善である神がこの世界をデザインしたのなら、なぜこんなにも苦痛や苦悩があるのだろうか。クレアンテスは、神は無数にある可能性から最善の選択をしたという(ライプニッツ？)。フィロはこれに対し、
- (１)人間の快を得るために苦を必要とする構造をなぜ神はあたえたのか、
- (２)神はこの世界に介入することができるのなから、なぜそれをしないのか、
- (３)神が慈父のような存在だったら、なぜもっと我々を万能にしないのか、
- (４)水を提供するために雨が降るとしても、なぜ洪水などが起こるのか。

といった、素朴な反論をして、自然の設計ミスを指摘する。また実際、デザイン論証から慈善的な神を結論するのは、先に見たように飛躍した推論である。自然的属性(natural Attributes)から道徳的属性(moral Atrributes)に飛躍している。

### 7. 
デザインは唯一神と整合しない結論を確立しうる
### 8. 
世界の秩序の原因となった知的な行為者agentを持ち出しても、直ちにその行為者自体が説明されねばならないことになり、結局は無限後退に陥るのだから、我々は物質的世界で説明をやめても十分満足できるのではないか
### 9. 
世界の事物それ自体の仲に秩序を維持する組織が内在していると考えられるのではないか
### 10. 
デザイン論証の扱うような主題はあまりにも壮大すぎて、人間の知性に不適ではないのか



---

## 注


<ul class="comments">

<li><span id="tyuu1">\*1. しかし、日常でこういった飛躍は往々にして行われていることである。例えば、絵画をみてこれを描いた人物は画家であると結論するが、上のように厳密に推論するとこの絵画を描くだけの技能をもった人物が描いたとしか結論できない。[3, p261]の役者解説で前者を「日常因果」、後者を「デザイン因果」と呼び区別し、また両者の本質を同定し統合する。
</span></li>
</ul>

---



## 参考文献
<!-- - ｳｫｰﾊﾞｰﾄﾝ著・船木亨訳「入門哲学の名著」 -->
1. <span class="cite1">{{reference.hist2}}</span>
<!-- - ｼｪｳﾞｪｰｸﾞﾗｰ著谷川徹三・松村一人訳「西洋哲学史」 -->
1. <span class="cite2">{{reference.hist4}}</span>
<!-- - 大浦康介・小林道夫・富永茂樹編「哲学を読む」の田村均『知覚の束としての自己』 -->
<!-- 1. <span class="cite3">{{reference.hist10}}</span> -->
<!-- - ヒューム著・斉藤繁雄・一之瀬正樹訳「人間知性研究」 -->
1. <span class="cite3">{{reference.modern3}}</span>

<!--  -->

<div align="right">
    First post &nbsp; 2008/10/15<br>Last updated&nbsp; 2008/10/15
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}