<!-- 
<p>
	<span class="para"></span>
	
</p>

<ul class="book_list">
	<li>著作</li>
	<li></li>
	<li></li>
	<li></li>
</ul>

---

 -->

{% extends "layout.html" %}
{% block content %}

<h5>
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
│ <a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# title

テスト引用<a class="s">[18]<span class="s-balloon popup_cite18"></span></a>。

<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>
<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>
---

## 注
<ul class="comments">
<li><span id="tyuu1">\*1. aaa  </span></li>
<li><span id="tyuu2">\*2. aaa  </span></li>
</ul>

<span class="red">[要引用箇所]</span>
---

## 参考文献

1. <span class="cite17">{{reference.hist3}}</span>
1. <span class="cite18">{{reference.add1}}</span>
<!--  -->

<div align="right">
    First post &nbsp; 2008/10/08
    <br>
    Last updated&nbsp; 2012/03/21
</div>
<h5>
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
│ <a href="{{next_page}}"> 次へ &gt;&gt;</a> 
│ <a href="#top">一番上に戻る</a>
</h5>
{% endblock %}