{% extends "layout.html" %} {% block content %}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">



<div class="index">


    <h2 id="cat_kodai">古代哲学</h2>
    <div style="margin:02px"></div>
    <ul>
        <li> <a href="{{url_for('trans_ancient', page_num='1')}}">古代哲学史#1 古代ギリシャ自然哲学</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='2')}}">古代哲学史#2 自然から人間へ(ソフィストとソクラテス)</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='3')}}">古代哲学史#3 ソクラテスの体系化と発展 (プラトン)</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='4')}}">古代哲学史#4 古代哲学の到達点 (アリストテレス)</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='5')}}">古代哲学史#5 ヘレニズム </a></li>
    </ul>
    <ul>
        <!-- #### プラトン -->
        <li> <a href="{{url_for('trans_ancient', page_num='6')}}">プラトン『メノン』徳について</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='7')}}">プラトン『メノン』におけるパラドックスと想起説</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='8')}}">プラトン『エウテュプロン』敬虔について</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='9')}}">プラトン『ラケス』勇気について―198a-199cにおける議論</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='10')}}">プラトン『国家』#1-1 正義について(ケパロスとポレマルコスとの問答).</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='11')}}">プラトン『国家』#1-2 正義について(トラシュマコスとの問答).</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='12')}}">プラトン『国家』#1-3 正義について(ソクラテスの正義)</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='13')}}">プラトン『国家』#2 哲人政治</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='14')}}">プラトン『国家』#3 太陽の比喩・線分の比喩・洞窟の比喩.</a></li>
    </ul>
    <ul>
        <!-- #### アリストテレス	 -->
        <li> <a href="{{url_for('trans_ancient', page_num='15')}}">アリストテレス#1 『形而上学』</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='16')}}">アリストテレス#2 『論理学』</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='17')}}">アリストテレス『二コマコス倫理学』#1</a></li>
        <li> <a href="{{url_for('trans_ancient', page_num='18')}}">アリストテレス『二コマコス倫理学』#2</a></li>
    </ul>

    <br>

    <h2 id="cat_tyusei">中世哲学.</h2>

    <ul>
        <li> <a href="{{url_for('trans_medieval', page_num='1')}}">中世哲学史#1 教父神学</a></li>
        <li> <a href="{{url_for('trans_medieval', page_num='2')}}">中世哲学史#2 初期スコラ学</a></li>
        <li> <a href="{{url_for('trans_medieval', page_num='3')}}">中世哲学史#3 中期スコラ学</a></li>
        <li> <a href="{{url_for('trans_medieval', page_num='4')}}">中世哲学史#4 後期スコラ学</a></li>
        <li> <a href="{{url_for('trans_medieval', page_num='5')}}">中世哲学史#5 神秘主義 </a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_medieval', page_num='6')}}">アウグスティヌスの哲学</a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_medieval', page_num='7')}}">トマス・アクィナス#1 認識</a></li>
        <li> <a href="{{url_for('trans_medieval', page_num='8')}}">トマス・アクィナス#2 存在論と神</a></li>
    </ul>

    <br>

    <h2 id="cat_kindai">近代哲学.</h2>

    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='1')}}">近代哲学史#1 ルネサンス</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='2')}}">近代哲学史#2 大陸合理主義</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='3')}}">近代哲学史#3 イギリス経験主義</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='4')}}">近代哲学史#4 フランス啓蒙主義</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='5')}}">近代哲学史#5 ドイツ観念論</a></li>
    </ul>

    <h4>大陸合理主義</h4>

    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='6')}}">デカルト 我思う故に我あり</a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='7')}}">スピノザ『エティカ』#1 神即自然</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='8')}}">スピノザ『エティカ』#2 人間</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='9')}}">スピノザ『エティカ』#3 倫理</a></li>
        <!-- <li> <a href="{{url_for('trans_modern', page_num='10')}}">aaライプニッツ#1 Monad</a> --></li>
    </ul>


    <h4>イギリス経験主義 </h4>
    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='10')}}">ロック『人間知性論』#1(観念と認識)</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='11')}}">ロック『統治論』#2(自然法と市民社会)</a></li>
    </ul>
    <ul>

        <li> <a href="{{url_for('trans_modern', page_num='12')}}">ヒューム『人間知性研究』#1 恒常的連接と因果関係</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='13')}}">ヒューム『人間知性研究』#2 自由意志と懐疑論</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='14')}}">ヒューム『自然宗教に関する対話』 デザイン論証</a></li>
    </ul>


    <h4>フランス啓蒙主義</h4>
    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='15')}}">ルソー『エミール(第一遍)』</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='16')}}">ルソー『不平等起源論』.</a></li>
    </ul>


    <h4>ドイツ観念論</h4>
    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='17')}}">カント『純粋理性批判』#1 アプリオリな総合判断</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='18')}}">カント『純粋理性批判』#2 超越論的感性論</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='19')}}">カント『純粋理性批判』#3-1 超越論的分析論(演繹論)</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='20')}}">カント『純粋理性批判』#3-2 超越論的分析論(図式論)</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='21')}}">カント『純粋理性批判』#4-1 超越論的弁証論</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='22')}}">カント『純粋理性批判』#4-2 誤謬推論・二律背反・理想 </a></li>

    </ul>
    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='23')}}">カント『判断力批判』#1 第三批判の全体図</a></li>
        <li> <a href="{{url_for('trans_modern', page_num='24')}}">カント『判断力批判』#2 美と崇高の分析 </a></li>
        <li> <a href="{{url_for('trans_modern', page_num='25')}}">カント『判断力批判』#3 美的判断の演繹論 </a></li>

    </ul>
    <ul>
        <li> <a href="{{url_for('trans_modern', page_num='26')}}">フィヒテ『知識学』</a></li>
    </ul>

    <br>

    <h2 id="cat_gendai">現代哲学(１９世紀－２０世紀前半).</h2>

    <ul>
        <li> <a href="{{url_for('trans_contemporary', page_num='1')}}">分岐する現代哲学の潮流</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='2')}}">実証主義的傾向#1 フランス(実証主義の設立と実証主義的社会学)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='3')}}">実証主義的傾向#2 イギリス(進化論哲学と功利主義) </a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='4')}}">実証主義的傾向#3 ドイツ(ヘーゲル左派)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='5')}}">実証主義的傾向#4 経験批判論から分析哲学へ</a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_contemporary', page_num='6')}}">批判主義的傾向#1 新カント学派 </a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='7')}}">批判主義的傾向#2 現象学 </a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_contemporary', page_num='8')}}" >非合理主義的傾向#1-1 生の哲学(１９世紀の生の哲学)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='9')}}" >非合理主義的傾向#1-2 生の哲学(フランス)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='10')}}">非合理主義的傾向#1-3 生の哲学(ドイツ)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='11')}}">非合理主義的傾向#2-1 実存哲学(１９世紀)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='12')}}">非合理主義的傾向#2-2 実存哲学(ドイツ)</a></li>
        <li> <a href="{{url_for('trans_contemporary', page_num='13')}}">非合理主義的傾向#2-3 実存哲学(フランス)</a></li>
    </ul>

    <h4> 現象学</h4>

    <ul>
        <li> <a href="{{url_for('trans_phenomenology', page_num='1')}}">フッサールの現象学#1 現象学始まりとその方法</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='2')}}">フッサールの現象学#2 直接経験</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='3')}}">フッサールの現象学#3 ノエマとノエシス</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='4')}}">フッサールの現象学#4 他我構成による客観世界の確信</a></li>

    </ul>
    <ul>
        <li> <a href="{{url_for('trans_phenomenology', page_num='5')}}">後期フッサール『ヨーロッパ諸学の危機と超越論的現象学』</a></li>
    </ul>
    <ul>

        <li> <a href="{{url_for('trans_phenomenology', page_num='11')}}">メルロ=ポンティ『行動の構造』#1</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='12')}}">メルロ=ポンティ『行動の構造』#2</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='13')}}">メルロ=ポンティ『知覚の現象学』</a></li>
    </ul>


    <h4>実存哲学</h4>
    <ul>
        <li> <a href="{{url_for('trans_phenomenology', page_num='6')}}">サルトル『存在と無』 #1 即自存在</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='7')}}">サルトル『存在と無』 #2 対自存在と無</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='8')}}">サルトル『存在と無』 #3 対他存在</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='9')}}">サルトル『存在と無』 #4 自由</a></li>
        <li> <a href="{{url_for('trans_phenomenology', page_num='10')}}">サルトル『存在と無』 #5 自己欺瞞と誠実</a></li>
    </ul>


    <br>
    <h2 id="cat_fr">現代フランス哲学.</h2>

    <ul>
        <li> <a href="{{url_for('trans_fr', page_num='1')}}">反コギト主義的傾向：構造主義#1 言語学からの始まり(ソシュール)</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='2')}}">反コギト主義的傾向：構造主義#2 文化人類学での開花(レヴィ＝ストロース)</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='3')}}">反コギト主義的傾向：構造主義#3 拡散する影響(ラカン、アルチュセール)</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='4')}}">反コギト主義的傾向：構造主義#4 構造なき構造主義 (フーコー)</a></li>

    </ul>
    <ul>
        <li> <a href="{{url_for('trans_fr', page_num='5')}}">ポストモダン#1 ポスト構造主義 </a></li>
        <li> <a href="{{url_for('trans_fr', page_num='6')}}">ポストモダン#2 拡散する小さな物語</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='7')}}">ポストモダン#3 ポストモダンにおける現象学 </a></li>
    </ul>
    <ul>

        <li> <a href="{{url_for('trans_fr', page_num='8')}}">ドゥルーズ『差異と反復』 </a></li>
        <li> <a href="{{url_for('trans_fr', page_num='9')}}">ドゥルーズ＝ガタリ『アンチ・オイディプス』#1 欲望する機械(生産)</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='10')}}">ドゥルーズ＝ガタリ『アンチ・オイディプス』#2 器官なき身体(反生産)</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='11')}}">ドゥルーズ＝ガタリ『アンチ・オイディプス』#3 資本主義と分裂症</a></li>
        <li> <a href="{{url_for('trans_fr', page_num='12')}}">ドゥルーズ＝ガタリ『ミル・プラトー』 リゾームとノマドロジー</a></li>
    </ul>

    <br>

    <h2 id="cat_en">現代イギリス哲学</h2>

    <ul>
        <li> <a href="{{url_for('trans_en', page_num='1')}}">.分析哲学史#1 理想言語学派による言語的転回(フレーゲとラッセル).</a></li>
        <li> <a href="{{url_for('trans_en', page_num='2')}}">.分析哲学史#2 ケンブリッジ学派(ウィトゲンシュタインとG.E.ムーア)</a></li>
        <li> <a href="{{url_for('trans_en', page_num='3')}}">.分析哲学史#3 論理実証主義(ウィーン学団)</a></li>
        <li> <a href="{{url_for('trans_en', page_num='4')}}">.分析哲学史#4 日常言語学派</a></li>
    </ul>
    <ul>
        <!-- <li> <a href="{{url_for('trans_en', page_num='5')}}">G.E.Moore『Proof of an External World』#1 "here is a hand" argument</a></li>
<li> <a href="{{url_for('trans_en', page_num='6')}}">G.E.Moore『Proof of an External World』#2 ムーアの真の意図</a></li>
<li> <a href="{{url_for('trans_en', page_num='7')}}">G.E.Moore『Proof of an External World』#3 ムーア批判</a></li>
 -->
        <li> <a href="{{url_for('trans_en', page_num='8')}} ">.前期ウィトゲンシュタイン『論理哲学論考』#1 思考の限界の探求</a></li>
        <li> <a href="{{url_for('trans_en', page_num='9')}} ">.前期ウィトゲンシュタイン『論理哲学論考』#2 世界から言語へ</a></li>
        <li> <a href="{{url_for('trans_en', page_num='10')}}">.前期ウィトゲンシュタイン『論理哲学論考』#3 単純な命題とは</a></li>
        <li> <a href="{{url_for('trans_en', page_num='11')}}">.前期ウィトゲンシュタイン『論理哲学論考』#4 論理空間における真理操作</a></li>
        <li> <a href="{{url_for('trans_en', page_num='12')}}">.前期ウィトゲンシュタイン『論理哲学論考』#5 語りえぬもの：自我 </a></li>
        <li> <a href="{{url_for('trans_en', page_num='13')}}">.前期ウィトゲンシュタイン『論理哲学論考』#6 語りえぬもの：論理 </a></li>
        <li> <a href="{{url_for('trans_en', page_num='14')}}">.前期ウィトゲンシュタイン『論理哲学論考』#7 語りえぬもの：倫理</a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_en', page_num='15')}}">後期ウィトゲンシュタイン｢哲学探究｣#1 言語ゲーム</a></li>
        <li> <a href="{{url_for('trans_en', page_num='16')}}">後期ウィトゲンシュタイン｢哲学探究｣#2 クリプキのウィトゲンシュタイン</a></li>
        <li> <a href="{{url_for('trans_en', page_num='17')}}">後期ウィトゲンシュタイン｢哲学探究｣#3 規則に従う</a></li>
        <li> <a href="{{url_for('trans_en', page_num='18')}}">後期ウィトゲンシュタイン｢哲学探究｣#4 私的言語批判</a></li>
    </ul>
    <ul>
        <li> <a href="{{url_for('trans_en', page_num='19')}}">..ウィーン学団#1 検証原理と還元主義による基礎付け</a></li>
        <li> <a href="{{url_for('trans_en', page_num='20')}}">ウィーン学団#2 論理実証主義に対する批判 </a></li>
    </ul>

    <br>

    <h2 id="cat_us">現代アメリカ哲学</h2>

    <ul>
        <li> <a href="{{url_for('trans_us', page_num='1')}}">.実用主義的傾向#1 プラグマティズム</a></li>
        <li> <a href="{{url_for('trans_us', page_num='2')}}">.実用主義的傾向#2 ポスト・カルナップ</a></li>
        <li> <a href="{{url_for('trans_us', page_num='3')}}">.実用主義的傾向#3 クワイン以後(哲学の自然化)(メモ) </a></li>

    </ul>
    <ul>
        <li> <a href="{{url_for('trans_us', page_num='4')}}">.クワイン『なにがあるかについて』#1 非存在の否定という問題</a></li>
        <li> <a href="{{url_for('trans_us', page_num='5')}}">.クワイン『なにがあるかについて』#2 存在論的コミットメント</a></li>
        <li> <a href="{{url_for('trans_us', page_num='6')}}">.クワイン『経験主義の二つのドグマ』#1 分析と総合というドグマ</a></li>
        <li> <a href="{{url_for('trans_us', page_num='7')}}">.クワイン『経験主義の二つのドグマ』#2 還元主義というドグマ</a></li>
        <li> <a href="{{url_for('trans_us', page_num='8')}}">.クワイン『経験主義の二つのドグマ』#3 ホーリズム_</a></li>
    </ul>
    <ul>

        <li> <a href="{{url_for('trans_us', page_num='9')}} ">デイヴィドソン#1 真理条件意味論 </a></li>
        <li> <a href="{{url_for('trans_us', page_num='10')}}">デイヴィドソン#2 形式言語から自然言語へ </a></li>
        <li> <a href="{{url_for('trans_us', page_num='11')}}">デイヴィドソン#3 根源的解釈 </a></li>
        <li> <a href="{{url_for('trans_us', page_num='12')}}">デイヴィドソン#4 全体論 </a></li>
        <li> <a href="{{url_for('trans_us', page_num='13')}}">デイヴィドソン#5 第三のドグマ(メモ) </a></li>
        <li> <a href="{{url_for('trans_us', page_num='14')}}">デイヴィドソン『根源的解釈』#1 様々な解釈理論の検証</a></li>
        <li> <a href="{{url_for('trans_us', page_num='15')}}">デイヴィドソン『根源的解釈』#2 タルスキの真理理論の応用</a></li>
        <li> <a href="{{url_for('trans_us', page_num='16')}}">デイヴィドソン『真理と述定』#1-1 タルスキ真理論の哲学的解釈(収縮理論の検討)</a></li>
        <li> <a href="{{url_for('trans_us', page_num='17')}}">デイヴィドソン『真理と述定』#1-2 タルスキ真理論の応用可能性</a></li>
    </ul>
    <ul>

        <li> <a href="{{url_for('trans_us', page_num='18')}}">サール#1 言語行為 </a></li>
        <li> <a href="{{url_for('trans_us', page_num='19')}}">サール#2 志向性 </a></li>
    </ul>

    <br>

    <h2 id="cat_lang">言語哲学</h2>

    <ul>
        <li> <a href="{{url_for('trans_lang', page_num='1')}}">.ラッセル『表示について』#1 記述理論による分析 </a></li>
        <li> <a href="{{url_for('trans_lang', page_num='2')}}">ラッセル『表示について』#2 伝統的パズルの解決 </a></li>
        <li> <a href="{{url_for('trans_lang', page_num='3')}}">ラッセル『表示について』#3 批判(日常言語学派)</a></li>
    </ul>


    <ul>
        <li> <a href="{{url_for('trans_lang', page_num='4')}}">固有名の古典的理論#1 論理的固有名と記述説(ラッセル)</a></li>
        <li> <a href="{{url_for('trans_lang', page_num='5')}}">固有名の古典的理論#2-1 記述の束説(サール)</a></li>
        <li> <a href="{{url_for('trans_lang', page_num='6')}}">固有名の古典的理論#2-2 記述の束説による問題解決 </a></li>
    </ul>


    <ul>
        <li> <a href="{{url_for('trans_lang', page_num='7')}}">クリプキ『名指しと必然性』#1 指示論における可能世界の導入 </a></li>
        <li> <a href="{{url_for('trans_lang', page_num='8')}}">クリプキ『名指しと必然性』#2 指示の古典的理論の検証 </a></li>
        <li> <a href="{{url_for('trans_lang', page_num='9')}}">クリプキ『名指しと必然性』#3 指示論の新たな見取り図(指示の因果説)</a></li>
        <li> <a href="{{url_for('trans_lang', page_num='10')}}">クリプキ『名指しと必然性』#4 自然種の一般名とアポステリオリな必然性 </a></li>
    </ul>


    <ul>
        <li> <a href="{{url_for('trans_lang', page_num='11')}}">意味論#1 (指示説、存在物説、使用説)</a></li>
        <li> <a href="{{url_for('trans_lang', page_num='12')}}">意味論#2 (心理説、検証説、真理条件説)(メモ)</a></li>
    </ul>


    <br>


    <h2 id="cat_science">科学哲学.</h2>

    <ul>
        <li> <a href="{{url_for('trans_science', page_num='1')}}">科学哲学#1 帰納法をめぐる問題 </a></li>
        <li> <a href="{{url_for('trans_science', page_num='2')}}">科学哲学#2 科学と非科学</a></li>
        <li> <a href="{{url_for('trans_science', page_num='3')}}">科学哲学#3 実在論VS反実在論 </a></li>
        <li> <a href="{{url_for('trans_science', page_num='4')}}">科学哲学#4 科学的相対主義 </a></li>
    </ul>


    <br>

    <h2 id="cat_mind">心の哲学</h2>

    <ul>
        <li> <a href="{{url_for('trans_mind', page_num='1')}}">心の哲学#1 二元論まとめ</a></li>
        <li> <a href="{{url_for('trans_mind', page_num='2')}}">心の哲学#2 唯物論まとめ</a></li>
        <li> <a href="{{url_for('trans_mind', page_num='3')}}">心の哲学#3 唯物論批判</a></li>
        <li> <a href="{{url_for('trans_mind', page_num='4')}}">心の哲学#4 その他の唯物論</a></li>

    </ul>
    <ul>
        <li> <a href="{{url_for('trans_mind', page_num='8')}}">認知哲学#1 機械は心を持てるか？</a></li>
        <li> <a href="{{url_for('trans_mind', page_num='9')}}">認知哲学#2 神経ネットワークから心に迫る</a></li>
    </ul>
    <ul>

        <li> <a href="{{url_for('trans_mind', page_num='5')}}">志向性について</a></li>
        <!-- <li> <a href="{{url_for('trans_mind', page_num='6')}}">Discussion about Epiphenomenalism</a></li>
        <li> <a href="{{url_for('trans_mind', page_num='7')}}">Strong AI and Chinese Room </a></li>
        <li> <a href="{{url_for('trans_mind', page_num='10')}}">The language of thought (Fodor) #1</a></li>
        <li> <a href="{{url_for('trans_mind', page_num='11')}}">The language of thought (Fodor) #2</a></li>
        -->
    </ul>

    <br>

    <h2 id="cat_epist">認識論・懐疑論</h2>
    <ul>

        <li> <a href="{{url_for('trans_epistemology', page_num='1')}}">認識論#1 知識とはなにか </a></li>
        <li> <a href="{{url_for('trans_epistemology', page_num='2')}}">認識論#2 内在主義と外在主義(メモ) </a></li>
    </ul>
    <br>
    <h2 id="cat_east">東洋哲学.</h2>
    <ul>
        <li> <a href="{{url_for('trans_east', page_num='1')}}">古代インド哲学史#1 初期ヴェーダ(自然宗教と祭祀至上主義) </a></li>
        <li> <a href="{{url_for('trans_east', page_num='2')}}">古代インド哲学史#2 後期ヴェーダ(ウパニシャッド哲学) </a></li>
        <li> <a href="{{url_for('trans_east', page_num='3')}}">古代インド哲学史#3 反ヴェーダ(六師外道)</a></li>
        <li> <a href="{{url_for('trans_east', page_num='4')}}">古代インド哲学史#4 反ヴェーダ(仏教) </a></li>
        <li> <a href="{{url_for('trans_east', page_num='5')}}">ナーガールジュナ『中論』</a></li>
    </ul>

    <br>
    </li>

    <h2 id="cat_art">美学・芸術の哲学.</h2>

    <ul>
        <li> <a href="{{url_for('trans_others', page_num='4')}}">トルストイ『芸術とはなにか』 </a></li>
    </ul>

</div>

{% endblock %}