{% extends "layout.html" %} 
{% block content %}

<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 現代哲学史#1 分岐する現代哲学の潮流

## 分岐する現代哲学の潮流(理性への疑い)
人間の「理性」を認識の最高の能力として、理性は神がもたらした法則を見通せるという信念が古代の思想から存在した。この理性を頂点とする哲学の一大潮流は、近代においてデカルトの心身二元論、カントの主客図式、そして、ヘーゲルの絶対精神と突き進んだ。そして、この理性重視の傾向はヘーゲル哲学で行き着くところまで行き着いたといわれる<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>。また、理性は科学という新たな見識をもたらした。

しかし、このような哲学と科学における理性偏重主義は近代において危機を迎える<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>。それは「理性の危機」と呼ばれる。現代哲学は、このように危機に瀕した理性から抜け出すことから始まる。(現代といっても始まったのが二世紀も前のことなので、いささか「現代」という語を使うのが躊躇われるが、多くの哲学史の解説書の区分に準じる)。そしてそれらは様々な分類法があるが、ここでは現代哲学におけるいくつかの傾向で分類する。

## 1. 実証主義的傾向
ヘーゲルの思弁哲学の反動として、反形而上学を標榜する実証主義の傾向がつよくなる。1830年代にフランスにおいて、コントによって実証主義が設立される。これが実証主義的傾向を生み出すとともに多方面へ波及する。フランス国内では社会哲学に、イギリスではスペンサーの進化論哲学やミルの功利主義などに影響を与える。他方、ドイツでは、ヘーゲルの思弁哲学に対し、ヘーゲル学派の内部から批判が出現する。このヘーゲル哲学解体の動きが、マルクス主義を導き、また、現代の大陸哲学に影響を与える。加えて、ドイツの物理学者マッハの実証主義に対する反省から始まる新実証主義は、論理実証主義を導き、分析哲学を形作ってゆくことになる。

### フランスの実証主義的傾向
コント(実証主義の設立)、ギヨー、ディルケーム、タルド

### イギリスの実証主義的傾向
スペンサー(進化論哲学・総合哲学)、J. S. ミル(功利主義)

### ドイツの実証主義的傾向(ヘーゲル左派)
シュトラウス(宗教批判)、フォイエルバッハ(宗教批判)、マルクス＝エンゲルス(唯物論的弁証法)


　　　　　　　A.コント <br>
　　　┌──┴────┐ 　　　　　　　　　　ヘーゲル哲学に対する反動<br>
.　　　↓　　　　　　　　　　↓　　　　　　　　　　　　　　　　　　　　　↓<br>
　フランス　　 　　　イギリス―――――――┬――――――ドイツ<br>
(ﾃﾞｭﾙｹｰﾑ)　(スペンサー、J.S.ミル)　　　　　↓　　　　　　(ヘーゲル左派)<br>
　　　↓　　　　　　　　　↓　　　　　実証主義に対する反省　　　　↓<br>
　　社会哲学へ　　ムーア、ラッセル　　経験批判論　　　　マルクス主義へ<br>
　　　　　　　　　　　　　　↓　　　　　　　　(マッハ主義)<br>
　　　　　　　　　　　　分析哲学へ←――――┘<br>

## 2. 批判主義的傾向
実証主義の反形而上学的傾向、唯物論的傾向に対する批判的傾向から観念論的形而上学も生じる。新カント主義は認識論的立場から、フッサールの現象学は存在論的傾向から批判主義を展開する。また、現象学はフッサール当初の目的である心理主義的認識論の批判と諸学の基礎付けという批判主義的傾向を超えて現象学運動となり、その後の哲学である実存哲学、生の哲学に多大な影響を与える。

### 前期カント主義
リープマン、ランゲ

### 後期新カント主義
- (マールブルク学派：自然科学の認識を研究)
コーエン、カッシーラー、ナトルプ

- (西南学派：文化科学の領域を研究)
ヴィンデルバント、リッケルト、ラスク　

### 現象学
ブレンターノ学派、 ボルツァーノ、ナトルプ<br>
↓<br>
前期フッサール<br>
↓<br>
中期フッサール┐生の哲学 <br>
↓　　　　　　　　｜　　＆<br>
後期フッサール┘実存哲学へ<br>


## 3. 反合理主義的傾向
先の二つの傾向がヘーゲルが重きを置いた理性に反対し科学に信頼を置くのに対し、第三の立場は、人生においてこのような科学的認識は役立たないとして、これに対しても批判的な態度をとる。つまりこの立場は合理性ではなく、非合理性から人間の生を把握する。例えば、理性の外側と考えられていた、「生」、「狂気」、「暴力」、「身体」、「性」、「無意識」などを哲学的に考察する。生の哲学、実存主義、構造主義、ポスト構造主義へ

### 生の哲学
ショーペンハウアー、ニーチェ、ベルクソン、ブロンデル、ディルタイ、ジンメル

### 実存主義
キルケゴール、ハイデガー、ヤスパース、マルセル、サルトル、メルロ=ポンティ

### 構造主義
1960年代にデカルト以来哲学の中心にあった主体に対する批判的傾向が生じる。この傾向は主体性を構造のなかに還元する。フランスにおける現象学的実存主義と激しい論戦を繰り返した。
ソシュール、ヤーコブソン、レヴィ＝ストロース、ラカン、アルチュセール

### ポスト構造主義
フーコー、ドゥルーズ、デリダ、レヴィナス、リクール、ジジェク

---

## 注






<ul class="comments">
    <li><span id="tyuu1">\*1. ヘーゲル哲学はギリシャ哲学とキリスト教というヨーロッパにおける精神的支柱の統合であると解される。 </span></li>
    <li><span id="tyuu2">\*2. 近代における科学の危機は数学と物理学が直面した重要な問いである。それは、例えば、非ユークリッド幾何学、ラッセルのパラドックス、マイケルソンとモーリーのエーテルの実験、二重スリット実験、黒体放射などである。現代ではアインシュタインの特殊相対性理論やプランクの量子論によって解決済みのものもあるが、さらなる問題としてゲーデルの不完全性定理やハイゼンベルクの不確定性原理などがある。 </span></li>
</ul>

---


## 参考文献

1. <span class="cite1">{{reference.hist17}}</span>
1. <span class="cite2">{{reference.hist16}}</span>
1. <span class="cite3">{{reference.hist15}}</span>
1. <span class="cite4">{{reference.hist19}}</span>
1. <span class="cite5">{{reference.hist9}}</span>
1. <span class="cite6">{{reference.hist6}}</span>
1. <span class="cite7">{{reference.hist26}}</span>

<!--  -->

<div align="right">
    First posted &nbsp; 2009/04/04<br>Last updated&nbsp; 2012/05/08
</div>
<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ</a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}