{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 非合理主義的傾向#1-3 生の哲学(ドイツ)

ベルクソンは機械論と目的論を排除し生の躍動によって進化を説明する。しかし、生の躍動というまったく動的なものでは、形相のような秩序を生み出せず相対主義に陥る。つまり、生の哲学は次の段階として、単なる「生以上の生」を探求する必要に迫られる。それに対する応答として先に見たブロンデルに加え、ドイツ哲学者のディルタイ、ジンメル等の哲学がある。

---

### ディルタイ(Wilhelm Dilthey, 1833-1911)
ディルタイはドイツを代表する生の哲学者である。彼は歴史学の基礎付けを試みる。その試みは、新カント学派(西南学派)においてすでに試みられているが、ディルタイはそれのように歴史の因果関係を形而上学的に特定するというものではなく、「生」によって「生」を理解(解釈)する、つまり、「生」それ自体を記述する記述心理学の立場から歴史学の基礎付けを試みる。

<span class="para">歴史理性批判</span>
ディルタイは、歴史を超越的に規定する合理性や神の存在を否定し、生という非合理性を歴史の主体に据える。このように、彼は自らの哲学をその生における認識論的基礎を探求することからこれをカントに習って`歴史的理性批判(Kritik der historischen Vernunft)`と呼ぶ。彼にとって生とは人間の全体的連関であり、生の全体的連関において意味の連関・客観的精神がうまれる。そして、全体の連関を考察することは過去を包括的に考察することであるため、ディルタイにとって生とは個々人の生というより歴史的生である。そのため、彼の生に対する考察は歴史哲学となる。しかし、ヘーゲルの絶対精神のように歴史を規定する超越的存在を立てないため相対主義に向かわざるをえない。そして、相対主義は生の哲学の根本問題としてある。

<span class="para">歴史的解釈学</span>
また、この歴史的に生を理解するには「解釈学」という方法論が必要となる。解釈学とはもともと聖書解釈などに使用されてた方法論であり、ディルタイ等によって哲学的に深化される。それは、なにかしらの表現(文字表現など)に固定された生の表出を全体的連関において理解・解釈する技術である。たとえば、ゲーテの作品において、ゲーテの『ヴィルヘルム・マイスターの修業時代』における若くして死んだ恋人の死体に防腐処置を施しガラスケースに入れ身近に置く場面がある。そのシーンは彼にとって美しいシーンとして書かれるが、われわれからは不可解である。しかし、彼の生の全体的連関を理解することによって、その生の表出であるこの表現を美しいもの・高潔なものとして理解・解釈することが可能である。ディルタイにとって生の表出とは歴史であった。そこで、彼は、この歴史を全体的連関において理解・解釈を試みる。これを歴史的解釈学という。また、`解釈学(Hermeneutik)`はガダマー、ハイデガーらに受け継がれ現代哲学におけるひとつの潮流となる(分析哲学においてもデイヴィドソン、サール等が影響を受ける)。

<ul class="book_list">
	<li>著作</li>
	<li>『精神科学における歴史的世界の構成』Der Aufbau der geschichtlichen Welt in den Geisteswissenschaften (1910)</li>
</ul>

---

### ジンメル(Georg Simmel, 1858-1918)

<span class="para">形式社会学</span>
生の哲学に向かう前の前期のジンメルは、社会学に関心を寄せた。先に見たように、現代における実証主義の始祖であるコントによって社会学はあらゆる学問を措定する学問として設立された。しかし、これは依然として総合的社会学であり、独自性に欠けた。これに対し、ジンメルは社会学を形式社会学たらしめるためそれの独立性を研究する。ジンメルにとって社会とは、「個人の集合」(社会名目論)や「個人から独立し実在するもの」(社会実在論)のどちらを採用するのでもなく、それらどちらも社会の諸要素の相互作用の総和として捉える。そして、社会の諸要素における形式を研究するのが`形式社会学(formalen Soziologie)`である。

<span class="para">より多くの生</span>
後期のジンメルは社会哲学から思弁的な生の哲学へ向かう。ジンメルはベルクソンから影響を受け、そして、ディルタイが克服できなかった生の哲学の根本的問題である相対主義を克服しようと試みる。生が本当に相対的で流転するならば、それに関する一切の知識は不可能になる。しかし、彼によると、生は形式が与えられて初めて現象となり認識可能なものとなる。つまり、生には「形式」も含まれているのであり、この以前の生を`より多くの生(mehr-Leben)`、もしくは、`生より多く(mehr-als-Leben)`とする。つまり、生は、自らを超出し、「自らに生に先んずる」。生は、文化の諸要素(社会制度、法、芸術、科学など)を産出し、そして、それら諸要素は客観化され自立的となる生といえる。しかしこの自立した生はそれを生み出した生を制約するため、生は自らが産出した生に束縛される。この緊張関係をジンメルは`文化の悲劇`という。しかし、人間は生を客観化することによって死を乗り越えることができると説く。これは実存哲学へ影響を与える。


<ul class="book_list">
	<li>著作</li>
	<li>『歴史哲学の諸問題』Die probleme der geschichtsphilosophie (1892)</li>
	<li>『社会学』Soziologie (1908)</li>
</ul>

---

### オイケン(Rudolf Eucken, 1846-1926)
オイケンもジンメル同様に、生の相対性を乗り越えようと試みた。そして、生は超主観的、神的世界との連関を持たなければならないとした。


<ul class="book_list">
	<li>著作</li>
	<li>『生の意味と価値』(Der Sinn und Wert des Lebens, 1908)</li>
</ul>

---

### シュペングラー(Oswald Spengler, 1880-1936)
シュペングラーにとって歴史とは生ける有機体であり、形態学を歴史に当てはめて考察した。つまり、歴史は生命と同じように栄枯盛衰という道程を必然的にたどる。彼は、ヘーゲルのように歴史を規定する絶対精神を想定しているわけでも、マルクスの唯物史観のように歴史をある種の法則のもとにおいているわけでもなく、生命と歴史の独断論的アナロジーによって理論を展開した。そして、西洋文化はすでに老化の段階に入った、つまり、西洋の没落をシュペングラーは予言した。これは恣意的な言説であるが、彼の詳細な洞察とこれのペシミスティックな予言がその時代の雰囲気に合致したことで受け入れられた。


<ul class="book_list">
	<li>著作</li>
	<li>『西洋の没落』Der Untergang des Abendlandes (1918)</li>
</ul>

---

### クラーゲス(Ludwig Klages, 1872-1956)
クラーゲスはニーチェと文化史家の`バッハオーフェン(Johann Jakob Bachofen, 1815-1887)`から影響を受けた。彼は、ニーチェのディオニュソス的なもののうちに精神から開放された純粋な生命力をみた。彼は、「精神」と「魂」を対立させ、人間が世界を把握する際魂の働きがその役割を担うが、しかし、精神は人間に知性や技術を授ける。このように精神は魂を破壊し実在から豊かさを奪い取ると考える。このように、文明形成や論理的思考といった古代ギリシャより尊ばれてきた人間精神をクラーゲスは魂の破壊者とするペシミズムを唱える。彼は筆跡学の創始者としては評価されていたが、彼の哲学の言説は哲学者たちにはあまり注目されなかったが、幅広い読者層に支持された。
　

<ul class="book_list">
	<li>著作</li>
	<li>「魂の敵対者としての精神」Der Geist als Widersacher der Seele (1929)</li>
</ul>

---

## 参考文献
1. <span class="cite1">{{reference.exist8}}</span>
1. <span class="cite2">{{reference.exist5}}</span>
1. <span class="cite3">{{reference.exist7}}</span>

<!--  -->

<div align="right">
    First posted &nbsp; 2009/05/12<br>Last updated&nbsp; 2009/05/17
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}  