{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 非合理主義的傾向#1-1 生の哲学(１９世紀の生の哲学)

今まで見た実証主義的傾向、批判主義的傾向は、人間の合理性や合理性の表象である科学を肯定的に捉えている。しかし、20世紀に人類は二つの世界大戦を経験した。そのため、近代における合理主義がこのような歴史的・社会的な重大事件を導いたことに対し、人々はそれまでの漠然とした合理主義・人間理性に対する信頼に疑いを持つようになる。その結果、合理性よりも人間の意志・情熱・衝動・直感などが注目される非合理主義的傾向が盛んになる。また、この非合理主義的傾向は、生を把握するのに科学は全く役に立たないため科学的認識を軽視する。生の哲学の源流はヘーゲルと同僚だったショーペンハウアーと彼に影響を受けたニーチェに見ることができる。また、フランスの生の哲学者の代表であるベルクソンからはブロンデル、ディルタイ、ジンメル等に展開する。またこの生の哲学(特にニーチェ)は実存哲学に影響を与え、そちらのほうも大きな哲学の潮流となる。

## 生の哲学(Lebensphilosophie)
生の哲学とは、伝統的なヨーロッパの哲学が人間の本質を理性のうちに見て、背後世界の存する永遠の真理(神、イデア)の認識に哲学と人間の生の意義を見出そうとしていたのに対して、逆に生そのもの[...]を、人間の本質にして最早その背後には何者も存しえない現実そのものとみなし、むしろ背後世界や永遠の真理を生が自らの生存のために生み出す一種の仮象とみなす立場をいう。このような視点から言えば、理性もいまや生に奉仕する道具以外の何者でもないことになるだろう<a class="s">[3, p.188]<span class="s-balloon popup_cite3"></span></a>。

---

### ショーペンハウアー(Arthur Schopenhauer, 1788-1860)
ショーペンハウアーは、カント哲学をバークリー的な観念論へと展開する。つまり、世界の現象とは認識する主観にとってのみの`表象(Vorstellung)`に過ぎないとする。これが「表象としての世界」である。そして、この表象の深層であるカントの物自体に、ショーペンハウアーは「意思」を対応させる。この意思は目的を欠き理性的ではない盲目的・無意識的な生命衝動である。そして、この自己充足への衝動は目的を持たないため永遠に満たされることがない。しかし、意思は絶えず自己充足への努力を続ける。そのため、ショーペンハウアーは生とは苦であるという。このように、彼は人間の根本に永遠の苦悩を置く、これがショーペンハウアーの哲学がペシミズムであるといわれるゆえんである。彼の「意思」は、ニーチェ、ベルクソン、ユング、フロイト等に影響を与えた。

#### 芸術による慰め
このような、永遠に満たされぬ苦に満ちた生からの救済は、この根幹である自らの意思そのものを抹消、もしくは意志からの「解脱」に求められる。解脱とは、日常的な生すなわち“個々のもの”への永遠の追求からの解放である。解脱へのひとつの道として、ショーペンハウアーは芸術(特に音楽)を挙げる。音楽は現象界を表象しない唯一の芸術であり、そのため、これはイデアという“同一であり続けるもの”へ至る道だという。しかし、この手段は一握りの天才にしか許されず、また、ほんの一時で苦悩を慰めるにすぎない。そこでショーペンハウアーは苦悩から解放されるための禁欲の彼の倫理学を説く。
	

#### 涅槃への道
ショーペンハウアーの倫理学によると、生の意志によるエゴイズムから離れ他者と「同情」(Mitleiden)を共有することによって個人の意志は解体され「涅槃」への道がひらけるという。同情とは他人の痛ましい状況に自ら感じ入る心的現象であり、これは理性による振る舞いではなく、根源的な感情である。この同上という倫理的行為によって、自他の主体的差別は消え個と全体は融合した「諦観」にいたる。そして、その他結果、苦の源である生への意志は否定され涅槃に達し救済される。そして、また、生への意志を否定する「禁欲」という倫理的実践において最も深く涅槃への解脱がもたらされる。
	

<ul class="book_list">
	<li>著作</li>
	<li>『意思と表象としての世界』Die Welt als Wille und Vorstellung (1819)</li>
	<li>『パルェルガとパラリポーメナ』Parerga und Paralipomena (1851)</li>
</ul>

---

### ニーチェ(Friedrich Wilhelm Nietzsche, 1844-1900)
ショーペンハウアー、プラトン、ダーウィン（進化論）らから強く影響を受けたニーチェは、ヨーロッパ文化の支柱としてあったプラトニズム的・キリスト教的価値観を否定する(つまり、理性主義と伝統的形而上学)。しかし、彼は、ショーペンハウアーのように生を否定的なものとしてではなく肯定的なものと捉える。

#### ディオニュソスとアポロン
彼はギリシャ悲劇を考察することによって、それが相反する原理を内包したものであることを見る。その相反する原理を`ディオニュソス的なもの(dionysisch)`と`アポロン的なもの(apollinisch)`とし自己の哲学の根本原理に据える。
- ディオニュソス的なものは、情念や野性的衝動であり、統合の原理で他者との共感や連帯感(カタルシス)をもたらす。(ショーペンハウアーの「意志」、カントの「物自体」	)
- アポロン的なものは、英知や秩序であり、造形の原理で他者との個別化をもたらす。

このアポロン的なものはプラトンのイデア論として体系化されキリスト教精神に受け継がれヨーロッパ精神を支えてきた。しかし、このヨーロッパの精神的支柱は、躍動する生の衝動であるディオニュソス的なものを切りすてて、アポロン的なもののみ追求してきた。彼はこのような伝統的価値観がニヒリズムの原因であるとし、ショーペンハウアーのように人間の根幹に理性ではなくディオニュソス的なものという生の根本衝動を置く。

#### キリスト教道徳の否定とニヒリズム
ニーチェは当時のヨーロッパに蔓延していた価値の否定・無化、つまりニヒリズム/デカダンスの原因を考察する。彼はこの原因をヨーロッパの精神的支柱であったプラトニズム/アポロン的なものとこれの影響を受けて形作られたキリスト教道徳の中に見出す。
キリスト教道徳において、世界は二元論で捉えられ、つまり、世界は「仮象の世界(現実)」と「彼岸の世界(イデア界)」からなる。
この世界観によると、仮象の世界それ自体だけでは無意味であるが、彼岸の世界に照らされ根拠付けられることによって意味を獲得する。言い換えれば神によって道徳的価値が基礎づけられる。

この伝統的な世界観に対して、ニーチェは`系譜学(genealogie)`という方法論によって過去に遡り批判する<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>。それによると価値、ないし、道徳はプラトニズム的世界によって超越的に根拠付けられているわけではなく、弱者の強者に対する妬み(`ルサンチマン [仏]ressentiment`)を根源とすると奴隷道徳であるという。ルサンチマンとは弱者は強者に支配され、そして、力では及ばないため道徳において相手を見下そうとする妬みの心理である。このように形成された善悪という価値に対し正当性を与えるために創造されたのが神であると考えた。ニーチェの業績はこの道徳の根源に対して神ではなくルサンチマンという人間の(負の)感情から、つまり、外部ではなく内部から説明を試みた点にあると言える。<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>

また、ニーチェのプラトニズム的世界の否定は、カントの『純粋理性批判』に由来する。
そこでカントはプラトニズム的世界を「物自体」とし、人は決してこの形而上学的世界を知ることはできないと明らかにした。
言うなれば「神を殺害した者」はカントである。なぜならば、彼岸の世界というものをどんな宗教家であろうと有識者であろうと到達できないということを示したからである。
このように決して到達できない神/彼岸の世界など不要である。これによって、ニーチェは、`神は死んだ([独]Gott ist tot)`、と挑発的に宣言した。
これはプラトニズム的/キリスト教的世界解釈による道徳や価値観は崩壊したという宣言である。
その結果、この現実の世界における意味も連鎖的に無に帰すことになり、そして、`ニヒリズム([独]Nihilismus)`が到来する。


#### 永遠回帰と超人
ニーチェはこのようなニヒリズムで彼岸の世界もそしてこの世界も一切を仮象であると言う。そして、この仮象・ニヒリズムの世界において、人々は人生における意味や目的を見失い、すべてが無駄な断片であると考えるようになる。すべてに価値は無く無が永遠に繰り返される。この無の永続を`永遠回帰([独]Ewige Wiederkunft)`と言い、この虚無が人生の実体である。
この彼岸を失った仮象の世界から現れる退廃的で厭世的な`受動的ニヒリズム`もしくは弱いニヒリズムという文明の`退廃現象(デカダンス)`に対し、ニーチェはむしろニヒリズムを積極的に推し進める`積極的ニヒリズム`もしくは強いニヒリズムを提唱しあらたな価値の創造の場を形成する。
この強いニヒリズムを生きる完全なニヒリストは仮象の世界を`運命愛([仏] amor fati)`の下に肯定的に捉える。このように、この仮象で無が繰り返される永遠回帰の世界に自ら進んで「没落」し(ニヒリズムに陥る)人間を超克していく`超人([独]Übermensch)`であることをニーチェは求める。それは、浜辺で崩れ続ける砂山を繰り返し作る小児の無垢な精神的段階であり人間精神の最高の境地である。
ニーチェは神を失った世界において、価値創造の代替案として自ら価値を創造する超人を据えたのである<a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"></span></a>。

#### 力への意志
ニーチェはダーウィンの進化論に影響を受けて、またショーペンハウアーの生への意志の置き換えとして`力への意志([独]Wille zur Macht)`というものを主張する。
永劫回帰を肯定的に捉えることによって、自らに内在するさまざまな力(欲望)が見えてくる。
これが力への意志でありニーチェ心理学の中心的な教義である。
これは、単なる生存の闘争ではなく、より大きな複雑性、多様性、創造性に向って継続する努力、欲望を意味する。
力への意志の詳細は専門家の間でも解釈が定まっていないようだが<a class="s">[9]<span class="s-balloon popup_cite9"></span></a>、
しかし、人間の根底にこのような生への欲望を据えたということは明らかであり、この点において生の哲学者の先駆者と言える。	
<!-- パースペクティブ
例えば、目覚ましが鳴った時、起きようとする意志と眠っていたいという意志が対立しせめぎあう。
しかし、両方の意志に主体は存在しない。
それらは純粋に相手を打ち負かそうとする力であり、自らの支配権を獲得しようとする意思である。
この睡魔との抗争に対抗する意志が打ち勝つ瞬間、「私」がそれに勝ったと感じる。
そして、この「私」という虚像を固定することをパースペクティブと呼ぶ。 -->
加えて、力への意志は人間だけではなくすべての生物がもつものであり、また、宇宙の生成を意味すると解することもできる。そのため、ニーチェは「この世界は力への意志である。そしてそれ以外の何者でもない」(要引用箇所)という。


<ul class="book_list">
	<li>著作</li>
<li>『ツァラトゥストラかく語りき』Also sprach Zarathustra (1891) </li>
<li>『力への意志』Der Wille zur Macht (1901)</li>
<li>『善悪の彼岸』Jenseits von Gut und Böse (1886)</li>
</ul>

---

## 注



<ul class="comments">
    <li><span id="tyuu1">\*1. 系譜学とは、その時代に支配的で固定化された常識となっている思想や秩序を過去にさかのぼり、それらを成立させているものを見出し、それを批判することによって根底から解体する学問である。このニーチェの系譜学はキリスト教道徳をさかのぼり、これを成立させているものがルサンチマンという悪しき感情であるとして、これを根底から解体する。この方法は、さまざまな哲学者に受け継がれる。
 </span></li>
     <li><span id="tyuu2">\*2. このルサンチマンによる道徳の説明はユニークな試みであるが、ただこれは成功しているのだろうか。
     	現在では、類人猿学などによってボノボなどの霊長類社会の観察や狩猟採集民族の観察で道徳の根源に迫るアプローチがなされている。それによると道徳は社会的相互依存性を強めるために必要なものであると考えられている。これらの研究において妬みという感情はあまり重視されていないように思われる。
 </span></li>
      <li><span id="tyuu3">\*3. 
      	この超人思想も多様に解釈できる。この曖昧さゆえに超人思想はナチスのプロパガンダに利用された。つまり、超人は進化した新たな人類でありナチスが目指す人類(優生思想、反ユダヤ主義)としこれが新たな価値の創造主(神)であると宣伝に利用されたのである。
 </span></li>
</ul>

---

## 参考文献


1. <span class="cite1">{{reference.hist17}}</span>
-  <span class="cite2">{{reference.hist16}}</span>
-  <span class="cite3">{{reference.hist10}}</span>
-  <span class="cite4">{{reference.hist15}}</span>
-  <span class="cite5">{{reference.hist19}}</span>
-  <span class="cite6">{{reference.hist9}}</span>
-  <span class="cite7">{{reference.hist6}}</span>
-  <span class="cite8">{{reference.hist26}}</span>
-  <span class="cite9">{{reference.contemp001}}</span>
-  <span class="cite9">{{reference.contemp002}}</span>

<!--  -->

<div align="right">
    First post &nbsp; 2009/05/08<br>Last updated&nbsp; 2022/03/29
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}