{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 心理主義から現象学へ
フッサールはまず数学・論理学の基盤を心理作用や心理構造を扱う心理学に求めた。しかし、結局、数学・論理学といったアプリオリな領域を扱う厳密学が、心理学というアポステリオリな領域を扱う精密学では正当化できないという結論に至る。例えば心理構造が全く異なる生物がいるとする。その生物にとって2+3=4という我々の数学における常識と全く異なった法則を持つとする。そうした場合、数学の法則が相対的となり心理構造の数だけ存在することになってしまう。しかし、フッサールは数学はアプリオリな学問であると後に認めるため、数学における相対性を否定し、また心理主義から離れていった。

## 現象学的還元
フッサールは次に主観的経験（志向的体験）、つまり主観の所在を徹底することによって経験の中にアプリオリな要素を探求した。すなわち、`デカルトの懐疑論的方法`のように主観と客観の図式を取り払い独我論的前提という一切を志向的意識に還元するという手法から始める。
フッサールは自我を二つに分けた。
- 一つは世界の内部にかかわる`心理学的自我`であり、
- もう一方は世界を前提としない`純粋自我`もしくは`超越論的主観性（超越論的自我）`である。

そしてその独我論的主観性の中に他人と共有せざる得ないある｢疑いえぬもの｣つまりアプリオリな要素を求めた。これを`超越論的還元`という。

要するに、人間は主観の中に閉じ込められ対象の表象のみ認識しているにもかかわらず、我々は世界の存在、現実の事物の存在、他者の存在が表象の外側に存在することに対して共通して持つある疑いえぬ一般定立（世界信念・確信・妥当）を自然に持っている。これを`自然的態度`という。すなわち、我々が認識可能な表象の外部に客観的な対象が存在する（客観的世界が存在する）という自明性は、先入観によってもたらされる。つまり客観的な対象は表象を超越しているため、超越論的存在であるのだが、我々はそのことを忘れ、いわばその対象が最初からそれ自体で客観的に出来上がっているかのごとくに思い込んでしまう（その超越論的な存在を自ら「構成」してしまう）。それは単なるドクサから生じたものではなく、主観内側から現れ、人間の主観を説き伏せ客観が存在するという確信を与える。この思い込みをフッサールは
`超越論的思考作用（もしくは超越論的解釈）`とよんだ。
<!-- （またメルロ=ポンティは「上空飛行的思考」とよんだ）。 -->

そしてフッサールが試みたことはこの非学問的な思い込みを停止し、表象の外部に該当する対象が実存していると信じるような（自然的態度の）傾向を停止させ、一般定立を浮き上がらせようとした。これをフッサールは`現象学的エポケー（判断停止、括弧に入れる）`と呼ぶ。そしてフッサールによると現象学的エポケーと現象学的還元の目的とは`世界と我々のなれなれしさ（自然的態度）を断ち切って`しまって、一つの純粋意識にまで後退し、この意識の前では世界は絶対的な透明さのうちに自己展開するようになるという始原的で不可疑な領域を獲得することだという。

また、デカルトは自我という「存在」があり、その存在が意識を持つと考えたが、フッサールの超越論的自我とは、`直接経験（志向的意識）`の「働き」そのものであり、超越論的経験によってもたらされる。またこの意識は働きであるためどこにも還元できないが、還元できない一つの極みであるからこそ、アプリオリな体験と呼ぶことができる。フッサールによれば、この直接経験こそが経験的体験の意味を成立させる前提に他ならず、これこそが「諸原理の原理」、つまり、あらゆる認識の正当性の源泉であり、あらゆる自然科学に先立つ根源的な経験であると考え、現象学を厳密学の一つとして位置づけた。

---

## 参考文献

- {{reference.phen6}}
- {{reference.phen7}}
- {{reference.phen5}}
- {{reference.phen1}}
<!--  -->

<div align="right">
    First post &nbsp; 2007/10/27<br>Last updated&nbsp; 2011/01/10
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}