{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# フッサールの現象学#2 直接経験
## 間接経験と直接経験
現象学的還元によって諸原理の原理である、`直接直観`が見出された。詳しく見てみると、フッサールは、まず現象学の先駆者であるマッハから引き継いで、経験には間接経験と直接経験の2種類があるとした。間接経験とは直接経験から数学や論理学などのによって推測する学問的認識の事を指す。つまり思い込み（ドクサ）を含んだものであり、共通する根源を持たない。よってこの経験とこれをベースとする自然科学の理論は全て可疑的であり相対的でありアポステリオリな領域の学問である（心理学、物理学etc）。他方、フッサールによると、あらゆる人間の判断の根源にあるのは直接経験であるという。それは、ものを見る、ものに触れるといったような、具体的な経験である。世界を直接経験することによって形成されるイメージは不可疑的であり、認識の一つの正当性源泉である（明証性・自己所与性）。そしてこの経験は単に主観的だというのではなく、まだ、客観的ではないという意味で主観的であり、これこそが客観的の前提なのである。またこれは`志向的経験`と呼ばれる。→志向性 

## 知覚直観と本質直観
直接経験つまり原的な直観こそが`諸原理の原理`だとフッサールは言及する。そしてその原的な直観は二つに分けられる。それが`知覚直観`と`本質直観`である。

#### 知覚直観
例えば、ある人の目の前にコップがあり、それを確信しているとする。知覚直観とは、彼の確信を生じさせている源泉である（どんな推論もふくんでいない）。推論を含んでいないため疑う動機が存在しないし、また疑う意味がないのである。
<blockquote>
知覚としては、[...]対象を「原的に」その「生身のありありとした」自己性において把握する意識へと、当の対象をもたらすものである。（イデーンI 第三節）
</blockquote>

つまり知覚とは他の人間の意識表象（想起、記憶、想像）とは、決定的に異なる点がある。それは記憶などは意識しだいそれを遠ざけたり、ある程度操作できるのに対し、**知覚はこちらの意識にかかわりなく勝手に意識上にやってくる点である**。知覚は意識の自由にならず、志向的意識の彼岸に位置する意識対象であり、「原的な所与」ある。よって独我論的自我を超えて自我の自己原因ではないものとして現れるの知覚こそ、自我に自我ならざるものが確かに外側に存在することを告げ知らせる唯一の根拠となるのである。デカルトが神に頼って主観認識の正しさを保証したのに対し、フッサールは

<blockquote>
自己の外側にあるものの実存の「確実性を」、主－客の「一致」という仕方で得ているのでは全くない。＜主観＞はそれをただ自分の内部からのみ、何らかの対象の存在の「不可疑性」という仕方でだけ得ている。そして、<主観>にそういう「不可疑性」を与える根本の条件は、＜知覚＞という、＜主観＞によって自由にならないものの存在に他ならない、と。[1, p57]
</blockquote>

#### 本質直観
またもう一つの原的な直観として`本質直観`であるが、まず「事実」と「本質」の概念に触れてみたい。事実とは、それぞれの個別的存在にかかわり、偶然的なものである。また本質とはその存在の偶然性に含まれている本質必然性の側面である。例えば、サイコロでいうと、「白い」、「立方体」などである。「白い」はサイコロという事実がサイコロであるために必要不可欠ではないが、「立方体」は不可欠である。この対象にとって必要不可欠な意味が本質と呼ばれる。そしてこれを直観することを「本質直観」とよぶ。

我々はサイコロをみると立方体という概念的な意味を“与えられる”。つまり本質直観もまた知覚直観と同じように記憶や想起とは異なり意識の自由を超えてやってくる「原的な所与」である。また本質はたくさんのある事象内容を持った個体（例えば木）を見て、不可欠な共通成分を抽出する。しかし数少ない知覚経験では限界があるため空想で補完し自由変更つつ、木の「形相」（事象内容を持った本質）を抽出する。この作業が`形相的還元`と呼ばれる。また先の超越論的還元と合わせて`現象学的還元`と呼ばれる。


---

## 参考文献

1. {{reference.phen6}}
- {{reference.phen7}}
- {{reference.phen5}}
- {{reference.phen1}}

<!--  -->

<div align="right">
First post &nbsp; 2007/11/15<br>Last updated&nbsp; 2007/12/09
</div>

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}