{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# フッサールの現象学#3 ノエマとノエシス

## ノエマとノエシス Noema and Noesis
フッサールの現象学で重要となってくるのが`ノエマ・ノエシス`もしくはcogitatum(a)・cogitatioと呼ばれる意識作用（思惟すること）と意識対象（思惟されるもの）の概念である。例えば、我々はあるひとつの机を見ていると、机は本来、正方形であるが、見る角度によっては平行四辺形や台形に見える。このように我々の意識に現れている知覚素材は決して同一ではなく常に変化するものである。
しかし、それでも我々は自分はひとつの同一の机を意識（志向）しているという確信（妥当）を日常的に行っている。詳しくいうと、我々は、机を斜めからみるとそれは平行四辺形に見え、正面から見ると台形に見えるなど、机のあらゆる現出・地平を感覚、体験しているが（それら諸現出を`射影`と呼ぶ）、それらの`知覚素材（ヒュレー）`はバラバラに独立して意識されず、それら多様な現出を志向的に統一して（媒介して）、ひとつの現出者・基体（この場合、ノエマとしての机）を構成する。この構成された対象のことを`ノエマ`といい、それを構成する働きのことを`ノエシス`という（ヒュレー→ノエシス→ノエマ）。つまりノエシスとは意識に現れた知覚を素材として、そこに志向的な意味統一を与える現出者の妥当を構成する働きである。そのため志向的体験とも呼ばれる

## 過去把持と未来把持 Retention and Protention
フッサールはノエシスにおいて内的時間意識の構造を指摘する。それを直接経過という。諸現出は、現出１、現出２、現出３・・・というように経過していく。要するに、全ての「今」には時間的地平が存在する。すなわち過去把持（もはや今ではない）、原印象、未来把持（まだ今ではない）という概念が属している。
- `過去把持`：すでに経過してしまった現出をなお保持し続けている働き
- `未来把持`：また到来してこない現出をすでに予期している働き
- `原印象`：この両者の中間で現出を受け取る働き

そして、この三つの働きが現在あるいは現在の幅を形成する。
ドレミという音の流れを例にとって見ると、レの音が原印象に与えられているときにはド音の現出は消失している。しかし現象学的に見ると、このときの意識（志向的経験）は、過去把持によってド音の現出をなお現在的に保持している。また、このとき、意識は、未来把持によってミ音の現出をすでに現在的予期している。未来把持は、いつも次の現出をあらかじめ志向しており、たいてい、それが次の原印象的現出によって充実される。音の諸現出はこのように経過していくが、これらの諸現出を突破して、人まとまりの現出者（メロディ）が知覚される。このようにフッサールは「今」を点的現在としてではなく、流れる現在（生動的現在あるいわ生き生きとした現在）として規定する。

---

## 参考文献

- {{reference.phen6}}
- {{reference.phen7}}
- {{reference.phen5}}
- {{reference.phen1}}

<!--  -->

<div align="right">
    First post &nbsp; 2007/11/04<br>Last updated&nbsp; 2011/01/10
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}