{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# フッサールの現象学#4 他我構成による客観世界の確信
## 客観世界の構成
フッサールが言うには、全ての人にとって同一である客観世界を認識する際に不可欠となってくるのが、`他我が私と同じように存在しているという確信`である。通常、我々はまず客観的世界が存在し、その内に他人の存在が属していると考える。また自分と他者は同一の世界の中に同時に共存していると確信している。しかし、現象学は現象学的エポケーを踏まえ独我論的前提から出発しているため、他者が「客観的に存在」するという前提がまず成り立たない。
そこでフッサールは客観世界を構成する際、それに先立って他者の存在の確信が不可欠であると考える。順を追ってみてみると次のようになる。

1. 第一次世界の構成（世界と自己身体の妥当）
2. 第二次世界の構成（他我の妥当）
3. 客観世界の構成



## 1. 第一次的な自我と世界の構成
前に見たようにまず最初に超越論的自我は「原的な所与」である直接経験（ヒュレー）を志向的に統一（ノエシス）することによって、世界（ノエマ）を構成する。そして私の身体は私自分にとって自然の一部として確証されるが、身体は意識の自由な志向力に応じて変化するという特質（「根源的創造作用」）を持っているという点で、他の様々なものから区別される。（これが第一次的世界と呼ばれるものの確信である。つまり生活世界と自己身体の確信。）

## 2. 第二次的自我と世界という場からの他我の構成
また今自分が直接経験によって構成している世界を形相的還元してみると、自然世界と「他我」の経験を持っていることが分かる。つまり、上の区別が確立された後では、私は他人の身体を私の身体ではないものとして捉える（第二次世界の構成）。なぜなら他人の身体は「根源的創造作用」を持たず、私の思考的意識に応じないからである。私はその私の身体と異なる身体を見て、そこに「私自身の類似者」（52節）を確信し、自分の身体と類似していることから異なる身体との「対化（一種の連想）」が起こって、それは自我の身体から身体という意味を移し変えられる。これを「自己移入」という。そして、自我は、そのことによって構成されたほかの他者の身体（第二の自我というべきもの）において間接的に世界の諸現出を呈示される（私がそこにいたならば得られるであろう諸現出）。このように私は自分とは異なった志向的的意識を持つ他者の存在を構成する。よって「他我」は現象学的には「私の客観化された自我の志向的変様態である」ということになる。

## 3. 他我の構成を通じて、それと同時的に成立する客観的世界の構成
このように私とは異なった意識を持つ他者の存在を妥当し、またその他我が同一の世界を経験しているという確信により客観世界という意味は構成される。フッサールにおいて客観世界とはこうした非定立的な複数主観性の志向的共同作業によって構成され、この客観世界の相関者たる主観性は、「間主観性（相互主観性）」と呼ばれる。間主観性は、私と他我がそれぞれ同一の世界に存在するというのではなく、“他我が私と同じ主観として存在し、かつこの「他我」も私と同じく同一の世界の存在を確信しているはずだ”という私の確信を意味する。間主観性とは私と他者の相互関係を言うのではなく、私の確信のある構造をさしているのである。

こうしてフッサールによれば、私たちはまず超越としての客観性を妥当し、その後この客観世界の中に存在する私/彼の心の領域（主観）を妥当するのでない（これは主観―客観の伝統的な考えから）。むしろただの身体と心を、自分の身体と心のだろうとの直接的類比（自己移入）として妥当することによって、この身体同士の共属性を直観し、そこから、様々な物的対象を彼と私にとっても同一のものとして受け取るのだ。だから他我の認知こそ客観世界の実存という妥当の前提であって決してその逆ではないのである。

## フッサールの他我論の問題点
・私の世界と他者の世界はどうしておなじものと言えるのか？



---

## 参考文献

- {{reference.phen6}}
- {{reference.phen7}}
- {{reference.phen5}}
- {{reference.phen1}}

<!-- 
- 竹田青嗣「現象学入門」
- 谷徹「これが現象学だ」
- ヴェルナー・マルクス「フッサール現象学入門」
- 新田義弘（編）「フッサールを学ぶ人のために」
 -->

<div align="right">
    First post &nbsp; 2007/11/20<br>Last updated&nbsp; 2011/01/10
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}