{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# サルトル「存在と無」 #1 即自存在

## マロニエの根と嘔吐
小説『嘔吐』の主人公ロカンタンは、川原で小石を拾おうとしたとき不思議な感覚に襲われる。彼は電車の座席に置かれた自分の手が、何か不気味なもの―まるでロバの死骸―の上にあるように感じる。彼は｢これは座席だ｣という。彼は言語によって自分の経験を安定させようとする。｢しかし言葉は唇にとどのまり、物のほうに行ってそこに張り付くのを拒む｣。彼は言葉に見放される。「物は名称から解放された。[...]私はなずけようもない物の真ん中にいる。たった一人、言葉もなく、無防備で、物に囲まれている。下にも、後ろにも、上にも物がある」。ロカンタンの経験は自然に無意識に生じた`現象学的エポケー`によって「小石」や「座席」ではなくそれらの存在そのものを経験したのだ。
ロカンタンは公園のマロニエの根と向き合ったときその経験を完全に理解する。
<blockquote>
いましがた私は公園にいたのである。マロニエの根は、ちょうど私の腰掛けていたベンチの真下の大地に深く突き刺さっていた。それが根であるということが、私にはもう思い出せなかった。言葉は消えうせ、言葉とともに事物の意味もその使用法、また事物の上に人間が記した弱い符号もみな消え去った。いくらか背を丸め、頭を低くたれ、たった一人で私は、その黒い節くれだった、生地そのままの塊と向かい合って動かなかった。その塊は私に恐怖を与えた。それから、私はあの啓示を得たのである。それが一瞬私の息の根を止めた。この三、四日以前には、＜存在する＞ということが何を意味するかを、絶対に予感してはいなかった。
</blockquote>

ロカンタンは、｢存在する」という動詞を使っていたとき、それはなにも示していなかったという。「海は緑で＜ある＞」とか「あの白い点はカモメで＜ある＞」というとき、この動詞は何も示していない「空虚な形式」であった。概念は、ある種の全成員に共通するものだ。したがって、それは常に抽象的である。しかし、ロカンタンが発見したのは、｢存在｣が概念ではないということだった。それは抽象ではありえず、常に具体的だ。つまり人間の意識経験（対自存在）と人間の意識に先立つ存在（即自存在）という二つの極の間に、私たちが知っているような「世界」がある。我々は、意識によってマロニエの根とか柵とかベンチなどの言語や習慣のヴェールをかぶせ、直接に即自存在と向き合うことはなく、人間的な制度を媒介にしてのみかかわっている。制度は存在を隠蔽し、あらわにすることを妨げる。しかし、ロカンタンは自然に発生したエポケーによって、マロニエの根というヴェールを剥がされた存在そのものと対峙した。それは「怪物染みた柔らかい無秩序の塊が―恐ろしい淫猥な裸形の塊」であり、吐き気そのものであった。

## 即時存在
ではロカンタンが言う「なにか不気味なもの」もしくは「無秩序の塊」、つまり即自存在はどのように存在しているのだろうか。存在はそれ自体で存在しているのである。つまり我々の意識を超越したものである。またこのようにそれ自体で存在しているものは創造されたものではありえない。例えば、もし神が存在を無から創造したとと仮定すると、全ての存在が神の主観性に帰属し、「存在はひとつの主観内的な存在様式にとどまるであろう」[2, p.62]。
よって、存在の持つ独立性が否定されてしまう。しかし、存在は自分で自己を創造したと考えることもできない。もしそうだとすれば、それは自己の存在の前に、自己を作り出す自己原因としての自己の存在をあらかじめ前提としていなければならないからである。これらは存在が受動的でも能動的でもありえないことを示している。また、存在は「自己との関係である内在」でもない。これらを要約すると、
<blockquote>
存在とは自己を実感することのできないひとつの内在であり、自己を肯定することのできないひとつの肯定であり、働きかけることのできない一つの能動性である。というのも、存在は自己自身とぴったり粘着しているからである。[...]存在はそれ自体においてある。[2, p.64]
</blockquote>

これは存在は自己を指し示す明確に判断可能な同一率ではなく、自己そのものであることを意味する。よって先の命題を厳密に定義すると「存在はそれがあるところのものである」と言える。存在は自己そのものであり、それ自体によって満たされているため、それ自体に対し不透明なのである。

そして、「存在はある」。これは存在が必然的なものに帰するころができないし、可能的なものから導きだせないことを示す。例えば等しい四辺を持つ正方形の概念は論理的に必然である四辺以外のいかなる正方形の観念も論理的にはありえない。しかし、存在はそれ自体であるためなんらかの観念的結合を要する必然性に帰属することはできない。また可能的なものとは対自の存在領域に関するものである。つまり即自存在はあらゆる正当化、合理化のかなたにただ「偶然」として「余計なもの」として存在するにすぎない。ロカンタンはそれを`不条理`と呼ぶ。
<blockquote>
不条理という言葉が私のペンの下で生まれる。先ほど公園にいたとき、私はこの言葉を見出さなかった。といって、別に探してもいなかった。言葉は必要でなかった。私は言葉なしに、物に＜ついて＞、物に＜よって＞考えていたのだ。[...]　次に理解しえたあらゆるものは、この根源的な 不条理 に帰着する。
</blockquote>

ロカンタンは、｢余剰｣としての、不必要な追加物としての自分自身を経験したが、エポケーの瞬間、彼はあらゆる存在の偶然性を発見した。彼だけが余計なのではなく存在全体が余計なのだ。これがロカンタンが公園でマロニエの根を前にして発見したことだった。ライプニッツは、もしあらゆる存在が神に支えられておらず偶然であるならば、全ての意味は無限後退に陥り人生はあまりにも恐ろしく耐え難いと言うが、サルトルは『存在と無』で不条理に対する不安から逃れるために神に頼るのは「自己欺瞞」であるとし、この意味のない不条理な世界に意味を創造する能力を人間精神の内に見出そうと試みる。

---

## 参考文献
1. {{reference.exist5}}
- {{reference.exist1}}
- 嘔吐
- {{reference.exist4}}
- {{reference.exist7}}
- {{reference.exist6}}

<!--  -->

<div align="right">
    First post &nbsp; 2008/02/16<br>Last updated&nbsp; 2009/09/11
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}