{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# サルトル「存在と無」 #3 対他存在
## 対他存在
先に見たように人間の存在とは対自である。しかし、それは存在論的構造的に「私自身」に関することである。しかしサルトルは対自にとどまりながらしかも根本的に異なった存在論的構造の存在を指摘する。この点が明らかとなるのは「他者」との出会いを現象学的に検証するときである。サルトルはひとつの例をだす：
<blockquote>
	私は、いま公園のなかにいる。[...]一人の男がベンチのそばを通る。私はその男を見る。私は彼をひとつの対象としてと同時にひとりの人間としてとらえる。それはどういう意味か？私がこの対象について「彼はひとりの人間である」と認めるとき、私は何を言おうとしているのか？[3. p.95]
</blockquote>

例えば、私が人形と出会っても、私はそれを机や椅子と同じたんなる物として判断しそれによって私の宇宙が傷つけられることはない。しかし、彼が人間ならば、私は彼の存在と意識をどうすることもできない。そして、私とは異なった空間と事物が彼の周りに組織されているのを知ることになる（彼には彼の対象（例えば芝生）との関係がある）。彼の出現、つまり私の宇宙の中に私にはどうすることもできない空間を持つ他者が出現しその空間に私が含まれていることを認識することによって、私の宇宙は崩壊し、私の事物は彼を中心に空間的にまとまっていく。他者のまなざしは私から私自身へ向けられる仲介者である。私は他者のまなざしによって作られた対象としての自分自身を発見したのだ。それこそがサルトルが私たちの`対他存在`と呼ぶものである。そして対象としての自分自身への判断を下すように強いられる。つまり彼を見る前には芝生も小道もベンチも｢私のため｣にそこにあった。しかし、今やそれらは｢彼のため｣にある。そこでは対自存在としての私の自由な超越は剥奪されて固有化された存在物にまで引き下げられる。そうなると私の自由は、他者によって見られるひとつの存在物の属性にまで転落し、私の超越は他社によって超えられた超越となる。と同時に私の超越によって支えられていた私の世界も他者によって超越せられた世界として対象化され、新たに他者の超越に基づいて再編され始める。彼は私の世界を私から奪ったのである。それはまるで世界が存在の中にまるで排水孔を持っているかのようでこの孔が｢他者」なのだ。そして、私の世界が他者の世界へと流れ出ていくような｢内出血｣が起こるのである。

しかし、他者を見つめることで私は彼を対象化し、彼を私の対象変えることができるのではないのか？しかし、サルトルは彼は私によって脅威であり、戯曲『出口なし』において`「地獄とは他人のことだ」`と言うのである。なぜ他人の存在は脅威なのだろうか。それは、それは他者が単に物であるだけでなく、意識を持つ人間であるからである。その事実は彼がただ私の認識の対象であるばかりでなく、逆に彼が私を対象とすることができるということを意味する。他者の自由が私の自由を不安定にする。私が他人を対象化するとしても、それが完全な対象化ではない。なぜなら、私を見つめる相手の`まなざし`が私を対象化することを、私を固めてしまうことを、つまり｢物」に変えることを知っているからだ。私にできることといえばせいぜい私が他者でないものとしてあり、他者が私でないものとして自己を考える程度においてである。他者を見ることは｢他者によって見られる可能性が常にあるということを理解することだ｣。この可能性が現実になるとき、私は`恥`を経験する。

## 羞恥
恥という意識もその志向する対象を持っている。それはただ単純に自分が自分の行動を対象とするような自己反省によって得られたものではない。例えば、私が嫉妬か興味に駆られてある部屋の中を覘く。このとき私はただ一人であり、私は私自身に対し非反省的意識の中にいる。私が意識している対象は鍵穴という道具を使って到達する目的（部屋の中を覘く）が達成できるかということであり、自分の諸行為については認識していない。この意識には私情が大いに絡んでおり、私の意識の内には｢私自身｣が含まれていない。だが、突然誰かの足音が聞こえる。誰かが私に対して、まなざしを向けている。このとき初めて「私」は私の中にやってくる。それは人が私を見るからである。私は｢私｣を恥の内に発見するのだ。私は他者のまなざしによって自らに明かされた自分に責任があるが、この自分の根拠は私の外にある。恥の瞬間に、私の自由は私を逃げ去り、他人の自由が私にあらわになる。私は、対自存在の側面でなく、他者の中のひとつの即自存在として自分を認識する。

他者との出会いによって生まれる感情は恥だけではない。恐れという経験もある。実際、恐れは根源的に、対象存在としての私の発見である。それが私に示すのは、私の対自存在（そこでは「私は私の可能性である」）が私の可能性ではない可能性によって乗り越えられたことだ。この勘定を極端なまでに拡大したものが宗教の源になりうるとサルトルは言う。神を前にした恥とは、｢決して対象になり得ない主体を前にした対象存在としての私を認識することだ」。神とは他者の概念を極限までおし進めたものに過ぎない。

## サディズム・マゾヒズム
また、この他者による私の対象化を極限にまで推し進めた二つの状態が、 サディズムとマゾヒズムである。サディズムは、他者を徹底的に対象化し相手の自由を奪うわんとする態度であり、マゾヒズムは相手のまなざしによる対象化に甘んじて自己の主体性を相手のうちに消失するという態度である。しかし、この両極端の態度は、自己と他者の根源的自由のために挫折せざるを得ないという。 



---

## 参考文献
1. {{reference.exist5}}
- {{reference.exist00}}
- {{reference.exist1}}
- {{reference.exist2}}
- {{reference.exist4}}
- {{reference.exist6}}
- {{reference.exist7}}

<!--  -->

<div align="right">
    First post &nbsp; 2008/02/20<br>Last updated&nbsp; 2009/05/29
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}