{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# 科学哲学#1 帰納法をめぐる問題
## 科学にける推論方法(帰納法)
論理的推論に基づいて前提から結論を導く場合、それは演繹的推論と呼ばれる。そして、そのような結論は論理的真理である。しかし、演繹的推論は知識を拡張するものではなく、新たな知識を探究する科学においては、演繹的推論だけでなく異なる推論が用いられる。それが帰納法である。これは科学において重要な役割を担うと同時に困難な問題を持つ。また、演繹以外の推論をまとめて帰納法と呼ばれる場合があるが、それには様々な種類がある。

### 枚挙的帰納法(enumerative induction)
一般的な意味での帰納法。同じ条件化のもと複数の同種の結論が導かれることを観察することからそれを法則として一般化する。「いままで○○だった、よってこれからも○○である」。ベーコン的帰納法。ボトムアップ型帰納法。

<ol>
	<li>$F(a_1) \wedge \cdots \wedge F(a_n)$</li>
	<li>従って、$\forall xF(x)$</li>
</ol>


### 仮説演繹法(hypothetico-deductive method)
ある自然現象に対し仮説をたてて、実験の結果によってその仮説を確かめる(検証／反証)という手順で研究をすすめる。(1) ○○という条件の下(初期条件)××がおきるはず(観察予測)、(2) 実際にやってみた結果(観察)それは正しかった(検証された)／誤りであった(反証された)。トップダウン型帰納法。

(1)は発見の文脈で、帰納的な一般化で仮説を形成する。 <br>
$F(a_1)\to Q(a_1)$ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   観測1<br>
...<br>
$F(a_n)\to Q(a_n)$ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   観測n<br>
よって、$∀x(F(x)\to Q(x))$ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   仮説(観測結果より)

(2)は演繹的推論を用いる。つまり、$F()$という初期条件のもと、仮説を通して実験結果$Q()$を予測できる。
そして、実際に$F()$を試した結果、$Q()$という結果が出たら仮説が"検証された"、
反対に、$\neg Q()$という結果が出たら"反証された"、と言える。


### 遡及的推論(アブダクション)
パースが定式化した推論方法で、それは、「ある驚くべき事実Bが観測された。もしAが真であれば、Bは当然の事柄である。よって、Aが真であると考えるべき理由がある」。
これは、ある事実の発見に対し、それをもっとも矛盾なく整合的に説明する仮説が真であると理由付けられる。アブダクションは<b>法則を発見する手順</b>で、帰納はこれの正当化の方法である。

<ol>
	<li>$B$ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  実験結果</li>
	<li>$A\to B$ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  仮説</li>
	<li>従って、$A$</li>
</ol>

### 類推(アナロジー)
対象aとbが似ている時、aに成り立つ性質もbで成り立つだろう。
これは法則発見の足がかりになる法則だが、これで知識は正当化できない。
<ol>
	<li>$a\fallingdotseq b$</li>
	<li>$F(a)$</li>
	<li>従って、$F(b)$</li>
</ol>

---

## 帰納法の問題(ヒューム)
近代においてヒュームは帰納法に対して重要な懐疑をもたらした。彼によると、帰納法による知識の一般化は`自然の斉一性の原理(the principle of the uniformity of Nature)`を前提にしているという。つまり、同一の原因が同一の結果をもたらすと仮定している。しかし、過去を参照した未来に対する予測は、心理効果によってもたらされる根拠なき信念であって合理的な推測ではない。例えば、今まで私が投げた石はすべて地面に落ちた。しかし、だからといって次に投げる石が地面に落ちず宇宙まで飛んでいかないという保障はないのである。これは帰納法による一般化を前提とする自然科学の正当性を疑う議論にほかならない。そのため、懐疑は科学とはなにか科学とはどのように正当化されるかといった主題を扱う科学哲学の根本的な問題となる。(現代の科学哲学を別にすれば、カントの超越論哲学などに派生)
ヒュームの哲学へ

## 帰納法の新たな問題(グッドマン)
`グッドマン(Nelson Goodman, 1906-1998)`は`グルー(glue)`というgreenとblueをかけ合わせた造語を想定することによって、妥当な帰納とそうでない帰納があることを見出す。これをグルーのパラドックスという。グルーは、「時間ｔ以前に観察された事物については、少しでも緑色であれば適用され、かつ、時間ｔ以後に観察された事物については、青色であるならば適用される」と定義される。ここでは時間ｔを2010年として、このグルーという述語を用いた推論と通常の帰納法による推論を比べて見ると次のようになる：

<span class="para">帰納的推論１</span>
2010年以前にはすべてのエメラルドは緑色である(これは確証されているものとする)。従って、2010年以後においてもすべてのエメラルドは緑色である

<span class="para">帰納的推論２</span>
2010年以前にはすべてのエメラルドはグルーである。従って、2010年以後おいてすべてのエメラルドはグルーである。
推論２におけるすべてのエメラルドは、グルーの定義により2010年には緑色だったが2011年の元旦にそれらは突然青色に変化することを予想する。これは明らかに妥当とは言いがたい推論であるが、帰納法の原理はこのグルーという述語を使った推論が誤りであるということを意味しない。

<span class="para">投射可能性(projectibility)</span>
我々はグルーという述語をつかった推論を妥当であるとは感じない。また、緑色という述語は妥当であると感じる。緑色のように帰納するさいに妥当に思われる述語を「投射可能な述語」という。しかし、結局この投射可能な述語とそうでない述語の区別は何に由来するのだろうか。これがヒュームの懐疑とは根本的に異なる帰納法の新たな問題である。まだ決定的な解決法は発見されていない。


<ul class="book_list">
	<li>主著</li>
	<li>『事実・虚構・予言』Fact, fiction, and forecast (1955)</li>
</ul>

## 確率を導入した帰納法(ベイズ主義)
`ベイズ(Thomas Bayes, 1702-1761)`はヒュームと同時代の人であるが、彼が評価されだしのは最近のことである。`ベイズ主義(Bayesianism)`は、あらゆる信念は0か1かのどちらかではなく、信念とは度合いであり、そして、それは数学的確率であるとする。例えば、太郎は明日雨が降る確率を20%信じていたら、80%は信じていない、といったふうに主観的な確率で信念を表すことができると考える。そして、これだけでは、主観的な信念にもとづいて個々人がそれぞれ異なった主観的確率、偏見から理論を指示することができるのではない。そこでベイズ主義者は、条件付の確率の定義から導かれたベイズの定理によって偏見の修正を合理的に基礎付ける。
<!-- <blockquote>
	<p>ベイズの定理(Bayes' Theorem)：</p>
	<p>P(H/E) = P(H)P(E/H)÷P(E)</p>
</blockquote>
 -->
<blockquote>
	<p>`ベイズの定理(Bayes' Theorem)`：
	一般に、確率および条件付き確率に関して、$P(E) > 0$ のとき次が成り立つ
	</p>
	<p>$P(H\mid E) = \frac{P(E\mid H)P(H)}{P(E)}$</p>
</blockquote>


Hが仮説でEがある証拠であるとする。そして、仮説が証拠を予想する(含意する)とする。そうすると、証拠が集中することによって主観的確率は、徐々に100％に近づいていく。

ベイズ主義者は、このようにあらゆる信念を確率で見る。そこにおいて、ヒュームの懐疑だけでなくデカルトの懐疑などの可能性も認める。つまり、この世界はすべて夢という可能性である。この点だけ見れば、ベイズ主義者は懐疑論者である。しかし、この信念には限りなく0に近い値を与えるため、この懐疑は科学理論や考察を傷つけることは無い無害な懐疑論であるといえる。


---


## 参考文献
- wikipedia ベイズの定理の項目
- {{reference.sci3}}
- {{reference.ana25}}
- {{reference.sci10}}
- {{reference.sci9}}

<!-- 
- 科学の哲学(西脇与作)
- 分析哲学入門(竹尾治一郎)
- 疑似科学と科学の哲学(伊勢田哲治)
- 科学哲学講義(森田邦久)

 -->

<div align="right">
    First post &nbsp; 2009/08/12<br>Last updated&nbsp; 2012/08/03
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}