{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a>
 <!-- │ <a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# 科学哲学#4 科学的相対主義
## 新科学主義
現代における科学哲学の源流は論理実証主義の科学至上主義的傾向に見られる。そして、次にデュエムとクワインの科学理論に対する懐疑的な議論(`デュエム＝クワインのテーゼ`)によって、このような科学の絶対的権威を揺らがせた。そして、この科学における批判主義的傾向は科学史に新たな動向をもたらした。それが、クーンやファイヤアーベントに代表されるような新科学主義である。これは、論理実証主義に対するアンチテーゼ的動向の帰結であり、それは、科学における相対主義である。

彼らは科学が発展しているものであるという見方を否定する。このような観点はポパーへの反論でもある。なぜなら、ポパーは科学理論は反証可能性が条件であり、反証されたとき科学は確かに進歩するという。しかし、デュエム＝クワインのテーゼを適応すれば、どのような科学理論も反証不可能になる。そして、クーンによると科学に直線的な発展などなく、相対的なパラダイムの変移があるだけだという。

<hr>
## パラダイム論(クーン)
アリストテレスの物理学は現代から見ても稚拙なものなどではなく、当時の疑問や観察手段から得られる情報から合理的な説明を与えている。`クーン(Thomas Samuel Kuhn, 1922-1996)`の考えによればある分野が科学と呼べるようになるのは、
パラダイムを持つようなってからである。`パラダイム([en]paradigm)`とは、科学分野の枠組みやその分野の基礎理論という意味もあれば、もっと包括的な意味で「世界観」や「科学観」なども含まれる。パラダイムは、一人の科学者の仕事によってもたらされてきた。例えば、

- プトレマイオス『アルマゲスト』
- コペルニクス『天球の回転について』
- ニュートン『プリンキピア』
- ラヴォアジェ『科学原論』
- ダーウィン『種の起源』

これらの著書は、これから行われる研究の方向性を示したり、この著書によって分野が形成される。

科学は通常、特定のパラダイムに沿って行われる。これを`通常科学([en]normal science)`と呼ぶ。通常科学の仕事は、そのパラダイムに付きまとう難問(パズル)を解消することである。つまり、それが依拠するパラダイムの観点から得られる事実を確定し、それと理論化するといったことになる。そして、そのパラダイムから得られる予測と、観測結果が異なっていた場合も、パラダイムを修正するのではなく、パラダイムのうちで理論を修正してパズルを解く。

### 科学革命(Scientific Revolutions)
しかし、あるとき特定のパラダイムからでは説明することのできない変則事象に突き当たる。これを`アノマリー([en]anomaly)`とクーンは呼ぶ。そして、このパラダイムに依拠する通常が科学はこのアノマリーを解決しようと試みるが、それでも解決できないアノマリーが徐々に蓄積してゆく(危機)。このような事態に対し科学者は危機感をかんじ、パラダイムそのものを検討するようなる。この時期を`異常科学([en]extraordinary science)`と呼ぶ。そして、あらたなパラダイムが提起される(ニュートン力学から相対性理論へ移ったように)。これにより、科学革命が成立する。科学革命とは、いわば視点の変更である。ルビンの杯を見て二つの顔が向かい合ってるように見えている人が突然ひとつの杯にゲシュタルトが切り替わるように、科学のパラダイムも危機に直面して転換される。これを`パラダイムシフト([英]paradigm shift)`という。パラダイムの切り替えは科学者にとって「改宗」に等しく、また、科学共同体におけるパラダイムシフトのきっかけは、科学者間の勢力図であったり社会的要因に依拠するという。

### パラダイム間の通訳不可能性
パラダイムシフトはゲシュタルト・スイッチのように、共有不可能な二つの領域の移動である。そして、二つのゲシュタルトを共有できないように二つのパラダイムは共有できない。これを`通訳不可能性([en]incommensurability)`という。二つの異なるパラダイムは平行しており、共通する言語を持たない。そして、そのためふたつを客観的な視点から議論することもできない。この通訳不可能性が意味することは、パラダイムを比較して優れているほう客観的に選択するということはできないということである(パラダイムに評価基準がない。「基準の通訳不可能性」)。しかし、パラダイムの転換は決して客観的なものでも科学の発展を意味するものではなく、議論がなりたたず相対的なのだから両者に優劣はなくたんに異なっているでけである。

### 通訳不可能性に対する批判
しかし、完全に通訳不可能であると仮定すると、異なるパラダイムを前提とする科学理論に対立すら存在しなくなる。しかし、実際は、ニュートン力学にとって真である命題が相対性理論によって偽である場合もある。このような批判の後、通訳不可能性において対立は認められ、そして、通訳不可能性は二つは比較が完全にできなくなるわけではなく比較が困難であるという意味に和らげられる。

### 理論負荷性([en]Theory-Ladenness )
加えて、`ハンソン(Norwood Russell Hanson, 1924-1967)`によると、通訳不可能性には、パラダイムの判断基準が存在しない(決定不完全性論法？)という、基準の通訳不可能性が含まれていた。そして、それは、「観察の理論負荷性」に依拠している。理論負荷性とは、異なる理論を比較する際にそれらから客観的で中立なデータが必要になる。しかし、理論は観察されて検証されることによって成立するが、なにかを観察する際にすでになんらかの理論に依拠している。そのため、理論同士を比較するための中立なデータの抽出は不可能であり、従って理論同士を比較することもできないというわけである。このように、パラダイムの選定基準がなく、それの転換は改宗的であったり社会的圧力によるものであるといった説明は、科学を合理的なものから遠ざけ、それを「群集心理の問題」にしてしまう相対主義である。

　しかし、この科学に対する相対主義が持つ命題は客観的に真と言えるのだろうか。つまり、「真理はパラダイムと相対的である」という命題を相対主義者が客観的真理であると主張することは、自己矛盾のパラドックスに陥る。そのため、クーンの科学相対主義もまた、問題を抱えている。

<hr>

クーンのパラダイム論は、合理的な方面と相対主義的な方面へと展開しそれぞれから批判される。ポスト・クーニアン。

## リサーチプログラム(ラカトシュ)
ポパーの弟子の`ラカトシュ(Lakatos Imre、1922-1974)`が提案する、`リサーチプログラム([en]research programme)`という科学像は、「堅い核」とそれを覆う「防御帯」からなる。堅い核はある理論の中心的な命題である。例えば、地動説であるれば「地球は自転しており、太陽の周りを回っている」などの命題になる。そして、この核命題に対する反証事例に対しては、防御帯を修正することで、この核を守るにである。この提案によれば、精神分析やマルクス主義なども堅い核と防御帯を持つのでリサーチプログラムということになる。

┏防御帯┓ <br>
┃┏核┓┃<br>
┃┗━┛┃<br>
┗━━━┛<br>

###  科学と非科学の区別
　また、この提案は、ポパーの反証可能性原理ではなく、「新しい予測を成功させることができるかどうか」によって科学と非科学を区別する。科学的なリサーチプログラムは新しい事実を予測でき、これを「前進的プログラム」と呼ぶ。そして、この特徴を持たない疑似科学/非科学は「退行的プログラム」と呼ぶ。これによれば、ニュートン力学は天体の運動などを予測するが、マルクス主義やフロイト主義は自己の理論の擁護に終始するばかりの退行的プログラムである。

### 科学革命の説明
ラカトシュによると、対立する二つの理論がある場合、前進であるほうが有力とされる。また、例えば、ニュートン力学のように、ある理論は、最初、前進的プログラムであっても、それのアノマリーが増えることで退行的プログラムへと変化する。その結果、これよりも前進的であった相対性理論へと科学革命が行ったのである。

しかし、実際の科学理論を見てみると、ラカトシュの提案には沿わない場合や問題が散見される。例えば、ある理論は常に変化しており、「同一のリサーチプログラム」を保っているとは言いがたい。そもそもどのように堅い核を特定できるのか。競合する理論のうちの一方が選択される理由は、科学史を見てみると、それが新しい予測をしたからというよりも、それが既存の問題にたいして整合的な説明を与えたから、という場合のほうがおおい。さらには、競合する理論が両方共前進的である場合、どちらを有力なものであると決定すればよいのか。

## 研究伝統(ラウダン)
研究伝統は、理論そのものを含まずその理論の問題解決能力を重視する。科学の進歩は、どれだけ解決された問題があるのか、で測られる。また、協業する研究伝統のうちどちらが優れたかを決定する基準は、問題解決能力の優れた方とする。



## 社会構成主義
科学理論は、社会的要因が強く影響するとする立場。この立場を採る`ラトゥール(Bruno Latour, 1947- )`と`ウールガー(Stephen Woolgar, 1950- )`は、科学者の研究の場をフィールドワークし、科学者集団が信じている科学に対する信念はどのように形成されたのかを調べた。彼等によると、科学的方法はこれの理論が社会的構成物であることを隠すようにできている。しかし、彼等の調査は科学理論が社会的構成物であるとあらかじめ前提としてこのフィールドワークを行っている、と批判される。
また、科学理論は男性主義のバイアスが掛かっているとして、それをフェミニズムの立場から再考しようとする立場もある。


<!-- - ブルーノ・ラトゥールと共に『Laboratory Life: the Social Construction of Scientific Facts』(1979年) -->


## 方法論的アナーキズム
`ファイヤアーベント(Paul Paul Karl Feyerabend, 1924-1994)`の『方法への挑戦』(1975)によると、科学を進歩させるための方法論は`なんでもよい([en]anything goes)`という方法論的相対主義を提唱。だが、なんでもありなのは、“合理性の基準”である。例えば、ホメオパシーという毒を処方するドイツの民間療法や中国の鍼治療は十全な理論的裏づけはないが、伝統的に成功を収めており民間や伝統の観点においてそれらは合理的である。そして、また、それらは最終的に科学の発展に貢献する可能性があるため、理論的でないからといって切り捨てるのを批判する。つまり、ファイヤアーベントは、科学的理論間における客観的基準の不在に訴えて、理論を相対化するだけでなく、人間の根本的なあり方において優劣決定する基準の存在を否定する。そして、彼は「科学」はたまた「知識」を優れたものとする傾向を批判するのである。(レヴィ＝ストロースが西洋の合理的思考を相対化したことを髣髴とさせる。)


---


## 参考文献
1. <span class="cite1">{{reference.sci2}}</span>
1. <span class="cite2">{{reference.sci1}}</span>
1. <span class="cite3">{{reference.sci7}}</span>
1. <span class="cite4">{{reference.ana25}}</span>
1. <span class="cite5">{{reference.sci8}}</span>
1. <span class="cite6">{{reference.sci9}}</span>

<!-- 
- 疑似科学と科学の哲学(伊勢田哲治)
- 科学哲学(小林道夫)
- 分析哲学入門(竹尾治一郎)
- 理性の限界(高橋昌一郎)
- 科学哲学講義(森田邦久)
 -->

<div align="right">
    First post &nbsp; 2009/08/17<br> Last updated&nbsp;  2012/08/03
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}