{% extends "layout.html" %} 
{% block content %}

# Attachment theory (愛着理論)
一般的に、幼児は生まれてから直ちに彼らの主要な保護者(多くの場合母親)と強い絆を形成する。これをattachment(愛着)と呼ぶ。
最初にこのattachmentに注目し心理学の観点から発展させたのは、イギリスの児童精神科医で心理分析学者のジョン・ボウルビィ（John Bowlby, 1907-1990）である。ある心理学者はattachmentができるのは保護者が食事を与えるからであると主張するのだが、Bowlbyはそれに反論し、それは彼らの、また人間の潜在的な生存のための本能であるとした。なぜなら幼児の身体能力や認識能力は極端に未発達であり他者の手助けなしには生き延びることができないからである。また、attachmentを形成するということは幼児の能力の発達に強く影響し、また、それは他者に対しての振舞いも学ぶことを手助けすることにもなる。結果、attachmentはその後の人格に大きく影響すると考えた。

上述のようにattachment形成に関する二つの意見がある。一つはcupboard love theory（Learning theory）と呼ばれ行動主義者が提唱し、attachmentは保護者の食事(feeding)によって自ら学んだものだという (nurture)。一方でBowlbyはそうではなく、attachmentは我々人間に組み込まれた自然な行動であるという(nature)。 

## 論拠1 Harlowの猿の実験
Bowlbyの意見を擁護する研究がいくつかある。例えば、Harry Harlowによる1960年代のサルを使った実験である。その実験とは、幼児のサルに二つの母親をかたどった人形を与え、一つはワイヤーで作られ哺乳瓶を装着させたもので、もう一つは哺乳瓶はないが毛布でワイヤーをくるんだものである。つまり、一つは食事(哺乳瓶)を与えるが心地良さ(毛布)は与えず、もう一方は食事は与えないが心地良さを与える。実験の結果、幼児サルはほとんどの時間を毛布の方の母親と過ごした。この実験結果は、食事を与えることは必ずしもattachment形成において不可欠ではなく、接触の心地よさのほうがより重要である、という主張に対する強い論拠になった。

## 論拠2 Bowlbyのインタビュー
一方、彼自身の研究で「44人の盗人少年」というものがあり、それは幼少期に両親喪失や長期的な分離を経験した子供がどれほど精神的な影響を受けるかを確かめるためのものである。Bowlbyは社会責任といったものをほとんど示さず、また罪の意識を感じている気配もなかった44人の不良少年を調査した。彼らと彼らの母親とのインタビューの結果、全体の86％に及ぶものたちが長期間、両親と離別していたという事実をつかむ。この結果は、多くの人々が幼少期にattachmentを形成しているということの論拠になった。そして、その期間内に長期の保護者との離別は、その間に子供たちは保護者から他人との付き合い方を学べないため、子供たちを反社会的に導くことがわかった。

## その後の発展
もちろん、文化間の相違という観点や、彼の理論に沿わない幼児もいて反論を受けることもあるが、それでも愛着理論は強い影響力をもち、あらゆる心理学者が取り組み発展させた。その研究者たちの一部であるAinsworth et al(1978)は実験を元にattachmentをsecure attachment, avoidant attachment, ambivalent attachmentの三つに分けた。secure attachmentは全体の70％に及ぶ幼児と保護者が形成するものであり、保護者と健全な関係を築いているものである。具体的には、 attachment関係にある保護者と離れ離れになるとネガティブな反応を示し、再会するとポジティブな反応を示すといったものである。反対にavoidant infants(全体の20％)は玩具など興味が引かれるものがあると保護者に対しても無関心な態度を示し、保護者との離反や再会にもあまり関心を示さない。次にambivalent attachment(10％)である。これに属する幼児は、保護者との離反に強い拒絶反応をしめす。しかし、保護者と再会したとき、逆に突き放すかのような態度をとる。この分類に加えMain and Cassidy (1988)はdisorganized attachmentを提唱する。これらの幼児たちは不可解、混乱、目的なき行動といった兆候が見られるという(※１)。

こういった幼児期に形成されたattachmentは後の人間関係に影響する、Mc Carthy(1999)は指摘する。Hazan and Shaver(1987)は新聞での恋愛クイズを用いて成人女性の幼児期のattachmentタイプと、現在の恋愛経験を調べた。その調査の結果、 secure attachmentを形成していたであろう女性は、比較的幸福で長期的な恋愛をしているが、残りのinsecure attachmentを形成していたであろう人たちは、関係を持続させるのが難しく、失敗が多いようであるということを調べた。

上記のようにattachment relationship（通常、母親との関係）が幼児にとっていかに重要であるかが、Bowlbyを皮切りに明らかになった。

---

※１
母親がどんなに努力しても遺伝的な理由でsecure attachmentを形成しない幼児もいるので、子育ての際に気にしすぎるのも良くないということ。




<div align="right">
    First posted &nbsp; 2006/09/06
    <br>
    Last updated&nbsp; 2018/03/19
</div>
<!--  -->
<a href="{{url_for('trans_medieval', page_num='2')}}">次へ &gt;&gt;</a> │ <a href="#top">一番上に戻る</a> {% endblock %}