{% extends "layout.html" %} 
{% block content %}

## Freud’s theory of personal development (psychosexual stages)

Freud believed that there are distinct stages in child development. At each stage, one particular drive (libido) is seeking gratification. 

### 1) the oral stage (birth - 1 year old)
The most sensitive area (erogenous zone) is the mouth. Infants gain pleasure from sucking, swallowing, biting and from putting things in their mouth. “Adequate stimulation” is required.
- too little (frustration) -> greedy, envious, pessimistic, cynical, sarcastic, often loners, suffering depression.
- too much (over-indulgence) -> trusting, easily conned by others, optimistic, dependent, high opinion of themselves, short tempers. 

### 2) the anal stage (1-3 years old)
Libido moves to anal area from the mouth. Infants gain pleasure from emptying, controlling their bowels. Ego is forming at this stage as the infant must learn that they must control the urge to empty bowels (potty training). Infants may also be aware that they have control and may manipulate this to their advantage.
The way in which the adult handles potty training may influence whether or not the child becomes fixated. This will be influenced by the amount of discipline used.
- Anal retentive -> orderly, clean, miserly, obstinate, cruel
- Anal expulsive -> untidy, generous, impulsive

### 3) the phallic stage (3-6 years old)
Freud believed that this was the most important stage for personality development. Pleasure seeking is genitals. Child begins to have unconscious longings for the opposite sex.
- Boys long for mothers; however, because they know that the father is their rival it leads to Oedipus conflict (complex). All this is occurring at an unconscious level.
- Girls long for fathers -> Electra conflict (complex).

Freud says that the way a child copes with these anxieties and feelings is by identifying with the same sex parent. (i.e., he tries to be like his father.) This identification leads the child to adopt that parent’s values, ideas, behaviour, etc. This is how the infant develops and acquires gender and morals. Because of moral development, this is the stage when the super-ego develops. Meanwhile, with relation to girls, Freud suggested that the conflict was less intense because the girl feels she has already been castrated and had less fear of the mother because of this. Because her identification was less strong, her gender identity and moral development would be weaker. 
- A fixation in this stage could lead to personality traits such as vanity, recklessness, self-centredness, ambition, exploitation of others.

### 4) latency stage (5-12 years old)
- During this stage, the libido has spread throughout the body. The focus has shifted to intellectual development. 
- The infants still identify with the same sex parent.
- The relationship between the id, ego and super-ego is well balanced.
- Idea that children are using libido (energy) to learn about the world, gain required skills.
- No fixation is usually exhibited linked to this stage.

### 5) genital stage (12- years old)
- Due to puberty and physical development, the libido seeks satisfaction from the opposite sex.
- An adolescent who has successfully progressed through the previous stages will be able to form mature relationships and satisfy the id realistically. If there is a fixation or unresolved conflict from a previous stage, then the person may have problems with sexual relationships.
- As this is the final stage, fixation here is the norm.

<div align="right">
    First posted &nbsp; 2006/09/09
    <br>
    Last updated&nbsp; 2018/04/19
</div>
<!--  -->
<a href="{{url_for('trans_others', page_num='1')}}">{{page_num}} &lt;&lt; 前へ</a> │ 
<a href="{{url_for('trans_others', page_num='3')}}">次へ &gt;&gt;</a> │ <a href="#top">一番上に戻る</a> {% endblock %}