{% extends "layout.html" %} 
{% block content %}

<!-- <title>{{title}}<|title> -->

<h5> 
<!-- <a href="{{prev_page}}">&lt;&lt; 前へ<|a> │ -->
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# 古代哲学史#1 古代ギリシャ自然哲学<|span><|a>


## 1 前 600 年頃　古代ギリシャ哲学 (世界への問い)
古代ギリシャでは、人々は自然現象、政治、健康、戦争の勝敗などに対する問いの答えを神話的世界観で理解した。
例えば、当時の人々は、`デルポイの信託`で神アポロンに、つまり巫女([希]pythia)
による占いに、様々な問の答えを求めた<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"><|span><|a>。
しかし、「文字」(前 700 年頃 <a class="s">[11, p.55]<span class="s-balloon popup_cite11"><|span><|a>) という価値の客観的な保存方法が定着するにつれて <a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"><|span><|a>、また、奴隷制度により自由市民の間で閑暇 (schole) が生じるにつれて、人々は徐々に想像力による世界の理解を抜けだして、自然の観察と自らの理性 (logos)によって世界の`アルケー ([希]arch&#275;、始源、原理)` の探求を開始した <a class="s">(\*4)<span class="s-balloon" id="popup_tyuu4"><|span><|a>。
これは世界の多様性を綜合する同一の原理の探求であり形而上学の始まりであった <a class="s">(\*5)<span class="s-balloon" id="popup_tyuu5"><|span><|a>。

---

## 2 ギリシャ哲学の始原 (ミレトス学派)
イオニアのミレトス学派は記録に残る西洋哲学の最古の学派であり、彼らは主に自然界に世界の原理をもとめた。

### タレス (Thales, 前 624 頃-前 546 頃)
アリストテレスによると世界のアルケーを探求した最初の哲学者である <a class="s">(\*6)<span class="s-balloon" id="popup_tyuu6"><|span><|a>。
彼は、水が生命 (魂)
の源で、また全ての根源には魂があるという思想より、「水」がアルケーであるとした。また、この
水の思想の背景にはバビロニアの水神創世神話があることが明らかになりつつある <a class="s">[15, p.74]<span class="s-balloon popup_cite15"><|span><|a>。

哲学者列伝 <a class="s">[18]<span class="s-balloon popup_cite18"><|span><|a>によれば、彼はエジプトで天体観測や幾何学を学んでこれらに優れ技量を持っていて、日食を予測したり、ピラミッドを計量したり、また、一年を365日と定義した最初の人物とも書かれている。
他にも真偽不明ではあるが逸話がいくつか伝えられていて、それらから彼の背後には西洋哲学史以前に栄えたメソポタミア(占星術と日食予測)、バビロニア(神話)、エジプト(幾何学・天文学)といった文明の影響が垣間見える。

### アナクシマンドロス (Anaximandros, 前 610-540 頃)
彼はタレスの弟子であり、諸事物の相互侵犯と相互転換の関係に注目した。例えば、熱|冷、乾|
湿、そして、水|火である。世界がこのような対立図式からなっているとすると水一元論のような理
論は維持できなくなる。そこで彼は、アルケーはこれらの対立を綜合し包括する限定できないもの、
つまり`無限定なもの([希]to apeiron)` であるとした。

### アナクシメネス (Anaximenes, 前 546 頃活躍)
彼によると、アナクシマンドロスのアペイロンでは抽象的で具体性に欠けるため実世界の変化を
説明できない。そこで、彼は世界 (タレスようにこれは生命活動や魂と考えた) のアルケーを`息
([希]pneuma) `ないし「空気」([希]aer) という具体的なものと対応付け、空気の密度変化によって世界の変
化を説明した (薄：火 < 空気 < 雲 < 水 < 土 < 石：濃)。


---

## 3 形相的アルケーの探求
前時代の自然哲学はアルケーを水や空気などの感覚的な原理 (質料) つまり形而下のレベルで探求
した。しかし、次の世代において、アルケーは非感覚的な原理 (形相) となり抽象化、形而上化して
ゆく。ピュタゴラス学派においてそれは「数」であり、ヘラクレイトスにおいてそれは「対立」で
ある。アリストテレス <a class="s">[3, p.56]<span class="s-balloon popup_cite3"><|span><|a> によると、このように数などをアルケーとみなすことは、哲学史上
重要な転機である。しかし、現在の古代哲学研究によると、例えばピュタゴラスの「数」にはタレ
スの「水」などと同様に、質料的アルケーと形相的アルケーの意味合いが相互に入り交じっている。
つまり、実際は、アリストテレスが言うような質料から形相への移行は段階的ではなく、彼らがア
ルケーとみなした「数」(など) が持つ抽象性ゆえに結果的にアルケーの意味が徐々に変化 (質量的
アルケーから形相的アルケーへ変化) していったと考えられる。

### コロポンのクセノパネス (Xenophanes, 前 570 年頃-?)
詩人哲学者であった彼は、ミレトス学派とは異なり、ホメロス以来の詩的伝統であった神々の擬
人化の批判からアルケー (一者) を見出した。例えば、ギリシャ神話には神々の家系図があるが、こ
れは神の不在を示唆するため不敬であると批判した。そして、彼は、神は`一にして全([希]hen kai
pan)` であるような完全な存在`一者([希]to hen)` であると考えた。

### サモスのピュタゴラス教団
宗教家の`ピュタゴラス (Pythagoras, 前 570 頃-？)`が`オルペウス教` <a class="s">(\*7)<span class="s-balloon" id="popup_tyuu7"><|span><|a> の派生宗教として創始した。
オルペウス教徒は、修行により`魂の浄め ([希]catharsis)` を行い輪廻転生から解脱して神との帰一を目指
したが、ピュタゴラス教団においてこの魂の浄化のための修行が数学・音楽・天文学と結び付けら
れていた。それは、彼らが数 (比率) が世界を支配している原理 (アルケー) であると信じていたから
である。つまり、線に比率を与えることで幾何学図形になり、音に比率を加えることで音階になる
ように、混沌に規定を与えること宇宙になる (彼らは天体運動は調和のとれた音楽とした)。これと
同じように、`魂の調和([希]harmonia)` もまたこの数学的原理によると考えたのである。


### 後期ピュタゴラス教団 (前 500-400 年頃)
-  `ピロラオス (Philolaus)`：秘密主義の教団で本を著した。地動説の提唱者。
-  `アルクマイオン (Alcmaeon)`：現存の記録の中で最古の人体解剖を行った人物。ヒポクラテスに影響を与えた。
-  `アルキタス (Archytas)`：幾何学より数学を重視し数学を力学に応用した。

### ヘラクレイトス (Herakleitos, 前 500 年頃活躍)
彼はミレトス学派の「対立」や「変化」とピュタゴラス教団の「調和」を受け継いだ。彼による
と、全ては絶えず変化する対立関係 (昼夜、戦争平和、飢餓飽食、など) の上に成立しており、それ
ぞれの対立は竪琴の弦のように均衡と調和による秩序を形成している。この`対立関係 ([希]palintropos
harmonie)` から生じる`ロゴス ([希]logos、秩序、法則、言葉)` が世界の根幹を貫いており、そのため、`戦い[対立] が万物の父である([希]polemos pater panton) `と主張した。さらに、神とはこの世界を統べる根源
的なロゴスであるとした。

このように、彼にとって世界を統一するアルケーは単一の “質料” ではなく、絶え間ない対立から
生じるロゴスという “原理”(法則) であった。そして、このロゴスによりあらゆる生成と消滅が繰り
返されるため、全ては常に変化している、彼によると、`万物は流転している([希]panta rhei)` のであ
る。このことから、彼はこの世界を「火」であるとした (火は恐らく単なるメタファーではなくタレ
スのように神話的な背景がある) 。

この万物流転説は、何かしらについて確実な知識を得るのは不可能であるといった不可知論・相
対主義を導きソフィスト (特にプロタゴラス) に影響を与え、そして、その不可知論を乗り越える過
程で原子論やイデア論といった普遍主義の哲学に繋がる。だが彼自身は、ロゴスは人間に内在的に
備わっている倫理の原則でもあるため人間はそれに従うべきでるとする。この考えだけを見れば彼
自身は相対主義者ではない。



---

## 4 エレア学派 (一元論)

### パルメニデス (Parmenides, 前 515 年頃-?)
エレア学派の創始者とされる彼は、それまでの哲学者のように主語的対象であるアルケーを探求
したのではなく、それが成り立つ枠組みの`ある([希]esti, [英]be)` (つまり、存在) を考察した。彼
はまず「二つの道」という思索の２つの候補を提示する：

- 信の道：<span class="red">「ある」<|span>そして<span class="blue">「あらぬ」<|span>ということはない。(排中律)
-  確かめえぬ道：<span class="blue">「あらぬ」<|span>そして<span class="blue">「あらぬ」<|span>ことが必然。彼は前者を勧め、この選択から「<span class="red">「ある」<|span>ことは必然」が導かれる。そして、この<span class="blue">「あらぬ」<|span>は不可能であり、<span class="red">「ある」<|span>は必然であるという帰結から<span class="red">「ある」<|span>一元論が導かれる。<br>
この<span class="red">「ある」<|span>一元論より、`「考えられ (う) るものとあるものは同じである」(断片 3)`<a class="s">(\*8)<span class="s-balloon" id="popup_tyuu8"><|span><|a> と彼は主張
する。<br>
さらに、この結論より、「<span class="blue">「あらぬ」<|span>は思惟不可能である」、が導かれる。また、この<span class="red">「ある」<|span>と「考えられる」の関係より、「考えられうるが故に<span class="red">「ある」<|span>のではなく<span class="red">「ある」<|span>が故に考えられう
る」という結論が導かれる。

さらに、彼はこの<span class="red">「ある」<|span>一元論より、<span class="red">「ある」<|span>／「あるもの」の本性規定を行った。
- `「あるもの」は不正不滅`である。なぜなら<span class="red">「ある」<|span>が<span class="blue">「あらぬ」<|span>になることもその反対もありえないから。
-  `「あるもの」は分割不可、不動、完結`である。
-  `「あるもの」は唯一`である。
そして、この理論によると、「空気である」は「空気である」であり、「空気である」は「石である
(空気であらぬ)」とは言えないのである。

この結論から彼は、ミレトス学派から発展した物質一元論は、「<span class="red">「あり」<|span>かつ<span class="blue">「あらぬ」<|span>」という矛盾に陥っていると批判した。そして、これが古代哲学にお
けるに大きな転回点となった。

### ゼノン (Zenon, 前 490 年頃-?)
パルメニデスの「「あるもの」は唯一」という主張は存在の変化を否定する懐疑論であると批判
された。<span class="red"><span class="red">「ある」<|span><|span>の不生不滅を説く彼の主張は、世界における無数の感覚的な変化を否定していると
見なされたからである。なぜならば、素朴に考えれば、目の前の鉛筆は<span class="red">「ある」<|span>し、今日の朝飯は
最早<span class="blue">「あらぬ」<|span>からである。つまり、批判者によると「「あるもの」は多」なのである。これに対し
て、弟子のゼノンは背理法を駆使して師への批判を論駁した。つまり、批判者の「「あるもの」は多
である」を前提としてこれから矛盾を導いた。その一例が次である：
1. 「あるもの」は多である、とする (背理法の仮定)。
2. 「あるもの」は現にあるものだけであり、これは有限である。
3. 他方、「あるもの A」と「あるもの B」の間にそれらを区別する別の「あるもの C」を認めね
ばならない。さらに A と C を区別する「あるもの D」を認めなければならない。
4. これは無限に続き、従って、「あるもの」は無限である。これは「あるもの」の有限性と矛盾
する。(プラトンのイデア論に対する批判に似ている)

この議論に加えて、「あるもの」が多である、という仮定から「あるもの」は無限に大きく、かつ、
無限に小さいという矛盾を導くがこれの論証過程は不透明なものとなっている。それを補填しつつ再構成 <a class="s">[1]<span class="s-balloon popup_cite1"><|span><|a> すると次のようになる：

1. 「あるもの」は、多である (背理法の仮定)。
2. また、それぞれの「あるもの」は自己と同一であり単一である。
3. 「あるもの」は単一の対象でなければならず、そのため、部分を持たない。つまり、これは大
きさを持たない最小のものである (A)。
4. 他方、多におけるそれぞれの「あるもの」は大きさを持つ (なぜなら、大きさを持たないもの
は「あらぬもの」だから)
5. 大きさを持つものはなんであれ、部分を持つ。
6. そして、それらの部分もまた大きさを持つ。以下永遠に続く。
7. 従って、「あるもの」は大きさを有する無限の部分を持ち、これらの総和である。
8. しかし、大きさを持つ部分の総和は無限に大きい (B)。
9. A と B より元の「あるもの」もまた無限の大きさを持つ。
10. よって、「あるもの」は無制限に小、かつ、大となる。これは矛盾である。

さらに彼は運動の否定の論証を行っており、現代ではむしろこちらのほうが有名である。
-  `運動場のパラドックス`：空間が無限に分割可能だとすると、走者はゴールに辿りつけない。
-  `アキレスと亀`：最も足の速い走者は、最も遅い走者に決して追いつけない。
-  `矢のパラドックス`：時間を今という点の連続で捉えると、飛んでいる矢は静止している。
-  `動いている列`：一定の速さで動く物体はその２倍の速さで動く (t = 2t)、という矛盾。

### メリッソス (Melissos, 前 440 年頃活躍)
彼はパルメニデスの哲学に依拠しつつ、独自の<span class="red">「ある」<|span>の本性規定を加えた。
-   「あるもの」は無限であり永遠である。
-   「あるもの」は非物体的である。
-   「あらぬもの」(空虚) は運動の必要条件であるが、「あるもの」に空虚は無いので「あるもの」
は運動しない。
彼はこのように運動の必要条件としての空虚という考えを強調した。


---

## 5 多元論
エレア学派の存在論に対する批判とそれに対する応答から多元論が構築されていった。

### エンペドクレス (Empedokles, 前 492 年頃-前 432 年頃)
パルメニデスの<span class="red">「ある」<|span>の本性規定に則れば運動も変化も否定され、また、メリッソスが主張す
るように<span class="red">「ある」<|span>は非物質的であり形而上学的な概念である。これに対して、現代の自然科学が行
われているような地平での存在、つまり世界の`構成要素 ([希]stoicheia)`、の考察を行ったのが彼である。
エンペドクレスは、構成要素は「土、水、火、空気」(地水火風) の四つからなり、彼はこれらを`根
([希]rhizomata)` と呼んだ。この四つの根そのものは通常変化しないが、三原色から全ての色が創造でき
るように、根の配合が我々にとって無数の感覚的な変化をもたらすとした (パルメニデスとヘラクレ
イトスの綜合)。また、この四つの根を混合したり分離したりし、変化をもたらす原因がなければな
らないとし、結びつける力 (引力、結合力) を`愛([希]philia)`、分解する力 (斥力、分解力) を`憎し
み([希]neikos)` と名づけた。つまり、物質 (質料) と力 (動力) の間に区別を設けたのである。加えて、
彼は、ピュタゴラス教団から影響を受けており上記のような唯物論的自然観とは別に『カタルモイ』
(浄め) という倫理的・宗教的な著書の断片群も残っている。

### アナクサゴラス (Anaxagoras, 前 500 年頃-前 428 年頃)
彼は、「あるもの」の不正不滅に同意していると思われる。
しかし、エンペドクレスに従うと、地水火風が肉や毛髪をも形成することになる。
しかし、地水火風 (無機物) から有機物が構成されるというのは古代の人々にとっては受け入れがたかったのだろう (現代でも諸説ある <a class="s">[2]<span class="s-balloon popup_cite2"><|span><|a>)。

そこで、彼は「あるもの」の無限分割の可能性という前提から、「すべてのものがすべてのものの部分  を分け持っている」(断片 6) <a class="s">[15, 訳]<span class="s-balloon popup_cite15"><|span><|a>)、と主張した。
つまり、彼によると、世界の構成要素である`モイラ([希]moira、種子)` <a class="s">(\*9)<span class="s-balloon" id="popup_tyuu9"><|span><|a> は、4 つどころか無限に細分化された、毛髪、骨、空気、また、熱など現実に「あるもの」全てなのである (基本的に自然物で人工物は含まれない [13, p.194])。
そして、構成要素が無限小だとすると、米粒の 1 個の中にもあらゆるものが無限に含まれている <a class="s">(\*10)<span class="s-balloon" id="popup_tyuu10"><|span><|a>。

無限小をいくら集めても無限小なので、モイラを混合する原理は、愛や憎悪では説明できない。
そこで彼はモイラとは異なる独立自存な構成要素である`ヌース ([希]nous、理性)` を考案した (モイラとヌースの二元論)。
ヌースは宇宙全体に行き渡っており全宇宙 (全モイラ) を秩序付け (≒物理法則？)、そして、人間の知性も包括している。
そして、彼によると、そもそもヌースが最初の原因となりモイラに旋回運動を加えそれが天体となり世界が生じた。
この考えから、ヌースは言わば第一動者|目的因の元祖としばし見なされる <a class="s">(\*11)<span class="s-balloon" id="popup_tyuu11"><|span><|a>。


---


## 6 原子論

### デモクリトス (Demokritos, 前 420-?)
`レウキッポス (Leukippos, 前 435 年頃活躍)` の弟子。彼の哲学の中心的原理はパルメニデス哲学
の応答から生じたアトムとケノンである。
まず、彼は「あるもの」の分割不可能性を認め、世界を構成する分割不可最小単位の存在を認める。
彼はこれを`アトム ([希]atom、原子) `と呼んだ。
そして、アトムは無数にあり、また、それら自体は不変だが、それぞれの配置・形状・向きによって無限の感
覚的変化を我々に与える。
そして、彼によるとプシュケー (体、心、生命それら全て) もまたアトムから構成されているとする (これはエピクロス派に影響を与えた)。
この原子論は神などの目的因を否定し世界は全て機械論的な必然性によって成立すると考える機械論的決定論を含む唯物論である(ただし世界の開始は偶然とする)。

他方、彼はパルメニデスの信の道に反して、<span class="blue">「あらぬ」<|span>は<span class="red">「ある」<|span>と主張し、さらに「あるもの」の唯一性を否定した (そのためアトムは無数にあるとする)。
彼にとって<span class="red">「ある」<|span>とはアトムであるが、<span class="blue">「あらぬ」<|span>とは`ケノン ([希]kenon、空虚)`(≒真空) である。
そして、ケノンにおいて「あるもの」(アトム) の運動が可能になると考えた。
ここで注意すべきなのは、パルメニデスとデモクリトスの哲学者の<span class="red">「ある」<|span>の捉え方はで捉え方のレベルが異なっていて、前者は形而上学的レベルで後者は物理的レベルで<span class="red">「ある」<|span>を捉えている。


## 7 自然から人間へ
ここまでを振り返る。ミレトス学派では、形而上、形而下、そして神話 が混在していたが、ピュ
タゴラス、ヘラクレイトス、エレア学派などを経るにつれ議論がより抽象的により形而上学的になっ
ていったと言える。エレア学派の議論は形而上学的であるが、パルメニデス以降の哲学者は形而下
(現代の自然科学の領域) の領域に関心を寄せているように思われ、そして、彼らが最終的に到達し
た原子論は現代の素粒子物理学に通じる考えである。

しかし、ソクラテス以前の哲学は人間の主観が客観(世界)を正確に認識している、と前提としている。
そのため、この時点で哲学と自然科学の区別は存在していない。
だが、次世代のソフィストたちがもたらした相対主義によって人間の認識の曖昧性が露呈し哲学の主題は「自然」から「人間」に
焦点が移っていった。
つまり、形而上学に加えて認識論的な洞察が導入されていったのである。

---

## 注
<ul class="comments">
<li><span id="tyuu1">\*1. 本稿は、2013 年に東北大学文学研究室の院生およびOBで行われた古代哲学の勉強会のレジェメである。
<|span><|li>
<li><span id="tyuu2">\*2. ちなみにデルポイの神殿には`汝自身を知れ([希]gnothi seauton)`が銘として掲げられていた。<|span><|li>
<li><span id="tyuu3">\*3. 金山弥平先生の東北大学における集中講義より (2011 年夏)。<|span><|li>
<li><span id="tyuu4">\*4. 自然哲学と平行して、戦争や病気の原因を神話以外に求めるという動きも生じた。その代表者は、歴史学のおける`ヘロドトス(Hēródotos, 前485年頃-前420年頃)`と`ツキジデス(Thukydides, 前460年頃-前395年)`、医術における`ヒポクラテス(Hippocrates, 前460年頃-前370年頃)`である。ヒポクラテスは「健全な魂は健全な肉体にやどる」と考え病気は
どちらかのバランスが崩れた結果だと考えた。<|span><|li>
<li><span id="tyuu5">\*5. A. コントによれば、想像 (神話) から理性 (形而上学) への思想形態の移行は、神学的段階から形而上学的段階へのス
テップアップということになろう。しかし、この移行は実際には、段階的というよりも連続的であったと考えられる。なぜ
なら、例えば、タレスやピュタゴラス教団の思想では宗教と哲学が混在しており、他方ギリシャ神話の体系は論理的整合性
を重視しているからである [13, pp.49-52]<|span><|li>
<li><span id="tyuu6">\*6. 東洋 (インド) のほうにも目を向けてみると`ウッダーラカ・アールニ([梵]Uddālaka Āruṇi, 前8世紀頃)`や`ヤージニャヴァルキヤ([梵]Yājñavalkya, 前7世紀頃)` といった先駆的な哲学者の記録が残っている[15]。<|span><|li>
<li><span id="tyuu7">\*7. アポロンではなくディオニュソスを崇める宗教で、「輪廻転生」による魂の不滅性を教義として持ち`肉体は墓([希]soma sema)`
であるとした。輪廻転生説はプラトンの想起説にも影響を与えた。<|span><|li>
<li><span id="tyuu8">\*8. 断片 3 の訳は定まっていない。ここでは、下記を参考にして訳した。<|br>
	(原文) t&#242; g&#224;r aut&#242; esti noe&#238;	n t&#233; ka&#238;	 e&#238;	nai.<|br>
	(英訳 1) for it is the same thing that can be thought and that can be. (Burner)<|br>
	(英訳 2) for ascertaining and being real are one and the same. (T. M. Robinson)<|br>
	(英訳 3) Thinking and Being are the same thing. (G. Vlastos)<|br>
	(英訳 4) To be, and to be thought about, are one and the same. (F. Sparshott)<|br>
	(邦訳 1) 考えることとあることとはおなじことである。 [13]<|br>
	(邦訳 2) おなじものが考えられ、あるとされうる。 [10]<|br>
<|span><|li>
<li><span id="tyuu9">\*9. モイラは世界に「あるもの」のモトになるものである。そのため、`種子([希]spermata) `とも言われる。種子は複雑な構造
を持つ生物の発生を説明するために導入された。つまりモイラは生物学に限定したものであるとの解釈もある [13, pp.49-52]。<|span><|li>
<li><span id="tyuu10">\*10. 彼に議論には複数の解釈があるが、「あるもの」を、「唯一の無限集合のある (無限個存在し、無限の大きさを持つ) トークンである」と考えたならば、「一切の中に一切がある」(断片 11？ [8, p.30])、つまり、1 個の米粒にも人間が持つ肉と同じ濃度の肉や世界にある土と同じ濃度の土が含まれている、という言葉も理解できる。<|span><|li>
<li><span id="tyuu11">\*11. しかし、プラトンの『パイドン』によると、なぜヌースが目的因とされるかの具体的な議論はされていない。<|span><|li>
<|ul>

---
## 参考文献

<!-- 1. Zeno of Elea. Stanford Encyclopedia of Philosophy (最終アクセス 2013|09|03). -->
1. <span class="cite1">{{reference.greek2}}<|span>
1. <span class="cite2">{{reference.greek29}}<|span>
1. <span class="cite3">{{reference.greek3}}<|span>
1. <span class="cite4">{{reference.hist17}}<|span>
1. <span class="cite5">{{reference.hist16}}<|span>
1. <span class="cite6">{{reference.hist20}}<|span>
1. <span class="cite7">{{reference.hist15}}<|span>
1. <span class="cite8">{{reference.greek19}}<|span>
1. <span class="cite9">{{reference.greek5}}<|span>
1. <span class="cite10">{{reference.greek28}}<|span>
1. <span class="cite11">{{reference.greek27}}<|span>
1. <span class="cite12">{{reference.hist4}}<|span>
1. <span class="cite13">{{reference.indo10}}<|span>
1. <span class="cite14">{{reference.greek26}}<|span>
1. <span class="cite15">{{reference.hist13}}<|span>
1. <span class="cite16">{{reference.greek22}}<|span>
1. <span class="cite17">{{reference.hist3}}<|span>
1. <span class="cite18">{{reference.add1}}<|span>

<!--  -->


<div align="right">
    First post &nbsp; 2008|11|10<br>Last updated&nbsp; 2021|05|17
<|div>

<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>


{% endblock %}