{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# プラトン『国家』＃1-1正義について(ケパロスとポレマルコスとの問答)
プラトンの『国家』第一巻において三人の人物が登場しそれぞれ自らの「正義」に関する意見を提示し、ソクラテスと議論する。三人のうちの二人はケパロス (Cephalous) と彼の息子のポレマルコス (Polemarchus)である。この親子が提示する正義はノモス(法律・習慣)に乗っ取ったものである。
<!-- 正義に関する議論に入る前に、物語りの冒頭で性愛に関する興味深いやり取りがある<a class="s">(*1)<span class="s-balloon" id="popup_tyuu1"></span></a>。このやりとりで -->
ソクラテスは、ケパロスに富についてたずねる。
ソクラテス「あなたが財産をたくさん持っていてよかったと思うことで、いちばん大きなことは何ですか？」(330d)
ケパロス「歳をとると、この世で不正をおかしたものはあの世(ハデス)で罰を受けなければならないといったことにも気になってくる。そこで、財産を使い“借りたものを返す”などの“正しい”行為をすることによって、その不安を取り除く。これがいちばんの効用である。」
ここで、ケパロスが示唆した`借りたものを返すことは正しい`という命題に詳しく説明を求めることによって、本格的に正義についての問答に移行する。

1. <font class="red">借りたものを誰であれ返すことは正しい (正義の定義1、ケパロス)</font>
- よって、狂人の友に武器を返すことも正しい
- 友に害を与えることは正しくない
- よって、狂人の友に武器を返すことは正しくない(1と矛盾)
 

次に、上記の正義を修正する。また、これ以降はケパロスの息子のポレマルコスが父に代わって問答を引き受ける。彼は上記の定義にシニモデスという詩人を引き合いに出し、「友に対し善いことをなし、悪いことをなさない」という条件を付け足す。
 

5. <font class="red">もし、**友に対し善いことをなし害をなさないならば**、借りたものを誰であれ返すことは正しい（そして、もし害であるならば返さないのが正しい）。(正義の定義2、ポレマルコス、カッコ内推測)</font>
- 狂人の友に武器を返すのは害であるため、返さないのが正しい
- では、敵に借りたものを返すのは相手に害をなさないので返すのは正しい(ソクラテス)
- 敵に返すものとは敵に危害を与えることである(ポレマルコス)
- 敵に危害を与える(返す)のは正しい

なかなか無理がある議論に見るがこれ以上は深入りしない。
次にソクラテスは話題を一般化して、`そもそも正義とは何に対してどのようなものを与える技術のことなのだろうか`(ここでソクラテスは正義は技術であると示唆する)、といったより包括的な正義の定義を求める。それに対しポレマルコスは上記をまとめた正義の定義を提出する。
 
10. <font class="red">友には利益を、敵には害悪を与えるのが正義である(正義の定義3、ポレマルコス)</font>
- 正義は戦いにおいて有用である(ポレマルコス)
- 正義は平和なときには、お金を預けたり保存したりするときに有用(ポレマルコス)
- ＠＠お金を保存したり預けたりするとき、お金は不要である(推測)
- ＠＠(平和なときにおいて、)正義はお金が不要なときに有用である(正義が有用→お金が不要)。(from 12、13)
- お金が有用な時、正義は不要である(￢お金が不要→￢正義が有用)(from 14)
- 他のあらゆる事に関しても、正義とは、それぞれの物の使用に当たっては無用、不要にあたっては有用なものである(from 14：ソクラテス<a class="s">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>)(正義とは大したものではない？)
- あるものの有能な守り手は、そのものの有能な盗み手である(ソクラテス)
- 正義の人は、お金も有能な守り手であるため、お金を盗むことに有能である　from 17、12)
- 正義の人は一種の盗人である(ソクラテス<a class="s">(*3)<span class="s-balloon" id="popup_tyuu3"></span></a>)

「正義の人は、お金を盗むことに有能である」から「一種の盗人」になるのは、明らかに言い過ぎだが＠＠。


###  正義の定義3(line 10)を再度検証
20. 友とは’善い人間であると思われている者’か、もしくは’実際に善い者’かのどちらかである(ソクラテス)
- 人は相手を善い人間だと思う場合に、その人間を友として愛し、悪い人間だと思う場合に、敵として憎む(ポレマルコス)
- (人間は判断を誤るため)善い人間だと思った人間が悪い人間であり、悪い人間だと思った人間が善い人間である場合がある(ソクラテス)
- 人は時に悪い人間を友とし、善い人間を敵とする(from 20、21)
- (判断を誤った人にとって)悪い人間に利益を、善い人間に害悪を与えるのが正義である。(from  10、23)
- 善い人間とは正しい人間であり、不正を働かないような人間のこと(ソクラテス、善人の定義)
- 不正を働かないような人間に害悪を与えるのが正義(from 24、25)
 

 この結論にポレマルコスは難色を示し、正義を再定義する。　


27. <font class="red">不正な人間を害し、正しい人間を益することが正義(正義の定義4、ポレマルコス)</font>
 

 しかし、この場合でも、人間が判断を誤る限り、上記と同じような結論になってしまうため、ポレマルコスは友の規定(line 20)を“友とは善いと 思われ、しかも実際に善い者である”と変更する。

 
28. 友は善いと者と思われ、しかも実際に善い者である(ポレマルコス)
- 善い人間だと思われて入るけど実際は悪い人間は、友と思われているだけで、本当の友ではない。逆もしかり。(ポレマルコス)
- 本当の友となるのは必ず善い人間であり、本当の敵になるのは必ず悪い人間である(from 28、29)
- 正義とは、善き人間であるところの友に対しては善くしてやり、悪しき人間であるところの敵に対しては害を与えること(from 27、30)
 

 次に、ソクラテスは正しい人間は害を与えるか否かというところに論点を移す。


32. 正しい人間でも、人(敵、悪い人間)を害するということがある(from 10)
- 人間は害されると、人間としての善さ(徳)に関して悪くなる(馬は害されると馬の善さは悪くなる)(ソクラテス<a class="s">(*4)<span class="s-balloon" id="popup_tyuu4"></span></a>)
- 正義とは人間の善さ(徳)のひとつである(ソクラテス<a class="s">(*5)<span class="s-balloon" id="popup_tyuu5"></span></a>)
- 人間は害されると不正な人間となる(from 33、34)
- 正しい人間でも、人を不正な人間とすることがある(from 32、35)
 
- ある対象の性質を変化させるには、その対象の反対の性質をもつ対象が必要であり、同じ性質のものでは変化させることができない。(ソクラテス)(例、熱いものを冷ますのは熱いものではなく、反対の冷たいもの)
- 正しい人は正しいという性質をもつ人のことであり、反対の性質は不正である(推測)
- 正しいという性質を持つ人は、他の正しいという性質を持つ人を変えることはできない(from 37、38)
- 正しい人を不正な人にするのは、反対の不正な性質をもつ人が変化させたからである(from 37、38)
- 正しい人は、人を不正な人にすることはできない。(また、不正な人が正しい人を不正な人にする)(<a class="s">(*6)<span class="s-balloon" id="popup_tyuu6"></span></a>)(from 39、40))
- 正しい人間は、人を害さない(from 35、41)(32の否定。それに伴い定義4の否定)


---

## 注
<ul class="comments">	
<!-- <li><span id="tyuu1">\*1
ケパロスの回想のシーンは印象深いので、引用を残しておく(この引用は確かトルストイの『人生論』のなかでも紹介されてたと思うが、うろおぼえ)。
<blockquote >
(ある男)「どうですか、ソポクレス、愛欲の楽しみのほうは？あなたはまだ女と交わることができますか？」
(ソポクレス)「よしたまえ、君。私はそれから逃れ去ったことを、無常の歓びとしているのだ。例えてみれば、狂暴で猛々しいひとりの暴君の手から、やっと逃げおおせたようなもの」
(ケパロス)「私はそのとき、このソポクレスの答えを名言だと思ったが、今でそう思う気持ちに変わりはない。まったくのところ、老年になると、その種の情念から開放されて、平和と自由がたっぷり与えられることになるからね、さまざまの欲望が緊張を止めて、ひとたびその力を緩めたときに起こるのは、まさしくソポクレスの言ったとおり、非常に数多くの気違いじみた暴君たちの手から、すっかり開放されるということに他ならない。」
</blockquote>
</span></li> -->

<li><span id="tyuu1">\*1
ポレマルコスは正義とは「お金の管理」に関することと言及しているのに、なぜソクラテスは他に盾の管理や、鎌の管理の例を出し「さまざまなものの管理」と論理的に飛躍したのかだろうか。
</span></li>
<li><span id="tyuu3">\*3</span></li>
<li><span id="tyuu4">\*4
更正という目的のことは、考えにふくまれていないのだろうか？
</span></li>
<li><span id="tyuu5">\*5
上記に、正義とは技術(techne)であるといっておきながら、ここで正義とは徳(arete)の一種であると言い換えた(?)のはなぜか？
</span></li>
<li><span id="tyuu6">\*6
善き人が善き人に害悪を与えることはない。果たしてそうだろうか。プラトンは倫理客観主義者であるため万人において共通する善があると信じていた(善のイデア)。そういった意味では、まったく同じ性質を持つ同士は害悪にならないという意見も分からなくもない。しかし、倫理主観主義などの立場に立つと、画一的な善な存在せず、同じ善い人でもひとそれぞれの善の形が異なるため、お互いに影響しあうのではないだろうか？
</span></li>
</ul>


---

## 参考文献
- {{reference.greek12}}
- {{reference.greek13}}

<!-- - プラトン (著), 藤沢 令夫 (翻訳)、国家〈上〉、岩波文庫、1979年 -->
<!-- - プラトン (著), 藤沢 令夫 (翻訳)、国家〈下〉、岩波文庫、1979年 -->


<!--  -->

<div align="right">
    First post &nbsp; 2008/09/12<br>Last updated&nbsp; 2008/09/16
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}