{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>

# アリストテレスの論理学

## 論理学
アリストテレスは知の探究の方法を非常に丹念に考察した人物である。そしてその結果、彼は歴史上初となる形式論理学を創始した。彼の論理学は今では三段論法(syllogismos)と呼ばれるものである。それは複数の前提から、新しい命題である結論を引き出すものである。アリストテレスの論理学での命題は4通りある。

- A(affirmo)：すべてのSはPである。全称肯定命題
- E(affirmo)：すべてのSはPでない。全称否定命題
- I(nego)：あるSはPである。　　特称肯定命題
- O(nego)：あるSはPでない。　　特称否定命題

彼の論理学が形式論理学であると言われるは、その論理学の中で推論の正しさが文の意味とは独立に決められるということである。例えば：

例１

1. すべての哺乳類は母親の乳を飲む
2. 猫は哺乳類である
3. よって、猫は母親の乳を飲む


例２

1. すべての魚は火を噴く
2. カラスは魚である
3. よって、カラスは火を噴く


例３

1. すべての人間は動物である
2. すべての人間は哺乳類である
3. よって、すべての哺乳類は動物である

例１は正しく例２は文の意味を考えると経験的に正しくないように感じられる。
しかし、最初二つは、三段論法(syllogism)と呼ばれる正しい推論である。
このように、正しい推論手順を形式化することによって、正しい推論を経験的な判定から分けることが可能になった。
これによって、例えば、例３は一つ一つの命題が経験的に正しいため、結論も正しいかに見えるが、実際は論理的な仮定を経ていない誤った推論である。このように、正しい推論の手順を形式化することによって、当時ソフィストによってはびこっていた詭弁を論理的に検証できるようになったのである。

## 論理学のその後
このアリストテレスの論理学は史上初のものとしては、驚くべき整合性を持ち後世に多大な影響を与えた。
それは、この論理が、19世紀にフレーゲの述語論理により論理学に革命が起こるまで、唯一の論理学だと思われてきたほどである(論理研究が全くなかったわけではなく、ストア派による命題論理研究、中世における研究、ライプニッツやブールの研究などがあるが、フレーゲまで本格的な変革には至らなかった)。


---


## 参考文献
1. {{reference.greek17}}
- {{reference.greek24}}
- {{reference.hist3}}

<!--  -->

<div align="right">
    First post &nbsp; 2008|10|01<br>Last updated&nbsp; 2011|03|01
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}