{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>

# アリストテレス「二コマコス倫理学」＃１

## 最高善（to ariston）
人間である我々のあらゆる活動（energeia）は何らかの目的（telos）を持っている。そしてその目的はそれぞれの善（agathon）である。いかなる技術（techne）いかなる研究（methodos）もまたそれぞれの善を求めている。例えば、医術は人々の健康を目的としているし、馬具は騎馬という目的を持つ。またアリストテレスによると、善には上下関係、もしくは棟梁的（architektonilos）と従属的な善が存在する。棟梁的な善はより善くより包括的で、従属的な営みはより少なく望まれるのである。例えば馬具が騎馬を目的とし騎馬は軍事に属し軍事は統帥に従属する。すなわち善はより包括的な善に従属する。また、これらの技術の目的でありこの善の連鎖をさかのぼっていけば、あらゆる善を内包する最高善（to ariston）が見えてくる。人間が目指す究極的（teleios）な目的はまさにこの最高善である。

### 人間というものの善（ to anthropinon agathon）
では人間の究極の目的とは何か。アリストテレスは、それぞれの職業における知識や技能がなんらかの機能（ergon）を有しているのであるのだから「人間」の機能があるはずであるという。またこの固有の機能を最大限に発揮することが目的であるという。「生きる（zen）」という機能はあらゆる生物が有しているし、感覚的な機能もまたあらゆる動物は有している。では人間固有の特性（arete）はなんだろうか。それは魂（psyche）の理性を有する部分の働きである（ト・ロゴン・エコン）。それこそが人間固有のアレテーである。またアリストテレスは幸福とは究極的な魂のアレテーに即しての活動であるとする。しかるに、人間が求めるところの幸福とは人間的な幸福であり、人間的な魂の活動なのである。このように人間は「人間というものの善（ to anthropinon agathon）」を求める。またこの「人間というものの善」もしくは「個々のすべての善を総括する全体的究極的な善」を直接目的とする技術もしくは職業に政治（politike）を挙げる。

###  エウダイモニア（eudaimonia）
では、最高善である「人間というものの善」とは具体的にはどのようなものか。アリストテレスはそれに「エウダイモニア（eudaimonia, eudaemon）＝善く生きること（to eu zen）、善くやっている（eupraxia）、善くある（eu prattein）」を据える。エウダイモニアはしばし「幸福」と訳されるが、「善く生きる」と訳すのが妥当である[11]。人はそれぞれ異なった幸福のあり方を示す（例えば、快楽（hedone）、名誉（time）、困窮の時には富、病気の時には健康など）。また、プラトンのような一部の智者は根源的な端初（arche）を探求するが、アリストテレスの倫理学は先に挙げたような個々の異なった幸福のように実際に行われている倫理・規範的認識からはじめる。アリストテレスはプラトンの「国家」おける三つの善の区分（商人、戦士、哲学者）をベースに三つ幸福の形を挙げる。

1. 享楽的生活（bios apolanotikos）：快楽、獣的で低俗な幸福
2. 政治的生活（bios politikos）：名誉、他者を介して得られる幸福
3. 観想的生活（bios theoretikos）：観想よって得られる幸福

アリストテレスは１の幸福は快楽の奴隷となるため低い評価を与える。２の名誉による幸福は、他者に認められることによって自らがアレテーを備えた優れた人間であるということを確認し幸福を感じるのである。しかし、２の目的はアレテーにあるのだが、アレテーを有していながら病気になったり、困窮といった不幸に陥る場合も考えられるため、それは最高善には程遠いとする。善とはもっと自らのうちにあり取り外すことのできないものであるという。3の観想的生活は最後に語られる。

## アレテー（arete、徳性・卓越性）
幸福とはアレテーに即した魂の活動である。そこで次にアリストテレスは、アレテーを考察する。理性をよく働かせることによって成り立つ人間の徳areteとして倫理的徳と知性的徳をあげる。

### 倫理的徳（athike arete）
徳とは情念（pathos）、能力（dunamis）、状態（hexis）のいずれかであり、アリストテレスによると倫理的徳は状態また倫理的性状（ethos・ηθο?）に属するものである。つまり、苦労して勇敢になる人よりも、何の苦もなく勇敢な人といった勇敢の状態にいる人のほうが好ましく優れてるからである。そして、知性的徳は学習によって得られるのに対し、倫理的徳は技術（techne）の習得のように反復もしくは習慣（ethos・εθο?）によって得られる。つまり琴の弾き方を反復して習得し琴弾きとなるように徳である勇気を習慣的に心づけることによって勇気ある人（勇敢という徳の状態にある人）となる。

<span class="para">中庸の徳</span> 
倫理的徳とは、常により多く（to pleion）なく、またより少なく（to elatton）ない均等（to ison）の状態に置くことであるという。例えば、過食や絶食が身を滅ぼし破滅を招くように、偏った不均等（to anison）な状態に身を任せることは悪徳（kakia）であり、それを抑えた中（to mesos）の状態は徳（arete）である。これが有名なアリストテレスの中庸（mesotes）の徳である。

<span class="para">意図する行為と意図しない行為（ekousios, akousious）</span> 
アリストテレスは次に意図する行為（ekousious）に対しては賞賛や非難が浴びせられるが、意図しない・意図に反する行為（akousious）に対しては許容と憐憫がふさわしいという。例えば、家族の命を握っている暴君になにか不名誉なことを命じられそれをせざるを得ない場合や、嵐の日に船の沈没を防ぐために荷物を投げ捨てるなどの行為などを挙げる。次に行為を行った者がその行為に関し無知（adnoia）だった場合の責任を考察する。これらは法律などの理論に大きな影響を与えた。

<span class="para">選択（proairesis）</span> 
人間には三つの行動要因があるという：理性的願望(boulesis)、憤激（thumos）、欲望（orexis）。選択は欲望と気概とは相反し理性を使ってなされるものであり、自らの願望や欲求といった目的を満たすことを対象とする。アリストテレスは選択を「思量（bouleuesthai）のすえ意図すること」と定義する。しかし選択は理性的願望とまったく同一ということではなく、我々の力の範囲内において可能な事柄（タ・エピ・ヘーミン）に限られる。例えば、空を飛ぶという人間には不可能なことを理性的に望むことはできるが、それを選択することは狂人である。

<span class="para">優れた性格</span> 
倫理的徳は中庸にあるとするアリストテレスの考えは、中庸がある意味で均等でもあることから、人間の優れた性格を構成する徳の解明に適応される。それらは勇敢（andreia）、節制（sophrosune）、正義（dikaiosyne）、寛厚（eleutheriotes）、吟持（megalopsuchia）、温和（praotes）などである。例えば勇敢は平然と恐怖の中間であり、節制は人間の飲・食・性といった肉体的快楽（他には知的快楽がある）に関わるもので放埓（akolasia）と無感覚の中間である。しかし、正義は中庸の理論で説明するのは難しい概念であり、また広義的な意味での正義は完全な徳（teleia arete）と同義になるため、ここでは徳の一つとして分配と矯正に関する狭義な正義を語る。それは共同体における人間同士のかかわりを規定する徳であり、例えば、一人が多くの富を享受することは過多であり不均等であるかたらして正義に反するといったものである。

###  知性的徳（dianoetike arete）
アリストテレスはもうひとつの徳の分野は知性的徳という。知性的徳は、知性が獲得する徳であり、これにより知性は真理の認識をより確実なものとする。まず知性的徳を理論的知性と実践的知性にわける。双方、真理を求めるのだが、一方である理論的知性の対象は純粋な真理・普遍的（to katholou）な事実であり、演繹的手法によって探求される。また理論的知性において、基本命題（arche）から論証（apodeixis）によって我々を普遍的知識の理解・思念（upolepsis）に導く「学（episteme）」と、その基本命題を直感的に理解する能力である「直知（nous）」、また最高の存在を考察する最高の知として学と直知の要素を併せ持った「知恵（sophia）」が獲得される。もう一方である実践的知性は人間の行為に関する実践的な真理を探究し、可変的な存在を対象とする分野であり、そこでは物の製作（poiesis）のための「技術（techne）」と、人間の倫理的行為の領域にかんする実践知である「知慮／思慮分別（phronesis）」が身につけられるのである。

<span class="para">思慮ある人（phronimos）</span> 
プラトンの「メノン」においてソクラテスは「徳は知（phronesis）である」と規定する。つまるところプラトンは知と徳を同一視しているのだが、アリストテレスによると、あらゆる知性はそれ自体ではなんの変化ももたらさない。しかし、それが思慮分別によって正しく使用されることによって人間を優れた性格、つまり思慮ある人（phronimos）へと導くのである。アリストテレスにとって正義や勇敢などの倫理的徳は、それらだけで善いものではなく、思慮分別によって正しい働きを伴う性向が徳なのである。そして、この思慮分別によって我々は中庸の性向を見出し、それによって倫理的徳が成立するのである。 


---

## 参考文献
- {{reference.greek3_1}}
- {{reference.greek3_2}}
- {{reference.greek4}}

<!-- [11] アームソン -->
<!--  -->

<div align="right">
    First post &nbsp; 2008/09/07<br>Last updated&nbsp; 2011/01/24
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}