{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> 
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a>  -->
</h5>

# アリストテレス「二コマコス倫理学」＃２
## 無抑制・意志の弱さ(akrasia)
ニコマコス倫理学の第七巻において、先に見た、優れた性格と優れた知性に加え、抑制(enkrateia)と英雄性(eroikos)、またそれら対応する悪しき状態として無抑制(akrasia)と獣性(theriotes)を挙げる。そしてこの抑制・無抑制の観念が難解な問題に発展する。その問題はまず「我々のすべての行動は自らの幸福を目的としている」という倫理における基本命題が関係する。ソクラテスはここから逆説的に「誰も故意に間違いを犯さない」と提言する。しかし、アリストテレスは「人間は常に自らの利益になると知っている行為を選ぶ」と「人間は時に自らの利益にならないと知っている行為を選ぶ」といった一見矛盾する命題を抑制と無抑制の概念を用いて解決しようとする。アリストテレスは「人は完全な認識(episteme)を持っていたら過ちを犯さない」という点はソクラテスに同意する。しかし、過ちを犯す無抑制な人間の知識をソクラテスは臆見(doxa)であるといういうが、アリストテレスは無抑制(意志の弱さ)は、「選択」の項目で見た理性的願望と欲望の間での葛藤によって引き起こるものであるという。また意志の弱い人間が正しい知識をもちながら過ちを犯す場合は、酔っ払いが哲学詩を歌うとき自らがその詩の意味が分かっていないように、欲望に酔う人間もまた自らの知識の意味が分かっていないのである。

- 快楽(hedone)
アリストテレスは快楽それ自体が悪とは言わず、過度の快楽つまり放埓(akolasia)が悪である言う。しかし快楽とはそもそもどのようなものなのか。飢えと渇きなどの苦痛の原因は何かが(この場合水と食べ物が)不足しているからであり、快楽とはその不足の回復過程であるという考えが哲学的見地の基礎として当時あった。つまり、一般的に快楽はそれ自体が目的である活動(energeia)とされるが、アリストテレスはそれは過程(ゲネシス)であると主張する。また、彼は肉体的な快楽に対し、観想の快楽を提示する。つまり、観想・知的快楽は不足の充足を目的とするのではなく、むしろ健康で満ち足りたときに衝動を感じる。このように快楽は肉体の回復であるという考えを観想でもって否定する。

### 親愛(philia)
次にアリストテレスは人間同士の愛である親愛もしくは友愛(philia)が語られる。親愛を三通りに区別する：(１)有益な愛、(２)快楽のための愛、(３)究極的な愛。
- 有益な愛は相手が自分にとって有益で快適であるがゆえに相手を愛する愛である。この愛は快楽よりも実利を求める老人の間に多い。
- 快楽のための愛は情念にしたがって生きる未熟な若者の間に多い。
- 究極的な愛はお互いのアレテーが類似し、また優れた人々の間における愛であり、お互いに相手の善を願う人々の間における愛である。

上記の関係はどれも均等と中庸の上に成り立っているが、それに加えて、親と子、夫と妻、王と民などの支配者と被支配者といった不均等な関係も存在する。アリストテレスのこういった関係に対して、被支配者は支配者を自分が愛される以上に愛するべきだと不平等な意見を提示する。

- 政治(politike)
アリストテレスは人間を理性的動物と規定するが、それと同時に社会的(ポリス的)動物(zoon politikon)とも規定する。ギリシャの人々は小規模な共同体であるポリスに属しており、密接に結びついていた。そのため彼らはポリスもしくは社会という善悪を規定する存在に属し、また属する以上それに従わなければならなかった。そして、アリストテレスは上記の人間関係を政治形態に結び付けて考える。アリストテレスは三つの理想的な政治形態とそれに対応する三つの堕落した政治形態を提示すし、またそれぞれに対応する人間関係を示す。

|理想的な政治形態|堕落した政治形態|対応する人間関係|
|:--|:--|:--|
|君主制 (basileia)|僭主制 (turannis) |親と子|
|貴族制 (aristokratia)|寡頭制 (oligarchia)| 夫と妻|
|制限民主制 (timokratia)|共和制 (politeia)・民主制 (demokratia)| 兄弟|
 
 
(１)はともに単独支配制(monarchia)である

政治における親愛(ポリス的親愛(politike philia)＝協和(homonoia))の存在意義は、法(nomos)と正義だけでは、調和した社会に導けないところにある。つまり、協和によって、各人が他者に対し社会が規定すること以上のものをすることが可能であり、それこそが善い国家なのである。そして、その協和を構築する家族や個人は、善き社会の前提条件であるが、同時に、家族および個人の目的である「善き生(eu zen)」は自足的(autarkeia)な社会形態である国家においてのみ可能なのであり、この意味で国家と家族と個人とは互いに依存し共に生き(syzen)ているのである。

### 観想的な生活(bios theoretikos)
エウダイモニアとは徳に即しての活動であった。そして、究極目的であるエウダイモニアに関する徳となるとそれもまた、最高の徳でなければならない。アリストテレスによると最高の徳とは、我々の知性の神的なものに対する想念(ennoia)である。知性は、世界の秩序に向かってその原理が何であるかと問うことを通じて、完全なる物、つまり神を発見する。神を観想することは最高の幸福、つまり最高に完全な存在への分有であるばかりではなく、富や名誉といった外的なさまざまの善をいかなる仕方で選択し、所有すべきかということに関する基準にもなると述べているのである。そして、この最高の能力(哲学的観想)を常に働かせる観想的な生活こそが人間の存在の最高の完成でありエウダイモニアである。



---

## 参考文献
- {{reference.greek3_1}}
- {{reference.greek3_2}}
- {{reference.greek4}}
<!--  -->

<div align="right">
    First post &nbsp; 2008/09/07<br>Last updated&nbsp; 2011/01/24
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<!-- <a href="{{next_page}}"> 次へ &gt;&gt;</a> │  -->
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}