{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>


# 古代哲学史#2 自然から人間へ(ソフィストとソクラテス) <a class="s" style="font-size:15px">(\*1)<span class="s-balloon" id="popup_tyuu1"><|span><|a>


## 1 B.C.450 アテナイの哲学(人間のあり方へ)
`ペルシャ戦争(前499-前449)`の後、アテナイは民主制のもとに発展し、文化や知の中心になった。
そして、前時代の哲学における哲学の主題は主に世界の在り方であったが、この時代から哲学の対象が社会規範や政治に関する問いに、つまり「自然」から「人間」に移行していった。

## 2 ソフィスト
アテナイでは民主制が発展するに従い、多種多様な人々を説得する知識や弁論術が重要になった。 そして、それに応じて、ギリシャの植民地より、知識や`徳|卓越性([希]arete)`なるものを有していると自称し、金銭と引き替えにそれを教える者が多く訪れた。彼らを`ソフィスト|ソピステース([希]sophistes、智者)`と呼んだ。

彼らが教える弁論術は、議論の場で相手を打ち負かすテクニックであるが、それには強弁や詭弁の方法を多く含んでいた。
そして、あらゆる見解の正しさは議論のテクニックにより可変であるとソフィスト達は考えるようになった。
さらに、世界を旅し多くの習慣や文化に触れていたソフィスト達の多くは、社会規範による善や道徳は文化に相対的であり、この唯一性に懐疑的であったと推察できる(ノモスの可変性)。

このような背景から彼らは`ピュシス([希]pysis、自然)`よりも`ノモス([希]nomos、習慣、法律)`に関心を寄せた。そして、彼らの相対的・懐疑的なものの見かたはノモスに留まらず、人間の認識にまで及び前時代的な人間理性によるピュシスの理解には限界があると考えた(ピュシスの不可知性)。
そして、また、この彼らの懐疑論的相対主義は、当時の人々の宗教への信仰を解体する一因にもなっていった。ソフィスト達がピュシスからノモスに関心を向け哲学を新しい段階へと導いた点は評価できる。
しかし、評判のために単に詭弁を弄す者も多かったため、後にソフィスト=詭弁家を意味するようになった。
名の知られたソフィストは以下である。
- `プロディコス(Prodicus of Ceos, 前465年頃-前415年)`
- `ヒッピアス(Hippias of Elis, 前5世紀頃)`
- `トラシュマコス(Thrasymachus, 前430-400年頃)`
- `アンティポン(Antiphôn)`
- `イソクラテス(Isocrates, 前436年-前338年)`
- `アルキダマス(Alkidámas, 前4世紀早期)`
- `プロタゴラス(詳細下記)`
- `ゴルギアス(詳細下記)`

プロタゴラスとゴルギアスはプラトンの対話篇のタイトルにもなっており、また、トラシュマコスはプラトンの『国家』で登場することで有名である。

### プロタゴラス(Protagoras, 前 490 年頃 - 前 420 年頃)
プロタゴラスによると、ある主張はそれの否定も肯定も可能であり、そのため真偽の判定は不可
能である。このような見解により、`人間はあらゆるものの尺度である([希]panton chrematon metron
anthropon einai)`(プラトン『テアイテトス』152a)と相対主義的な主張をした。また、これには善 悪は後天的で可変であり人間本性(ピュシス)は利己的で凶悪であるという考えを含んでいる <a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"><|span><|a>。

### ゴルギアス(Gorgias, 前 487 年-前 376 年)
ゴルギアスは「弱論を強弁する」ことを教えた弁論術の教師である。彼もまた論拠が弱い主張であっても、弁論術によってそれを説得的なものに変えられるとした。そして、この考えは弁論術で 主張の正しさが変化するという相対主義に繋がっている。さらにまた、彼は「何ものも存在しない。あるとしても、人間には認識できないだろうし、認識できたとしても伝えられないだろう」と懐疑論的な主張をしている。

--- 

## 3 反ソフィスト

### ソクラテス(Sokrates, 前 470-前 399)
ソクラテスは今日までの哲学に多大な影響を及ぼした人物であるが、彼自身は対話を重視し書物を記さなかったため、今日のソクラテス像は弟子の`プラトン`の対話篇と`クセノポン(Xenophon, 前430年頃-前354年頃)`の報告書から主に推測されたものである <a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"><|span><|a>。ソクラテスは、ソフィストが言うように規範や価値は相対的なのか、徳は教えることができるのか、真実と臆見は区別できるのかと いった(ソフィスト達と同様に)倫理的な問題を扱い、そして、相対主義を乗り越えこれらに答えを もたらす普遍主義を追求した。

<span class="para">対話術<|span>
ソクラテスの原点はデルポイ神殿の銘「汝自身を知れ」であり、また、自らの無知を自覚する「無 知の知」であった。つまり、彼はソフィスト(智者)ではなく、フィロソフォス(愛智者、哲学者)であった。そして、彼の哲学的活動の核心はこの対話にあり、そして、彼が重視したのは相手を言い負かすための弁論術ではなく対話者に自ら無知をさらけ出させる「対話術」にあった。彼の対話術 は、対話者の無知を曝け出す術(エレンコス)と相手に真実を認識させる術(産婆術)に分けることが できる。

まず、ソクラテスは(プラトンの対話篇において)常に「Xとは何か」とXを知ってると自称する対話者に問う。Xには徳、勇気、正義など日常生活で当たり前のように使用されるが意味が抽象的な単語が当てはまり、彼はこの Xが持つ意味の明確化、明示的定義を対話者に要求する。そして、対話者がXに対してある定義を与えた場合、これから矛盾や許容できない命題を導き、この定義の 不備を指摘する。その結果、彼は対話者をアポリア(行き詰まり)に陥らせ、彼が X の知識を持って いなかったと暴露する。この対話手法は`ソクラテス的おとぼけ([希]eironeia, [英]ironyの語源)`、または`ソクラテス的論駁法([希]elenchos)`と呼ばれる <a class="s">(\*4)<span class="s-balloon" id="popup_tyuu4"><|span><|a>。

他方、ソクラテスの対話術は相手の論駁だけで終わらず、抽象的な普遍的概念の抽出という積極的側面を持つ。それは`産婆術([希]maieutikós, [英]maieutics)`と呼ばれ、相手と対話することで相手の理性を呼び覚まし、それまで知っていたと信じていたことから真の知としての概念的知識に向かわせる。彼は自らを`相手の眠りを覚ます虻である`という。つまり`臆見([希]doxa)`から`知識([希]episteme)`への目覚めを促すのである。

<span class="para">通念の批判<|span>
この対話術によってソクラテスが意図することは、彼が生きた時代にはまだあらゆる抽象的、概 念的な言葉の意味が曖昧で、はっきりと定義されずノモスに沿ったままで一般に根付いてい たので、彼はそれらの定義や本質を明確にしようと試みたと言えよう。さらに、彼は善悪の区別は 可変的な社会や政治に規定されるのではないと考え、すべての時間、場所に通じる普遍的な善悪の 概念を探求した。そして、その普遍の認識は心の内に聞こえる`ダイモーン([希]daimon、神霊、守護霊)`<a class="s">(\*5)<span class="s-balloon" id="popup_tyuu5"><|span><|a>。 の声が導くといっている。この彼の立場は倫理客観主義であり、倫理相対主義を採るプロタゴラス のようなソフィストに対抗する立場である。

<span class="para">ソクラテスの最後<|span>
ソクラテスの哲学的活動の中で、攻撃対象・探求対象となったのはギリシャ文化の習慣であり、そ れを最も内包する政治であった。そして、例の対話術で何かと目立つ存在で、アテナイの知識階級 にとって目の上のタンコブであったソクラテスはソフィストの長と認定され、紀元前 399 年「若者 を堕落させ、神々を認めない」という罪で死刑を宣告された <a class="s">(\*6)<span class="s-balloon" id="popup_tyuu6"><|span><|a>。友人は彼に国外逃亡を薦めたが、ソ クラテスは、国家と市民を親と子に例え市民は、「例え悪法であっても国家の法に従うべきである」 という自らの思想を貫徹するため毒杯(トリカブト)を仰いだ <a class="s">(\*7)<span class="s-balloon" id="popup_tyuu7"><|span><|a>。

--- 

## 4 小ソクラテス学派
 ソクラテスに共鳴しそれぞれの方向に展開させた人たちがいた。しかし、プラトン以外の者たち
はソクラテスを学問的・体系的に発展させたというよりも、彼の生き方としての実践をそれぞれ受
け継いだ。

### キュニコス派([英]Cynicism、犬儒派)
生活の周りには不必要なものが多すぎといったソクラテスの思想が弟子の`アンティステネス(Antisthenes, 前444年 -前365年)`の原点となりキュニコス派は始まった。彼らによると、真の幸福とは外面的で 偶然な儚いもの(物質、権力、健康、など)に影響されるものではなく、完全な自足によって誰もが 到達でき失うことのないものである。このことから、彼らは徳の理想は無欲であるとし極端に質素 な生活を目標とした。

アンティステネスの弟子の`シノペのディオゲネス(Diogenes, 前400|390-前328|323`)は自らを `世界市民(cosmopolites)`と称し、樽の中で住んでいたため樽の賢者と呼ばれた。
ディオゲネスの 有名な逸話によると、彼が日向ぼっこをしているところにアレクサンドロス大王が訪れてきて「何 か望みはありませんか、直ぐに叶えてさしあげましょう」といったところ、樽の賢者は「そこをど いて下さい、あなたが日陰になっている」と答えた。
これにより強大な征服者より満ち足りた生活をおくっていること示した。
しかしこの立場は自己の完成に終始したため、学問的な向上心を放棄する消極的なものであった。ストア派へ

### キュレネ派([英]Kyrenaics)
キュレネ([希]Kyrēnē))は地名。
この学派は快楽主義を幸福とする立場で、後のエピクロス派とは異なり、文字通りの肉体的・感覚的 な快楽(hedone)を追求する集団であった。創始者の`アリスティッポス(Aristippos, 前435年頃-前355年頃)`は授業料を取り、 娼婦と住み、僭主と交際した。彼が求めたのは肉体的、瞬間的な快楽であって、彼をソクラテス学 徒と呼ぶのはふさわしくないようにも思えるが、これはソクラテスの徳の哲学が体系的に完成され ていなかったため、ひとつの解釈として成立したのである(キュニコス派の消極的で極端な解釈も同様)。エピクロス派へ

### メガラ派([英]Megarian school)
メガラ([希]Mégare)は地名。
先の二つのがソクラテスの倫理的側面に着目したのに対し、メガラ派の祖である`エウクレイデス(Eukleides, 前4世紀頃)`は、ソクラテスの弁論術に着目した。さらに弟子の`エウブリデス(Euboulides, 前4世紀頃)`は`嘘つきのパラドックス`や`砂山のパラドックス`など現在でも非古典論理学の分野で議論されて いる重要な逆説を定式化し、さらに命題論理や様相概念などの原始的な研究も行っていた。この学 派は、このような論理的に重要な成果を残しているが、ソクラテスの対話術の`論駁法([希]elenchos)`に のみ重点を置いた。
しかし、ソクラテスの対話術は相手の無知を暴くだけでなく、そこから真実を覚醒させるという 積極的な側面も持つのであり、そのため、ソクラテス哲学の真意は受け継がれていない。ストア派、 懐疑論派へ。

--- 

## 5 プラトンへ
ソクラテスの思想を継承し発展させた人物で最も有名なのはプラトンであり、唯一彼が、真実への覚醒というソクラテス哲学を汲み取り、これを土台とした哲学体系の構築に成功した。ソフィストからプラトンまでの流れをまとめると次のようになろう:

- 民主主義の発展とソフィスト達が哲学の対象をピュシスからノモスに移した。しかし、彼らが 言う議論には万人が共有する知識の基盤がなく、相対主義に陥った。
- この相対主義を克服するために、ソクラテスは知識の土台を探求。それは、彼特有の対話術に よって、言葉が持つ抽象的・普遍的概念の抽出によって行われた。
- プラトンは、ソクラテスが抽出した言葉の概念をイデアという客観的対象に昇華させた。これ により、善や価値といったそれまでは相対的とされた概念に客観的な基準をもたらした <a class="s">(\*8)<span class="s-balloon" id="popup_tyuu8"><|span><|a>。

そして、この客体化された概念は、人間の認識の外部の対象である。つまり、「外的対象」および「そ れを認識する主体」という認識論の基本構造が概念に対しても適用することができるようになった のである。この構造はカントの超越論哲学で認識論の枠組みが取って代わるまで受け継がれた。


---


## 注
<ul class="comments">
<li><span id="tyuu1">\*1. 本稿は、2013 年に東北大学文学研究室の院生およびOBで行われた古代哲学の勉強会のレジェメである。
	<!-- 公開を許可してくれた参加者一同に感謝する。 -->
<|span><|li>

<li><span id="tyuu2">\*2. プラトンの『プロタゴラス』(320c-322d)の一つの解釈による。これはホッブズ的な人間観に見える。また、ノモスと ピュシス(自然状態)の区別は`ルソー`の`社会契約説に影響`を与えた [?, p286]。<|span><|li>

<li><span id="tyuu3">\*3.  クセノポンの記録は記述的なため彼が描写するソクラテスのほうが現実に近いと考えられる。
プラトンの対話篇は芸術的、劇的手法、現実の`ミメーシス([希]mimēsis、模倣)`で構成されているため良くも悪くもフィクションの要素を含み現実を正確に記録したものではない。
この二つに加えて、喜劇作家`アリストパネス(Aristophanēs, 前446年頃-前385年頃)`がソクラテスをソフィストの長として描いた戯曲『雲』が残っている。<|span><|li>

<li><span id="tyuu4">\*4. ソクラテスは、「X とは何か」という質問に対し、「X の個別の例」を答えとして認めず、「X の本質」を回答として要求す る。これはつまり、「X の明示的定義(形式的定義)」を要求していることである。しかし、X に明示的定義を与えられないか らといって X を使用できない、ということにはならない。`ギーチ(Peter Thomas Geach, 1916-2013)`によると、彼は「形式的定義が名辞を解明するため の唯一の手段である」、とする誤謬を犯している。彼はこれを`ソクラテス的誤謬([英]Socratic fallacy)`と呼んだ [17, p264]。<|span><|li>

<li><span id="tyuu5">\*5. これは、キリスト教では異教の神にあたるためデーモン(demon)の語源になった。 <|span><|li>

<li><span id="tyuu6">\*6. 弟子の`アルキビアデス(Alkibiádēs, 前450年頃-前404年)`の戦争責任を取らされた、という現実的な原因があるとの見方もある [18, p45]。<|span><|li>

<li><span id="tyuu7">\*7.  この有名なソクラテスの死刑の場面はプラトンの『クリトン』によるが、クセノポンの報告書によると、ソクラテスは
「生を選ぶよりここで死刑を受け入れることが最も楽で、また、最も友人に迷惑をかけない」と語ったという。また、死に対 して羨望のようなものを持っていたようで厭世的なところがあったという。<|span><|li>

<li><span id="tyuu8">\*8. ソクラテスは弁論によって物事の概念を求めた。それは、真実(有るもの、自己同一のもの、普遍なもの)は個々の事物 にあるのではなく、概念にあることを意味している。そしてプラトンは、さらにその諸概念を統括する「存在」があると考 える(ソクラテスとエレア派を融合)。<|span><|li>
<|ul>


---



## 参考文献
1. {{reference.greek3}}
1. {{reference.ana31}}
1. {{reference.hist17}}
1. {{reference.hist16}}
1. {{reference.hist20}}
1. {{reference.hist15}}
1. {{reference.greek18}}
1. {{reference.greek19}}
1. {{reference.hist18}}
1. {{reference.greek28}}
1. {{reference.hist11}}
1. {{reference.hist4}}
1. {{reference.greek30}}
1. {{reference.greek31}}
1. {{reference.greek26}}
1. {{reference.hist13}}
1. {{reference.greek22}}
1. {{reference.hist3}}
1. {{reference.greek15}}
<!--  -->

<div align="right">
    First post &nbsp; 2008|11|10<br>Last updated&nbsp; 2013|09|15
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}