{% extends "layout.html" %} 
{% block content %}

<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> 
<|h5>


# 古代哲学史#3 ソクラテスの体系化と発展 (プラトン) <a class="s" style="font-size:15px">(\*1)<span class="s-balloon" id="popup_tyuu1"><|span><|a>


## プラトン (Platon, 前 427-前 347)
プラトンは師ソクラテスの思想を引き継ぎ客観的な善の存在を探求した。彼にとって人間のあり 方と世界のあり方は同一の問いだった。つまり彼にとって「善」は倫理的な問題であるだけでなく、 存在論的な真理に他ならず、善の認識こそが人間の幸福であるとしたのである。プラトンの哲学は、 認識論、存在論、自然学、倫理学、政治学、美学などに分類されるが、それらの根幹には実在する 善、つまりイデアがある。彼の哲学はソクラテスの概念的認識をエレア学派的な実在の世界として 措定することから生まれたとされる「イデア論」を根幹に持つ。そして、これに関連して「想起説」、
「魂の不滅説 (輪廻転生)」が議論される。次に、これを土台として政治や道徳などの実践的な領域 の議論がなされる。また、プラトンはアテナイに哲学の学校アカデメイア <a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"><|span><|a> を開き、そこでは哲学、 数学、体育に関する活発な会話が重んじられた。プラトンの三十五の対話篇と書簡集はここに保存 されていたため全て残っている。

---

## 1 プラトン哲学の根幹

### 想起 (anamnesis)
ソクラテスの「X とはなにか」の問い、及び、Xの明示的定義を知らねばXを使用できないとい
う考えは、「Xを知らないならそもそもXを探求することはできない」というパラドックスにぶつかる。これは『メノン』で表明され、現在では探求者のパラドックスと呼ばれる。これに対して、プラトンによれば、我々の魂はハデスの国(イデア界)であらゆること(諸イデア)を経験しているため、イデアの影を経験することでその魂が経験した真実を想起する。この感覚によるイデアの想起が普段我々が「学ぶ」と呼ぶことである(『メノン』,81c)。つまり、我々は概念的・観念的知識をアプリオリに持ち合わせており、経験や鍛錬をきっかけとしてこれらイデアを想起するというのである。

### 問答法 (dialektike)
プラトンは、『国家』や『パイドン』において、想起を促す具体的な手段、つまり、イデアを把握
する方法をソクラテスを踏襲し問答法と呼んだ。それはある確実と思われる命題を仮設的に定立しそこから演繹によって新たな命題を導くことである。そして、新たな命題を最初の命題や他の演繹された命題と照らし合わせて考察することによって最初の仮設的前提の妥当性を検証する。そして、この問答法<a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"><|span><|a>を経てどこまでも無矛盾なテーゼのみ確実な知識として残るとした(イデアの存在を前
提した知識の整合説[7, p.72])。だがこれは無矛盾なテーゼというだけで、仮設している以上真実とは言えないのではないか。プラトンは『国家』において、`無仮設の原理(anthypothetosarche)`(善のイデア)は、`魂の目(ommatespsyches)`で見ることができると言う(『国家』,511c)。仮設から無仮設の原理への跳躍は、魂の目というある種の直観によって得られる。この直観はプラトン哲学の根幹であるが解釈が分かれる点であろう。ただ、彼の哲学の根幹に幾何学があると考えるならば、この直観は幾何学や数学などの領域で得られる数学的直観を元にしていると言える<a class="s">(\*4)<span class="s-balloon" id="popup_tyuu4"><|span><|a>。そして、『メノ ン』で奴隷の子供が図形で得るこの手の直観を「想起」と呼ぶようにここでは (数学的) 直観=想起 で理解する。彼はこの直観を善や正義などの非形式的な概念に適用したものであると思われる。ま た、プラトンにとって、問答法とはこのようにイデアへ至る道であり、哲学そのものであった。

### イデア論
問答法によって想起するイデアとはそもそも何なのか。それは、シュべーグラー [4, p144] によ ると「多様なうちにおける共通なもの、個物のうちにある普遍的なもの、多の内にある一、変転常 ならぬもののうちにあって恒久不変なもの」である。言い換えれば、これは形而上学的対象であり、 プラトンにならえば文字通り「真実」(真なる実在) である。そして、感覚世界に属するすべての生物、 物質はイデア界に存在する真の各イデアの影 <a class="s">(\*5)<span class="s-balloon" id="popup_tyuu5"><|span><|a>なのである。例えば我々が感覚している馬は馬のイデアの影である。このイデア論により、パルメニデスの存在論とヘラクレイトスの万物流転論を調 和させることができる (イデアは不変だが、影は流転する)。

このような実在論は一見すると荒唐無稽に見えアリストテレスも複数の反論を提出したが <a class="s">(\*6)<span class="s-balloon" id="popup_tyuu6"><|span><|a>、この主張はいわばプラトン特有の神話 (ミュートス) による比喩的な語り方であると考えることができ る。そして、イデアはソクラテスが強調した事物の「概念」<a class="s">(\*7)<span class="s-balloon" id="popup_tyuu7"><|span><|a> を実在へと昇華させたものである。つまり、敬虔、正義、勇気などのあらゆる概念を客観的実在、ないし真実として人間の外側に措定した。これにより、あらゆる概念をコップやテーブルなどの実在の対象と同様に扱うことができる [9, p43]。つまり、実在 (客観性) とそれを認識する人間 (主観性) という認識論の基本的な二分法を倫 理的領域に適用できるのである。そして、このイデアにより、倫理の基礎付けが可能となりソフィストの相対主義を乗り越えることができるようなった <a class="s">(\*8)<span class="s-balloon" id="popup_tyuu8"><|span><|a>:

<ul>
  <li>ソフィスト: あらゆる概念は相対的な主観性の産物でありそのため善もまた相対的である。 <|li>
  <li>プラトン: 絶対的な善は人間の外部に存在し、そして、相対的な主観性はこの客観的対象を認識することができる。そのため善は共有できる。<|li>
<|ul>


さらに、このイデアにより、臆見と知識の区別が可能になる。なぜならば、『テアイテトス』に従
い知識を「正当化された真なる信念」で定義するならば、この「正当化された」という条件は、直
観によるイデア的対象の把握と理解できるからだ。つまり、たとえ真なる信念であっても直観 (想起) がなければ臆見に留まるのである。

---

## 2 自然学

### 霊魂論 (魂の三区分)
イデア論が前提としていたプラトン哲学のもう一つの根幹が魂の不滅性である。これは、ピュタゴラス教団の輪廻転生の教義に影響を受けたものとされているが、これにより想起説が成り立つ。また、プラトンの言う魂はいわばイデアと肉体の中間に位置する。つまり、魂はイデアを認識できる が、同時に肉体と密接に繋がっている (『パイドン』)。また、魂は次の 3 つの部分から成立してい るためである (『国家』)。

-  知性的部分 (logistikon)
-  欲望的部分 (epithymetikon) 
-  気概的部分 (thymoeides)

前二つは、対立関係にあり、気概は欲望的部分を抑制し、知性的部分に従わせる役割を担う中間的な媒介者である<a class="s">(\*9)<span class="s-balloon" id="popup_tyuu9"><|span><|a>。

### エロース
魂は、普段感覚的肉体と結びついているが、本来はイデア的なものであるため我々は思惟によってイデアに到達できる。プラトンは人間の知識を四つの段階に分ける。「知覚→信念→悟性→知識」(詳 細は下図の『国家』の線分の比喩より)。そして、プラトンによれば、我々の魂はイデアに対する魂 の強い欲求と羨望を持つ。彼はこの欲望を「エロース」(eros、情熱) と呼んだ (『饗宴』)。イデアに到達するには、感覚から得られる知識を超えて、抽象的・普遍的な本質へと目を向ける練習をしなけ ればならない。そして、それは数学によって鍛えられる (悟性の段階)。

<style>
 .ee{
background-color: #e6f1ff
 } 
 .bb{
background-color: #e6fff4

 }

.aaa > table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}
<|style>
<div class="aaa">
<table>
    <tr>
    <th class="ee" colspan="2" style="background-color:#cce2ff">生成・可感的なもの<|th>
    <th class="bb" colspan="2"  style="background-color:#ccffe9">存在・可知的なもの<|th>
  <|tr>
    <tr>
    <td class="ee" colspan="2" >臆見 (doxa)<|td>
    <td class="bb" colspan="2">思惟 (logos)<|td>
  <|tr>
  <tr>
    <td class="ee">影像知覚<br>(imagine・eikasia)<|td>
    <td class="ee">信念<br>(belief・pistis)<|td>
    <td class="bb">悟性<br>(thinking・dianoia)<|td>
    <td class="bb">知識<br>(knowledge・noesis)<|td>
  <|tr>
  <tr>
    <td class="ee">影像<|td>
    <td class="ee">動植物<|td>
    <td class="bb">数学・幾何学・科学<|td>
    <td class="bb">それぞれのイデア<|td>
  <|tr>

<|table>
<|div>

### 自然世界
プラトンは世界に関してはあまり言及しないが、唯一、『ティマイオス』にて世界創造の思想が語られる。それによると、`創造神デーミウルゴス (職人神)`が、混沌とした不規則な世界に、普遍的で自己同一的なイデア界の要素を混合することにより世界霊魂 (世界の秩序を与える動的原理)をつくるというものである。これは、ピュタゴラス教団から強く影響を受けているため、哲学と神話の区別が困難であるが、前時代の自然哲学が機械論的に世界を考察したのに対し、プラトンの世界観は目的論的で善のイデアがその根底にあるのが見て取れる (目的論にはアナクサゴラスの影響がある)。
 
---

## 3 倫理学

### 正義と幸福
「正義 (のイデア) とは何か」は彼の倫理学の核心であった。そして、『国家』によると、それは国 家においては「支配者、戦士、庶民」という 3 つの職業が調和することであり、魂においては「理 性、気概、欲望」という魂の 3 つの部分が調和することである 9。そして、これらの各々の部分が調 和している状態がすなわち`正義 (dikaiosyne)`であるとする。加えて、この調和がとれた状態は、善 であり幸福であるとした。それは、つまり自らを律し物質的快楽から遠ざかり自由と平安が得られ た状態である。そして、この調和が崩れた状態から、不正、不健康、そして、不幸が生じると考え た。このような調和を重んじる幸福観は、快楽重視のキュレネ派や禁欲重視のキュニコス派とは大きく異なる点である (プラトンはとくに美と学から得られる快楽は受け入れるべきであるとする)。

### 政治
イデアという客観的な善の措定により、人間の倫理や道徳の正当化が可能になった。さらに、こ のような根源的な真実の求め方は哲学教育 (問答法) によって得ることができる。そして、プラトン が言うにはこれによってイデア・真実を得た哲学者は、民衆を教育し指導する義務がある (哲人政 治)。さらにプラトンは、支配者階級の人間の財産、教育、結、職業、才能 (芸術や科学の研究) で さえ全て指導者が管理すべきであると考えた(『国家』,459cなど)。これは、しばし極端な全体主義と見られるが、あくまで理想国国家の範型し、国家のイデアとは断言していない)のイメージで実社会とは別の話であるのに注意すべきある。また、それを踏まえた上で、この理想国という思想には、私有財産の否定、妻子の共有保育制度、義務教育)、男女平等など現代社会においても興味深い示唆を含む。加えて、最晩年の『法律』では、『国家』のラディカルな哲人王という理想論に代わって、国家の頂点には法律(今で言う憲法)を据えるべきであるという法治主義を思わるり現実的な主張をしている。

### 芸術
プラトンによると、詩は`ミメーシス(模倣)`であり人々に害悪をもたらすため詩人は追放すべきである(詩人追放論。彼は恐らく、芸術(特に詩)が当時の重要な情報源で教育の要であったた、言論や表現の規制の要性を説いたのであろう。なぜなら、詩人の言葉は正当化されておらずあくまで臆見に留まる一方で、芸術の影響力は非常に大きいからである。例えば、現代のテレビ番組、映画、漫画が視聴者の思想に大きな影響(時に悪しき影響)を与えるように、当時の叙事詩もまた神々について誤った観念を与え人々を惑わすため教育上危険であると彼は考えたのであろう。では、プラトン自身が対話篇という芸術作品産みだしたのはなぜか。それは、詩のミメーシスは自然
(イデアの影)の模倣でありイデアから遠ざかるが、哲学(問答法|自らの対話篇)はイデアにいたる道だからである。このように真芸術とはイデアへ至る哲学なのである。


---
 
## 注
<ul class="comments">
  <li><span id="tyuu1">\*1. 本稿は、2013 年に東北大学文学研究室の院生およびOBで行われた古代哲学の勉強会のレジェメである。
  <!-- 公開を許可してくれた参加者一同に感謝する。 -->
<|span><|li>
  <li><span id="tyuu2">\*2. アカデメイアはギリシャの英雄神アカデモスに因んでおり、英語のacademyの語源である。 <|span><|li>
  <li><span id="tyuu3">\*3. 演繹なのに他者との問答が必要
なのは他者なしでは無知を自覚できないためイデアに到達できないからである。つまり、拘束された洞窟から出るためには外的要因つまり、他者の導きや教育が必要なのである。<|span><|li>
  <li><span id="tyuu4">\*4. ヒルベルトはこの数学的直観を形式化するためにヒルベルべログラムを提唱し、ゲーデルやゲンツェンを経て現代論 理学が構築されていった。前期フッサールによる直観への内的なアプローチも存在する。
 <|span><|li>
  <li><span id="tyuu5">\*5. イデアの影 (もしくはコピー) の説明としては、イデアの分有説と似像説 [14] がある。  <|span><|li>
  <li><span id="tyuu6">\*6.  アリストテレスによるとイデア論批判<|br>
    <div style="margin-left:20px">
      
- もし、「ソクラテスは人間である」という命題でイデアを見てみるならば、ソクラテスという主語は個物で人間という述語がイデアとなる。ということは述語がそれだけで独立して存在するということになる。<|br>
-  もし、述語が独立して存在すると考えるならば、「非人間」や「非存在」といった述語に対しても対応するイデアが存 在することになる。<|br>
-  人工物にもそれに対応するイデアが存在しなければならない。<|br>
-  もし、個物としての人間と、イデアとしての人間が存在するならば、さらに、その間にも類縁関係が存在することに
なり「第三の人間」が存在しなければならなくなる。よって、無限のイデアが存在すると想定しなければならなくな
る (第三の人間の議論).<|br>
-  イデアが述語だとすると、一人の人間に無数のイデアが想定されることになる「人間」、「動物」、「二足」など。<|br>
-  プラトンはイデアと個物の関係を語っていない。<|div> <|span><|li>
  <li><span id="tyuu7">\*7. ソクラテスは対話者に言葉の定義を求めた。定義とは、それによって事物の概念が確定するものである [9, p38]。この 確定した概念をプラトンがイデアとして受け継いだ。
 <|span><|li>
  <li><span id="tyuu8">\*8.  そして、このイデアという形而上学的な実在の根拠は上で触れたように数学で得られるようなある種の直観をもとにし ていると思われる。ちなみに、プラトンは晩年にイデア説を放棄したという説もある。<|span><|li>
  <li><span id="tyuu9">\*9.  これはフロイト心理学と対応付ける解釈もある。つまり、知性的部分=自我、欲望的部分=欲動、気概的部分=超自我  <|span><|li>
  <li><span id="tyuu10">\*10. 理性的部分と気概的部分にはそれぞれ知恵 (sophia) と勇気 (andreia) という徳が対応する。さらに 3 つの部分の調和 が節制 (sophrosyne) という徳となる。<|span><|li>
<|ul>


 














---


## 参考文献

1. {{reference.greek20}}
1. {{reference.hist17}}
1. {{reference.hist16}}
1. {{reference.hist20}}
1. {{reference.hist15}}
1. {{reference.greek19}}
1. {{reference.greek28}}
1. {{reference.hist11}}
1. {{reference.greek6}}
1. {{reference.hist4}}
1. {{reference.greek32}}
1. {{reference.greek8}}
1. {{reference.greek34}}
1. {{reference.greek35}}
1. {{reference.greek9}}
1. {{reference.hist3}}

<div align="right">
    First post &nbsp; 2010|04|14<br>Last updated&nbsp; 2013|09|15
<|div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ<|a> │
<a href="{{next_page}}"> 次へ &gt;&gt;<|a> │ 
<a href="#top">一番上に戻る<|a> 
<|h5>
{% endblock %}