{% extends "layout.html" %} 
{% block content %}
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a>  │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> 
</h5>


# 古代哲学史#4 古代哲学の到達点 (アリストテレス)<a class="s" style="font-size:15px">(\*1)<span class="s-balloon" id="popup_tyuu1"></span></a>

### アリストテレス (Aristoteles, 前 384-前 322)
アリストテレスは哲学、自然科学、論理学と様々な分野に貢献し万学の祖と呼ばれる。彼はプラ トン 61 歳のときにアカデメイアで学んだが、(言い伝えによると) 後期プラトンの数学と哲学を統 合しようとする試みに反発し、アカデメイアを離れ自らの学派を形成した。このアリストテレス学派は地名のまま`リュケイオン ([希]Lykeion)`と呼ばれ、また彼は歩きながら講義したことから`ペリパトス派([希]peripatos、逍遥学派)` とも呼ばれた ([希]peripatein=散歩)。ちなみに、アリストテレスの現存している著 書はほぼ講義原稿で、リュケイオンの学頭であった`アンドロニコス (Andoronikos, 前60頃活躍)`が
『アリストテレス著作集』として刊行したものである。各章の繋がりに不整合なところが多々あるが、 彼が編集しなければアリストテレスの思想の大部分は失われていたとされる (そうでなくともアリ ストテレスの対話篇などは全て失われた)。

アリストテレスの哲学は体系的で、まず強固な形而上学を構築し、その上で倫理学などさまざまな実践的な領域の議論を行った。また、師プラトンの哲学が超越的な形而上学に偏っていたのに対して、彼の形而上学 (経験を超えた領域に関する学問) は経験と観察に基いた考察を土台としている点も特徴的である。

---

## 1 形而上学 ([希]Metaphysika)
アリストテレスは、現在の存在は流れ去るがそれぞれの個体が (彼によれば) 普遍的な`本質 ([希]to ti en einai, [英]the what)`を持つという点でプラトンに同意した。
しかし、プラトンはイデア (すなわち本質) が個体の外側に超越的に存在するとしたが、彼はそれはそれぞれの個体に内在すると考えた。
つまり、両者の哲学は、`本質主義([英] essentialism)`という点において共通している<a class="s">(\*2)<span class="s-balloon" id="popup_tyuu2"></span></a>。
しかし、その本質（イデア、エイドス）が個体の外側に存在するのか、もしくは内側に存在するのかという点に根本的な相違点がある。

そして、この本質の所在の違いは本質をどのように知ることができるのかという本質に対するアプローチにおいても明確な違いが生じる。
プラトンは想起説(魂がイデアを経験しているため鍛錬によってこれを想起する)といった後に神秘主義(新プラトン主義)に至るアプローチを提唱しているのに対して、アリストテレスは具体的で経験できる実際に「あるもの」、`実体 ([希]ousia、実在対象)`からアプローチした。
つまり、アリストテレスは、実体を経験(観察、実験、調査)することで(また推論(論理学)することで)それに内在する一般的特徴(本質)に至ると考えた。この考えはあらゆる科学の基礎になり、そのため「万学の祖」と呼ばれる。

本質に加えて、実態に本質的ではない性質ないし述語にも言及している。例えば、「ソクラテスは人間である」における「人間である」という述語は、ソクラテスという対象の本質を表す述語であるが、それ以外の述語、例えば「ソクラテスはハゲである」における「ハゲである」は対象に`付帯([希]symbebekos)`する (つまり、偶然的に生じる) 述語と考えた。


##### 実体 ([希]ousia)
アリストテレスの実体は、プラトンのイデアやデモクリトスのアトムなどの形而上学的な対象で
はなく、もっと現実的で具体的なものであった。つまり、彼が第一実体と呼ぶものは、`個体([希]tode ti)` であり、これは`形相([希]eidos)`と`質料 ([希]hyle)`が統合された「これ」と名指すことができるもの、主 語になりうるもの、である。第二実体はこの個体に本質 (個体の普遍的特徴) を与える形相である。 彼によると、プラトンが考えたように形相は独立して存在せず (イデアなどではなく)、第一実体に 依存している。家で二つの実体を例えるならば、家を個体だとすると、それの設計図が形相で、木 材などの材料が質料である。そして、アリストテレスは家が材料と設計図によって初めて成立する ように、形相と質料も単独では成立せず、個体に統合されて初めて (第一) 実体となる。

-   第一実体:個体
-   第二実体:形相

##### 四原因説
質料と形相の関係を特定するために導入されるのが、`四原因説 (形相因、質料因、作用因、目的因)` である <a class="s">(\*3)<span class="s-balloon" id="popup_tyuu3"></span></a>。人工物である「家」を例に取ってみると、立てられるべき家の構造ないし形体が「形 相因」、木材が「質料因」、大工達を導く設計図が「作用因 (動力因・始動因)」そして、住むという 目的が「目的因」ということになる。そして、この目的が条件になり、それを満たす質料が特定さ れる。例えば、家の場合は砂よりも木が住むためのものという目的に適しており家の原因となる (まず目的有りき)。

そして、アリストテレスはこの四原因を自然にも当てはめて考えた。このように自然が目的因を 持つという考えは、自然が人工物のような目的を持っていると解釈されることにより、偏狭な人間 中心主義と批判される場合がある。つまり、雨が降るのは草木が生長する “為” であり、人間や動物 が飢えない “為” に食料として植物が存在する、といったようにしばし解釈されたのである。しか し、アリストテレスがここで示唆する自然 (特に生物) の目的は、それぞれの完成 (後述の完全現実態) であると言えよう。また、原因は連鎖しているため、これの第一原因として不動の動者が要請さ れ、これが後述の神学の議論へと繋がる。

##### 可能態・現実態・完全現実態 (dynamis・energeia・entelecheia) 
個体は形相と質料の複合体であるという考えより可能態・現実態・完全現実態という3つの形態
が考えられた。すなわち、可能態とはいまだ形相が潜在的な状態のことで、現実態とは形相が自らの可能性を開花させている段階を言う。例えば、植物の種は潜在的に木であるが、まだ、その形相 が発現していない可能態である。しかし、自己を発揮するにしたがって、芽となり木という現実態になる。そして、最終的には自己の可能性を最大限に発揮した状態である成木に達する。この状態 が完全現実態である。そして、その現実態である木も老いやがては形相が立ち去り可能態に回帰する <a class="s">(\*4)<span class="s-balloon" id="popup_tyuu4"></span></a>。

##### 運動・変化
前時代の哲学の主テーマのひとつであった運動と変化に対するアリストテレスの見解は、「変化し うるものの変化しうる限りにおける現実態」<a class="s">(\*5)<span class="s-balloon" id="popup_tyuu5"></span></a> である。事物における変化 (運動) とは、可能態に潜 在的な形相の実現のプロセスである。例えば、種→木といったふうに変化 (→) には明確な目的 (木) があって、その目的を自己の完成とする。つまり、「変化する」は、「x は y に変化する」という二項述 語ではなく「x は y に実体 z を維持しつつ変化する」という三項述語で捉えることであると言えよ う。種から木の変化は、「種から木に “木の形相” を維持しつつ変化」と言える。このような議論によ り、「全てが常に変化している」(ヘラクレイトス) と「何も変化しない」(パルメニデス) を調停した。

さらに、実体そのものの変化 (これは「生成」と呼ばれる) もまた、この三項関係で捉えることが できるとした。それによると、「生成する」という述語もまた三項述語で、それは「y から x が実体 z を維持しつつ生成する」となる。彫像を例に取ろう。この例だと、x が彫像で y が質料の青銅に思 われよう。では実体 z は何か。実は z が質料の青銅である。そして、y は「形作られていない青銅 (形相を持たない青銅)」、また、x は「形作られた青銅 (形相を与えられた青銅)」と解される [19, p.572]。この ように変化を貫く実体は生成するものであるが、生成は形相と質料によってもたらされるのである。 では形相と質料のどちらが根本的なのか。

##### 不動の動者 (to kinoun akineton) 
彼は完全現実態の議論から、神学的な議論を行った。つまり、あらゆる働きが求めているのは、完
全現実態でありその極みが完全なもの、つまり不動の動者、あるいは、神とした。神はあらゆるも のの目的 (因) である。また神自体は決して動かされることはなく、可能態を含まない純粋な現実態 である (自己観照する純粋な知性そのもの)。アリストテレスによると、世界は終始がなく、一定の 質料と形相が不変に存在し継続する。しかし、質料や形相がすでに存在していたとしてもそれらに 運動や変化をもたらす原因 (aitia) がなければならない。そして、世界を開始したのは神であり、つ まり、これは究極の目的因であり、かつ、究極の始動因でもある <a class="s">(\*6)<span class="s-balloon" id="popup_tyuu6"></span></a>。

---

## 2 生物学 
上述の形而上学に基いて、アリストテレスは世の中のあらゆるものを「物質」と「生物」の 2 つ
に分けた。自身を変化させる可能性を持たないものが「物質」で、それを持つものが「生物」であ る。そして動物はこのほかに、周りの環境を感じ取り、自然の中を動き回る能力を持っている。人 間はさらに考える能力、つまり感覚で捉えたことを分類する能力 (理性) も持っている。また、この 生命の梯子の頂上には神 (不動の動者) がいるとした。

また、進化論が出現するまで生命の枝分かれ (進化) という考え方が存在しなかったので、それまでの 人々は馬と人間と魚をまったく別の生き物である信じていた。そして、アリストテレスも種的な形相 は世代を超えて変化なく維持されると考えた。`人間は人間を生む([希]anthropos anthropon gennai, anthropos ex anthropon)`。

---

## 3 論理学

##### 能動理性とカテゴリー論 (kategoria) 
アリストテレスは人間が人間である唯一の理由は理性であると考えた。彼は理性を能動理性と受
動理性に区別し、能動理性は全ての人間に備わっている先天的な能力であり、受動理性の可能態で あり、これが経験を介することで現実態である能動理性となる。能動理性は、経験によって対象の 本質を明らかにする能力である (『デ・アニマ』3 巻 5 節)。これにより、対象のカテゴリーを判別 することができ、論理学が成立する。

文は、主語と述語で形成されるが、主語は特定の個体を指示するだけである。そのため、実質的 な命題の意義は、様々な存在規定をあらわす述語にある <a class="s">(\*7)<span class="s-balloon" id="popup_tyuu7"></span></a>。よって、知識の実質は述語にあるといえ る。そして、述語の種類をまとめたのがカテゴリー論 (範疇論) である。カテゴリーは述語の枠組み を意味しており、述語は次の 10 個のカテゴリーの内どれかに帰属する。
(1) 実体、(2) 量、(3) 性質、(4) 関係、(5) 場所、(6) 時、(7) 姿勢、(8) 所持、(9) 能動、(10) 受動

##### 名辞論理学
アリストテレスは知の探究の方法として三段論法([羅]syllogism) を形式化し形式論理学を創始した。 これは現在では伝統的論理学や名辞論理学と呼ばれている。推論で使用される命題は全称肯定、全 称否定、特称肯定、特称否定から A, E, I, O の 4 種類に分類される。また、概念を小概念を S、中 概念を M、大概念を P と三つに別ける。このとき、三段論法は、直感的には S → M, M → P から S → P を導く推論のことである <a class="s">(\*8)<span class="s-balloon" id="popup_tyuu8"></span></a>。そして、命題の配置で更に 4 つの格に分けられる。このように 三段論法は、4 つの命題と 4 つ格から 256 通りある。そして、アリストテレスは、このなかで 24 通 りの正しいものを導き出した (一部の推論には存在措定が必要)。

##### 推論の形式化の意義
 妥当な推論を一般化して形式化することが重要なのは、これによって、推論の妥当性を文内容か
ら切り離すことができるからである。例えば:

-  全ての魚類は火を噴く
-  全てのカラスは魚類である
-  よって、全てのカラスは火を噴く

文の内容をみればこれは正しくないように見えるかもしれない。しかし、これは、妥当な三段論法 (第一格の AAA) である。このように妥当な推論を形式化することによって、妥当な推論と経験による判断を区別することができるようになった。

##### アリストテレス論理学の影響
このアリストテレスの論理学は史上初のものとしては非常に整合的であった。そして中世では、 アリストテレス哲学のアラブからの逆輸入が盛んになり、それにともないボエティウスによって翻 訳された『カテゴリー論』と『命題論』やポリフュリオスの`『アリストテレスのカテゴリー論入門』
([羅]Eisagoge)`は、その時代の思索 (普遍論争など) に大きな影響を与えた。そして、19 世紀に論理学に 革命が起こるまでこれが唯一の論理学と考えられ、近代科学の発展を根底から支えた。

---

## 4 倫理学
アリストテレスもまたプラトンと同様に善、さらには、`最高善([希]to ariston)` を『ニコマコス倫理学』で考察したが、彼はこれを師のように超越存在とは考えなかった。彼は最高善という言葉が持 つ意味を分析し、それを「それ自体が望ましく、他に依存しないもの (究極的な目的)」として、そ の特徴を最も持つのが`エウダイモニア ([希]eudaimonia、善く生きる、幸福)` であるとした。そして、さ らにこのエウダイモニアを分析することで、彼はエウダイモニアとは (「生きる」などの他の動物も 持つ能力ではなく) 人間という種に固有の`能力 ([希]ergon、機能)`に基づいた活動を行うことであるとい う考えに至った。彼はプラトンの『国家』おける三つの善の区分 (商人、戦士、哲学者) をベースにエウダイモニアを三つに区別する:

<table>
	<tbody>
		<tr>
			<td>`享楽的生活 (bios apolanotikos)`</td>
			<td>快楽 <a class="s">(\*9)<span class="s-balloon" id="popup_tyuu9"></span></a>、獣的で低俗な幸福</td>
		</tr>
		<tr>
			<td>`政治的生活 (bios politikos)`</td>
			<td>名誉、他者を介して得られる幸福 </td>
		</tr>
		<tr>
			<td>`観想的生活 (bios theoretikos)`</td>
			<td>観想よって得られる幸福</td>
		</tr>
	</tbody>
</table>


概要は後述するがアリストテレスは最後の生活が人間の固有の能力を発揮している状態とした。 

アリストテレスの善で重要なのは、プラトンが超越的な善を想定したのに対して、アリストテレ スは種に固有の能力という種で異なりうる概念で善を定義したという点である (ただし、人間という 種に属するものにとっては`共通の善 ([希]to anthropinon agathon)` である)。さらに、この人間の固有の 能力とは彼によると、`ロゴスに従った魂の活動([希]to logon echon)` であり、さらに具体的には、`徳/
卓越性 ([希]arete)` に従った活動である。この点においてもプラトンの超越哲学との違いが如実に現れている。

##### 徳/卓越性 (arete) 
エウダイモニアとは徳に即した魂の活動である。また、徳は魂の分析より、思考に関わる徳 (物事
をよく判別する徳、知恵、思慮) と人柄に関わる徳 (節制、勇敢) に区別される。つまり、魂にはロ
ゴスを有している部分とそうでない部分があり、魂の「有ロゴスの部分」には(1)知性的徳が、これの
「無ロゴスだがロゴスに従う部分」に倫理的徳が対応すると考えた。

#### (1). 思考に関わる徳/知性的徳 (dianoetike arete) 
アリストテレスの徳のひとつは知性が獲得する徳、知性的徳である。この徳により知性は真理の
認識をより確実なものとする。知性的徳は、理論的知性と実践的知性にさらに分けられる。 

- 理論的知性は`真理・普遍的 ([希]to katholou)` な事実を演繹によって探求する知性である。この知 性から、基本命題と論証から導く学(episteme)、その命題を理解する知性(nous)、また、最高の存在 (神) を考察するための`知恵([希]sophia)` が身につけられる。 
- 実践的知性は人間の行為に関する実践的で可変的な真理を探究する知性である。ここにおい ては、物の`製作 ([希]poiesis)` のための`技術 ([希]techne)` と、人間の (善に向かう) 行為の選択に関する実践 知である`思慮分別 ([希]phronesis)` が身につけられる (この選択とは選択肢が明示されており、意図して どちらかの選択肢を選ぶような選択である)。彼によると、人間には三つの行動要因がある。それ
は、理性的願望 (boulesis)、気概 (thumos)、欲望(orexis) である。そして、思慮分別による選択と は、気概と欲望を抑えて理性を用いて「考慮 (bouleuesthai) のすえ意図すること」である <a class="s">(\*10)<span class="s-balloon" id="popup_tyuu10"></span></a><a class="s">(\*11)<span class="s-balloon" id="popup_tyuu11"></span></a>。

#### (2). 人柄に関わる徳/倫理的徳 (ethike arete) 
倫理的徳とは、思慮分別のある人が基づくような規準によって定められた中庸を保った状態 (ヘクシス) である。例えば、過食や絶食が不健康を招くように偏った状態は悪徳 (kakia) であり、それを 抑えた`中庸([希]mesotes)` が徳である。また、この考えは、人間の優れた性格を構成する徳の解明に適 応される。それによると、勇敢、節制、正義 <a class="s">(\*12)<span class="s-balloon" id="popup_tyuu12"></span></a>、寛容、吟持、温和などが徳である。そして、このよ うな徳は学習や模倣によって得られるものではなく、`習慣([希]ethos)` ないし環境によって得られる。つ まり、琴の練習を習慣付けることで琴弾きとなるように、勇気という徳もまた習慣的に心づけるこ とによって、その状態を苦なく維持でき勇気ある人となるとする。さらに、アリストテレスにとっ て正義や勇敢などの倫理的徳は、勇気などの心の状態それだけで完全に善いとは言えない。つまり、 それらの状態から実際に選択されねばならない。そして、この選択を行うのが、さきほどの思慮分 別である。そして、倫理的徳は、状態と思慮分別に基づいた行為選択によって完全に善いものとな る <a class="s">(\*13)<span class="s-balloon" id="popup_tyuu13"></span></a>。

##### 観想的な生活 (bios theoretikos)
 エウダイモニアとは徳に即しての活動であった。したがって、究極目的であるエウダイモニアに
関する徳もまた、最高の徳でなければならない。アリストテレスによると最高の徳とは、我々の内 における神的なもの、知性 (nous)、という固有の能力に基づく活動である。そして、この活動は、 観想 (theoria) ないしは想念 (ennoia) と呼ばれる。(目的を伴わない、純粋な知性の活動は形而上学 であり、形而上学の到達点は不動の動者である。ここで知性が「神的なもの」と呼ばれるのは知性 と神が関連している、ないしは同一のもの、であるから、と思われる)。また知性は、国を支配する 政治家に求められるべき資質である (第 10 巻第 9 章) <a class="s">(\*14)<span class="s-balloon" id="popup_tyuu14"></span></a>。

##### 無抑制・意志の弱さ (akrasia)
アリストテレスは、優れた性格と優れた知性に加え、抑制 (enkrateia) と無抑制 (akrasia) に言及
する。プラトンは、「誰も故意に間違いを犯さない」と提言したが、抑制と無抑制という考えを用いて、次の一見矛盾する命題を整合性を保とうとした。

- 人間は常に自らの利益なると知っている行為を選ぶ。 
- 人間は時に自らの利益にならないと知っている行為を選ぶ。

彼は、人間は完全な認識 (episteme) を持っていたら過ちを犯さないという点はプラトンに同意する。 しかし、過ちを犯す無抑制な人間の知識をプラトンは臆見であるというが、アリストテレスは無抑制 (意志の弱さ) は、「選択」の項目で見た理性的願望と欲望の間での葛藤によって引き起こるもので
ある。また意志の弱い人間が正しい知識をもちながら過ちを犯す場合は、酔っ払い自らが歌う詩の 意味が分かっていないように、欲望に酔う人間もまた自らの知識の意味が分かっていないのである。

##### 親愛 (philia)
アリストテレスが考える親愛もしくは友愛 (philia) について付言しておく。彼は親愛を三通りに
区別する:有益な愛、快楽のための愛、究極的な愛。 

- **有益な愛**は相手が自分にとって有益で快適であるがゆえに相手を愛する愛である。この愛は快楽よ りも実利を求める老人の間に多い。 
- **快楽のための愛**は単純に情念による快楽のための愛である。この愛は情念にしたがって生きる未熟 な若者の間に多い。 
- **究極的な愛**はお互いのアレテーが類似し、また優れた人々の間における愛であり、お互いに相手の 善を願う人々の間における愛である。


 上記の関係はどれも均等と中庸の上に成り立っているが、それに加えて、親と子、夫と妻、王と
民などの支配者と被支配者といった不均等な関係も存在する。アリストテレスのこういった関係に
対して、被支配者は支配者を自分が愛される以上に愛するべきだと不平等な意見を提示する。

---

## 5 政治 (politike)
アリストテレスは人間を理性的動物と規定するが、同時に社会的 (ポリス的) 動物 (zoon politikon) とも規定する。なぜなら、ギリシャの人々は小規模な共同体であるポリスに属しており、密接に結 びついていたため彼らはポリスもしくは社会という善悪を規定する存在に属し、また属する以上そ れに従う必要があったからである。

しかし、法と正義だけでは、調和した社会に導くことができない。それをもたらすためには、政 治におけるポリス的親愛 (politike philia)、つまり協和 (homonoia)、が必要である。つまり、協和 によって、各市民が社会が規定すること以上のことを行うのであり、そして、それが行われる国家 こそが善い国家なのである。また、その協和をなす家族や個人は、「善き国家」の前提条件であるが、 同時に、家族/個人の「善き生 (eu zen)」もまた国家においてのみ可能なのである。そのため、国 家と家族と個人とは互いに依存し共に生き (syzen) ているのである。

加えて、アリストテレスは親愛に関する人間関係を政治形態に結び付けて、三つの理想的な政治
形態とそれに対応する三つの堕落した政治形態を提示した。

|理想的な政治形態|堕落した政治形態|対応する人間関係|
|:--|:--|:--|
|君主制 (basileia)|僭主制 (turannis) |親と子|
|貴族制 (aristokratia)|寡頭制 (oligarchia)| 夫と妻|
|制限民主制 (timokratia)|共和制 (politeia)・民主制 (demokratia)| 兄弟|
 
 
---



## 注


<ul class="comments">
<li><span id="tyuu1">\*1.   本稿は、2013 年に東北大学文学研究室の院生およびOBで行われた古代哲学の勉強会のレジェメである。</span></li>
<li><span id="tyuu2">\*2.   本質主義は科学の基礎となり西洋哲学の根幹を貫いている思想であるが、現代哲学では評判が悪かった(サルトルらの実存主義、デリダらのポスト構造主義、ウィトゲンシュタインの家族的類似製などによって批判されている)。しかし、現代においてクリプキがこの本質主義を復興させた。それによると、本質とは任 意の世界で成り立つ性質、と可能世界意味論を使って本質を定義する。 </span></li>
<li><span id="tyuu3">\*3.   ここにおける「原因」は、現代の科学で定式化され原因 (実験における因果関係) というよりもずっと広範囲な意味を持 つ。しかし、このように広範囲に原因を捉えると、なぜこの 4 つに限定したのかは疑問である。 </span></li>
<li><span id="tyuu4">\*4.   アリストテレスは、この概念を人間にも当てはめて、男性が形相 (精子) を与え、女性が質料 (卵子) を与えることによっ て子供が生まれると考えた。そのため、女性は質料を与える畑であり、人間の本質は男性が与えるといったふうに女性蔑視の考えに繋がった。また中世のキリスト教教会によって「女性は男性の骨から創られた」という聖書の一節でこの差別的な考えは強化され広まった。(要出典) </span></li>
<li><span id="tyuu5">\*5.   もしくは、「可能的なものの可能的である限りにおける現実態である」。 </span></li>
<li><span id="tyuu6">\*6.   不動の動者: それゆえ神は全ての点で完全で永遠な存在である。また、神は完全な自己同一性をもち、純粋な知性その ものであるため、それの認識内容は完全な自己以外にはない (理性の自己観照)[3, p112] 。</span></li>
<li><span id="tyuu7">\*7.   実体に関する述語は自体性 (本質) の述語であるが、それ以外の述語は付帯性の述語とされる。  </span></li>
<li><span id="tyuu8">\*8.   現在では次のようにまとめられる [4, p39]。
	<div style="margin-left: 3%">
仮言的三段論法 : $ p \to q, q \to r \vdash p \to r$</br>
選言的三段論法 : $p \vee q, \neg p \vdash q$</br>
定言的三段論法 : $∀x(P x \to Qx), ∀x(Qx \to Rx) \vdash ∀x(P x \to Rx)$</br>
混合仮言三段論法 : $p \to q, p \vdash q$ 
	</div>
</span></li>
<li><span id="tyuu9">\*9. アリストテレスによると快楽そのものは悪ではなく、過度の快楽が悪である。そもそも快楽とはなにか。苦痛の原因は なにかの不足 (渇きの原因は水の不足) であり、快楽とはその不足の充足である、という考えが当時では基本的であった。つ まり、快楽はそれ自体が目的である活動 (energeia) とされたが、アリストテレスはそれは過程 (ゲネシス) であると主張す る。また、彼は肉体的な快楽に対し、観想の快楽を提示する。つまり、観想・知的快楽は不足の充足を目的とするのではな く、むしろ健康で満ち足りたときに衝動を感じる。このように快楽は肉体の回復であるという考えを観想でもって否定する。 </span></li>
<li><span id="tyuu10">\*10. 選択は理性的願望とまったく同一ということではなく、我々の力の範囲内において可能な事柄 (ta epi hemin) に限られ る。例えば、空を飛ぶという人間には不可能なことを理性的に望むことはできるが、それを選択することは狂人である。 </span></li>
<li><span id="tyuu11">\*11. この規定によると、考慮のすえ意図しない行為は、選択ではない。そのため、彼によると、意図する行為 (ekousious) に対しては賞賛や非難が、意図しない・意図に反する行為 (akousious) に対しては許容と憐れみがふさわしい。例えば、脅 迫されて何らかの行為を強要される場合などである。 </span></li>
<li><span id="tyuu12">\*12. 正義は中庸の理論で説明するのは難しい概念であり、また広義的な意味での正義は完全な徳 (teleia arete) と同義にな る。ここにおける正義は、分配と矯正に関する狭義な正義である。 </span></li>
<li><span id="tyuu13">\*13. プラトンは『メノン』で、「徳は知 (phronesis) である」とした。つまり彼は知と徳を同一視していた。だが、アリスト テレスによると、あらゆる知 (徳も?) はそれだけでは無意味で、それが思慮分別によって正しく使用されることによって人 間を優れた性格、つまり思慮ある人 (phronimos) へと導くのである。ただし、プラトンとアリストテレスで知のとらえ方が 異なるだけであり、言っていることの実質はそれほど異なっていないようにも思われる。 </span></li>
<li><span id="tyuu14">\*14. どこまで観想的であってもよいのかは、『政治学』の文脈も含めて問題となりうる。  </span></li>
</ul>

---


## 参考文献
1. {{reference.greek3}}
1. {{reference.med1}}
1. {{reference.greek4}}
1. {{reference.sci3}}
1. {{reference.hist17}}
1. {{reference.hist16}}
1. {{reference.greek25}}
1. {{reference.hist20}}
1. {{reference.hist15}}
1. {{reference.greek19}}
1. {{reference.greek28}}
1. {{reference.hist11}}
1. {{reference.hist4}}
1. {{reference.greek21}}
1. {{reference.greek33}}
1. {{reference.greek17}}
1. {{reference.greek22}}
1. {{reference.hist3}}
1. {{reference.hist13}}


<!--  -->

<div align="right">
    First post &nbsp; 2010/04/14<br>Last updated&nbsp; 2013/09/15
</div>
<h5> 
<a href="{{prev_page}}">&lt;&lt; 前へ</a> │
<a href="{{next_page}}"> 次へ &gt;&gt;</a> │ 
<a href="#top">一番上に戻る</a> 
</h5>
{% endblock %}